<div class="col-2">
    <table class="table small">
        <tbody>
        <h4>Header: Include</h4>
        <tr>
            <th>Login</th>
            <td>
                {% if company_detail.headerDisplayLogin %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayLogin'}) }}">
                        <i style="color: green" class="fas fa-toggle-on"></i>
                    </a>
                {% else %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayLogin'}) }}">
                        <i style="color: grey" class="fas fa-toggle-off"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Contact Details</th>
            <td>
                {% if company_detail.headerDisplayContactDetails ==true %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayContactDetails'}) }}">
                        <i style="color: green" class="fas fa-toggle-on"></i>
                    </a>
                {% else %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayContactDetails'}) }}">
                        <i style="color: grey" class="fas fa-toggle-off"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Products</th>
            <td>
                {% if company_detail.headerDisplayProducts ==1 %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayProducts'}) }}">
                        <i style="color: green" class="fas fa-toggle-on"></i>
                    </a>
                {% else %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplayProducts'}) }}">
                        <i style="color: grey" class="fas fa-toggle-off"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Sub Products</th>
            <td>
                {% if company_detail.headerDisplaySubProducts ==1 %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplaySubProducts'}) }}">
                        <i style="color: green" class="fas fa-toggle-on"></i>
                    </a>
                {% else %}
                    <a href="{{ path('company_details_change_field_status', {'input': 'headerDisplaySubProducts'}) }}">
                        <i style="color: grey" class="fas fa-toggle-off"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
