{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        <h2>Tax Schemes Details</h2>
        {{ form_row(form.name) }}
        {{ form_row(form.includeTaxSummary) }}
        <div class="row">
            <div class="col-md-6">
                <h3>Upon Purchase</h3>
                {{ form_row(form.purchaseIncomeOffset) }}
                {{ form_row(form.purchaseTaxOffset) }}
            </div>
            <div class="col-md-6">
                <h3>Upon Sale</h3>
                {{ form_row(form.saleIncomeOffset) }}
                {{ form_row(form.saleTaxOffset) }}
                {{ form_row(form.cgtRate) }}
            </div>
        </div>
    </div>
</div>
<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
