{% if is_granted('ROLE_ADMIN') %}
    <td style="text-align: center; border-left: 1px dotted">
        {% if business_contact.publicPrivate == "Public" %}
            <i class="fa fa-circle" style="color: green; text-align: center"></i>
        {% elseif business_contact.publicPrivate == "Private" %}
            <i class="fa fa-circle" style="color: red; text-align: center"></i>
        {% else %}
            <i class="fa fa-circle" style="color: grey; text-align: center"></i>
        {% endif %}
    </td>

    <td style="text-align: center;">
        {{ CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'Website') }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'Email') }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'WhatsApp') +  CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'Phone') }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'Map') }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferrals.countReferrals(business_contact.id, null,null, 'VCF') }}
    </td>
    <td>
        <a class="btn btn-outline-danger btn-sm" target="_blank"
           href="{{ path('business_contacts_edit', {'id': business_contact.id}) }}">Edit</a>
    </td>
{% endif %}