{% if is_granted('ROLE_ADMIN') %}
    <td style="text-align: center; border-left: 1px dotted">
        {% if business_contact.publicPrivate == "Public" %}
            <i class="fa fa-circle" style="color: green; text-align: center"></i>
        {% elseif business_contact.publicPrivate == "Private" %}
            <i class="fa fa-circle" style="color: red; text-align: center"></i>
        {% else %}
            <i class="fa fa-circle" style="color: grey; text-align: center"></i>
        {% endif %}
    </td>

    <td style="text-align: center;">
        {{ CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'Website')|number_format() }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'Email')|number_format() }}
    </td>
    <td style="text-align: center;">
        {{ (
        (CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'WhatsApp')) +
        (CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'Phone'))
        )|number_format() }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'Map')|number_format() }}
    </td>
    <td style="text-align: center;">
        {{ CountBusinessContactReferralsService.countReferrals(business_contact.id, null,null, 'VCF')|number_format() }}
    </td>
    <td>
        <a class="btn btn-outline-danger btn-sm" target="_blank"
           href="{{ path('business_contacts_edit', {'id': business_contact.id}) }}">Edit</a>
    </td>
    <td>
        <form method="post" action="{{ path('business_contacts_delete', {'id': business_contact.id}) }}"
              onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ business_contact.id) }}">
            <button class="btn btn-danger btn-sm">Delete</button>
        </form>
    </td>
{% endif %}