{% extends '../../base.html.twig' %}

{% block title %}Tax Bands{% endblock %}

{% block body %}
    <h1 style="color: red">Tax Bands</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="width: 120px; text-align: left">Tax Year</th>
            <th style="width: 100px; text-align: right">Start<br>Date</th>
            <th style="width: 100px; text-align: right">End<br>Date</th>
            <th style="width: 95px; text-align: right">Tax Band 1<br>(Personal Allowance)</th>
            <th style="width: 95px; text-align: right">Tax Band 2<br>(Basic)</th>
            <th style="width: 95px; text-align: right">Tax Band 3<br>(Higher)</th>
            <th style="width: 95px; text-align: right">Tax Band 1<br>(Rate)</th>
            <th style="width: 95px; text-align: right">Tax Band 2<br>(Rate)</th>
            <th style="width: 95px; text-align: right">Tax Band 3<br>(Rate)</th>
            <th style="width: 95px; text-align: right">Tax Band 4<br>(Rate)</th>
        </tr>
        </thead>
        <tbody>
        {% for tax_year in tax_years %}
            <tr>
                <td>
                    <a href="{{ path('tax_year_edit', {'id': tax_year.id}) }}">{{ tax_year.taxYearRange }}</a>
                </td>
                <td style="text-align: right">
                    {{ tax_year.startDate ? tax_year.startDate|date('d-M-Y') : '' }}
                </td>
                <td style="text-align: right">{{ tax_year.endDate ? tax_year.endDate|date('d-M-Y') : '' }}</td>
                <td style="text-align: right">{{ tax_year.taxBand1PersonalAllowance|number_format(0) }}</td>
                <td style="text-align: right">{{ tax_year.taxBand2BasicRate|number_format(0) }}</td>
                <td style="text-align: right">{{ tax_year.taxBand3HigherRate|number_format(0) }}</td>

                <td style="text-align: right">{{ tax_year.taxBand1Rate * 100 }} %</td>
                <td style="text-align: right">{{ tax_year.taxBand2Rate * 100 }} %</td>
                <td style="text-align: right">{{ tax_year.taxBand3Rate * 100 }} %</td>
                <td style="text-align: right">{{ tax_year.taxBand4Rate * 100 }} %</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('tax_year_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}