{{ form_start(form) }}


<div class="row">
    <div class="col-md-3">
        <h2>Category</h2>
        {{ form_row(form.category) }}
    </div>

    <div class="col-md-3">
        <div class="static-container">
            <h2>Static</h2>
            {{ form_row(form.staticPageName) }}
        </div>
        <div class="product-container">
            <h2>Product</h2>
            {{ form_row(form.product) }}
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.photoOrVideo) }}

    </div>

    <div class="col-md-3">
        {{ form_row(form.ranking) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.title) }}
        {{ form_row(form.link) }}
    </div>
</div>

<hr>


<div class="row">
    <div class="col-md-2">
        {% if cms_photo.photo is not empty %}
            {{ cms_photo.photo }}<br>
            {% set loc = asset('administration/attachments/WebsitePhotos/'~cms_photo.photo) %}
            <a class="btn btn-outline-danger btn-sm" target="_blank"
               href="{{ path('cms_view_photo', {'id': cms_photo.id}) }}">
                <img height="50" width="50" src="{{ loc }}" class="rounded-circle"></a>
            <a class="btn btn-sm btn-danger" href="{{ path('cms_photo_file_delete', {'id': cms_photo.id}) }}">Delete
                photo</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        {{ form_row(form.photo) }}

    </div>
</div>

<hr>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>

<br>
{{ form_end(form) }}
