{% extends 'base.html.twig' %}

{% block title %} CMS Photo: {{ cms_photo.name }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: {{ cms_photo.name }}</h1>

    {{ include('cms_photo/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('cms_photo_index') }}">Return to list</a>

    {{ include('cms_photo/_delete_form.html.twig') }}
{% endblock %}
