{% extends 'base.html.twig' %}

{% block title %}CMS: Photo Index{% endblock %}

{% block body %}
    <h1 style="color: red">CMS: Photos Index</h1>
    <div class="row">
        <div class="col-8">
            <a target="_blank" class="btn btn-success btn-sm" href="{{ path('cms_photo_new') }}">New</a>
            <a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_index') }}">CMS Copy</a>
        </div>
        <div class="col-2">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-danger btn-sm" href="{{ path('cms_photos_delete_all_files') }}">Delete All Photos (but
                    keep record)</a>
            {% endif %}
        </div>
    </div>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Category</th>
            <th style="width: 150px">Product or <br>Static Page Name</th>
            <th>Photo</th>
            <th>Rotate</th>
            <th></th>
            <th>Order</th>
            <th>Photo/<br>Video</th>
            <th>Title</th>
            <th>Hyperlink</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for cms_photo in cms_photos %}
            <tr>
                <td>{{ cms_photo.category }}</td>
                <td>
                    {% if cms_photo.product is not null %}
                        <a target="_blank"
                           href="{{ path('cms_photo_edit', {'id': cms_photo.id}) }}">
                            {{ cms_photo.product.ranking }}.
                            {{ cms_photo.product.product }}
                        </a>
                    {% else %}
                        <a target="_blank"
                           href="{{ path('cms_photo_edit', {'id': cms_photo.id}) }}">
                            {{ cms_photo.staticPageName }}
                        </a>
                    {% endif %}
                </td>

                <td>
                    {% if cms_photo.photo is not empty %}
                        {% set photo = asset('administration/Attachments/CMSPhotos/')~cms_photo.photo %}

                        {% if cms_photo.photoOrVideo=="Photo" %}
                            {% if cms_photo.rotate ==0 %}
                                <a class="btn btn-outline-danger btn-sm" target="_blank"
                                   href="{{ path('cms_photo_view', {'id': cms_photo.id}) }}">
                                    <img height="50" width="50" src="{{ photo }}" class="rounded-circle test">
                                </a>
                            {% endif %}

                            {% if cms_photo.rotate ==90 %}
                                <a class="btn btn-outline-danger btn-sm" target="_blank"
                                   href="{{ path('cms_photo_view', {'id': cms_photo.id}) }}">
                                    <img height="50" width="50" src="{{ photo }}" class="rounded-circle test rotate-90">
                                </a>
                            {% endif %}

                            {% if cms_photo.rotate ==180 %}
                                <a class="btn btn-outline-danger btn-sm" target="_blank"
                                   href="{{ path('cms_photo_view', {'id': cms_photo.id}) }}">
                                    <img height="50" width="50" src="{{ photo }}"
                                         class="rounded-circle test rotate-180">
                                </a>
                            {% endif %}
                            {% if cms_photo.rotate ==270 %}
                                <a class="btn btn-outline-danger btn-sm" target="_blank"
                                   href="{{ path('cms_photo_view', {'id': cms_photo.id}) }}">
                                    <img height="50" width="50" src="{{ photo }}"
                                         class="rounded-circle test rotate-270">
                                </a>
                            {% endif %}
                        {% else %}
                            <video height="50" width="50" controls="controls">
                                <source src="{{ photo }}" type="video/mp4"/>
                            </video>
                        {% endif %}
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if cms_photo.rotate is not null or cms_photo.rotate is not empty or cms_photo.rotate !=0 %}
                        {{ cms_photo.rotate }} <span style="font-size: small">o</span>
                    {% endif %}
                </td>
                <td>
                    {% if is_granted ('ROLE_ADMIN') %}
                        <a href="{{ path('rotate_cms_photo',{id:cms_photo.id}) }}">
                            <i style="color: green" class="fa fa-rotate-right"></i></a>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {{ cms_photo.ranking }}
                </td>
                <td>
                    <span title="{{ cms_photo.photoOrVideo }}">{{ cms_photo.photoOrVideo|slice(0,1) }}</span>
                </td>
                <td>
                    {{ cms_photo.title }}
                </td>
                <td>
                    {% if  cms_photo.link is not empty %}
                        {% if  cms_photo.link starts with 'http' %}
                            {% set web =  cms_photo.link %}
                        {% else %}
                            {% set web = 'https://'~ cms_photo.link %}
                        {% endif %}
                        <a target="_blank" title="{{ cms_photo.link }}" href="{{ web }}">
                            {{ web }}
                        </a>
                    {% endif %}
                </td>

                <td>
                    <a class="btn btn-outline-danger btn-sm" target="_blank"
                       href="{{ path('cms_photo_edit', {'id': cms_photo.id}) }}">Edit</a>
                </td>
                <td>
                    {% if cms_photo.photo|length>0 %}
                        <a class="btn btn-outline-danger btn-sm"
                           href="{{ path('cms_photo_file_delete', {'id': cms_photo.id}) }}">Delete Photo</a>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{{ path('cms_photo_delete', {'id': cms_photo.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cms_photo.id) }}">
                        <button>
                            <i style="color: red" class="fa fa-trash"></i>
                        </button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc'], [5, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}