{% extends 'base.html.twig' %}

{% block title %}Index: CMS Photos{% endblock %}

{% block body %}
    <h1 style="color: red">CMS Photos</h1>

    <table class="table">
        <thead>
        <tr>
            <th style="width: 50px">Photo</th>
            <th style="width: 50px">Site Page</th>
            <th style="width: 150px">Heading</th>
            <th style="width: 50px">Tag</th>
            <th style="width: 50px">Photo</th>
            <th style="width: 500px">Title (English)</th>
            <th style="width: 500px">Title (French)</th>
            <th style="width: 500px">Title (German)</th>
            <th style="width: 200px">Hyperlink</th>
            <th style="width: 200px">#</th>
        </tr>
        </thead>
        <tbody>
        {% for cms_photo in cms_photos %}
            <tr>
                <td>
                    {% set loc = asset('administration/attachments/websitephotos')~"/"~cms_photo.photo %}
                    <a class="btn btn-outline-danger btn-sm" target="_blank" href="{{ path('cms_photo_edit', {'id': cms_photo.id}) }}">
                    <img height="50" width="50"
                         src="{{ loc }}"
                         class="rounded-circle">
                    </a>
                </td>
                <td>{{ cms_photo.sitePage }}</td>
                <td>{{ cms_photo.heading }}</td>
                <td>
                    {{ cms_photo.name }}
                </td>
                <td>
                    <a target="_blank"
                       href="{{ path('cms_view_photo', {'id': cms_photo.id}) }}">{{ cms_photo.photo }}</a>
                </td>
                <td>{{ cms_photo.title }}
                </td>
                <td>{{ cms_photo.titleFR }}</td>
                <td>{{ cms_photo.titleDE }}</td>
                <td>
                    {% if  cms_photo.link is not empty %}
                        {% if  cms_photo.link starts with 'http' %}
                            {% set web =  cms_photo.link %}
                        {% else %}
                            {% set web = 'https://'~ cms_photo.link %}
                        {% endif %}
                        <a target="_blank" title="{{ cms_photo.link }}" href="{{ web }}">
                            {{ web }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" target="_blank" href="{{ path('cms_photo_edit', {'id': cms_photo.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-success btn-sm" href="{{ path('cms_photo_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'asc'], [3, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}