{{ form_start(form) }}
<div class="row">
    <div class="col-3">
        {{ form_row(form.sender) }}
        {{ form_row(form.date) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
    </div>
</div>

    <button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
