{% extends '../../base.html.twig' %}

{% block toptitle %}Imported Emails{% endblock %}
{% block title %}Imported Emails{% endblock %}

{% block body %}
    <h1 style="color: red">Imported Emails</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for emails_import in emails_imports %}
            <tr>
                <td data-sort="{{ emails_import.date|date('Y-m-d H:i:s') }}">{{ emails_import.date|date('d-M-y H:i') }}</td>
                <td>{{ emails_import.sender }}</td>
                <td>{{ emails_import.subject }}</td>
                <td>{{ emails_import.body }}</td>
                <td>
                    <a target="_blank" class="btn btn-outline-danger btn-sm"
                       href="{{ path('emails_import_edit', {'id': emails_import.id}) }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_login') }}">Court booking</a>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_login') }}">Coach booking</a>
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_login') }}">Membership</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-success btn-sm" href="{{ path('emails_import_new') }}">New</a>
{% endblock %}
