{% extends 'base.html.twig' %}

{% block toptitle %}Imported Emails{% endblock %}
{% block title %}Imported Emails{% endblock %}

{% block body %}
    <h1 style="color: red">Imported Emails</h1>

    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>Date</th>
            <th>Sender</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
        </thead>
        <tbody>
        {% if emails is not empty %}
        {% for email in emails %}
            <tr>
                <td data-sort="{{ email.date|date('Y-m-d H:i:s') }}">{{ email.date|date('d-M-y H:i') }}</td>
                <td>{{ email.sender }}</td>
                <td>{{ email.subject }}</td>
                <td>{{ email.body }}</td>
                <td>
                    <a target="_blank" class="btn btn-outline-danger btn-sm"
                       href="{{ path('emails_import_edit', {'id': email.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-success btn-sm" href="{{ path('emails_import_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
