{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4">
                <h1 style="color: red" class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
            </div>
        </div>
        <br>
        <br>

            {% if app.environment=='dev' %}
                <button onclick="fillForm()"><i class="fa fa-info-circle"> </i></button>Stephen<br>
                <button onclick="fillForm5()"><i class="fa fa-info-circle"> </i></button>Stephen2<br>
                <button onclick="fillForm2()"><i class="fa fa-info-circle text-danger"> </i></button>Adam <br>
                <button onclick="fillForm3()"><i class="fa fa-info-circle text-primary"> </i></button>Geoff <br>
                <button onclick="fillForm4()"><i class="fa fa-info-circle text-primary"> </i></button>Sandra <br>
            {% endif %}


        <br>
        <a href="{{ path('app_forgot_password_request') }}">Forgot password</a>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        function fillForm() {
            $("#inputEmail").val("nurse_stephen@hotmail.com").change();
            $("#inputPassword").val("Descartes99").change();
        }
    </script>

    <script>
        function fillForm2() {
            $("#inputEmail").val("adamdixon2@me.com").change();
            $("#inputPassword").val("password").change();
        }
    </script>

    <script>
        function fillForm3() {
            $("#inputEmail").val("geoff@thedecimalplace.co.uk").change();
            $("#inputPassword").val("password").change();
        }
    </script>
    <script>
        function fillForm4() {
            $("#inputEmail").val("sandram30@icloud.com").change();
            $("#inputPassword").val("password").change();
        }
    </script>
    <script>
        function fillForm5() {
            $("#inputEmail").val("sjwn71@gmail.com").change();
            $("#inputPassword").val("password").change();
        }
    </script>
{% endblock %}