{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.fullName }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 style="color: red" class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <br>
                <button class="btn btn-primary" type="submit">Sign in</button>
                <br><br>
                <a href="{{ path('app_forgot_password_request') }}">Forgot password</a>
            </form>
            <hr><br>

        </div>
    </div>

    {% if CompanyDetailsService.companyDetails is not null %}
        {% if CompanyDetailsService.companyDetails.enableUserRegistration ==1 %}
            If you would like to register website, please click on the button below: <br>
            <a class="btn btn-success" href="{{ path('app_register') }}">Register</a>
        {% endif %}
    {% endif %}
    <br><br><br><br>

    {% if CompanyDetailsService.companyDetails is not null %}
        {% if app.request.getSchemeAndHttpHost() != CompanyDetailsService.companyDetails.companyWebsite %}
            <button onclick="fillForm()"><i class="fa fa-info-circle"> </i> nurse_stephen@hotmail.com
                (Super-Admin)
            </button>
            <br>
            <br>
            <button onclick="fillForm2()"><i class="fa fa-info-circle"> </i> nurse_stephen2@hotmail.com
                (Super-Admin)
            </button>
            <br>
            <br>
            <button onclick="fillForm3()"><i class="fa fa-info-circle"> </i> stephen@stephen-nurse.com
                (Unverified)
            </button>
        {% endif %}
    {% else %}
        <b>Please set up your "Company Details" profile.</b>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        function fillForm() {
            $("#inputEmail").val("nurse_stephen@hotmail.com").change();
            $("#inputPassword").val("Descartes99").change();
        }

        function fillForm2() {
            $("#inputEmail").val("nurse_stephen2@hotmail.com").change();
            $("#inputPassword").val("Descartes99").change();
        }

        function fillForm3() {
            $("#inputEmail").val("stephen@stephen-nurse.com").change();
            $("#inputPassword").val("password").change();
        }
    </script>
{% endblock %}
