<style>
    .ck-editor__editable {
        min-height: 400px;
        max-height: 400px
    }
</style>
{{ form_start(form) }}
<div class="col-md-3">
    <button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
    <a class="btn btn-outline-info btn-sm" href="{{ path('cms_copy_index') }}">Return to list</a>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Category</h2>
        {{ form_row(form.category) }}
        <div class="static-container">
            {{ form_row(form.staticPageName) }}
        </div>
        <div class="product-container">
            {{ form_row(form.product) }}
        </div>
    </div>
    <div class="col-md-3">
        <h2>Attachments & Hyperlinks</h2>
        {{ form_row(form.hyperlinks) }}


        {% if cms_copy.attachment is not null %}
            <b>Attachment:</b><br>
            {{ cms_copy.attachment }}
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('cms_copy_delete_file', {'id': cms_copy.id}) }}"> <i
                        style="color: red" class="fa fa-trash"></i></a>
            <br>
            <a title="{{ cms_copy.attachment }}" target="_blank"
               href="{{ path('cms_copy_show_attachment',{id : cms_copy.id }) }}">
                <i title="{{ cms_copy.attachment }}" class="fa fa-paperclip"></i>
            </a>
            <br>
            {{ form_row(form.hyperlinks) }}
        {% endif %}

        <div class="file-upload-container">
            {{ form_row(form.attachment) }}
        </div>
    </div>
    <div class="col-md-3">
        <h2>Ranking & User Count</h2>
        <div class="row">
            {{ form_row(form.ranking) }}
        </div>
        <div class="row">
            {{ form_row(form.pageCountUsers) }}
            {{ form_row(form.pageCountAdmin) }}
        </div>
    </div>

</div>
<hr>
<h2>Tab Title</h2>
<div class="row">
    <div class="col-md-3">

        {{ form_row(form.tabTitle) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.tabTitleFR) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.tabTitleDE) }}
    </div>
</div>
<hr>
<h2>Headings</h2>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.contentTitle) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.contentTitleFR) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.contentTitleDE) }}
    </div>
</div>
<hr>

<h2>Content</h2>
<div class="row">
    <div class="col-md-10">
        {{ form_row(form.contentText) }}
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        {{ form_row(form.contentTextFR) }}
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        {{ form_row(form.contentTextDE) }}
    </div>
</div>


<button class="btn btn-success btn-sm mb-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
























