{% extends 'base.html.twig' %}

{% block title %}CMS: {{ cms_copy.contentTitle }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: {{ cms_copy.contentTitle }}</h1>

    {{ include('cms_copy/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('cms_copy_index') }}">Return to list</a>

    {{ include('cms_copy/_delete_form.html.twig') }}
{% endblock %}
