{% extends 'base.html.twig' %}

{% block title %}
    {% if cms_copy.category == "Product or Service" %}
        CMS: {{ cms_copy.product.product }}
    {% endif %}
    {% if cms_copy.category == "Static" %}
        CMS: {{ cms_copy.staticPageName }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-9">
            <h1 style="color: red">Edit:
                {% if (cms_copy.category != "Product or Service" and cms_copy.category != "Static") %}

                {% else %}
                    {% if cms_copy.category == "Product or Service" %}
                        {{ cms_copy.product.product }}
                    {% endif %}
                    {% if cms_copy.category == "Static" %}
                        {{ cms_copy.staticPageName }}
                    {% endif %}
                {% endif %}
            </h1>
        </div>
    </div>

    {{ include('cms_copy/_form.html.twig', {'button_label': 'Save'}) }}
{% endblock %}


{% block additionaljs %}
    <script>


        var ranking = $("#cms_copy_ranking").val();
        if (ranking == 1){
            $(".container_subject_to_ranking").show();
        }
        else{
            $(".container_subject_to_ranking").hide();
        }

        $("#cms_copy_ranking").change(function () {
            var new_ranking = $(this).val();
            if (new_ranking === '1') {
                $(".container_subject_to_ranking").show();
            }
            if (new_ranking !== '1') {
                $(".container_subject_to_ranking").hide();
                $("#cms_copy_tabTitle").val('');
                $("#cms_copy_tabTitleFR").val('');
                $("#cms_copy_tabTitleDE").val('');
                $("#cms_copy_contentTitle").val('');
                $("#cms_copy_contentTitleFR").val('');
                $("#cms_copy_contentTitleDE").val('');
            }
        })


        {% if cms_copy.attachment %}
        $(".file-upload-container").hide();
        {% else %}
        $(".file-upload-container").show();
        {% endif %}

        var category = $("#cms_copy_category").val();
        if (category === 'Static') {
            $(".static-container").show();
            $(".product-container").hide();
        } else {
            $(".static-container").hide();
            //  $(".product-container").empty();
            $(".product-container").show();
        }

        $("#cms_copy_category").change(function () {
            var category = $(this).val();
            if (category === 'Static') {
                $(".static-container").show();
                $("#cms_copy_product").val(null);
                $(".product-container").hide();
            }
            if (category === 'Product or Service') {
                $(".product-container").show();
                $(".static-container").hide();
                $("#cms_copy_staticPageName").val('');
            }
        })


    </script>


    <script>
        ClassicEditor
            .create(document.querySelector('#cms_copy_contentText'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#cms_copy_contentTextFR'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#cms_copy_contentTextDE'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}
