{% extends 'base.html.twig' %}

{% block title %}TH Logins{% endblock %}

{% block body %}
    <h1 style="color: red">Tower Hamlets logins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cardholder</th>
                <th>TH Login</th>
                <th>TH Password</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Cardtype</th>
                <th>CardNumber</th>
                <th>CardCVC</th>
                <th>CardExpiry (Month)</th>
                <th>CardExpiry (Year)</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Town</th>
                <th>County</th>
                <th>Telephone</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for credit_card_detail in credit_card_details %}
            <tr>
                <td> {{ credit_card_detail.cardholder.fullName }}</td>
                <td> {{ credit_card_detail.thLogin }}</td>
                <td> {{ credit_card_detail.firstName }}</td>
                <td> {{ credit_card_detail.lastName }}</td>
                <td> {{ credit_card_detail.cardType }}</td>
                <td> {{ credit_card_detail.cardNumber }}</td>
                <td> {{ credit_card_detail.cardCVC }}</td>
                <td> {{ credit_card_detail.cardExpiry }}</td>
                <td> {{ credit_card_detail.cardExpiry }}</td>
                <td> {{ credit_card_detail.cardExpiry }}</td>
                <td> {{ credit_card_detail.address1 }}</td>
                <td> {{ credit_card_detail.address2 }}</td>
                <td> {{ credit_card_detail.town }}</td>
                <td> {{ credit_card_detail.county }}</td>
                <td> {{ credit_card_detail.telephone }}</td>
                <td class="btn btn-outline-danger btn-sm"><a href="{{ path('credit_card_details_edit', {'id': credit_card_detail.id}) }}">Edit</a> </td>
                <td>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success mt-2" href="{{ path('credit_card_details_new') }}">New</a>
{% endblock %}
