<div class="row">
    <div class="col-2">
        {% if is_granted('ROLE_GUEST') %}
            <a class="btn btn-success btn-sm" href="{{ path('tourist_attraction_new') }}">+</a>
        {% endif %}
    </div>
    <div class="desktop" class="col-7">
        <a class="btn btn-outline-primary btn-sm"
           href="{{ path('tourist_attraction_index', {view:'By Category', type: 'All'}) }}">All</a>

        {% for type in types %}
            <a class="btn btn-outline-secondary btn-sm"
               href="{{ path('tourist_attraction_index', {view:'By Category', type: type}) }}">{{ type }}</a>
        {% endfor %}
    </div>
    <div class="col-2">
        {% if is_granted('ROLE_ADMIN') %}
            <a title="From CSV - Tourist Attractions Only" class="btn btn-outline-primary btn-sm"
               href="{{ path('cyprusTouristAttractionImport') }}">Import</a>
            <a class="btn btn-danger btn-sm desktop" href="{{ path('tourist_attraction_delete_all') }}">Delete</a>
        {% endif %}
    </div>
</div>
<hr>