{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="text-danger">Dashboard</h1>
    {% include 'template_parts_project_specific/dashboard_project_specific.html.twig' %}
    <hr>
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Company</h2>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('company_details_index') }}">Company Details</a>
                </li>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('product_index') }}">Products</a>
                </li>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">CMS</h2>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('cms_copy_index') }}">Main-Page Copy</a>
                </li>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('sub_page_index') }}">Sub-Page Copy</a>
                </li>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('cms_photo_index') }}">Photos</a>
                </li>
                <hr>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('cms_copy_page_formats_index') }}">CMS Page Format</a>
                </li>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('map_icons_index') }}">Map Icons</a>
                </li>
            </div>
        </div>
        {% if CompanyDetailsService.companyDetails is not null %}
            {% if CompanyDetailsService.companyDetails.headerDisplayPhotos ==1 %}
                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h3 style="color: red">Photos</h3>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('photos_index') }}">Photos</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('photo_locations_index') }}">Photo Locations</a>
                        </li>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if CompanyDetailsService.companyDetails is not null %}
            {% if CompanyDetailsService.companyDetails.footerDisplayProducts ==1 %}
                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h2 style="color: red">E-mails</h2>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('website_contacts_index') }}">
                                <i title="Website inquiries awaiting a response" style="color: purple"
                                   class="fa fa-user-secret"></i>
                                Website Inquiries</a>
                        </li>
                        <hr>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('emails_fetch') }}">Emails: Fetch from Outlook</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('emails_import_index') }}">Emails: All</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('emails_import_index') }}">Emails: Processed</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="">Emails Sent</a>
                        </li>
                    </div>
                </div>
            {% endif %}
        {% endif %}


        {% if CompanyDetailsService.companyDetails is not null %}
            {% if 1 ==1 %}
                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h2 style="color: red">Links/Files</h2>
                        <li style="margin-left: 20px">
                            <a href="{{ path('useful_links_index', {'category':'All'}) }}">Helpful links</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a href="{{ path('file_attachments_index') }}">Helpful files</a>
                        </li>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Users</h2>
                <li style="margin-left: 20px">
                    <a target="_blank" href="{{ path('user_index') }}">Users</a>
                </li>
                <li style="margin-left: 20px">
                    <a href="{{ path('log_index') }}">User Log</a>
                </li>
            </div>
        </div>

        {% if CompanyDetailsService.companyDetails is not null %}
            {% if CompanyDetailsService.companyDetails.headerDisplayInstructions ==1 or
                CompanyDetailsService.companyDetails.multiLingual ==1 or
                CompanyDetailsService.companyDetails.headerDisplayWeather or
                app.request.getSchemeAndHttpHost() == CompanyDetailsService.companyDetails.companyWebsite %}

                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h2 style="color: red">Set-Up</h2>
                        {% if CompanyDetailsService.companyDetails.headerDisplayInstructions ==1 %}
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('instructions_index') }}">Instructions</a>
                            </li>
                        {% endif %}

                        {% if CompanyDetailsService.companyDetails.multiLingual ==1 %}
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('languages_index') }}">Languages</a>
                            </li>
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('translation_index') }}">Translations</a>
                            </li>
                        {% endif %}
                        {% if CompanyDetailsService.companyDetails.headerDisplayWeather ==1 %}
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('weather_index') }}">Weather</a>
                            </li>
                        {% endif %}

                        {% if app.request.getSchemeAndHttpHost() == CompanyDetailsService.companyDetails.companyWebsite %}
                            <li style="margin-left: 20px">
                                <a class="btn btn-outline-success btn-sm" target="_blank"
                                   href="{{ path('export_database') }}">Export Live Data</a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            {% endif %}


            {% if CompanyDetailsService.companyDetails.headerDisplayBusinessContacts ==1 %}
                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h2 style="color: red">Contacts</h2>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('business_contacts_index') }}">Helpful Contacts</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('business_types_index') }}">Business Categories</a>
                        </li>
                        <li style="margin-left: 20px">
                            <a target="_blank" href="{{ path('referrals_index') }}">Referrals Log</a>
                        </li>
                    </div>
                </div>
            {% endif %}

            {% if CompanyDetailsService.companyDetails.headerDisplayFacebookPages ==1 or CompanyDetailsService.companyDetails.headerDisplayCompetitors ==1 %}
                <div class="col-12 col-md-2">
                    <div class="border py-4">
                        <h2 style="color: red">Competitors</h2>
                        {% if CompanyDetailsService.companyDetails.headerDisplayFacebookPages ==1 %}
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('facebook_groups_index') }}">Facebook Pages</a>
                            </li>
                        {% endif %}
                        {% if CompanyDetailsService.companyDetails.headerDisplayCompetitors ==1 %}
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('competitors_index') }}">Competitors</a>
                            </li>
                            <li style="margin-left: 20px">
                                <a target="_blank" href="{{ path('competitor_service_index') }}">Competitor Services</a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="col-12 col-md-2">
                <div class="border py-4">
                    <h2 style="color: red">Technology</h2>
                    <li style="margin-left: 20px">
                        <a href="{{ path('export_database') }}">Export database</a>
                    </li>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script src="{{ asset('admin/js/AGS.js') }}"></script>
{% endblock javascripts %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                'pageLength': 100,
                "order": [[2, 'asc'], [3, 'asc'], [4, 'asc']],
                "paging": true,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}
