{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1 class="text-danger">Dashboard</h1>
    <hr>

    <div class="row">

        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Users</h2>
                <ul>
                    <a target="_blank" href="{{ path('user_index') }}">Users - All</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_edited_since_download') }}">Users - Edited</a></ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_addresses') }}">Users - Addresses</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_telnumbers') }}">Users - Tel numbers</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_personal') }}">Personal</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_festiveMessage') }}">Festive</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_ax') }}">AX</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_birthdays') }}">Birthdays</a>
                </ul>

            </div>
        </div>


        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Recruiters</h2>
                <ul>
                    <a target="_blank" href="{{ path('user_index_recruiters_high_priority') }}">Priority:: High</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_recruiters_later') }}">Priority:: Medium</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_recruiters_low_priority') }}">Priority:: Low</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('user_index_recruiters_uncategorised') }}">Priority: TBD</a>
                </ul>
                <hr>
                <ul>
                    <a target="_blank" href="{{ path('introduction_index') }}">Email Templates</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('introduction_segment_index') }}"> :: Country Add-ons</a>
                </ul>
                <ul>
                    <a target="_blank" href="{{ path('recruiter_emails_index') }}">Emails Sent</a>
                </ul>
                <hr>
                <ul>
                    <a target="_blank" href="{{ path('prospect_employer_index') }}">Prospective
                        Employers</a>
                </ul>
            </div>
        </div>


        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">CV</h2>
                <ul><a target="_blank" href="{{ path('curriculum_vitae_index') }}">CV - Segments</a></ul>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Flights</h2>
                <ul><a target="_blank" href="{{ path('flight_destinations_index') }}">Flights Destinations</a></ul>
                <ul><a target="_blank" href="{{ path('flight_stats_index') }}">Flights</a></ul>

            </div>
        </div>


        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h3 style="color: red">Photos</h3>
                <ul><a target="_blank" href="{{ path('photo_locations_index') }}">Photo Locations</a></ul>
                <ul><a target="_blank" href="{{ path('country_index') }}">Countries</a></ul>
            </div>
        </div>
    </div>

    <br>
    <hr><br>

    <div class="row">


        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Investments</h2>
                <ul><a href="{{ path('investments_economic_index', {subset:'All'}) }}">Economic Summary</a></ul>
                <ul><a href="{{ path('loans_bonds_index') }}">Loan MTMs</a></ul>
                <ul><a href="{{ path('bank_balances_index') }}">Bank Balances</a></ul>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Tax view</h2>
                <ul><a href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - By Asset Class'}) }}">Tax
                        Details: By Asset Class</a></ul>
                <ul><a href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - Aggregated'}) }}">Tax
                        Details: Aggregated</a></ul>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">Market Data</h2>
                <ul><a href="{{ path('market_data_history_index') }}">Historical Shares Prices</a></ul>
                <ul><a href="{{ path('fx_rates_index') }}">Current FX Rates</a></ul>
                <ul><a href="{{ path('fx_rates_history_index') }}">Historical FX Rates</a></ul>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h2 style="color: red">SetUp</h2>
                <ul><a href="{{ path('asset_classes_index') }}">Asset Classes</a></ul>
                <ul><a href="{{ path('tax_schemes_index') }}">Tax Schemes</a></ul>
                <ul><a href="{{ path('tax_year_index') }}">Tax Years & Bands</a></ul>
                <ul><a href="{{ path('bank_accounts_index') }}">Bank Accounts</a></ul>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="border py-4">
                <h3 style="color: red">System settings</h3>
                <ul><a target="_blank" href="{{ path('static_text_index') }}">CMS: Static Text</a></ul>
                <ul><a target="_blank" href="{{ path('cms_copy_index') }}">CMS: Copy</a></ul>
                <ul><a target="_blank" href="{{ path('cms_photo_index') }}">CMS: Photos</a></ul>
                <ul><a target="_blank" href="{{ path('settings_index') }}">Settings</a></ul>
                <ul><a target="_blank" href="{{ path('log_index') }}">User Log</a></ul>
            </div>
        </div>

    </div>


{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
        <script src="{{ asset('admin/js/AGS.js') }}"></script>
    {% endblock javascripts %}

    {% block datatable %}
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    'pageLength': 100,
                    "order": [[2, 'asc'], [3, 'asc'], [4, 'asc']],
                    "paging": true,
                    "searching": true,
                    "bInfo": true
                });
            });
        </script>
    {% endblock datatable %}
