{% extends 'base.html.twig' %}
{% block title %}{{ CompanyDetails.getCompanyDetails.companyName }}: GPS Location {% endblock %}
{% block body %}
    <h3 style="color: red">GPS Location</h3>
    Latitude: {{ latitude }}<br>
    Longitude: {{ longitude }}<br>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('office_address') }}">Address and Driving Instructions</a>
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="map" class="w-100"  style="height: 700px"></div>
        </div>
    </div>
{% endblock %}


{% block additionaljs %}
    <script type="text/javascript">
        function myMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: {lat: {{ latitude }}, lng: {{ longitude }} },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker, i;


                marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ latitude }},{{ longitude }} ),
                    map: map
                });
            google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
                    return function () {
                        infowindow.open(map, marker);
                    }
                })(marker, i));
                google.maps.event.addListener(marker, 'mouseout', function () {
                    infowindow.close();
                });


        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('GOOGLE_MAP_API') }}&callback=myMap">
    </script>
{% endblock %}

