{% extends 'base.html.twig' %}

{% block title %}{{ CompanyDetailsService.companyDetails.companyName }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="default-title">
                {% include 'home/products_page/title.html.twig' %}
            </div>
        </div>
    </div>

    <div class="row">
        {% for photo in photos %}
            {% set image = asset('administration/Attachments/CMSPhotos')~"/"~photo.photo %}
            {% set fileType =  photo.photo|split('.')|last %}
            <div class="col-lg-6 col-md-4 col-xl-4 p-4">
                <div class="justify-content-center d-flex">
                    <div class="homepage-gallery-image-container">
                        {% if photo.photo is not null %}
                            {% if fileType == 'mp4' or fileType == 'mov' %}
                                <video class="videoByLocationFull" controls="controls">
                                    <source src="{{ image }}" type="video/mp4"/>
                                </video>
                            {% else %}
                                {% if photo.link is not null %}
                                    <a title="{{ photo.title }}" target="_blank" href="{{ photo.link }}">
                                        <img class="homepage-image rotate-{{ photo.rotate }}" src="{{ image }}">
                                    </a>
                                {% else %}
                                    <img class="homepage-image rotate-{{ photo.rotate }}" src="{{ image }}">
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if CompanyDetailsService.companyDetails is not null %}
                {% if CompanyDetailsService.companyDetails.includeContactFormHomePage ==1 %}
                    {% include 'home/parts/contact_us.html.twig' %}
                {% endif %}

        {% set qr_code =  CompanyDetailsService.companyDetails.companyQrCode %}
        {% if include_QR_code == "Yes" and qr_code is not null %}
            <div class="row">
                {% set image = asset('administration/Attachments/Favicons/'~qr_code) %}
                <div class="col-lg-12 col-md-12 m-4 p-4 col-xl-12">
                    <div class="justify-content-center d-flex">
                        <div class="homepage-gallery-image-container">
                            {% if qr_code is not null %}
                                <a title="{{ CompanyDetailsService.companyDetails.companyName }}" target="_blank" href="{{ path('create_vcard_company') }}">
                                    <img class="homepage-image" src="{{ image }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock body %}