{% extends 'base.html.twig' %}
{% block title %}{{ CompanyDetailsService.getCompanyDetails.companyName }}: Address {% endblock %}
{% block body %}
    <h3 style="color: red">Address</h3>
    <div class="row">
        <div class="col-12">
            <b>Address is: </b>
            {% if is_granted('ROLE_ADMIN') %}
                <a target="_blank" href="{{ path('company_details_edit', {id:'1'}) }}">
                    <i style="color: red" class="fa fa-pencil"></i>
                </a>
            {% endif %}
            {{ CompanyDetailsService.getCompanyDetails.companyAddressStreet|raw }},
            {{ CompanyDetailsService.getCompanyDetails.companyAddressTown|raw }},
            {{ CompanyDetailsService.getCompanyDetails.companyAddressCity|raw }}
            {{ CompanyDetailsService.getCompanyDetails.companyAddressPostalCode|raw }}
            <br><br><br>
            <iframe src="{{ CompanyDetailsService.getCompanyDetails.companyAddressMapLink }}"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br><br><br>
            <b>Getting here:</b> <br>
            {{ CompanyDetailsService.getCompanyDetails.companyAddressInstructions |raw }}
        </div>
    </div>
{% endblock %}