{% extends 'base.html.twig' %}

{% block title %}
    {% if Text1 is not null %}
        {{ Text1.contentTitle }}
    {% endif %}
{% endblock %}

{% block body %}

    <!-- My Service section -->
    <section id="my-service-section" class="default-bg-white">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="defult-title">
                        {% if Text1 is not null %}
                        <h4><a target="_blank" href="{{ Text1.hyperlinks }}">{{ Text1.contentTitle|raw }}</a></h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">


                <!------------------ FIRST GROUP OF TEXT AND PHOTOS --------------->
                {% if Photo1.photo is empty %}
                    <div class="col-md-12">
                        {% include 'headings.twig' %}
                        {% if Text1 is not null %}
                            <p>{{ Text1.contentText|raw }}  </p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col-md-6">
                        {% include 'headings.twig' %}
                        {% if Text1 is not null %}
                            <p>{{ Text1.contentText|raw }}  </p>
                        {% endif %}
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="justify-content-center d-flex py-1">
                            {% if Photo1.photo is not null %}
                                {% set loc = asset('administration/Attachments/CMSPhotos')~"/"~Photo1.photo %}
                                {% if Photo1.photoOrVideo == "Video" %}
                                    <video class="other-page-image" controls>
                                        <source src="{{ loc }}" type="video/mp4">
                                    </video>
                                {% else %}

                                    {% if Photo1.link is not null %}
                                        <a target="_blank" href="{{ Photo1.link }}">
                                            <img title="{{ Photo1.title }}" class="other-page-image" src="{{ loc }}">
                                        </a>
                                    {% else %}
                                        <img title="{{ Photo1.title }}" class="other-page-image" src="{{ loc }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <!------------------ END FIRST GROUP OF TEXT AND PHOTOS --------------->

                <!------------------ SECOND GROUP OF TEXT AND PHOTOS --------------->
                {% if Photo2.photo is empty %}
                    <div class="col-md-12">
                        {% include 'headings2.twig' %}
                        <p>{{ Text2.contentText|raw }}  </p>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        {% include 'headings2.twig' %}
                        {% if Text2 is not null %}
                        <p>{{ Text2.contentText|raw }}  </p>
                        {% endif %}
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="justify-content-center d-flex py-1">
                            {% if Photo2.photo is not null %}
                                {% set loc = asset('administration/Attachments/CMSPhotos')~"/"~Photo2.photo %}
                                {% if Photo2.photoOrVideo == "Video" %}
                                    <video class="other-page-image" controls>
                                        <source src="{{ loc }}" type="video/mp4">
                                    </video>
                                {% else %}

                                    {% if Photo2.link is not null %}
                                        <a target="_blank" href="{{ Photo2.link }}">
                                            <img title="{{ Photo2.title }}" class="other-page-image" src="{{ loc }}">
                                        </a>
                                    {% else %}
                                        <img title="{{ Photo2.title }}" class="other-page-image" src="{{ loc }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <!------------------ END SECOND GROUP OF TEXT AND PHOTOS --------------->
                <!------------------ THIRD GROUP OF TEXT AND PHOTOS --------------->
                {% if Photo1.photo is empty %}
                    <div class="col-md-12">
                        {% include 'headings3.twig' %}
                        <p>{{ Text3.contentText|raw }}  </p>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        {% include 'headings3.twig' %}
                        {% if Text3 is not null %}
                        <p>{{ Text3.contentText|raw }}  </p>
                        {% endif %}
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="justify-content-center d-flex py-1">
                            {% if Photo3.photo is not null %}
                                {% set loc = asset('administration/Attachments/CMSPhotos')~"/"~Photo3.photo %}
                                {% if Photo3.photoOrVideo == "Video" %}
                                    <video class="other-page-image" controls>
                                        <source src="{{ loc }}" type="video/mp4">
                                    </video>
                                {% else %}

                                    {% if Photo3.link is not null %}
                                        <a target="_blank" href="{{ Photo3.link }}">
                                            <img title="{{ Photo3.title }}" class="other-page-image" src="{{ loc }}">
                                        </a>
                                    {% else %}
                                        <img title="{{ Photo3.title }}" class="other-page-image" src="{{ loc }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <!------------------ END THIRD GROUP OF TEXT AND PHOTOS --------------->
            </div>
        </div>
    </section>


{% endblock %}