{% extends 'base.html.twig' %}

{% block title %}
    {% for cms_copy in cms_copy_array %}
        {% if cms_copy.ranking == 1 %}
            {% if cms_copy.tabTitle is defined %}
                {{ cms_copy.tabTitle }}
            {% else %}
                {% if CompanyDetails.getCompanyDetails is not null %}
                    {{ CompanyDetails.getCompanyDetails.companyName }}
                {% else %}
                    {{ product }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block body %}
    <!-- My Service section -->
    <section id="my-service-section" class="default-bg-white">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->


        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="defult-title">
                        {% include 'home/parts/products_page/title.html.twig' %}
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-6">
                    {% for cms_copy in cms_copy_array %}
                        <div class="row">
                            <div class="col-12">
                                <p>{{ cms_copy.contentText|raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-6">
                    {% for cms_photo in cms_photo_array %}
                    <div class="row">
                        <div class="col-12">
                            <div class="justify-content-center d-flex py-1 product-image-container m-auto ">
                                {% include 'home/parts/products_page/photo_or_video.html.twig' %}
                            </div>
                        </div>
                    </div>
                        {% endfor %}

                    <!------------------ END FIRST GROUP OF PHOTOS --------------->

                </div>


                <div class="row">
                    <div class="col-12">
                        {% for sub_page in sub_pages %}

                            <ul>
                                <a target="_blank"
                                   href="{{ path('sub_page_show', {id: sub_page.id} ) }}">{{ sub_page.title }}</a>
                            </ul>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </section>


{% endblock %}