{% extends 'base.html.twig' %}

{% block title %}
    {% for cms_copy in cms_copy_array %}
        {% if cms_copy.ranking == 1 %}
            {% if cms_copy.tabTitle is defined %}
                {{ attribute(cms_copy,'tabTitle'~LanguagesService.getSelectedLanguageCode)|raw }}
            {% else %}
                {% if CompanyDetails.getCompanyDetails is not null %}
                    {{ CompanyDetails.getCompanyDetails.companyName }}
                {% else %}
                    {{ product~Languages.getSelectedLanguageCode }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block body %}
    <section id="my-service-section" class="default-bg-white">
        <div class="default-space"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="default-title">
                        {% include 'home/products_page/title.html.twig' %}
                    </div>
                </div>
            </div>

            <div class="row">
                {% if cms_photo_array is not empty %}
                         <div class="col-md-6">
                {% else %}
                        <div class="col-12">
                {% endif %}
                        {% for cms_copy in cms_copy_array|sort((a, b) => a.ranking <=> b.ranking) %}
                            {% if cms_copy.pageLayout is not null %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a target="_blank" href="{{ path('cms_copy_edit', {'id': cms_copy.id}) }}">
                                        <i title="{{ cms_copy.getPageLayout.name }}" style="color: red" class="fa fa-pen"></i>
                                    </a>
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Accordion" or cms_copy.pageLayout is null %}
                                    {% include 'home/products_page/formats/accordion.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Card Layout" %}
                                    {% include 'home/products_page/formats/card_layout.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Carousel/Slider" %}
                                    {% include 'home/products_page/formats/carousel_slider.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Fullscreen Sections" %}
                                    {% include 'home/products_page/formats/fullscreen_sections.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Grid Layout" %}
                                    {% include 'home/products_page/formats/grid_layout.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Hero Banner" %}
                                    {% include 'home/products_page/formats/hero_banner.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "List/Stacked Content" %}
                                    {% include 'home/products_page/formats/list_stacked_content.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Masonry Layout" %}
                                    {% include 'home/products_page/formats/masonry_layout.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Parallax Scrolling" %}
                                    {% include 'home/products_page/formats/parallax_scrolling.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Sidebar Layout" %}
                                    {% include 'home/products_page/formats/sidebar_layout.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Single Page Scroll" %}
                                    {% include 'home/products_page/formats/single_page_scroll.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Split Screen" %}
                                    {% include 'home/products_page/formats/split_screen.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Sticky Header/Footer" %}
                                    {% include 'home/products_page/formats/sticky_header_footer.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Tabbed Interface" %}
                                    {% include 'home/products_page/formats/tabbed_interface.html.twig' %}
                                {% endif %}

                                {% if cms_copy.getPageLayout.name  == "Timeline Layout" %}
                                    {% include 'home/products_page/formats/timeline_layout.html.twig' %}
                                {% endif %}
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a target="_blank" href="{{ path('cms_copy_edit', {'id': cms_copy.id}) }}">
                                        <i title="Format TBC" style="color: red" class="fa fa-pen">!</i>
                                    </a>
                                {% endif %}
                                {% include 'home/products_page/formats/accordion.html.twig' %}
                            {% endif %}

                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {% for cms_photo in cms_photo_array %}
                            <div class="d-inline-block justify-content-center py-1 p-sm-2 product-image-container">
                                <div class="image-wrapper">
                                    {% include 'home/products_page/photo_or_video.html.twig' %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!------------------ END FIRST GROUP OF PHOTOS --------------->
                    <div class="row">
                        <div class="col-12">
                            {% for sub_page in sub_pages %}
                                <ul>
                                    <a target="_blank"
                                       href="{{ path('sub_page_show', {id: sub_page.id} ) }}">{{ sub_page.title }}</a>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </section>



    {% if CompanyDetailsService.companyDetails is not null %}
        {% if CompanyDetailsService.companyDetails.includeContactFormHomePage ==1 and
            include_contact == "Yes" %}
            {% include 'home/parts/contact_us.html.twig' %}
        {% endif %}

        {% set qr_code =  CompanyDetailsService.companyDetails.companyQrCode %}
        {% if include_QR_code == "Yes" and qr_code is not null %}

            {% set image = asset('administration/Attachments/FaviconsAndQR/')~qr_code %}
            <div class="row">
                <div class="col-lg-3 col-md-4 m-4 p-4">
                    <div class="justify-content-center d-flex">
                        <div class="homepage-gallery-image-container">
                            <a title="{{ CompanyDetailsService.companyDetails.companyName }}" target="_blank"
                               href="{{ path('create_vcard_company') }}">
                                <img class="homepage-image" src="{{ image }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}


{% endblock %}