{% extends 'base.html.twig' %}
{% block body %}
    <!-- Start Css3 Preloader  -->


    INTERESTS (All users)
    <li><a target="_blank" href="{{ path('XVAConsulting') }}">Risk/Capital consulting</a> </li>
    <li> <a target="_blank" href="{{ path('private_equity') }}">Private Equity</a></li>
    <li><a target="_blank" href="{{ path('webdesign') }}">Web Design</a></li>
    <li><a target="_blank" href="{{ path('tennis') }}">Tennis</a></li>
    <li><a target="_blank" href="{{ path('flying') }}">Flying</a></li>

    <br>
    PHOTOS (All)
    <li><a target="_blank" href="{{ path('photos_index') }}">Photos</a></li>

    <br>
    CYPRUS (PARTIAL)
    <li><a target="_blank" href="{{ path('cyprus') }}">Cyprus</a></li>
    <li><a target="_blank" href="{{ path('house_guests_index') }}">House Guest</a></li>
    <li><a target="_blank" href="{{ path('whattobring') }}">What To Bring</a></li>
    <li><a target="_blank" href="{{ path('tourist_attraction_index') }}">Tourist attractions</a></li>
    <li><a target="_blank" href="{{ path('garmin_files_index') }}">Garmin Files</a></li>
    <li><a target="_blank" href="{{ path('wine_list_index') }}">Wine List</a></li>

    <br>
    CV (All users)
    <li><a target="_blank" href="{{ path('curriculum_vitae_individual',{'name': 'Stephen Nurse'}) }}">CV</a></li>
    <li><a target="_blank" href="{{ path('user_index_recruiters') }}">Recruiters</a></li>
    <li><a target="_blank" href="{{ path('introduction_index') }}">Email Templates</a></li>
    <li><a target="_blank" href="{{ path('introduction_segment_index') }}">Email Templates (Country Add-on)</a></li>
    <li><a target="_blank" href="{{ path('recruiter_emails_index') }}">Emails Sent</a></li>
    <li><a target="_blank" href="{{ path('prospect_employer_index') }}">Prospective Employers</a></li>

    <br>
    PERSONAL ADMIN (Restricted)
    <li><a target="_blank" href="{{ path('to_do_list_index') }}">To Do List</a></li>
    <li><a target="_blank" href="{{ path('uk_days_index') }}">UK Days</a></li>
    <li><a target="_blank" href="{{ path('/admin/fileattachments/index') }}">File Attachments</a></li>
    <li><a target="_blank" href="{{ path('health_index') }}">Health</a></li>
    <li><a target="_blank" href="{{ path('flying_index') }}">Flying</a></li>

    <br>
    INVESTMENTS (Restricted)
    <li><a target="_blank" href="{{ path('investments_index', {'grouping': 'All'}) }}">Investments</a></li>
    <li><a target="_blank" href="{{ path('tax_supporting_docs_index') }}">Supporting Tax Docs</a></li>
    <li><a target="_blank" href="{{ path('investment_future_comms_index') }}">Investment Docs</a></li>
    <li><a target="_blank" href="{{ path('jpm_ic_history_index') }}">IC Record</a></li>

    <br>
    TAX (Restricted)
    <li><a target="_blank" href="{{ path('investments_tax_consequences', {'show': 'TaxEffect'}) }}">Tax summary - Investments</a></li>
    <li><a target="_blank" href="{{ path('tax_inputs_overview_index') }}">Tax summary - Self-Assessment</a></li>
    <li><a target="_blank" href="{{ path('tax_inputs_index') }}">Employment Income</a></li>

    <br>
    USERS (Admin only)
    <li><a target="_blank" href="{{ path('user_index') }}">Users - All</a></li>
    <li><a target="_blank" href="{{ path('user_index_edited_since_download') }}">Users - Edited</a></li>
    <li><a target="_blank" href="{{ path('user_index_addresses') }}">Users - Addresses</a></li>
    <li><a target="_blank" href="{{ path('user_index_telnumbers') }}">Users - Tel numbers</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_ADMIN'}) }}">Admin</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_FAMILY'}) }}">Family</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_CONTACT'}) }}">Contact</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_GUEST'}) }}">Guest</a></li>
    <li><a target="_blank" href="{{ path('user_personal') }}">Personal</a></li>
    <li><a target="_blank" href="{{ path('user_festiveMessage') }}">Festive</a></li>
    <li><a target="_blank" href="{{ path('user_ax') }}">AX</a></li>
    <li><a target="_blank" href="{{ path('user_birthdays') }}">Birthdays</a></li>
    <li><a target="_blank" href="{{ path('log_index') }}">User log</a></li>

    <br>
    SETTINGS (Admin only)
    <li><a target="_blank" href="{{ path('photo_locations_index') }}">Photo locations</a></li>
    <li><a target="_blank" href="{{ path('country_index') }}">Countries</a></li>
    <li><a target="_blank" href="{{ path('tax_year_index') }}">Tax Years & Bands</a></li>
    <li><a target="_blank" href="{{ path('tax_schemes_index') }}">Tax Schemes</a></li>
    <li><a target="_blank" href="{{ path('file_upload') }}">File upload</a></li>
    <li><a target="_blank" href="{{ path('static_text_index') }}">CMS Static Text</a></li>
    <li><a target="_blank" href="{{ path('cms_copy_index') }}">CMS Copy</a></li>
    <li><a target="_blank" href="{{ path('cms_photo_index') }}">CMS Photos</a></li>
    <li><a target="_blank" href="{{ path('curriculum_vitae_index') }}">CV - Segments</a></li>



{% endblock body %}