{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        <h2> </h2>
        {{ form_row(form.year) }}

        {{ form_row(form.p11D) }}
        {% if tax_document.p11D is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('taxdocument_viewfile',{ 'id': tax_document.id, 'filetype':'P11D' }) }}"> {{ tax_document.p11D }}  </a>
            </strong><br>

            {% if tax_document.p11D is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_p11D_attachment',{'id':tax_document.id}) }}">Delete attachment</a>
            {% endif %}
        {% endif %}

        {{ form_row(form.p60) }}
        {% if tax_document.p60 is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('taxdocument_viewfile',{ 'id': tax_document.id, 'filetype':'P11D' }) }}"> {{ tax_document.p60 }}  </a>
            </strong><br>

            {% if tax_document.p60 is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_p60_attachment',{'id':tax_document.id}) }}">Delete attachment</a>
            {% endif %}
        {% endif %}

        {{ form_row(form.selfAssessment) }}
        {% if tax_document.selfAssessment is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('taxdocument_viewfile',{ 'id': tax_document.id, 'filetype':'SelfAssessment' }) }}"> {{ tax_document.p11D }}  </a>
            </strong><br>

            {% if tax_document.selfAssessment is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_selfassessment_attachment',{'id':tax_document.id}) }}">Delete attachment</a>
            {% endif %}
        {% endif %}

        {{ form_row(form.comments) }}
    </div>

</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
