{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        <h2> </h2>
        {{ form_row(form.year) }}
        {{ form_row(form.p11D) }}
        {{ form_row(form.p60) }}
        {{ form_row(form.selfAssessment) }}
        {{ form_row(form.comments) }}
    </div>

</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
