{% extends 'base.html.twig' %}

{% block title %}Tax Documents{% endblock %}

{% block body %}
    <h1 style="color: red;">Tax Documents</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Year</th>
                <td><a href="{{ path('tax_documents_edit', {'id': tax_document.id}) }}">{{ tax_document.year }}</a></td>
            </tr>
            <tr>
                <th>P11D</th>
                <td>{{ tax_document.p11D }}</td>
            </tr>
            <tr>
                <th>P60</th>
                <td>{{ tax_document.p60 }}</td>
            </tr>
            <tr>
                <th>SelfAssessment</th>
                <td>{{ tax_document.selfAssessment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary bt-sm" href="{{ path('tax_documents_index') }}">Return to list</a>



    {{ include('tax_documents/_delete_form.html.twig') }}
{% endblock %}
