{% extends 'base.html.twig' %}

{% block title %}UK Days Calendar{% endblock %}

{% block body %}
    <h1 style="color: red">UK Days: Calendar</h1>
    <div class="row">
        <div class="col-6">
            <a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('uk_days_index') }}">Add dates</a>
        </div>
        <div class="col-2">
            <a class="btn btn-success btn-sm" href="{{ path('uk_day_calendar_create') }}">Create
                calendar</a>
            <a class="btn btn-danger btn-sm" href="{{ path('uk_day_calendar_delete_all') }}">Delete
                All</a>
        </div>
    </div>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>DoW</th>
            <th>Date</th>
            <th>Location</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for uk_day_calendar in uk_day_calendars %}
            {% if uk_day_calendar.date|date('D') =="Sat" or uk_day_calendar.date|date('D') =="Sun" %}
                <tr style="background-color: whitesmoke">
            {% else %}
                <tr>
            {% endif %}
            <td> {{ uk_day_calendar.date|date('D') }}</td>
            <td data-sort="{{ uk_day_calendar.date|date('Y-m-d') }}"> {{ uk_day_calendar.date|date('d-M-y') }}</td>
            <td>
                {% if uk_day_calendar.locationAtMidnight is not null %}
                    {{ uk_day_calendar.locationAtMidnight.country }}
                {% else %}
                    -
                {% endif %}
            </td>

            <td>
                <a class="btn btn-outline-danger btn-sm"
                   href="{{ path('uk_day_calendar_edit', {'id': uk_day_calendar.id}) }}">Edit</a>
            </td>
            <td>
                <form method="post" action="{{ path('uk_day_calendar_delete', {'id': uk_day_calendar.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uk_day_calendar.id) }}">
                    <button>
                        <i style="color: red" class="fa fa-trash"></i>
                    </button>
                </form>

            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('uk_day_calendar_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [1, 'desc'],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
