<style>
    .user-box {
        position: relative;
    }

    .user-box input {
        width: 100%;
        /*padding: 10px 0;*/
        font-size: 16px;
        color: white !important;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid white !important;
        outline: none;
        background: transparent;
    }

    .user-box label {
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*padding: 10px 0;*/
        font-size: 16px;
        color: white
    }

    .user-box-radio {
        color: white
    }

    textarea {
        width: 100%;
    }

</style>
<div class="container bg-gradient-dark">
    <div class="row">
        <div class="col-12 col-md-4 mx-auto">
            <form class="py-5" method="post" action="{{ path('website_contacts_new') }}">
                <div class="user-box">
                    <label for="firstName">First Name<sup style="padding-left:5px">*</sup></label>
                    <input type="text" name="firstName" required>

                </div>
                <div class="user-box">
                    <label>Last Name<sup style="padding-left:5px">*</sup></label>
                    <input type="text" name="lastName" required>

                </div>
                <div class="user-box">
                    <label>Email<sup style="padding-left:5px">*</sup></label>
                    <input type="email" name="email" required>

                </div>
                <div class="user-box">
                    <label>Phone<sup style="padding-left:5px">*</sup></label>
                    <input type="text" name="mobile" required>

                </div>
                <div class="user-box-radio">
                    <label class="pr-5" for="user-box-radio">Interested in:</label>
                    {% set products = ProductService.getProductFooter %}
                    {% for product in products %}
                        <div>
                        <span style="white-space: nowrap">
                        <input type="radio" name="service" required
                               value="{{ product.product }}" id="{{ product.product }}">
                        <label class="pr-5" for="{{  product.product }}">{{ product.product }}</label>
                        </span>
                        </div>
                    {% endfor %}

                </div>
                <div class="user-box">
                    <label class="pr-5" for="message-box">Message:</label>
                    <textarea style="width: 100%" rows="7" name="notes" id="message-box"></textarea>
                </div>
                <button class="btn btn-outline-success mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>