{{ form_start(form) }}
<div class="row">
    <div class="col-4">
        {{ form_row(form.author) }}
        {{ form_row(form.region) }}
        {{ form_row(form.areaOfInterest) }}
        {{ form_row(form.subjectLine) }}
        {{ form_row(form.attachment) }}
    </div>
    <div class="col-6">
        {{ form_row(form.introductoryEmail) }}
    </div>
</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}