{{ form_start(form) }}
<div class="row">
    <div class="col-4">
        {{ form_row(form.author) }}
        {{ form_row(form.region) }}
        {{ form_row(form.areaOfInterest) }}
        {{ form_row(form.subjectLine) }}


        <strong style="color: blue">
        {{ introduction.attachment }}
        </strong>
        {{ form_row(form.attachment) }}
        {% if introduction.attachment is not empty %}
        <a class="btn btn-sm btn-danger" href="{{ path('introduction_delete_attachment',{id:introduction.id}) }}">Delete attachment</a>
        {% endif %}


    </div>
    <div class="col-6">
        {{ form_row(form.introductoryEmail) }}
        {{ form_row(form.introductoryEmail2) }}
    </div>
</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
