{% extends 'base.html.twig' %}

{% block title %}Introduction index{% endblock %}

{% block body %}
    <h1 style="color: red">Introductory Email</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Author</th>
            <th>Region</th>
            <th>Area of Interest</th>
            <th>Subject</th>
            <th>Attachment</th>
            <th style="width: 1400px">Email-Part 1</th>
            <th style="width: 1400px">Email-Part 2</th>
        </tr>
        </thead>
        <tbody>
        {% for introduction in introductions %}
            <tr>
                <td><a target="_blank" href="{{ path('introduction_edit', {'id': introduction.id}) }}">{{ introduction.author.fullName }}</a></td>
                <td>{{ introduction.region }}</td>
                <td>{{ introduction.areaOfInterest }}</td>
                <td>{{ introduction.subjectLine }}</td>
                <td style="text-align: center">
                    {% if introduction.attachment is not empty %}
                            <a title= {{ introduction.attachment }} target="_blank"
                               href="{{ path('attachments_viewfile',{id : introduction.id, filetype: 'Recruiter_Attachment'}) }}"><i class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td>{{ introduction.introductoryEmail|raw }}</td>
                <td>{{ introduction.introductoryEmail2|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('introduction_new') }}">New</a>
{% endblock %}
