{% extends 'base.html.twig' %}

{% block title %}Business Contacts{% endblock %}

{% block body %}

    <style>
        th, td {
            width: 150px
        }
    </style>
    {% include 'business_contacts/parts/import_and_export.html.twig' %}

    {% for category in categories %}
        <h2 style="color: red">{{ category }} </h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a target="_blank" href="{{ path('business_types_index') }}">+</a>
        {% endif %}
        <br>

        <table class="table table-responsive-sm">
            <thead>
            <tr>
                {% if is_granted('ROLE_STAFF') %}
                    <th style="width: 150px; text-align: left">Status</th>
                {% endif %}
                <th style="width: 150px; text-align: left">Business Type</th>
                <th style="width: 150px; text-align: left">Company</th>
                <th style="width: 150px; text-align: left">Name</th>
                <th class="desktop" style="width: 10px; text-align: center">Website</th>
                <th class="desktop" style="width: 10px; text-align: center">Email</th>
                <th class="desktop" style="width: 10px; text-align: center">Mobile</th>
                <th class="desktop" style="width: 10px; text-align: center">Landline</th>
                <th class="desktop" style="width: 10px; text-align: center">Address</th>
                <th class="desktop" style="width: 10px; text-align: center">Location</th>
                <th style="width: 10px; text-align: center"></th>
                {% include 'business_contacts/parts/access_count_headers.html.twig' %}
            </tr>
            </thead>
            <tbody>
            {% for business_contact in business_contacts %}
                {% if business_contact.businessType.businessCategory == category %}
                    <tr>
                        {% if is_granted('ROLE_STAFF') %}
                            <td style="width: 150px; text-align: left">{{ business_contact.status }}</td>
                        {% endif %}
                        <td>{{ business_contact.businessType.businessType }}</td>
                        <td>{{ business_contact.company }}</td>
                        <td>{{ business_contact.firstName }} {{ business_contact.LastName }}</td>




                        <td class="desktop" style="text-align: center">
                            {% if business_contact.website  is not null %}
                                <a data-title="{{ business_contact.website }}" target="_blank"
                                   title="{{ business_contact.website }}"
                                   href="{{ business_contact.website }}" class="action"
                                   data-id="{{ business_contact.id }}" data-action="Website">
                                    <i class="fas fa-link"> </i></a>
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if business_contact.email is not null %}
                                <a title="{{ business_contact.email }}" href="mailto:{{ business_contact.email }}"
                                   class="action" data-id="{{ business_contact.id }}"
                                   data-action="Email"><i
                                            class="fas fa-envelope"> </i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if business_contact.mobile is not null %}
                                <a title="{{ business_contact.mobile }}" target="_blank"
                                   href="https://wa.me/{{ business_contact.mobile|replace({' ': ''}) }}"
                                   class="action"
                                   data-id="{{ business_contact.id }}"
                                   data-action="WhatsApp">
                                    <i class="fab fa-whatsapp" style="color:green; text-align: center"></i></a>
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if business_contact.landline is not null %}
                                <a title="{{ business_contact.landline }}"
                                   href="tel:{{ business_contact.landline|replace({' ': ''}) }}" class="action"
                                   data-id="{{ business_contact.id }}"
                                   data-action="Phone">
                                    <i class="fa fa-phone" style="color:green; text-align: center"></i></a>
                            {% endif %}
                        </td>
                        <td class="desktop">
                            {% if business_contact.addressStreet is not empty %}
                                {{ business_contact.addressStreet }},
                                {{ business_contact.addressCity }},
                                {{ business_contact.addressPostCode }}
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if business_contact.gpsLocation is empty %}
                                {% if is_granted('ROLE_STAFF') %}
                                    <button class="btn btn-primary btn-sm"
                                            onclick="getLocation('{{ business_contact.id }}')">
                                        Get Coordinates
                                    </button>
                                {% else %}
                                    -
                                {% endif %}
                            {% else %}
                                <a target="_blank"
                                   href="{{ path('show_location_google_maps',{id: business_contact.id}) }}"
                                   class="action" data-id="{{ business_contact.id }}"
                                   data-action="Map">
                                    <i class='fas fa-map-marker-alt text-danger'></i></a>
                            {% endif %}
                        </td>





                        <td style="text-align: center">
                            <div class="mobile">
                                <a class="btn btn-success btn-sm"
                                   href="{{ path('business_contacts_show',{id: business_contact.id}) }}">Show</a>
                            </div>
                            <div class="desktop">
                                <a href="{{ path('create_vcard', {id: business_contact.id} ) }}" class="action"
                                   data-id="{{ business_contact.id }}"
                                   data-action="VCF"> <i style="color: blue" class="fas fa-address-card mr-0"></i></a>
                            </div>
                        </td>

                        {% include 'business_contacts/parts/access_count_body.html.twig' %}

                    </tr>
                {% endif %}
            {% else %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
    {% endfor %}
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
{% block additionaljs %}
    <script>
        var businessContactId = '';

        function getLocation(id) {
            businessContactId = id;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showLocation);
            } else {
                $('#location').html('Geolocation is not supported by this browser.');
            }
        }

        function showLocation(position) {

            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var pin = latitude + "," + longitude;

            $.ajax({
                type: 'POST',
                url: 'update/user/location',
                data: 'latitude=' + latitude + '&longitude=' + longitude + '&id=' + businessContactId,
                success: function (msg) {
                    location.reload();
                }
            });
        }
    </script>
    <script>
        $('.action').click(function (e) {
            e.preventDefault();
            let elem = $(this);
            let id = $(this).attr('data-id');
            let action = $(this).attr('data-action');
            let url = '/referrals/new_from_businesscontacts/' + id + '/' + action;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (msg) {
                    //window.location.href()
                    //alert('success');
                    let goTo = elem.attr('href');
                    window.open(goTo, '_blank');
                }
            });
        })
    </script>
{% endblock %}
