{% extends '../../base.html.twig' %}

{% block title %}CV: Stephen Nurse{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6"></div>
        <div class="col-5">
            <a class="btn btn-success btn-sm d-inline desktop " href="{{ path('create_vcard_SN') }}">Contact Details (VCF)</a>
            <a target="_blank" class="btn btn-primary btn-sm"
               href="/administration/attachments/CV/CV - Stephen Nurse.docx">Download CV</a>
            {% if app.user %}
                <a class="btn btn-secondary btn-sm" href="{{ path('recruiter_email_CV') }}">Email CV</a>
            {% else %}
                <button class="btn btn-secondary btn-sm" id="show-email-popup">Email CV</button>
            {% endif %}

            <div id="popup-form-mail" class="mt-2 col-3">
                <form method="POST" class="form" action="{{ path('recruiter_email_CV') }}">
                    <div class="form-group">
                        <div class="">
                            <label for="email"><strong>Enter your Email:</strong></label>
                            <input type="text" name="email">
                            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>


            {% if is_granted('ROLE_ADMIN') %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">
                    Update CV
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Upload CV</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{{ path('update_cv') }}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" name="file" class="form-control">
                                    </div>
                                    <button class="btn btn-success">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
    <br>
    <br>

    <!--  Summary section  -->

    {% for curriculum_vitae in curriculum_vitaes %}
        {% if curriculum_vitae.section == "Summary" %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-8">
                    {{ curriculum_vitae.jobDescription|raw }}
                </div>
                <div class="col-3"></div>
            </div>
        {% endif %}
    {% endfor %}

    <br>
    <br>
    <!--  Jobs section  -->


    {% for curriculum_vitae in curriculum_vitaes %}
        {% if curriculum_vitae.section == "Job" %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-md-3">
                    {% if is_granted('ROLE_ADMIN') %}
                        <b>
                            <a target="_blank"
                               href="{{ path('curriculum_vitae_edit', {'id': curriculum_vitae.id}) }}">{{ curriculum_vitae.title }}</a>
                        </b>
                    {% else %}
                        <b> {{ curriculum_vitae.title }} </b>
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <b> {{ curriculum_vitae.date ? curriculum_vitae.date|date('Y') : '' }}
                        - {{ curriculum_vitae.dateFinish ? curriculum_vitae.dateFinish|date('Y') : '' }} </b>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-8">
                    {{ curriculum_vitae.jobDescription|raw }}
                </div>
                <div class="col-3"></div>

            </div>
            <br>
        {% endif %}

    {% endfor %}


    <br>
    <br>

    <!--  Education section  -->

    {% for curriculum_vitae in curriculum_vitaes %}
        {% if curriculum_vitae.section == "Education" %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    {{ curriculum_vitae.jobDescription|raw }}
                </div>
                <div class="col-1"></div>
            </div>
        {% endif %}
    {% endfor %}

    <br>
    <br>

    <!--  End  -->

    <!--  Old version  -->
    {#    <table class="table"> #}
    {#        <thead> #}
    {#        <tr> #}
    {#            <th>Title</th> #}
    {#            <th>Date From</th> #}
    {#            <th>Date To</th> #}
    {#            <th>Job Description</th> #}
    {#        </tr> #}
    {#        </thead> #}
    {#        <tbody> #}
    {#        {% for curriculum_vitae in curriculum_vitaes %} #}
    {#            {% if curriculum_vitae.section == "Job" %} #}
    {#                <tr> #}
    {#                    <td> #}
    {#                        {% if curriculum_vitae.title is not empty %} #}
    {#                            {{ curriculum_vitae.title }} #}
    {#                        {% else %} #}
    {#                            {{ curriculum_vitae.section }} #}
    {#                        {% endif %} #}
    {#                    </td> #}
    {#                    <td data-sort="{{ curriculum_vitae.date|date('y-m-d') }}">{{ curriculum_vitae.date ? curriculum_vitae.date|date('M-Y') : '' }}</td> #}
    {#                    <td data-sort="{{ curriculum_vitae.dateFinish|date('y-m-d') }}">{{ curriculum_vitae.dateFinish ? curriculum_vitae.dateFinish|date('M-Y') : '' }}</td> #}
    {#                    <td>{{ curriculum_vitae.jobDescription|raw }}</td> #}
    {#                </tr> #}
    {#            {% endif %} #}
    {#        {% endfor %} #}
    {#        </tbody> #}
    {#    </table>    #}



{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
    <script>

        $("#show-email-popup").click(function () {

            $("#popup-form-mail").css("display", "block");
        })


    </script>
{% endblock datatable %}