{% extends 'base.html.twig' %}

{% block title %}Curriculum Vitae Segments{% endblock %}

{% block body %}
    <h1 style="color: red">CV Segments - By applicant</h1>

    {% for candidate in candidates %}

        <h2>{{ candidate.fullName }}</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Section</th>
                <th>Title</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Job Description</th>
            </tr>
            </thead>
            <tbody>
            {% for curriculum_vitae in curriculum_vitaes %}
                {% if curriculum_vitae.candidate == candidate %}
                    <tr>
                        <td>{{ curriculum_vitae.section }}</td>
                        <td>
                            {% if curriculum_vitae.title is not empty %}
                                <a target="_blank"
                                   href="{{ path('curriculum_vitae_edit', {'id': curriculum_vitae.id}) }}">{{ curriculum_vitae.title }}</a>
                            {% else %}
                                <a target="_blank"
                                   href="{{ path('curriculum_vitae_edit', {'id': curriculum_vitae.id}) }}">{{ curriculum_vitae.section }}</a>
                            {% endif %}
                        </td>
                        <td data-sort="{{ curriculum_vitae.date|date('d-m-Y') }}">{{ curriculum_vitae.date ? curriculum_vitae.date|date('M-Y') : '' }}</td>
                        <td data-sort="{{ curriculum_vitae.dateFinish|date('d-m-Y') }}">{{ curriculum_vitae.dateFinish ? curriculum_vitae.dateFinish|date('M-Y') : '' }}</td>
                        <td>{{ curriculum_vitae.jobDescription|raw }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <br>
    <br>
    <a target="_blank" class="btn btn-success btn-sm" href="{{ path('curriculum_vitae_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'desc'], [2, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}