{% extends 'base.html.twig' %}

{% block title %}CV: {{ candidate }}{% endblock %}

{% block body %}
    <h1 style="color: red">{{ candidate }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Job Description</th>
            </tr>
        </thead>
        <tbody>
        {% for curriculum_vitae in curriculum_vitaes %}
            <tr>
                <td>
                    <a href="{{ path('curriculum_vitae_edit', {'id': curriculum_vitae.id}) }}">{{ curriculum_vitae.title }}</a>
                </td>
                <td data-sort="{{ curriculum_vitae.date|date('y-m-d') }}">{{ curriculum_vitae.date ? curriculum_vitae.date|date('M-Y') : '' }}</td>
                <td data-sort="{{ curriculum_vitae.dateFinish|date('y-m-d') }}">{{ curriculum_vitae.dateFinish ? curriculum_vitae.dateFinish|date('M-Y') : '' }}</td>
                <td>{{ curriculum_vitae.jobDescription|raw }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}