{% extends 'base.html.twig' %}

{% block title %}Referrals{% endblock %}

{% block body %}
    <h1 style="color: red">Referrals</h1>

    {% include 'referrals/parts/import_and_export.html.twig' %}

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Business Type</th>
            <th>Business</th>
            <th>Person</th>
            <th>Web/VCF/Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for referral in referrals %}
            <tr>
                <td data-sort="{{ referral.dateTime|date('Y-m-d') }}">
                    {{ referral.dateTime ? referral.dateTime|date('d-M-y') : '' }}
                </td>
                <td>
                    {{ referral.dateTime ? referral.dateTime|date('H:i') : '' }}
                </td>
                <td>
                    {% if referral.user is null %}
                        Not logged in
                    {% else %}
                        {{ referral.user.fullName }}
                    {% endif %}
                </td>
                <td>
                    {{ referral.businessSite.businessType.businessType }}
                </td>
                <td>
                    {{ referral.businessSite.company }}
                </td>
                <td>
                    {{ referral.businessSite.firstName }}
                    {{ referral.businessSite.lastName }}
                </td>
                <td style="text-align: center">
                    {{ referral.action }}
                    {% if referral.action == "Website" %}
                        <i title="Launched website" style="color: blue" class="fa fa-globe"></i>
                    {% endif %}

                    {% if referral.action == "Email" %}
                        <i title="Emailed" style="color: blue" class="fa fa-envelope"></i>
                    {% endif %}

                    {% if referral.action == "WhatsApp" %}
                        <i title="WhatsApp'ed" style="color: green" class="fab fa-whatsapp"></i>
                    {% endif %}

                    {% if referral.action == "Phone" %}
                        <i title="Called" style="color: green" class="fa fa-phone"></i>
                    {% endif %}

                    {% if referral.action == "Map" %}
                        <i title="Launched Map" style="color: red" class="fa fa-map-marker"></i>
                    {% endif %}

                    {% if referral.action == "VCF" %}
                        <i title="Downloaded VCF" style="color: blue" class="fas fa-address-card"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    <a href="{{ path('referrals_edit', {'id': referral.id}) }}">
                        <i class="fa fa-pen"></i>
                    </a>
                </td>
                <td style="text-align: center">
                    <form method="post" action="{{ path('referrals_delete', {'id': referral.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ referral.id) }}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'desc'], [1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
