{% set loc = asset('administration/img/website_pictures/')~"/"~cms_photo.photo %}

{% if cms_photo.photoOrVideo == "Video" %}
    <video class="other-page-image" controls>
        <source src="{{ loc }}" type="video/mp4">
    </video>
{% else %}
    {% if cms_photo.link is not null %}
        <a target="_blank" href="{{ cms_photo.link }}">
            <img title="{{ cms_photo.title }}" class="other-page-image"
                 src="{{ loc }}"></a>
    {% else %}
        <img title="{{ cms_photo.title }}" class="other-page-image"
             src="{{ loc }}">
    {% endif %}
{% endif %}
