{#<div class="row">#}
{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Podcasts</h2>#}
{#            <ul><a href="{{ path('podcast_directory_index' ) }}">Podcast Directory</a></ul>#}
{#            <ul><a href="{{ path('podcast_episodes_index') }}">Podcast Episodes</a></ul>#}
{#        </div>#}
{#    </div>#}

{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Mortgages</h2>#}
{#            <ul><a href="{{ path('mortgage_rates_index' ) }}">Mortgage Offers</a></ul>#}
{#            <ul><a href="{{ path('swap_rates_index') }}">Swap rates</a></ul>#}
{#            <ul><a href="{{ path('swap_rates_term_index') }}">Swap terms structure and scrape source</a></ul>#}
{#        </div>#}
{#    </div>#}


{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Investments</h2>#}
{#            <ul><a href="{{ path('investments_economic_index', {subset:'All'}) }}">Economic Summary</a></ul>#}
{#            <ul><a href="{{ path('loans_bonds_index') }}">Fixed Rate Deposits, Bonds</a></ul>#}
{#            <ul><a href="{{ path('bank_balances_index') }}">Bank Balances</a></ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Tax view</h2>#}
{#            <ul><a href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - By Asset Class'}) }}">Tax#}
{#                    Details: By Asset Class</a></ul>#}
{#            <ul><a href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - Aggregated'}) }}">Tax#}
{#                    Details: Aggregated</a></ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Market Data</h2>#}
{#            <ul><a target="_blank" href="{{ path('market_data_history_index', {subset: 'All'}) }}">Historical Shares Prices</a></ul>#}
{#            <ul><a target="_blank" href="{{ path('fx_rates_index') }}">Current FX Rates</a></ul>#}
{#            <ul><a target="_blank" href="{{ path('fx_rates_history_index') }}">Historical FX Rates</a></ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<br><hr><br>#}

{#<div class="row">#}
{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">SetUp</h2>#}
{#            <ul>#}
{#                <a href="{{ path('asset_classes_index') }}">Asset Classes</a>#}
{#            </ul>#}
{#            <ul>#}
{#                <a href="{{ path('tax_schemes_index') }}">Tax Schemes</a>#}
{#            </ul>#}
{#            <ul>#}
{#                <a href="{{ path('tax_year_index') }}">Tax Years & Bands</a>#}
{#            </ul>#}
{#            <ul>#}
{#                <a href="{{ path('bank_accounts_index') }}">Bank Accounts</a>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">Admin</h2>#}
{#            <ul><a href="{{ path('useful_links_index', {'category':'All'}) }}">Helpful links</a></ul>#}

{#            <ul><a href="{{ path('/admin/fileattachments/index') }}">Helpful files</a></ul>#}
{#        </div>#}
{#    </div>#}

{#    <div class="col-12 col-md-2">#}
{#        <div class="border py-2">#}
{#            <h2 style="color: red">SetUp</h2>#}
{#            <ul>#}
{#                <a target="_blank" href="{{ path('weather_index') }}">Weather</a>#}
{#            </ul>#}
{#            <ul>#}
{#                <a target="_blank" href="{{ path('settings_index') }}">Settings</a>#}
{#            </ul>#}

{#        </div>#}
{#    </div>#}
{#</div>#}