{#<!-- Nav Item #3 - Photos -->#}
{#{% if is_granted('ROLE_GUEST') %}#}
{#    <li class="nav-item dropdown">#}
{#        <a class="dropdown-item" href="{{ path('photos_index') }}">Photos</a>#}
{#    </li>#}
{#{% endif %}#}


{#<!-- Nav Item #4 - Come Visit -->#}

{#<li class="nav-item dropdown">#}
{#    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#        Cyprus#}
{#    </a>#}
{#    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#        <a class="dropdown-item"#}
{#           href="{{ path('house_guests_index', {subset:'Active'}) }}">Flights</a>#}
{#        <a class="dropdown-item" href="{{ path('useful_links_index', {'category':'All'}) }}">Helpful#}
{#            links</a>#}
{#        {% if is_granted('ROLE_GUEST') %}#}
{#            <a class="dropdown-item"#}
{#               href="{{ path('product_display', { product: 'Coming to Cyprus'}) }}">Coming To#}
{#                Cyprus</a>#}
{#            <a class="dropdown-item"#}
{#               href="{{ path('product_display', { product: 'What To Bring'}) }}">What To Bring</a>#}
{#            <hr>#}
{#            <a class="dropdown-item"#}
{#               href="{{ path('tourist_attraction_index', {type:'All'}) }}">Tourist#}
{#                attractions</a>#}

{#            <a class="dropdown-item" href="{{ path('garmin_files_index') }}">Garmin Files#}
{#                <span style="color: red">*</span></a>#}
{#            <hr>#}
{#            <a class="dropdown-item" href="{{ path('wine_list_index') }}">Wine List#}
{#                <span style="color: red">*</span></a>#}
{#        {% endif %}#}
{#    </div>#}
{#</li>#}


