{#<!-- Nav Item #6 - CV -->#}
{#<li class="nav-item dropdown">#}
{#    <a href="{{ path('curriculum_vitae' ) }}">CV</a>#}
{#</li>#}


{#<!-- Nav Item #7 - SN Admin -->#}
{#{% if is_granted('ROLE_IT') %}#}
{#    <li class="nav-item dropdown">#}
{#        <a style="color: red !important" class="nav-link dropdown-toggle" href="#"#}
{#           id="navbarDropdown" role="button"#}
{#           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            Admin#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#            {% if is_granted('ROLE_IT') %}#}
{#                <a class="dropdown-item"#}
{#                   href="{{ path('to_do_list_index', {status:'Pending',project:'All'}) }}">#}
{#                    To Do List</a>#}
{#            {% endif %}#}
{#            <hr>#}
{#            <a class="dropdown-item" href="{{ path('useful_links_index', {'category':'All'}) }}">Helpful#}
{#                links</a>#}
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#                <a class="dropdown-item" href="{{ path('/admin/fileattachments/index') }}">Helpful#}
{#                    files</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </li>#}
{#{% endif %}#}


{#<!-- Nav Item #8 - Investments -->#}
{#{% if is_granted('ROLE_ACCOUNTANT') %}#}
{#    <li class="nav-item dropdown">#}
{#        <a style="color: red !important" class="nav-link dropdown-toggle" href="#"#}
{#           id="navbarDropdown" role="button"#}
{#           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Investments</a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#            <a class="dropdown-item"#}
{#               href="{{ path('investments_economic_index', {'subset': 'Active'}) }}">Investments</a>#}
{#            <hr>#}
{#            <a class="dropdown-item" href="{{ path('tax_supporting_docs_index') }}">Supporting#}
{#                Tax#}
{#                Docs</a>#}
{#            <a class="dropdown-item" href="{{ path('investment_future_comms_index') }}">Investment#}
{#                Docs</a>#}
{#            <hr>#}
{#            <a class="dropdown-item" href="{{ path('jpm_ic_history_index') }}">IC Record</a>#}
{#        </div>#}
{#    </li>#}
{#{% endif %}#}

{#<!-- Nav Item #9 - Tax -->#}
{#{% if is_granted('ROLE_ACCOUNTANT') %}#}
{#    <li class="nav-item dropdown">#}
{#        <a style="color: red !important" class="nav-link dropdown-toggle" href="#"#}
{#           id="navbarDropdown" role="button"#}
{#           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tax</a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}

{#            <a class="dropdown-item" target="_blank"#}
{#               href="{{ path('investments_tax_consequences',{'show': 'TaxEffect'}) }}">Tax#}
{#                summary -#}
{#                Investments</a>#}
{#            <a class="dropdown-item" target="_blank"#}
{#               href="{{ path('tax_inputs_overview_index') }}">Tax#}
{#                summary - Self-Assessment</a>#}
{#            <hr>#}
{#            <a class="dropdown-item" href="{{ path('tax_inputs_index') }}">Employment Income</a>#}
{#        </div>#}
{#    </li>#}
{#{% endif %}#}



