{% extends 'base.html.twig' %}

{% block title %}Edit: CMS Copy Page Format: {{ cms_copy_page_format.name }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: {{ cms_copy_page_format.name}}</h1>

    {{ include('CmsCopyPageFormats/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_page_formats_index') }}">Return to list</a>

    {{ include('CmsCopyPageFormats/_delete_form.html.twig') }}
{% endblock %}
