<button class="btn btn-primary btn-sm" onclick="getLocation()">Get Current Co-ordinates</button>
{{ form_start(form) }}

<div class="row">
    <div class="col-md-2">
        <h3><b>Name</b></h3>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.full_name) }}
        {{ form_row(form.company) }}
        {{ form_row(form.type) }}

        <strong style="color: blue">
            {% if tourist_attraction.photo is not null %}
                {{ tourist_attraction.photo }}
            {% endif %}
        </strong>
        <br>
        {% if tourist_attraction.photo is not empty %}
            <a class="btn btn-sm btn-danger"
               href="{{ path('tourist_attraction_delete_photo', {'id': tourist_attraction.id }) }} ">Delete photo</a>
        {% endif %}

        {{ form_row(form.photo) }}
    </div>

    <div class="col-md-3">
        <h3><b>Address</b></h3>
        {{ form_row(form.businessStreet) }}
        {{ form_row(form.businessCity) }}
        {{ form_row(form.businessPostCode) }}
        {{ form_row(form.country) }}
        {{ form_row(form.gpsLocation) }}
        <br>

    </div>
    <div class="col-md-2">
        <h3><b>Phone</b></h3>
        {{ form_row(form.mobile) }}
        {{ form_row(form.businessPhone) }}
    </div>

    <div class="col-md-2">
        <h3><b>Contact details</b></h3>
        {{ form_row(form.email) }}
        {{ form_row(form.email2) }}
        {{ form_row(form.webPage) }}
        {{ form_row(form.notes) }}
    </div>

</div>
<hr>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block additionaljs %}
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showLocation);
            } else {
                $('#tourist_attraction_gpsLocation').html('Geolocation is not supported by this browser.');
            }
        }

        function showLocation(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var pin = latitude + "," + longitude;
            $("#tourist_attraction_gpsLocation").val(pin).change();
        }
    </script>
{% endblock %}
