{% extends 'base.html.twig' %}

{% block title %}Tourist Attractions{% endblock %}

{% block body %}
    <h1 style="color: red">Tourist Attractions</h1>
    <div class="row">
        <div class="col-4">
            {% if is_granted('ROLE_GUEST') %}
                <a class="btn btn-success btn-sm" href="{{ path('tourist_attraction_new') }}">+</a>
                <a class="btn btn btn-secondary btn-sm desktop" href="{{ path('tourist_attraction_index_by_place') }}">By
                    Place</a>
            {% endif %}
        </div>

        <div class="col-4">
        </div>
        <div class="col-4">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-primary btn-sm desktop" href="{{ path('cyprusTouristAttractionImport') }}">Import from
                    Outlook (Tourist Attractions Only)</a>
                <a class="btn btn-danger btn-sm desktop" href="{{ path('tourist_attraction_delete_all') }}">Delete All</a>
            {% endif %}
            {#            <a target="_blank" class="btn btn-outline-danger btn-sm" href="{{ path('') }}">Export To CSV</a> #}
        </div>
    </div>
    <hr>

    {% for type in types %}
        <h2 style="color: red"> {{ type }}</h2>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="desktop">Photo*</th>
                <th style="width: 100px">Name</th>
                <th><i class="fa fa-envelope"></i></th>
                <th class="desktop"><i class="fa fa-envelope" 2></i>*</th>
                <th><i class="fa fa-phone"></i></th>
                <th><i class="fa fa-mobile"></i></th>
                <th><i class="fa fa-link"></i></th>
                <th class="desktop"><i class="fa fa-city"></i>*</th>
                <th><i style="color: red" class="fa fa-map-marker"></i></th>
                <th><i style="color: blue" class="fa fa-info-circle"></i></th>
                <th class="desktop">Notes*</th>
                <th class="desktop">VCF*</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="desktop" style="color: red">Delete*</th>
                    <th class="desktop" style="color: red">Country*</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for tourist_attraction in tourist_attractions %}
                {% if type == tourist_attraction.type %}
                    <tr>
                        <td class="desktop">
                            {% if tourist_attraction.photo is not null %}
                                {% set loc = asset('administration/attachments/touristattractionphotos')~"/"~tourist_attraction.photo %}
                                <a class="btn btn-outline-danger btn-sm" target="_blank"
                                   href="{{ path('touristattraction_view_photo', {'id': tourist_attraction.id}) }}">
                                    <img height="50" width="50" src="{{ loc }}" class="rounded-circle"></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a target="_blank"
                                   href="{{ path('tourist_attraction_edit', {'id': tourist_attraction.id}) }}">{{ tourist_attraction.fullName }}</a>
                            {% else %}
                                {{ tourist_attraction.fullName }}
                            {% endif %}
                        </td>
                        <td>
                            {% if tourist_attraction.email is not empty %}
                                <a title="{{ tourist_attraction.email }}" href="mailto:{{ tourist_attraction.email }}">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="desktop">>
                            {% if tourist_attraction.email2 is not empty %}
                                <a title="{{ tourist_attraction.email2 }}"
                                   href="mailto:{{ tourist_attraction.email2 }}">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a title="{{ tourist_attraction.businessPhone }}"
                               href="tel:{{ tourist_attraction.businessPhone|replace({' ': ''}) }}"><i
                                        class="fas fa-phone mr-3"></i></a>
                        </td>
                        <td>
                            <a title=" {{ tourist_attraction.mobile }}" target="_blank"
                               href="https://wa.me/{{ tourist_attraction.mobile|replace({' ': ''}) }}">
                                <i class="fab fa-whatsapp mr-3" style="color:green; text-align: center"></i></a>
                        </td>
                        <td style="text-align: center">
                            {% if tourist_attraction.webPage is not empty %}
                                {% if tourist_attraction.webPage starts with 'http' %}
                                    {% set web = tourist_attraction.webPage %}
                                {% else %}
                                    {% set web = 'https://'~tourist_attraction.webPage %}
                                {% endif %}
                                <a target="_blank" title="{{ tourist_attraction.webPage }}" href="{{ web }}">
                                    <i class="fa fa-globe"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if tourist_attraction.businessStreet is not empty %}
                                <i class="fa fa-home"
                                   title="{{ tourist_attraction.businessStreet }}, {{ tourist_attraction.BusinessCity }}, {{ tourist_attraction.BusinessPostCode }}"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if tourist_attraction.gpsLocation is not empty %}
                                <a target="_blank"
                                   href="{{ path('show_location_google_maps',{pin:tourist_attraction.gpsLocation}) }}">
                                    <i class='fas fa-map-marker-alt text-danger'></i></a>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                                <a target="_blank"
                                   href="{{ path('tourist_attraction_show',{id:tourist_attraction.id}) }}">
                                    <i style="color: blue" class='fas fa-info-circle'></i></a>

                        </td>
                        <td class="desktop" style="text-align: center">
                            {% if tourist_attraction.notes is not null %}
                                <i style="color: blue" title="{{ tourist_attraction.notes }}"
                                   class="fa fa-info-circle"></i>
                            {% endif %}
                        </td>
                        <td class="desktop" style="text-align: center">
                            <a class="btn btn-outline-info btn-sm"
                               href="{{ path('create_vcard_user_ta',{'touristattractionid': tourist_attraction.id}) }}"><i
                                        style="font-size: 15px; color: blue" class="fas fa-credit-card"></i></a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="desktop" style="color: red ;text-align: center">
                                <form method="post"
                                      action="{{ path('tourist_attraction_delete', {'id': tourist_attraction.id}) }}">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ tourist_attraction.id) }}">
                                    <button class="btn btn-danger btn-sm">
                                        <i style="font-size: 15px" class="fas fa-trash "></i>
                                    </button>
                                </form>
                            </td>
                            <td class="desktop">
                                {% if tourist_attraction.country is not null %}
                                    {{ tourist_attraction.country.country }}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <hr>
        <br>
    {% endfor %}




    <h2 style="color: red"> Other (update)</h2>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th class="Desktop">Photo</th>
            <th style="width: 100px">Name</th>
            <th><i class="fa fa-envelope"></i></th>
            <th class="Desktop"><i class="fa fa-envelope" 2></i></th>
            <th><i class="fa fa-phone"></i></th>
            <th><i class="fa fa-mobile"></i></th>
            <th><i class="fa fa-link"></i></th>
            <th class="Desktop"><i class="fa fa-city"></i></th>
            <th><i class="fa fa-map "></i></th>
            <th class="Desktop">Notes</th>
            <th class="Desktop">VCF</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th style="color: red">Delete</th>
                <th style="color: red">Country</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for tourist_attraction in tourist_attractions %}
            {% if tourist_attraction.type not in types %}
                <tr>
                    <td class="Desktop">
                        {% if tourist_attraction.photo is not null %}
                            {% set loc = asset('administration/attachments/touristattractionphotos')~"/"~tourist_attraction.photo %}
                            <a class="btn btn-outline-danger btn-sm" target="_blank"
                               href="{{ path('touristattraction_view_photo', {'id': tourist_attraction.id}) }}">
                                <img height="50" width="50" src="{{ loc }}" class="rounded-circle"></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a target="_blank"
                               href="{{ path('tourist_attraction_edit', {'id': tourist_attraction.id}) }}">{{ tourist_attraction.fullName }}</a>
                        {% else %}
                            {{ tourist_attraction.fullName }}
                        {% endif %}
                    </td>
                    <td>
                        {% if tourist_attraction.email is not empty %}
                            <a title="{{ tourist_attraction.email }}" href="mailto:{{ tourist_attraction.email }}">
                                <i class="fa fa-envelope"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="Desktop">>
                        {% if tourist_attraction.email2 is not empty %}
                            <a title="{{ tourist_attraction.email2 }}"
                               href="mailto:{{ tourist_attraction.email2 }}">
                                <i class="fa fa-envelope"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a title="{{ tourist_attraction.businessPhone }}"
                           href="tel:{{ tourist_attraction.businessPhone|replace({' ': ''}) }}"><i
                                    class="fas fa-phone mr-3"></i></a>
                    </td>
                    <td>
                        <a title=" {{ tourist_attraction.mobile }}" target="_blank"
                           href="https://wa.me/{{ tourist_attraction.mobile|replace({' ': ''}) }}">
                            <i class="fab fa-whatsapp mr-3" style="color:green; text-align: center"></i></a>
                    </td>
                    <td style="text-align: center">
                        {% if tourist_attraction.webPage is not empty %}
                            {% if tourist_attraction.webPage starts with 'http' %}
                                {% set web = tourist_attraction.webPage %}
                            {% else %}
                                {% set web = 'https://'~tourist_attraction.webPage %}
                            {% endif %}
                            <a target="_blank" title="{{ tourist_attraction.webPage }}" href="{{ web }}">
                                <i class="fa fa-globe"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td class="Desktop" style="text-align: center">
                        {% if tourist_attraction.businessStreet is not empty %}
                            <i class="fa fa-homw"
                               title="{{ tourist_attraction.businessStreet }}, {{ tourist_attraction.BusinessCity }}, {{ tourist_attraction.BusinessPostCode }}"></i>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        {% if tourist_attraction.gpsLocation is not empty %}
                            <a target="_blank"
                               href="{{ path('show_location_google_maps',{pin:tourist_attraction.gpsLocation}) }}">
                                <i class='fas fa-map-marker-alt text-danger'></i></a>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if tourist_attraction.notes is not null %}
                            <i style="color: blue" title="{{ tourist_attraction.notes }}"
                               class="fa fa-info-circle"></i>
                        {% endif %}
                    </td>
                    <td style="text-align: center">
                        <a class="btn btn-outline-info btn-sm"
                           href="{{ path('create_vcard_user_ta',{'touristattractionid': tourist_attraction.id}) }}"><i
                                    style="font-size: 15px; color: blue" class="fas fa-credit-card"></i></a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td style="color: red ;text-align: center">
                            <form method="post"
                                  action="{{ path('tourist_attraction_delete', {'id': tourist_attraction.id}) }}">
                                <input type="hidden" name="_token"
                                       value="{{ csrf_token('delete' ~ tourist_attraction.id) }}">
                                <button class="btn btn-danger btn-sm">
                                    <i style="font-size: 15px" class="fas fa-trash "></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            {% if tourist_attraction.country is not null %}
                                {{ tourist_attraction.country.country }}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>











{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
