{% extends '../../base.html.twig' %}

{% block title %}{{ tourist_attraction.fullName }}{% endblock %}

{% block body %}
    <h1 style="color: red">{{ tourist_attraction.fullName }}</h1>

    <table class="table table-responsive">
        <tbody>
        {% if tourist_attraction.photo is not empty %}
            <tr>
                <th>Photo</th>
                <td>
                    {% set loc = asset('administration/attachments/TouristAttractionPhotos/')~"/"~tourist_attraction.photo %}
                    <img height="50" width="50" src="{{ loc }}" class="rounded-circle test">
                </td>
            </tr>
        {% endif %}

        <tr>
            <th>Name</th>
            <td>{{ tourist_attraction.fullName }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>
                {% if tourist_attraction.email is not empty %}
                    <a href="mailto:{{ tourist_attraction.email }}">
                        <i class="fa fa-envelope"></i>
                        {{ tourist_attraction.email }}
                    </a>
                {% endif %}

                {% if tourist_attraction.email2 is not empty %}
                    <br>
                    <a href="mailto:{{ tourist_attraction.email2 }}">
                        <i class="fa fa-envelope"></i>
                        {{ tourist_attraction.email2 }}
                    </a>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>Phone</th>
            <td>
                <a title="{{ tourist_attraction.businessPhone }}"
                   href="tel:{{ tourist_attraction.businessPhone|replace({' ': ''}) }}"><i
                            class="fas fa-phone mr-3"></i></a>
                {{ tourist_attraction.businessPhone }}
            </td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>
                <a title=" {{ tourist_attraction.mobile }}" target="_blank"
                   href="https://wa.me/{{ tourist_attraction.mobile|replace({' ': ''}) }}">
                    <i class="fab fa-whatsapp mr-3" style="color:green; text-align: center"></i></a>
                {{ tourist_attraction.mobile }}
            </td>
        </tr>
        <tr>
            <th>WebPage</th>
            <td>
                {% if tourist_attraction.webPage is not empty %}
                    {% if tourist_attraction.webPage starts with 'http' %}
                        {% set web = tourist_attraction.webPage %}
                    {% else %}
                        {% set web = 'https://'~tourist_attraction.webPage %}
                    {% endif %}
                    <a target="_blank" title="{{ tourist_attraction.webPage }}" href="{{ web }}">
                        <i class="fa fa-globe"></i>
                    </a>
                    {{ tourist_attraction.webPage }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>
                {{ tourist_attraction.notes }}
            </td>
        </tr>

        <tr>
            <th>Address</th>
            <td>{{ tourist_attraction.businessStreet }}, {{ tourist_attraction.BusinessCity }}
                {{ tourist_attraction.BusinessPostCode }} <br>
                {% if tourist_attraction.gpsLocation is not empty %}
                    <a target="_blank"
                       href="{{ path('show_location_google_maps',{pin:tourist_attraction.gpsLocation}) }}">
                        <i class='fas fa-map-marker-alt text-danger'></i></a>
                {% else %}
                    <button class="btn btn-primary btn-sm save-location" data-id="{{ tourist_attraction.id }}">
                        <i class="fa fa-download"></i>
                    </button>
                {% endif %}
            </td>
        </tr>

        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tourist_attraction_index', {type:'All'}) }}">Return to
        list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-danger btn-sm mt-2"
           href="{{ path('tourist_attraction_edit', {'id': tourist_attraction.id}) }}">Edit</a>
        {{ include('tourist_attraction/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
