{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_row(form.date) }}
        {{ form_row(form.flightFrom) }}
        {{ form_row(form.flightTo) }}
        {{ form_row(form.lowestPrice) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
