{% extends 'base.html.twig' %}

{% block title %}TennisPlayers index{% endblock %}

{% block body %}
    <h1 style="color: red">Tennis Players index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email1</th>
                <th>Email2</th>
                <th>Mobile</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>
        {% for tennis_player in tennis_players %}
            <tr>
                <td><a href="{{ path('tennis_players_edit', {'id': tennis_player.id}) }}">{{ tennis_player.name }}</a</td>
                <td>{{ tennis_player.email1 }}</td>
                <td>{{ tennis_player.email2 }}</td>
                <td>{{ tennis_player.mobile }}</td>
                <td>{{ tennis_player.rank }}</td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('tennis_players_new') }}">New</a>
{% endblock %}
