<style>
    .ck-content {
        height: 520px;
    }
</style>
{{ form_start(form) }}

<div class="row">
    <div class="col-md-2">
        {{ form_row(form.project) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.priority) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.hoursAllocated) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.needsResearch) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.immediatePriority) }}
    </div>
    <div class="col-md-2">

        {% if to_do_list_item.attachment is not empty %}
            <b>File:</b>  {{ to_do_list_item.attachment }}<br>
            <a class="btn btn-danger btn-sm"
               href="{{ path('to_do_list_item_delete_attachment', {'id': to_do_list_item.id }) }} ">Delete
                attachments</a>
        {% endif %}
        {% if to_do_list_item.attachment is null %}
            {{ form_row(form.attachment) }}
        {% endif %}

    </div>

</div>

<div class="row">
    <div class="col-md-10">
        {{ form_row(form.task) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


