<style>
    .ck-content{
        height: 520px;
    }
</style>
{{ form_start(form) }}

<div class="row">
    <div class="col-md-2">
        {{ form_row(form.project) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.priority) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.status) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.hoursAllocated) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.needsResearch) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.immediatePriority) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.attachment) }}
    </div>

</div>

<div class="row">
    <div class="col-md-10">
        {{ form_row(form.task) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


