<style>
    .ck-content{
        height: 500px;
    }
</style>
{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.project) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.priority) }}
    </div>
    <div class="col-md-1">
        {{ form_row(form.status) }}
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        {{ form_row(form.task) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


