{% extends 'base.html.twig' %}

{% block title %}Project item: {{to_do_list_item.project.project  }}{% endblock %}

{% block body %}
    <h1 style="color: red">Project item: {{to_do_list_item.project.project }}</h1>

    {{ include('to_do_list_items/_form.html.twig', {'button_label': 'Save'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('to_do_list_items_index') }}">Return to list</a>

    {{ include('to_do_list_items/_delete_form.html.twig') }}
{% endblock %}
