{% extends '../../base.html.twig' %}

{% block title %}ToDoListItems{% endblock %}

{% block body %}
    <h1>ToDoListItems</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ to_do_list_item.id }}</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>{{ to_do_list_item.task }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ to_do_list_item.status }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ to_do_list_item.priority }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('to_do_list_items_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('to_do_list_items_edit', {'id': to_do_list_item.id}) }}">Edit</a>

    {{ include('to_do_list_items/_delete_form.html.twig') }}
{% endblock %}
