{% extends '../../base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1 style="color: red">Country</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ country.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ country.country }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary btn-sm mt-2" href="{{ path('country_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm mt-2" href="{{ path('country_edit', {'id': country.id}) }}">Edit</a>

    {{ include('country/_delete_form.html.twig') }}
{% endblock %}
