{% extends 'base.html.twig' %}

{% block title %}Sub Pages - CMS{% endblock %}

{% block body %}
    <h1 style="color: red">Sub Pages - CMS</h1>

    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>Product</th>
            <th>Rank</th>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>#</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for sub_page in sub_pages %}
            <tr>
                <td>
                    {{ sub_page.product.product }}
                </td>
                <td style="text-align: right">
                    {{ sub_page.ranking}}
                </td>
                <td style="text-align: left">
                    {{ sub_page.title }}
                </td>
                <td style="text-align: left">
                    {{ sub_page.content|striptags }}...
                </td>
                <td style="text-align: right">
                    {{ sub_page.image }}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('sub_page_edit', {'id': sub_page.id}) }}">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ path('sub_page_delete', {'id': sub_page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_page.id) }}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a target="_blank" class="btn btn-success btn-sm" href="{{ path('sub_page_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
