<div class="row">
    <div class="transaction-show">
        <table class="table">
            <thead>
            <tr>
                {% include 'template_parts/status_parts/review_buttons/headers.html.twig' %}
                <th>Patient</th>
                <th>Date</th>
                <th>Relevant Conditions</th>
                <th style="text-align: center">Scan</th>
            </tr>
            </thead>
            <tbody>
            {% for medical in medicals %}
                <tr>
                    {% include 'template_parts/status_parts/review_buttons/review_body.html.twig' %}
                    <td><a href="{{ path('medical_edit', {'id': medical.id}) }}">{{ medical.patient.fullName }}</a></td>
                    <td data-sort="{{ medical.date ? medical.date|date('Y-m-d') : '' }}">{{ medical.date ? medical.date|date('d-M-Y') : '' }}</td>
                    <td>{{ medical.relevantConditions }}</td>
                    <td style="text-align: center;width: 150px">
                        {% if medical.file  is not empty %}
                            <a title="{{ medical.file }}" target="_blank"
                               href="{{ path('attachments_viewfile',{id : medical.id, filename: "Medical"}) }}"><i
                                        class="fa fa-paperclip"></i></a>
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


</div>
