<!-- BEGIN .footer -->
<footer class="footer fixed-bottom" style="background: #F6F8FC">
    <section id="footertop" class="py-5">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="">
                        <div id="zoom-social-icons-widget-2" class=" widget clearfix zoom-social-icons-widget">

                            <a href="https://www.linkedin.com/in/{{ StaticText.content.linkedIn }}/" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-linkedin"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : #0077B5; font-size: 16px; padding:6px"><i class="fa fa-linkedin"
                                                                                               style="font-size:24px"></i></span></a>

                            <a target="_blank"
                               href="https://find-and-update.company-information.service.gov.uk/officers/{{ StaticText.content.companiesHouseLink }}/appointments">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-ch rounded border"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : black; background-color: black; font-size: 16px; padding:6px"><img
                                            src="{{ asset('administration/img/companieshouse4.png') }}"
                                            style="height: 28px; width: 24px;color: white"></span></a>

{#                            <a href="https://github.com/{{ StaticText.content.github }}" target="_blank">#}
{#                                <span class="zoom-social_icons-list-span social-icon socicon socicon-github"#}
{#                                      data-hover-rule="color" data-hover-color="#dd3333"#}
{#                                      style="color : black; font-size: 16px; padding:6px"><i class="fa fa-github" style="font-size:24px"></i></span></a>#}

{#                            <a href="https://facebook.com/{{ StaticText.content.facebookLink }}" target="_blank">#}
{#                                <span class="zoom-social_icons-list-span social-icon socicon socicon-facebook"#}
{#                                      data-hover-rule="color" data-hover-color="#dd3333"#}
{#                                      style="color : #1877F2; font-size: 16px; padding:6px"><i#}
{#                                            class="fa fa-facebook-square" style="font-size:24px"></i> </span></a>#}

{#                            <a href="https://twitter.com/{{ StaticText.content.twitter }}" target="_blank">#}
{#                                <span class="zoom-social_icons-list-span social-icon socicon socicon-twitter"#}
{#                                      data-hover-rule="color" data-hover-color="#dd3333"#}
{#                                      style="color : #1da1f2; font-size: 16px; padding:6px"><i class="fa fa-twitter"#}
{#                                                                                               style="font-size:24px"></i></span></a>#}
                        </div>
                    </div>
                </div>

{#                <div class="col-md-4">#}
{#                    <div>#}
{#                        <div class="widget_text chw-widget">#}
{#                            <div class="textwidget custom-html-widget">#}
{#                                <div>#}
{#                                    <p>Contact info</p>#}
{#                                    <hr>#}
{#                                    <p>#}
{#                                        <a target="_blank"#}
{#                                           href={{ StaticText.content.gpsCoordinates }}>{{ StaticText.content.address }}</a>#}
{#                                    </p>#}

{#                                    <p>#}
{#                                        <a href="mailto:{{ StaticText.content.emailAddress }}"><i class="fa fa-envelope"#}
{#                                                                                                  style="color:black;font-size:16px"></i></a>#}
{#                                        <a target="_blank"#}
{#                                           href="https://wa.me/{{ StaticText.content.mobileNumber | replace({' ': ''}) }}">#}
{#                                            <i style="color: #0f6848" class="fa fa-whatsapp"></i></a>#}
{#                                        <a href="skype:{{ StaticText.content.skype }}?call"><i style="color: royalblue"#}
{#                                                                                               class="fa fa-skype"></i></a>#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}



            </div>


    </section>
    <!-- Bottom footer ended -->


    <!-- END .footer-inner -->
    </div>


    <!-- END .footer -->
</footer>