<footer class="footer fixed-bottom" style="background: #F6F8FC">
    <section id="footertop" class="py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="">
                        <div id="zoom-social-icons-widget-2" class=" widget clearfix zoom-social-icons-widget">
                            <a href="https://www.linkedin.com/in/{{ StaticText.content.linkedIn }}/" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-linkedin"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : #0077B5; font-size: 16px; padding:6px"><i class="fa fa-linkedin"
                                                                           style="font-size:24px"></i></span></a>

                            <a target="_blank"
                               href="https://find-and-update.company-information.service.gov.uk/officers/{{ StaticText.content.companiesHouseLink }}/appointments">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-ch rounded border"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : black; background-color: black; font-size: 16px; padding:6px"><img
                                            src="{{ asset('administration/img/companieshouse4.png') }}"
                                            style="height: 28px; width: 24px;color: white"></span></a>

                            <a href="https://github.com/{{ StaticText.content.github }}" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-github"
                                      data-hover-rule="color" data-hover-color="#dd3333"
                                      style="color : black; font-size: 16px; padding:6px"><i class="fa fa-github"
                                                                                             style="font-size:24px"></i></span></a>

                            <a href="https://facebook.com/{{ StaticText.content.facebookLink }}" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-facebook"
                                      data-hover-rule="color" data-hover-color="#dd3333"
                                      style="color : #1877F2; font-size: 16px; padding:6px"><i
                                            class="fa fa-facebook-square" style="font-size:24px"></i> </span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>