<footer class="footer fixed-bottom" style="background: #F6F8FC">
    <section id="footertop" class="py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="">

                        <div id="zoom-social-icons-widget-2" class=" widget clearfix zoom-social-icons-widget">
                            <a target="_blank"
                               class="btn btn-primary btn-floating m-1 footer-social-icon-ln"
                               data-hover-rule="color" data-hover-color="#dd3333"
                               style="color : #1da1f2; font-size: 16px; padding:6px; background-color: #0082ca"
                               href="{{ StaticText.content.linkedIn }}"
                               role="button">
                                <i class="fab fa-linkedin-in text-light"></i></a>

{#                            <a target="_blank"#}
{#                               class="btn btn-primary btn-floating m-1 footer-social-icon-fb"#}
{#                               data-hover-rule="color" data-hover-color="#dd3333"#}
{#                               style="color : white; font-size: 16px; padding:6px;background-color: white; height: 28px; width: 24px;"#}
{#                               href="https://find-and-update.company-information.service.gov.uk/officers/{{ StaticText.content.companiesHouseLink }}/appointments"#}
{#                               role="button">#}
{#                                <img src="{{ asset('administration/img/companieshouse.jpeg') }}">#}
{#                            </a>#}

{#                            <a target="_blank"#}
{#                               class="btn btn-primary btn-floating m-1 footer-social-icon-fb"#}
{#                               data-hover-rule="color" data-hover-color="#dd3333"#}
{#                               style="color : #1877F2; font-size: 16px; padding:6px;background-color: #3b5998"#}
{#                               href="{{ StaticText.content.github }}"#}
{#                               role="button">#}
{#                                <i class="fab fa-github text-light"></i>#}
{#                            </a>#}

                            <a target="_blank"
                               class="btn btn-primary btn-floating m-1 footer-social-icon-fb"
                               data-hover-rule="color" data-hover-color="#dd3333"
                               style="color : #1877F2; font-size: 16px; padding:6px;background-color: #3b5998"
                               href="{{ StaticText.content.facebookLink }}"
                               role="button">
                                <i class="fab fa-facebook-f text-light"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>