<!--Start Header Section -->
<header id="top-header" class="clearfix">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand" href="{{ path('app_home') }}">Stephen Nurse</a>
            </div>

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse  main-menu navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item #1 - Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="{{ path('dashboard') }}"><i
                                        class="fa fa-chalkboard"></i></a>
                        </li>
                    {% endif %}

                    <!-- Nav Item #2 - Interests -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Interests
                        </a>
                        {% if app.user %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% set webPages = WebPages.getWebPagesInterestsAll %}
                                {% for webPage in webPages %}
                                    <a class="dropdown-item" target="_blank"
                                       href="{{ path('interests_pages', {interest:webPage.name }) }}">
                                        {{ webPage.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% set webPages = WebPages.getWebPagesInterestsPublic %}
                                {% for webPage in webPages %}
                                    <a class="dropdown-item" target="_blank"
                                       href="{{ path('interests_pages', {interest:webPage.name }) }}">
                                        {{ webPage.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>


                    <!-- Nav Item #3 - Photos -->
                    {% if is_granted('ROLE_GUEST') or is_granted('ROLE_FAMILY') %}
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" href="{{ path('photos_index') }}">Photos</a>
                        </li>
                    {% endif %}

                    <!-- Nav Item #4 - Come Visit -->
                    {% if is_granted('ROLE_GUEST') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cyprus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('house_guests_index', {subset:'Active'}) }}">House
                                    Guest</a>
                                <a class="dropdown-item"
                                   href="{{ path('interests_pages', {interest: 'What To Bring'}) }}">What To Bring</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('tourist_attraction_index', {type:'All'}) }}">Tourist
                                    attractions</a>
                                <a class="dropdown-item" href="{{ path('garmin_files_index') }}">Garmin Files</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('wine_list_index') }}">Wine List</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #5 - CV -->
                    <li class="nav-item dropdown">
                        <a href="{{ path('curriculum_vitae' ) }}">CV</a>
                    </li>

                    <!-- Nav Item #6 - Contact -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a title={{ StaticText.content.emailAddress }} class="dropdown-item"
                               href="mailto:{{ StaticText.content.emailAddress }}">
                                <span style="color: blue;">@</span> {{ StaticText.content.emailAddress }}
                            </a>
                            <a class="dropdown-item" title="{{ StaticText.content.mobileNumber }}"
                               href="https://wa.me/{{ StaticText.content.mobileNumber | replace({' ': ''}) }}">
                                <i style="color: #0f6848"
                                   class="fab fa-whatsapp"></i> {{ StaticText.content.mobileNumber }}</a>
                            <a class="dropdown-item" title={{ StaticText.content.skype }}
                            href="skype:{{ StaticText.content.skype }}?call"><i style="color: royalblue"
                                                                                class="fab fa-skype"></i> {{ StaticText.content.skype }}
                            </a>
                            {% if app.user %}
                                <a target="_blank" title="{{ StaticText.content.address }} "
                                   href="{{ path('/homeaddress') }}"> <i style="color: royalblue"
                                                                         class="fa fa-car"></i> {{ StaticText.content.address }}
                                </a>
                            {% endif %}
                            <a class="dropdown-item" title="Contact details"
                               href="{{ path('create_vcard_SN') }}">
                               <i class="fa fa-credit-card"></i> Business Card
                            </a>

                        </div>
                    </li>


                    <!-- Nav Item #8 - SN Admin -->
                    {% if is_granted('ROLE_IT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if is_granted('ROLE_IT') %}
                                    <a class="dropdown-item" href="{{ path('to_do_list_index', {status:'Pending'}) }}">
                                        To Do List</a>
                                {% endif %}

                                <hr>
                                <a class="dropdown-item" href="{{ path('useful_links_index', {'category':'All'}) }}">Helpful
                                    links</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('/admin/fileattachments/index') }}">Helpful
                                        files</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #9 - Investments -->
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Investments</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="{{ path('investments_economic_index', {'subset': 'Active'}) }}">Investments</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('tax_supporting_docs_index') }}">Supporting
                                    Tax
                                    Docs</a>
                                <a class="dropdown-item" href="{{ path('investment_future_comms_index') }}">Investment
                                    Docs</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('jpm_ic_history_index') }}">IC Record</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #10 - Tax -->
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tax</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" target="_blank"
                                   href="{{ path('investments_tax_consequences',{'show': 'TaxEffect'}) }}">Tax
                                    summary -
                                    Investments</a>
                                <a class="dropdown-item" target="_blank"
                                   href="{{ path('tax_inputs_overview_index') }}">Tax
                                    summary - Self-Assessment</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('tax_inputs_index') }}">Employment Income</a>
                            </div>
                        </li>
                    {% endif %}





                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.fullName }}

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <i title="Super-Admin" style="color: green" class="fa fa-hat-wizard"></i>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <i title="Admin" style="color: orange" class="fa fa-user-tie"></i>
                                {% endif %}


                                {% if is_granted('ROLE_ADMIN') %}{% else %}
                                    {% if is_granted('ROLE_TENNIS_PLAYER') %}
                                        <i title="Tennis PLayer" style="color: green" class="fa fa-table-tennis"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_JOB_APPLICANT') %}
                                        <i title="Job Applicant" style="color: red" class="fa fa-user-graduate"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_RECRUITER') %}
                                        <i title="Recruiter" style="color: red" class="fa fa-city"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_ACCOUNTANT') %}
                                        <i title="Acountant" style="color: blue" class="fa fa-dollar-sign"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_FAMILY') %}
                                        <i title="Family" style="color: blue" class="fa fa-baby"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_GUEST') %}
                                        <i title="Guest" style="color: green" class="fa fa-user-beer"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_IT') %}
                                        <i title="IT" style="color: red" class="fa fa-laptop"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_USER') %}
                                        <i title="USer" style="color: grey" class="fa fa-user"></i>
                                    {% endif %}
                                {% endif %}


                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_edit',{'fullName':app.user.fullName}) }}">Profile</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <a class=" btn btn-sm btn-outline-dark" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->
</header>
<!--End Header Section -->
