<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {#                <!-- Topbar Search -->#}
    {#                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">#}
    {#                    <div class="input-group">#}
    {#                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."#}
    {#                               aria-label="Search" aria-describedby="basic-addon2">#}
    {#                        <div class="input-group-append">#}
    {#                            <button class="btn btn-primary" type="button">#}
    {#                                <i class="fas fa-search fa-sm"></i>#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </form>#}

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- dropdown phone added -->
        <li class="nav-item mr-2" style="font-size: 12px">
            <div class="dropdown">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-phone"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><i class="fa fa-ukflag"></i>{{ StaticText.content.mobileNumber }}</a>
                    <a class="dropdown-item" href="https://wa.me/{{StaticText.content.mobileNumber | replace({' ': ''})}}"> <i class="fa fa-whatsapp"></i>WhatsApp</a>
                    <a class="dropdown-item" href="skype:{{StaticText.content.skype}}?call"><i class="fa fa-skype"></i>Skype
                    </a>

                </div>
            </div>
        </li>
        <li class="nav-item mr-2"><a href="mailto:{{StaticText.content.emailAddress}}"><i class="fa fa-envelope" style="color:#d7cccc;font-size:16px"></i></a></li>

    </ul>
    <div style="margin-left: 50px">
        <ul class="navbar-nav">
            {% set loggedUser = app.user %}
            <!-- Nav Item - User Information -->

            {% if loggedUser is not null %}
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600"> {{ loggedUser.fullName }} </span>
                        {% if is_granted('ROLE_SUPER_ADMIN')  %}
                            <span class="text-danger">*Admin user</span>
                        {% else %}

                        {% endif %}
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
{#                        <a class="dropdown-item" href="{{ path('user_edit', {'id': app.user.id}) }}">#}
{#                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>#}
{#                            Profile#}
{#                        </a>#}


                        <a class="dropdown-item" href="{{ path('app_logout') }}" data-toggle="modal"
                           data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}" role="button"><span class="mr-2 d-none d-lg-inline text-gray-600"> Login </span></a>
                </li>

            {% endif %}


        </ul>
    </div>
</nav>
