<!--Start Header Section -->
<header id="top-header" class="clearfix">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand" href="{{ path('app_home') }}">Stephen Nurse</a>
            </div>

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse  main-menu navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item #1 - Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>


                    <!-- Nav Item #2 - Interests -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Interests
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" target="_blank" href="{{ path('XVAConsulting') }}">Risk/Capital
                                consulting</a>
                            <a class="dropdown-item" target="_blank" href="{{ path('private_equity') }}">Private
                                Equity</a>
                            <a class="dropdown-item" target="_blank" href="{{ path('webdesign') }}">Web Design</a>
                            {% endif %}
                            <a class="dropdown-item" target="_blank" href="{{ path('tennis') }}">Tennis</a>
                            <a class="dropdown-item" target="_blank" href="{{ path('flying') }}">Flying</a>
                        </div>
                    </li>


                    <!-- Nav Item #3 - Photos -->
                    {% if is_granted('ROLE_GUEST') or is_granted('ROLE_FAMILY') %}
                        <li class="nav-item dropdown">
                            <a class="dropdown-item" href="{{ path('photos_index') }}">Photos</a>
                        </li>
                    {% endif %}

                    <!-- Nav Item #4 - Come Visit -->
                    {% if is_granted('ROLE_GUEST') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cyprus
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('cyprus') }}">Cyprus</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('house_guests_index') }}">House Guest</a>
                                <a class="dropdown-item" href="{{ path('whattobring') }}">What To Bring</a>

                                <hr>
                                <a class="dropdown-item" href="{{ path('tourist_attraction_index') }}">Tourist
                                    attractions</a>
                                <a class="dropdown-item" href="{{ path('garmin_files_index') }}">Garmin Files</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('wine_list_index') }}">Wine List</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #5 - CV -->
                    <li class="nav-item dropdown">
                        <a href="{{ path('curriculum_vitae' ) }}">CV</a>
                    </li>

                    <!-- Nav Item #6 - Contact -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a title={{ StaticText.content.emailAddress }} class="dropdown-item"
                               href="mailto:{{ StaticText.content.emailAddress }}">
                                <span style="color: blue;">@</span> {{ StaticText.content.emailAddress }}
                            </a>
                            <a class="dropdown-item" title="{{ StaticText.content.mobileNumber }}"
                               href="https://wa.me/{{ StaticText.content.mobileNumber | replace({' ': ''}) }}">
                                <i style="color: #0f6848"
                                   class="fab fa-whatsapp"></i> {{ StaticText.content.mobileNumber }}</a>
                            <a class="dropdown-item" title={{ StaticText.content.skype }}
                            href="skype:{{ StaticText.content.skype }}?call"><i style="color: royalblue"
                                                                                class="fab fa-skype"></i> {{ StaticText.content.skype }}
                            </a>
                            {% if is_granted('ROLE_USER') %}
                                <a target="_blank" title="{{ StaticText.content.address }} "
                                   href="{{ path('/homeaddress') }}"> <i style="color: royalblue"
                                                                         class="fa fa-car"></i> {{ StaticText.content.address }}
                                </a>
                            {% endif %}

                        </div>
                    </li>


                    {% if is_granted('ROLE_JOB_APPLICANT') %}
                        <!-- Nav Item #7 - Recruiters -->
                        <li class="nav-item dropdown">
                            <a style="color: green !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recruiters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_index_recruiters_high_priority') }}">Recruiters
                                    (High)</a>
                                <a class="dropdown-item" href="{{ path('user_index_recruiters_later') }}">Recruiters
                                    (Later)</a>
                                <a class="dropdown-item" href="{{ path('user_index_recruiters_uncategorised') }}">Recruiters
                                    (TBC)</a>
                                <a class="dropdown-item" href="{{ path('user_index_recruiters_low_priority') }}">Recruiters
                                    (Low)</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('introduction_index') }}">Email Templates</a>
                                <a class="dropdown-item" href="{{ path('introduction_segment_index') }}">Email Templates
                                    (Country Add-on)</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('recruiter_emails_index') }}">Emails Sent</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('prospect_employer_index') }}">Prospective
                                    Employers</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #8 - SN Admin -->
                    {% if is_granted('ROLE_IT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('to_do_list_index') }}">To Do List</a>
                                <a class="dropdown-item" href="{{ path('coding_timesheets_index') }}">Coding
                                    Timehseet</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('uk_days_index') }}">UK Days</a>
                                    <a class="dropdown-item" href="{{ path('/admin/fileattachments/index') }}">Helpful
                                        files</a>
                                    <a class="dropdown-item" href="{{ path('health_index') }}">Health</a>
                                    <a class="dropdown-item" href="{{ path('flying_index') }}">Flying</a>
                                {% endif %}
                            </div>
                        </li>
                    {% endif %}


                        <!-- Nav Item #9 - Investments -->
                        {% if is_granted('ROLE_ACCOUNTANT') %}
                            <li class="nav-item dropdown">
                                <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Investments</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item"
                                       href="{{ path('investments_index', {'grouping': 'All'}) }}">Investments</a>
                                    <hr>
                                    <a class="dropdown-item" href="{{ path('tax_supporting_docs_index') }}">Supporting
                                        Tax
                                        Docs</a>
                                    <a class="dropdown-item" href="{{ path('investment_future_comms_index') }}">Investment
                                        Docs</a>
                                    <hr>
                                    <a class="dropdown-item" href="{{ path('jpm_ic_history_index') }}">IC Record</a>
                                </div>
                            </li>
                        {% endif %}

                        <!-- Nav Item #10 - Tax -->
                        {% if is_granted('ROLE_ACCOUNTANT') %}
                            <li class="nav-item dropdown">
                                <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tax</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="dropdown-item" target="_blank"
                                       href="{{ path('investments_tax_consequences',{'show': 'TaxEffect'}) }}">Tax
                                        summary -
                                        Investments</a>
                                    <a class="dropdown-item" target="_blank"
                                       href="{{ path('tax_inputs_overview_index') }}">Tax
                                        summary - Self-Assessment</a>
                                    <hr>
                                    <a class="dropdown-item" href="{{ path('tax_inputs_index') }}">Employment Income</a>
                                </div>
                            </li>
                        {% endif %}


                    <!-- Nav Item #11 - Users -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item desktop" href="{{ path('user_index') }}">Users - All</a>
                                <a class="dropdown-item desktop" href="{{ path('user_index_edited_since_download') }}">Users
                                    - Edited</a>
                                <hr>
                                <a class="dropdown-item desktop" href="{{ path('user_index_addresses') }}">Users -
                                    Addresses</a>
                                <a class="dropdown-item desktop" href="{{ path('user_index_telnumbers') }}">Users - Tel
                                    numbers</a>
                                <hr>
                                <a class="dropdown-item desktop" href="{{ path('user_personal') }}">Personal</a>
                                <a class="dropdown-item desktop" href="{{ path('user_festiveMessage') }}">Festive</a>
                                <a class="dropdown-item desktop" href="{{ path('user_ax') }}">AX</a>
                                <hr>
                                <a class="dropdown-item desktop" href="{{ path('user_birthdays') }}">Birthdays</a>
                                <hr>
                                <a class="dropdown-item desktop" href="{{ path('log_index') }}">User log</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #11 - Settings -->
                    <div class="desktop">


                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a target="_blank" class="dropdown-item" href="{{ path('photo_locations_index') }}">Photo
                                        locations</a>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('country_index') }}">Countries</a>
                                    <hr>
                                    <a target="_blank" class="dropdown-item" href="{{ path('tax_year_index') }}">Tax
                                        Years &
                                        Bands</a>
                                    <a target="_blank" class="dropdown-item" href="{{ path('tax_schemes_index') }}">Tax
                                        Schemes</a>
                                    <a target="_blank" class="dropdown-item" href="{{ path('asset_classes_index') }}">Asset
                                        Classes</a>
                                    <hr>
                                    <a target="_blank" class="dropdown-item" href="{{ path('file_upload') }}">File
                                        upload</a>
                                    <hr>
                                    <a target="_blank" class="dropdown-item" href="{{ path('static_text_index') }}">CMS
                                        Static Text</a>
                                    <a target="_blank" class="dropdown-item" href="{{ path('cms_copy_index') }}">CMS
                                        Copy</a>
                                    <a target="_blank" class="dropdown-item" href="{{ path('cms_photo_index') }}">CMS
                                        Photos</a>
                                    <hr>

                                    <a class="dropdown-item" href="{{ path('flight_stats_index') }}">Flights (Kayak)</a>
                                    <a class="dropdown-item" href="{{ path('settings_index') }}">Settings</a>
                                    <hr>
                                    <a target="_blank" class="dropdown-item"
                                       href="{{ path('curriculum_vitae_index') }}">CV
                                        - Segments</a>
                                </div>
                            </li>
                        {% endif %}

                    </div>

                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.fullName }}

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <i title="Super-Admin" style="color: green" class="fa fa-hat-wizard"></i>
                                {% endif %}

                                {% if is_granted('ROLE_ADMIN') %}
                                    <i title="Admin" style="color: orange" class="fa fa-user-tie"></i>
                                {% endif %}


                                {% if is_granted('ROLE_ADMIN') %}{% else %}
                                    {% if is_granted('ROLE_TENNIS_PLAYER') %}
                                        <i title="Tennis PLayer" style="color: green" class="fa fa-table-tennis"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_JOB_APPLICANT') %}
                                        <i title="Job Applicant" style="color: red" class="fa fa-user-graduate"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_RECRUITER') %}
                                        <i title="Recruiter" style="color: red" class="fa fa-city"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_ACCOUNTANT') %}
                                        <i title="Acountant" style="color: blue" class="fa fa-dollar-sign"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_FAMILY') %}
                                        <i title="Family" style="color: blue" class="fa fa-baby"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_GUEST') %}
                                        <i title="Guest" style="color: green" class="fa fa-user-beer"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_IT') %}
                                        <i title="IT" style="color: red" class="fa fa-laptop"></i>
                                    {% endif %}

                                    {% if is_granted('ROLE_USER') %}
                                        <i title="USer" style="color: grey" class="fa fa-user"></i>
                                    {% endif %}
                                {% endif %}


                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_edit',{'fullName':app.user.fullName}) }}">Profile</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <a class=" btn btn-sm btn-outline-dark" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->
</header>
<!--End Header Section -->
