<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3 mt-3">Stephen Nurse</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item #1 - Photos -->
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotos"
           aria-expanded="true" aria-controls="collapsePhotos">
            <i class="fas fa-fw fa-cog"></i>
            <span>Photos</span>
        </a>
        <div id="collapsePhotos" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="">Photos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


    <!-- Nav Item #2 - Tennis -->
    {% if is_granted('ROLE_TENNIS_PLAYER') %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTennis"
           aria-expanded="true" aria-controls="collapseTennis">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tennis</span>
        </a>
        <div id="collapseTennis" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="{{ path('tennis_court_availability_index') }}">Court Availability</a>
                <a class="collapse-item text" href="{{ path('tennis_player_availability_index')}}">Player Availability</a>
                <hr>
                <a style="color: darkgray" class="collapse-item" href="{{ path('user_role_index',{role: 'ROLE_TENNIS_PLAYER'}) }}">Players</a>
                <a style="color: darkgray" class="collapse-item" href="{{ path('tennis_venues_index') }}">Tennis Venues</a>
                <a style="color: darkgray"  class="collapse-item" href="{{ path('tennis_court_preferences_index') }}">Venue Preferences</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


    {% if is_granted('ROLE_FAMILY') %}
        <!-- Nav Item #3 - Settings -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFamily"
               aria-expanded="true" aria-controls="collapseFamily">
                <i class="fas fa-fw fa-cog"></i>
                <span>Family</span>
            </a>
            <div id="collapseFamily" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('user_role_index',{role: 'ROLE_FAMILY'}) }}">Family</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}


    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <!-- Nav Item #3 - Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
           aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('user_index') }}">Users</a>
                <hr>
                <a class="collapse-item" href="{{ path('credit_card_details_index') }}">Credit Cards</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


</ul>