<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3 mt-3">Stephen Nurse</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item #1 - Photos -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotos"
           aria-expanded="true" aria-controls="collapsePhotos">
            <i class="fas fa-fw fa-cog"></i>
            <span>Photos</span>
        </a>
        <div id="collapsePhotos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="">Photos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">


    <!-- Nav Item #2 - Tennis -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTennis"
           aria-expanded="true" aria-controls="collapseTennis">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tennis</span>
        </a>
        <div id="collapseTennis" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="{{ path('tennis_court_availability_index') }}">Court availability</a>
                <a class="collapse-item text" href="{{ path('tennis_player_availability_index')}}">Appetite to play</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">


    <!-- Nav Item #3 - Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin"
           aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('user_index') }}">Users</a>
                <hr>
                <a class="collapse-item" href="{{ path('tennis_venues_index') }}">Tennis venues</a>
                <a class="collapse-item" href="{{ path('tennis_players_index') }}">Tennis players</a>
                <a class="collapse-item" href="">Credit cards</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">

</ul>