<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3 mt-3">Stephen Nurse</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">




    <!-- Nav Item #1 - Photos -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotos"
           aria-expanded="true" aria-controls="collapsePhotos">
            <i class="fas fa-fw fa-cog"></i>
            <span>Photos</span>
        </a>
        <div id="collapsePhotos" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="{{ path('photos_index') }}">Photos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">



    <!-- Nav Item #2 - HMRC -->
    {% if is_granted('ROLE_HMRC') or is_granted('ROLE_SERPENTINE') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHMRC"
               aria-expanded="true" aria-controls="collapseHMRC">
                <i class="fas fa-fw fa-cog"></i>
                <span>HMRC</span>
            </a>
            <div id="collapseHMRC" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('chavey_down_index') }}">Chavey Down</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}

    <!-- Nav Item #3 - UK Days -->
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUKDays"
               aria-expanded="true" aria-controls="collapseUKDays">
                <i class="fas fa-fw fa-cog"></i>
                <span>UK Days</span>
            </a>
            <div id="collapseUKDays" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('uk_days_index') }}">UK Days</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}
    <!-- Nav Item #3 - House Guest -->
    {% if is_granted('ROLE_GUEST')  %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHouseGuests"
               aria-expanded="true" aria-controls="collapseHouseGuests">
                <i class="fas fa-fw fa-cog"></i>
                <span>House Guest</span>
            </a>
            <div id="collapseHouseGuests" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('house_guests_index') }}">House Guest</a>
                    <a class="collapse-item" href="{{ path('house_guests_index_simple') }}">House Guest (simple)</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}


    <!-- Nav Item #3 - Investments -->
    {% if is_granted('ROLE_ACCOUNTANT') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvestments"
               aria-expanded="true" aria-controls="collapseInvestments">
                <i class="fas fa-fw fa-cog"></i>
                <span>Investments & Tax</span>
            </a>
            <div id="collapseInvestments" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('investments_index') }}">Investments</a>
                    <hr>
                    <a class="collapse-item" href="{{ path('tax_supporting_docs_index') }}">Supporting Tax Docs</a>
                    <a class="collapse-item" href="{{ path('investment_future_comms_index') }}">Investment Other Docs</a>
                    <hr>
                    <a class="collapse-item" href="{{ path('market_data_index') }}">Share Prices</a>
                    <a class="collapse-item" href="{{ path('fx_rates_index') }}">FX Rates</a>
                    <hr>
                    <a class="collapse-item" href="{{ path('tax_documents_index') }}">Tax Filings</a>
                    <hr>
                    <a class="collapse-item" href="{{ path('jpm_ic_history_index') }}">IC Record</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}



    {% if is_granted('ROLE_ADMIN') %}
    <!-- Nav Item #4 - ToDoList -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseToDoList"
           aria-expanded="true" aria-controls="collapseToDoList">
            <i class="fas fa-fw fa-cog"></i>
            <span>To Do List</span>
        </a>
        <div id="collapseToDoList" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('to_do_list_index') }}">To Do List</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}



    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <!-- Nav Item #5 - Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
           aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('user_index') }}">Users</a>
                <a class="collapse-item" href="{{ path('log_index') }}">User log</a>
                <hr>
                <a class="collapse-item" href="{{ path('photo_locations_index') }}">Photo locations</a>
                <hr>
                <a class="collapse-item" href="{{ path('static_text_index') }}">CMS</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


</ul>