<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3 mt-3">Stephen Nurse</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item #1 - Photos -->
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotos"
           aria-expanded="true" aria-controls="collapsePhotos">
            <i class="fas fa-fw fa-cog"></i>
            <span>Photos</span>
        </a>
        <div id="collapsePhotos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="{{ path('photos_index') }}">Photos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


    <!-- Nav Item #2 - Tennis -->
    {% if is_granted('ROLE_TENNIS_PLAYER') %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTennis"
           aria-expanded="true" aria-controls="collapseTennis">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tennis </span>
        </a>
        <div id="collapseTennis" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="{{ path('tennis_court_availability_index') }}">Court Availability</a>
                <a class="collapse-item text" href="{{ path('tennis_player_availability_index')}}">Player Availability</a>
                <a class="collapse-item text" href="{{ path('tennis_player_and_courtavailability_index')}}">Player & Court Availability</a>
                <a class="collapse-item text" href="{{ path('tennis_bookings_index')}}">Live Bookings</a>
                <a class="collapse-item text" href="{{ path('payments_index')}}">Accounts</a>
                <hr>
                <a style="color: darkgray" class="collapse-item" href="{{ path('user_role_index',{role: 'ROLE_TENNIS_PLAYER'}) }}">Players</a>
                <a style="color: darkgray" class="collapse-item" href="{{ path('tennis_court_preferences_index') }}">Venue Preferences</a>
                <a style="color: darkgray" class="collapse-item" href="{{ path('default_tennis_player_availability_hours_index') }}">Hours Preferences</a>
                <a style="color: darkgray" class="collapse-item" href="{{ path('tennis_venues_index') }}">Tennis Venues</a>
                <a style="color: darkgray" class="collapse-item" href="{{ path('credit_card_details_index') }}">TH logins</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}



        <!-- Nav Item #3 - Settings -->
    {% if is_granted('ROLE_FAMILY') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFamily"
               aria-expanded="true" aria-controls="collapseFamily">
                <i class="fas fa-fw fa-cog"></i>
                <span>Family</span>
            </a>
            <div id="collapseFamily" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('user_role_index',{role: 'ROLE_FAMILY'}) }}">Family</a>
                    <hr>
                    <a  style="color: darkgray" class="collapse-item" href="{{ path('photo_locations_index') }}">Photo locations</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}



    <!-- Nav Item #4 - HMRC -->
    {% if is_granted('ROLE_HMRC') or is_granted('ROLE_SERPENTINE') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseHMRC"
               aria-expanded="true" aria-controls="collapseHMRC">
                <i class="fas fa-fw fa-cog"></i>
                <span>HMRC</span>
            </a>
            <div id="collapseHMRC" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('chavey_down_index') }}">Chavey Down</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}



    <!-- Nav Item #5 - Investments -->
    {% if is_granted('ROLE_ACCOUNTANT') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvestments"
               aria-expanded="true" aria-controls="collapseInvestments">
                <i class="fas fa-fw fa-cog"></i>
                <span>Investments & Tax</span>
            </a>
            <div id="collapseInvestments" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="{{ path('tax_documents_index') }}">Tax documents</a>
                    <a class="collapse-item" href="{{ path('investments_index') }}">Investments</a>
                    <a class="collapse-item" href="{{ path('investment_future_comms_index') }}">Investment other comm</a>
                    <a class="collapse-item" href="{{ path('market_data_index') }}">Share prices</a>
                    <a class="collapse-item" href="{{ path('fx_rates_index') }}">FX Rates</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    {% endif %}


    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <!-- Nav Item #3 - Settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings"
           aria-expanded="true" aria-controls="collapseSettings">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('user_index') }}">Users</a>
                <a class="collapse-item" href="{{ path('log_index') }}">User log</a>
                <hr>
                <a class="collapse-item" href="{{ path('tennis_scrape') }}">Scrape</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    {% endif %}


</ul>