<tr>
    {% if category_chosen=="All" %}
        <td class="desktop">{{ useful_link.category }}</td>
    {% endif %}
    <td>{{ useful_link.name }}</td>
    <td class="desktop">
        <a target="_blank" href="{{ useful_link.link }}">{{ useful_link.link }}</a>
    </td>
    <td class="mobile">
        <a target="_blank" href="{{ useful_link.link }}">
            <i class="fa fa-link"></i></a>
    </td>
    {% if is_granted('ROLE_ADMIN') %}
        <td class="desktop">{{ useful_link.login }}</td>
        <td class="desktop">{{ useful_link.password }}</td>
    {% endif %}
    <td class="mobile">{{ useful_link.notes }}</td>
    {% if is_granted('ROLE_ADMIN') %}
        <td class="desktop">
            <a class="btn btn-outline-danger btn-sm" target="_blank"
               href="{{ path('useful_links_edit', {'id': useful_link.id}) }}">Edit</a>
        </td>
        <td class="desktop">
            <form method="post" action="{{ path('useful_links_delete', {'id': useful_link.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ useful_link.id) }}">
                <button class="btn btn-danger btn-sm">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </td>
    {% endif %}
</tr>