{% extends '../../base.html.twig' %}
{% block title %}Users: Birthdays {% endblock %}
{% block body %}
    <h1><span class="text-danger">Birthdays</span></h1>
    {% include '../parts/delete_and_import_and_export_buttons.html.twig' %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th title="Home/Business">Address</th>
            <th>Mobile(s)</th>
            <th>Landlines</th>
            <th>Email(s)</th>
            <th>Birthday</th>
            <th>Notes</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank" href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b><a target="_blank" href="{{ path('user_show', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% endif %}
                </td>

                <td>{{ user.company }}</td>
                <td style="text-align: center">
                    {% if user.homeStreet is not empty %}
                        <i class="fa fa-home" title="{{ user.homeStreet }} {{ user.homeCity }} {{ user.homePostalCode }}"></i>
                    {% endif %}

                    {% if user.homeStreet is not empty and user.businessStreet is not empty%} / {% endif %}

                    {% if user.businessStreet is not empty %}
                        <i class="fa fa-industry" title="{{ user.businessStreet }} {{ user.businessCity }} {{ user.businessPostalCode }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.mobile is not empty %}
                        <i class="fa fa-phone" title="{{ user.mobile }}"></i>
                    {% endif %}

                    {% if user.mobile is not empty and user.mobile2 is not empty %} /
                    {% endif %}
                    {% if user.mobile2 is not empty %}
                        <i class="fa fa-phone" title="{{ user.mobile2 }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.businessPhone is not empty %}
                        <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                    {% endif %}

                    {% if user.homePhone is not empty and user.businessPhone is not empty %} /
                        {% endif %}
                    {% if user.homePhone is not empty%}
                        <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% set instring = '@no_email.com' in user.email %}
                    {% if user.email is not empty and instring != 1 %}
                        <a title="{{ user.email }}" href="mailto:{{ user.email }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% else %}
                        <a title="{{ user.email }}" href="">N/A</a>
                    {% endif %}

                    {% if user.email2 is not empty %}
                        <a title="{{ user.email2 }}" href="mailto:{{ user.email2 }}">
                            <i class="fa fa-envelope-open-o"></i>
                        </a>
                    {% endif %}

                    {% if user.email3 is not empty %} /
                        <a title="{{ user.email3 }}" href="mailto:{{ user.email3 }}">
                            <i class="fa fa-envelope-open-o"></i>
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: center"; data-sort="{{ user.birthday|date('m-d') }}">
                    {% if user.birthday is not empty %}
                        {{ user.birthday |date('d-M-Y') }}
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.notes is not empty %}
                        <i class="fa fa-info-circle" title="{{ user.notes }}"></i>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}


        </tbody>
    </table>


    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[6, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}