{% extends '../../base.html.twig' %}

{% block title %}
    Users: {{ title }}
{% endblock %}

{% block body %}
    <h1 style="color: red">Users: {{ title }}</h1>
    <div class="desktop">
        {% include '../parts/delete_and_import_and_export_buttons.html.twig' %}
    </div>


    <table class="table table-responsive">
        <thead>
        <tr>
            {% if title == 'Festive Message' %}
                <th>Festive<br>Message</th>
                <th>Date</th>
            {% endif %}
            <th>First Namex</th>
            <th>Last Name</th>
            <th>Company</th>
            {% include '../parts/roles_headers.html.twig' %}
            <th title="Home/Business">Address</th>
            <th>Mobile(s)</th>
            <th>Landlines</th>
            <th>Email</th>
            <th>Email<br>(Additional)</th>
            <th>Birthday</th>
            <th>Notes</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                {% if title == 'Festive Message' %}
                    <td style="text-align: center" ; data-sort="{{ user.festiveMessage }}">
                        {% if user.festiveMessage == '1' %}
                            <a href="{{ path('user_edit_festive_message', {'id':user.id,  'active': '0'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% else %}
                            <a href="{{ path('user_edit_festive_message', {'id':user.id,  'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    </td>

                    <td>
                        {% if user.festiveMessageDate is not null %}
                            {{ user.festiveMessageDate|date('d-M-Y') }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank"
                              href="{{ path('user_edit', {'id': user.id}) }}">  {{ user.firstName }}</a></b>
                    {% else %}
                        <b><a target="_blank"
                              href="{{ path('user_show', {'id': user.id}) }}">  {{ user.firstName }}</a></b>
                    {% endif %}
                </td>
                <td><b>{{ user.lastName }}</b>
                </td>

                <td>{{ user.company }}</td>

                {% include '../parts/roles_body.html.twig' %}

                <td style="text-align: center">
                    {% if user.homeStreet is not empty %}
                        <i style="color: lightblue" class="fa fa-home"
                           title="{{ user.homeStreet }} {{ user.homeCity }} {{ user.homePostalCode }}"></i>
                    {% endif %}

                    {% if user.homeStreet is not empty and user.businessStreet is not empty %} / {% endif %}

                    {% if user.businessStreet is not empty %}
                        <i style="color: lightgray" class="fa fa-industry"
                           title="{{ user.businessStreet }} {{ user.businessCity }} {{ user.businessPostalCode }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.mobile is not empty %}
                        <i class="fa fa-phone" title="{{ user.mobile }}"></i>
                        {#                        {{ user.mobile }} #}
                    {% endif %}

                    {% if user.mobile is not empty and user.mobile2 is not empty %} /
                    {% endif %}
                    {% if user.mobile2 is not empty %}
                        <i class="fa fa-phone" title="{{ user.mobile2 }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.businessPhone is not empty %}
                        <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                    {% endif %}

                    {% if user.homePhone is not empty and user.businessPhone is not empty %} /
                    {% endif %}
                    {% if user.homePhone is not empty %}
                        <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: left">
                    {% set instring = '@no_email.com' in user.email %}

                    {% if user.email is not empty and instring != 1 %}
                        <a title="{{ user.email }}" href="mailto:{{ user.email }}"><i class="fa fa-envelope"></i></a>
                        {{ user.email }}
                    {% else %}
                        <a title="{{ user.email }}" href="">N/A</a>
                    {% endif %}
                </td>
                <td style="text-align: left">
                    {% if user.email2 is not empty %}
                        <a title="{{ user.email2 }}" href="mailto:{{ user.email2 }}"><i
                                    class="fa fa-envelope-open-o"></i></a>
                    {% endif %}

                    {% if user.email3 is not empty %} /
                        <a title="{{ user.email3 }}" href="mailto:{{ user.email3 }}">
                            <i class="fa fa-envelope-open-o"></i>
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: center" ; data-sort="{{ user.birthday|date('m-d') }}">
                    {% if user.birthday is not empty %}
                        {{ user.birthday |date('d-M-Y') }}
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.notes is not empty %}
                        <i class="fa fa-info-circle" title="{{ user.notes }}"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    {% if title == 'Festive Message' %}
        <script>
            $(document).ready(function () {
                $('.table').DataTable({
                    'pageLength': 100,
                    "order": [[0, 'asc'], [1, 'asc'], [2, 'asc'], [3, 'asc']],
                    "paging": true,
                    "searching": true,
                    "bInfo": true
                });
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
                $('.table').DataTable({
                    'pageLength': 100,
                    "order": [[0, 'asc'], [1, 'asc']],
                    "paging": true,
                    "searching": true,
                    "bInfo": true
                });
            });
        </script>
    {% endif %}
{% endblock datatable %}