{% extends '../../base.html.twig' %}
{% block title %}Recruiters: ({{ priority }}) {% endblock %}
{% block body %}
    <h1><span class="text-danger">Recruiters: ({{ priority }})</span></h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-3">
                <a class="btn btn-success btn-sm mt-3" href="{{ path('user_new') }}">New user</a>
                <a class="btn btn-outline-success btn-sm mt-3" href="{{ path('userImport',{ source: 'Grapevine'}) }}">Grapevine
                    import</a>
                <a class="btn btn-outline-primary btn-sm mt-3" href="https://www.datagrapevine.com/recruitment/welcome">Grapevine</a>
            </div>

            <div class="col-4"></div>

            <div class="col-4">
                <a target="_blank" class="btn btn-outline-secondary btn-sm mt-3"
                   href="{{ path('introduction_index') }}">Email
                    Templates</a>
                <a target="_blank" class="btn btn-outline-secondary btn-sm mt-3"
                   href="{{ path('introduction_segment_index') }}">+</a>
                <a target="_blank" class="btn btn-outline-dark btn-sm mt-3" href="{{ path('recruiter_emails_index') }}">Emails
                    Sent</a>
                <a target="_blank" class="btn btn-outline-dark btn-sm mt-3"
                   href="{{ path('prospect_employer_index') }}">Prospective
                    Employers</a>
            </div>
        </div>
    {% endif %}

    <table class="table table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Recruiting<br>Company</th>
            <th>Hiring<br>Company</th>
            <th title="Home/Business"><i class="fa fa-home"></i></th>
            <th><i class="fa fa-mobile"></i></th>
            <th><i class="fa fa-phone"></i></th>
            <th><i class="fa fa-envelope"></i></th>
            <th><i class="fab fa-linkedin"></i></th>
            <th>www</th>
            <th>Country</th>
            <th>Areas</th>
            <th>Areas (List)</th>
            <th>High Priority</th>
            <th style="width: 150px">Notes</th>
            <th><a target="_blank" href="{{ path('introduction_index') }}">Email</a></th>
            <th>Date</th>
            <th>Reply</th>
            <th>VCF</th>
            <th>Role</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th style="color: red;">#</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for user in users %}

            <tr>
                <td>{{ user.salutation }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <b><a target="_blank"
                              href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b>{{ user.fullName }}</b>
                    {% endif %}
                </td>


                <td>{{ user.company }}</td>
                <td>
                    {% for prospect_employer in prospect_employers %}
                        {% if prospect_employer.recruiter.id == user.id %}
                            <a target="_blank"
                               href="{{ path('prospect_employer_edit', {'id': prospect_employer.id}) }}">{{ prospect_employer.employer }}</a>;
                        {% endif %}
                    {% endfor %}
                </td>

                <td style="text-align: center">
                    {% if user.homeStreet is not empty %}
                        <i class="fa fa-home"
                           title="{{ user.homeStreet }} {{ user.homeCity }} {{ user.homePostalCode }}"></i>
                    {% endif %}

                    {% if user.homeStreet is not empty and user.businessStreet is not empty %} / {% endif %}

                    {% if user.businessStreet is not empty %}
                        <i class="fa fa-industry"
                           title="{{ user.businessStreet }} {{ user.businessCity }} {{ user.businessPostalCode }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.mobile is not empty %}
                        <i class="fa fa-mobile-phone" title="{{ user.mobile }}"></i>
                    {% endif %}

                    {% if user.mobile2 is not empty %} /
                        <i class="fa fa-mobile" title="{{ user.mobile2 }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if user.businessPhone is not empty %}
                        <i class="fa fa-phone" title="{{ user.businessPhone }}"></i>
                    {% endif %}

                    {% if user.homePhone is not empty %} /
                        <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% set instring = '@no_email.com' in user.email %}
                    {% if user.email is not empty and instring != 1 %}
                        <a title="{{ user.email }}" href="mailto:{{ user.email }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% else %}
                        <a title="{{ user.email }}" href="">N/A</a>
                    {% endif %}

                    {% if user.email2 is not empty %} /
                        <a title="{{ user.email2 }}" href="mailto:{{ user.email2 }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% endif %}

                    {% if user.email3 is not empty %} /
                        <a title="{{ user.email3 }}" href="mailto:{{ user.email3 }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.linkedIn is not empty %}
                        <a target="_blank" title="{{ user.linkedIn }}" href="{{ user.linkedIn }}">
                            <i style="color: royalblue" class="fab fa-linkedin"></i>
                        </a>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if user.webPage is not empty %}
                        {% if user.webPage starts with 'http' %}
                            {% set web = user.webPage %}
                        {% else %}
                            {% set web = 'https://'~user.webPage %}
                        {% endif %}
                        <a target="_blank" title="{{ user.webPage }}" href="{{ web }}">
                            <i class="fa fa-globe"></i>
                        </a>
                    {% endif %}
                </td>

                <td>{{ user.businessCountry }}</td>
                <td>{{ user.recruitingArea }}</td>
                <td>
                    {% for area in user.recruitingAreaList %}
                        {{ area }},
                    {% endfor %}
                    {% if user.recruitingAreaList is empty %}
                        ..
                    {% endif %}
                </td>

                {% set rank =3 %}
                {% if user.recruiterHighPriority == "High" %}
                    {% set rank =1 %}
                {% elseif user.recruiterHighPriority == "Later" %}
                    {% set rank =2 %}
                {% elseif user.recruiterHighPriority == "Low" %}
                    {% set rank =4 %}
                {% endif %}

                <td style="text-align: center" data-sort="{{ rank }}">
                    {% if user.recruiterHighPriority == "High" %}
                        <a target="_blank"
                           href="{{ path('user_high_priority_recruiter', {id: user.id, priority: 'High'}) }}">
                            <span style="color: green"><i class="fas fa-dot-circle"></i></span>
                        </a>
                    {% elseif user.recruiterHighPriority == "Low" %}
                        <a target="_blank"
                           href="{{ path('user_high_priority_recruiter', {id: user.id, priority: 'Low'}) }}">
                            <span style="color: red"><i class="fas fa-dot-circle"></i></span>
                        </a>
                    {% else %}
                        <a target="_blank"
                           href="{{ path('user_high_priority_recruiter', {id: user.id, priority: 'High'}) }}">
                            <span style="color: green"><i class="fas fa-arrow-up"></i></span>
                        </a>
                        <a target="_blank"
                           href="{{ path('user_high_priority_recruiter', {id: user.id, priority: 'Low'}) }}">
                            <span style="color: red"><i class="fas fa-arrow-down"></i></span>
                        </a>
                    {% endif %}
                    <a target="_blank"
                       href="{{ path('user_high_priority_recruiter', {id: user.id, priority: 'Later'}) }}">
                        <span style="color: grey"><i class="fas fa-dot-circle"></i></span>
                    </a>

                </td>
                <td>{{ user.notes }}</td>
                <td style="width: 200px">
                    {% set businessCountry = 'United Kingdom' %}
                    {% if user.businessCountry is not empty %}
                        {% set businessCountry = user.businessCountry %}
                    {% endif %}

                    <a class="btn btn-success btn-sm d-inline"
                       href="{{ path('recruiter_intro', {'authorId':app.user.id,
                           'recruiterId': user.id, 'recruiterCountry': businessCountry, 'editable':'editable'}) }}">Editable</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('recruiter_intro', {'authorId':app.user.id,
                        'recruiterId': user.id,'recruiterCountry': businessCountry,'editable':'standard' }) }}">Standard</a>
                    <br>
                </td>
                <td style="width: 200px">
                    {% for recruiterEmail in recruiterEmails %}
                        {% if recruiterEmail.Author == app.user.email and recruiterEmail.sendToFullName == user.fullName %}
                            <a target="_blank"
                               href="{{ path('recruiter_emails_show',{'id':recruiterEmail.id}) }}">{{ recruiterEmail.sendDate|date('d-M-y H:i') }}</a>
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td style="text-align: center" data-sort="{{ user.recruiterResponse }}">
                    {% if user.recruiterResponse == 'No reply' or user.recruiterResponse is empty %}
                        <i title="No reply" style="color: grey;" class="fa fa-question-circle"></i>
                    {% endif %}

                    {% if user.recruiterResponse == 'Replied and No' %}
                        <i title="Replied and No" style="color: red;" class="fa fa-remove"></i>
                    {% endif %}

                    {% if user.recruiterResponse == 'Replied and Follow-up' %}
                        <i title="Replied and Follow-Up" style="color: green;" class="fa fa-check"></i>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-info btn-sm"
                       href="{{ path('create_vcard_user',{'userid': user.id}) }}"><i
                                style="font-size: 15px; color: blue" class="fas fa-address-card"></i></a>
                </td>
                <td>
                    <a target="_blank" class="btn btn-outline-success btn-sm"
                       href="{{ path('prospect_employer_new',{'applicantid': app.user.id, 'recruiterid':user.id}) }}">Opening</a>
                </td>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <form class="d-inline" method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}


        </tbody>
    </table>


    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[16, 'desc'], [2, 'asc'], [3, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}