{% extends '../../base.html.twig' %}
{% block title %}Users: Telephone Check {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: Telephone Check</span></h1>

    {% include '../parts/delete_and_import_and_export_buttons.html.twig' %}

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right">Mobile 1 (Len)</th>
            <th style="text-align: right">Mobile 1</th>
            <th style="text-align: right">Mobile 2 (Len)</th>
            <th style="text-align: right">Mobile 2</th>
            <th style="text-align: right">Business Phone (Len)</th>
            <th style="text-align: right">Business Phone</th>
            <th style="text-align: right">Home Phone (Len)</th>
            <th style="text-align: right">Home Phone</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank" href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b>{{ user.fullName }}</b>
                    {% endif %}
                </td>


                <td style="text-align: right">
                    {{ user.mobile|slice(0,3) }} -
                    {{ user.mobile|length }}
                </td>
                <td style="text-align: right">
                    {{ user.mobile }}
                </td>


                <td style="text-align: right">
                    {{ user.mobile2|slice(0,3) }} -
                    {{ user.mobile2|length }}
                </td>
                <td style="text-align: right">
                    {{ user.mobile2 }}
                </td>


                <td style="text-align: right">
                    {{ user.businessPhone|slice(0,3) }} -
                    {{ user.businessPhone|length }}
                </td>
                <td style="text-align: right">
                    {{ user.businessPhone }}
                </td>


                <td style="text-align: right">
                    {{ user.homePhone|slice(0,3) }} -
                    {{ user.homePhone|length }}
                </td>
                <td style="text-align: right">
                    {{ user.homePhone }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}