{% extends '../../base.html.twig' %}
{% block title %}Users: Address check {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: Address check</span></h1>
    {% include '../parts/delete_and_import_and_export_buttons.html.twig' %}

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th style="text-align: right; color: blue">Business Street</th>
            <th style="text-align: right; color: blue">Business City</th>
            <th style="text-align: right; color: blue">Business Postal Code</th>
            <th style="text-align: right; color: blue">Business Country</th>
            <th style="text-align: right; color: green">Home Street</th>
            <th style="text-align: right; color: green">Home City</th>
            <th style="text-align: right; color: green">Home Postal Code</th>
            <th style="text-align: right; color: green">Home Country</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.firstName }}
                </td>
                <td>
                    {{ user.lastName }}
                </td>
                <td style="text-align: left">{{ user.company }}</td>
                <td style="text-align: right; color: blue">{{ user.businessStreet }}</td>
                <td style="text-align: right; color: blue">{{ user.businessCity }}</td>
                <td style="text-align: right; color: blue">{{ user.businessPostalCode }}</td>
                <td style="text-align: right; color: blue">{{ user.businessCountry }}</td>

                <td style="text-align: right; color: green">{{ user.homeStreet }}</td>
                <td style="text-align: right; color: green">{{ user.homeCity }}</td>
                <td style="text-align: right; color: green">{{ user.homePostalCode }}</td>
                <td style="text-align: right; color: green">{{ user.homeCountry }}</td>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <a class="btn btn-outline-danger btn-sm" target="_blank"
                           href="{{ path('user_edit', {'fullName': user.fullName}) }}">Edit</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br>
    <br>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}