{% extends 'base.html.twig' %}

{% block title %}FX Rates History {{ fx_rates_history.date|date('d-M-y') }}{% endblock %}

{% block body %}
    <h1 style="color: red">FX Rates History: {{ fx_rates_history.date|date('d-M-y') }}</h1>

    {{ include('fx_rates_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('fx_rates_history_index') }}">Return to list</a>

    {{ include('fx_rates_history/_delete_form.html.twig') }}
{% endblock %}
