{% extends 'base.html.twig' %}
{% block title %}FX Rates History{% endblock %}
{% block body %}
    <h1 style="color: red">FX Rates History</h1><br>
    <a class="btn btn-success btn-sm" href="{{ path('fx_rates_history_new') }}">New</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('historic_fx_rates_delete_all') }}">Delete All</a>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('fx_rates_import') }}">Import
        from CSV</a> <a
        href="{{ asset('administration/attachments/FXRates/Template/FX_Rates_Upload_TemplateCSV.csv') }}">Template</a>
    <br>
    <br>

    <table class="table table-responsive">
        <thead>
        <tr style="background-color: whitesmoke">
            <th style="border-right:1px dotted; width: 120px">Date</th>
            <th style="width: 80px; text-align: right">USD</th>
            <th style="width: 80px; text-align: right">GBP</th>
            <th style="width: 80px; text-align: right">EUR</th>
            <th style="width: 80px; text-align: right; border-right:1px solid;">CHF</th>
            <th style="width: 80px; text-align: right; border-right:1px solid;"></th>
        </tr>
        </thead>
        <tbody>
        {% for fx_rates_history in fx_rates_histories %}
            <tr>
                <td style="border-right:1px dotted" data-sort="{{ fx_rates_history.date|date('Y-m-d') }}">
                    <a target="_blank" href="{{ path('fx_rates_history_edit', {id:fx_rates_history.id}) }}">
                        {{ fx_rates_history.date|date('d-M-y') }}
                    </a>
                </td>
                <td style="text-align: right">1.0000</td>
                <td style="text-align: right">{{ fx_rates_history.GBPFXRate|number_format(4, '.', ',') }}</td>
                <td style="text-align: right">{{ fx_rates_history.EURFXRate|number_format(4, '.', ',') }}</td>
                <td style="text-align: right; border-right:1px solid;">{{ fx_rates_history.CHFFXRate|number_format(4, '.', ',') }}</td>
                <td style="text-align: right; border-right:1px solid;">
                    <form method="post" action="{{ path('fx_rates_history_delete', {'id': fx_rates_history.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fx_rates_history.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
