{% extends 'base.html.twig' %}

{% block title %}Tennis Court Availability{% endblock %}

{% block body %}
    <h1 style="color: red;">Tennis Court Availability</h1>


    {% if minDate == lastMonday|date('Y-m-d') %}
        <a class="btn btn-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': lastMonday|date('Y-m-d'), 'maxDate': nextSunday|date('Y-m-d')}) }}">This week </a>
    {% else %}
        <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': lastMonday|date('Y-m-d'), 'maxDate': nextSunday|date('Y-m-d')}) }}">This week</a>
    {% endif %}


    {% if minDate == monday2|date('Y-m-d') %}
        <a class="btn btn-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': monday2|date('Y-m-d'), 'maxDate': sunday2|date('Y-m-d')}) }}">Next week</a>
    {% else %}
        <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': monday2|date('Y-m-d'), 'maxDate': sunday2|date('Y-m-d')}) }}">Next week</a>
    {% endif %}


    {% if minDate == monday3|date('Y-m-d') %}
        <a class="btn btn-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': monday3|date('Y-m-d'), 'maxDate': sunday3|date('Y-m-d')}) }}">Following week</a>
    {% else %}
        <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_court_availability_index', {'minDate': monday3|date('Y-m-d'), 'maxDate': sunday3|date('Y-m-d')}) }}">Following week</a>
    {% endif %}
    <hr>

{#        <br>#}
{#        Last Monday: {{ lastMonday|date('d-M-y') }} <br>#}
{#        Next Monday2: {{ monday2|date('d-M-y') }} <br>#}
{#        Next Monday3: {{ monday3|date('d-M-y') }} <br>#}
{#        Next Sunday: {{ nextSunday|date('d-M-y') }} <br>#}
{#        Next Sunday2: {{ sunday2|date('d-M-y') }} <br>#}
{#        Next Sunday3: {{ sunday3|date('d-M-y') }} <br>#}
{#        <hr>#}
{#        minDate: {{ minDate|date('d-M-y') }} <br>#}
{#        maxDate: {{ maxDate|date('d-M-y') }} <br>#}

    {% for date in dates %}
        <h3 style="color: blue;">{{ date.date |date('d-M-Y') }}</h3>
        <table class="table">
            <thead>
            <tr>
                <th style="text-align: right">Hour</th>
                {% for venue in tennis_venues %}
                    <th style="text-align: right" title="{{ venue.address }}">
                        <a target="_blank" href={{ venue.weblink }}>{{ venue.venue }}
                            <a target="_blank" href={{ venue.maplink }}><i style="font-size: 15px" class="fas fa-map-marker"></i></a></th>
                {% endfor %}
            </tr>
            </thead>


            <tbody>
            {% for hour in hours %}
                <tr>
                    <td>{{ hour.hour }}</td>
                    {% for venue in tennis_venues %}
                        {% set availability = "Not scraped" %}
                        <td>
                            {% for tennis_court_availability in tennis_court_availabilities %}
                                {% if tennis_court_availability.date == date.date and tennis_court_availability.hour == hour.hour and tennis_court_availability.venue.id == venue.id %}
                                    {% set flag=1 %}
                                    {% set availability= tennis_court_availability.available %}
                                {% endif %}
                            {% endfor %}
                            {{ availability }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endfor %}


    <br>
    <a class="btn btn-outline-success" href="{{ path('tennis_court_availability_new') }}">New</a>
    <br>
    <br>
    <br>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
