{% extends 'base.html.twig' %}

{% block title %}Log index{% endblock %}

{% block body %}
    <h1 style="color: red;">Log index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Additional Info</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            {% if log.additionalInfo != app.user.fullName %}
                <tr>
                    <td data-sort="{{ log.createdAt|date('Y-m-d H:i') }}">{{ log.createdAt ? log.createdAt|date('d-M-Y') : '' }}</td>
                    <td>{{ log.createdAt ? log.createdAt|date('H:i') : '' }}</td>
                    <td>{{ log.additionalInfo }}</td>
                    <td>
                        <form class="d-inline" method="post" action="{{ path('log_delete', {'id': log.id}) }}"
                              onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ log.id) }}">
                            <button class="btn btn-danger btn-sm mt-2"><i style="color: white;" class="fa fa-trash"></i>
                            </button>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('log_new') }}">New</a>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}