{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}
    <h1 style="color: red;">To Do List: {{ status }}<a href="{{ path('to_do_list_new') }}">+</a></h1>

    <div class="row">
        <div class="col-3">
            <a class="btn btn-outline-success btn-sm"
               href="{{ path('to_do_list_index', {status: "Complete"}) }}">Complete</a>
            <a class="btn btn-outline-primary btn-sm"
               href="{{ path('to_do_list_index', {status: "Pending"}) }}">Pending</a>
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('to_do_list_index', {status: "Blocked"}) }}">Blocked</a>
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('to_do_list_index', {status: "All"}) }}">All</a>
        </div>
        <div class="col-3">

        </div>
        <div class="col-3">
            <a class="btn btn-success btn-sm" href="{{ path('to_do_list_index', {status: "All"}) }}">Re-number</a>
        </div>

    </div>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Priority</th>
            <th style="width: 350px">Project</th>
            <th>Access</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for to_do_list in to_do_lists %}

            {% set hasAccess = 0 %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set hasAccess = 1 %}
            {% endif %}
            {% for user in to_do_list.getAccessTo %}
                {% if user.id == app.user.id %}
                    {% set hasAccess = 1 %}
                {% endif %}
            {% endfor %}
            {% if hasAccess == 1 %}

                <tr style="background-color: aliceblue">
                    <td style="width: 10px;">{{ to_do_list.priority }}</td>
                    <td style="width: 170px; font-size: large">
                        <b> <a target="_blank"
                               href="{{ path('to_do_list_edit', {'id': to_do_list.id}) }}">{{ to_do_list.project }}</a></b>
                    </td>
                    <td style="width: 600px;font-size: small">
                        {% for user in to_do_list.getAccessTo %}
                            {% if user.id == app.user.id %}
                                <i style="color: red" class="fa fa-user"></i> <span
                                    style="color: green; background-color: yellow">{{ user.fullName }};</span>
                            {% else %}
                                <i class="fa fa-user"></i> {{ user.fullName }};
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style="width: 1700px;">
                        <a target="_blank" class="btn btn-outline-primary btn-sm"
                           href="{{ path('to_do_list_items_new', {'project': to_do_list.project} ) }}">+</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table id="test{{ to_do_list.id }}" class="table table-responsive">
                            <thead>
                            <tr>
                                {#                            <th>a{{ to_do_list.id }}</th> #}
                                {#                            <th>b{{ to_do_list.id }}</th> #}
                                {#                            <th>c{{ to_do_list.id }}</th> #}
                                {#                            <th>d{{ to_do_list.id }}</th> #}
                            </tr>
                            </thead>
                            <tbody>
                            {% for to_do_lists_item in to_do_lists_items %}
                                <tr>
                                    {% if to_do_list.project == to_do_lists_item.project.project and (to_do_lists_item.status == status  or status =="All") %}
                                        <td style="width: 35px">
{#                                            {{ to_do_lists_item.status|slice(0,1) }}.#}
                                            {{ to_do_list.priority }}.{{ to_do_lists_item.priority }}
                                        </td>
                                        <td style="width: 1800px">
                                            <a target="_blank"
                                               href="{{ path('to_do_list_items_edit', {'id':to_do_lists_item.id}) }}">
                                              <i class="fa fa-pen"></i>
                                            </a>

                                            {{ to_do_lists_item.task|raw }}
                                        </td>
                                        <td>
                                            {% if to_do_lists_item.status=="Complete" %}
                                                <span style="color: green"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                            {% if to_do_lists_item.status=="Blocked" %}
                                                <span style="color: red"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                            {% if to_do_lists_item.status=="Pending" %}
                                                <span style="color: grey"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                        </td>
                                        <td style="width: 100px">
                                            {% include 'to_do_list/buttons.html.twig' %}
                                        </td>

                                    {% endif %}
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <br>
{% endblock %}
{% block datatable %}
    <script>


        $(document).ready(function () {
            $('#test1').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test2').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test3').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test4').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test5').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test6').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test7').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });


        $(document).ready(function () {
            $('#test8').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test9').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test10').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });


        $(document).ready(function () {
            $('#test11').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test12').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
        $(document).ready(function () {
            $('#test13').DataTable({
                'pageLength': 2,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });

    </script>
{% endblock datatable %}