{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}
    <h1 style="color: red;">To Do List: {{ project_title }}
        {% if status!="All" %}
            ({{ status }})
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('to_do_list_new') }}">+</a>
        {% endif %}
    </h1>

    {% include 'to_do_list/parts/buttons.html.twig' %}

    <table class="table table-responsive maintable">
        <thead>
        <tr>
            <th>Priority</th>
            <th style="width: 350px">Project</th>
            <th style="width: 2650px">Access</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for to_do_list in to_do_lists %}

            {% set hasAccess = 0 %}
            {% if is_granted('ROLE_ADMIN') %}
                {% set hasAccess = 1 %}
            {% endif %}
            {% for user in to_do_list.getAccessTo %}
                {% if user.id == app.user.id %}
                    {% set hasAccess = 1 %}
                {% endif %}
            {% endfor %}
            {% if hasAccess == 1 %}

                <tr style="background-color: aliceblue">
                    <td style="width: 10px; text-align: center"><b>{{ to_do_list.priority }}</b></td>
                    <td style="width: 170px; font-size: large">
                        <b> <a target="_blank"
                               href="{{ path('to_do_list_edit', {'id': to_do_list.id}) }}">{{ to_do_list.project }}</a></b>
                    </td>
                    <td style="width: 600px;font-size: small">
                        {% for user in to_do_list.getAccessTo %}
                            {% if user.id == app.user.id %}
                                <i style="color: red" class="fa fa-user"></i> <span
                                    style="color: green; background-color: yellow">{{ user.fullName }};</span>
                            {% else %}
                                <i class="fa fa-user"></i> {{ user.fullName }};
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td style="width: 1700px;">
                        <a target="_blank" class="btn btn-outline-primary btn-sm"
                           href="{{ path('to_do_list_items_new', {'project': to_do_list.project} ) }}">+</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table table-responsive innertable">
                            <thead>
                            <tr class="headinnertable">
                                <th></th>
                                <th style="width: 15px"></th>
                                <th style="width: 15px"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for to_do_lists_item in to_do_lists_items %}

                                {% if to_do_list.project == to_do_lists_item.project.project and (to_do_lists_item.status == status  or status =="All") %}
                                    <tr>
                                        <td style="width: 35px">
                                            {{ (to_do_list.priority  + 0.0000000001 +(to_do_lists_item.priority/100) )|number_format(2, '.', ',') }}
                                        </td>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            {% include 'to_do_list/changePriorityButtons.html.twig' %}
                                        {% endif %}
                                        <td style="width: 1800px;">
                                            <div class="d-flex">
                                                <div>
                                                    <a class="d-inline" target="_blank"
                                                       href="{{ path('to_do_list_items_edit', {'id':to_do_lists_item.id}) }}">
                                                        <i style="color: red" class="fa fa-pen"></i>
                                                    </a>
                                                </div>
                                                <div class="ml-2"> {{ to_do_lists_item.task|raw }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            {% if to_do_lists_item.status=="Complete" %}
                                                <span style="color: green"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                            {% if to_do_lists_item.status=="Blocked" %}
                                                <span style="color: red"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                            {% if to_do_lists_item.status=="Pending" %}
                                                <span style="color: grey"> {{ to_do_lists_item.status }}</span>
                                            {% endif %}
                                        </td>

                                        <td style="width: 125px">
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                {% include 'to_do_list/pendingCompleteBlockedButtons.html.twig' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>


                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>


    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.innertable').DataTable({
                'pageLength': 10,
                "order": [[4, 'desc'], [0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false,
                "aaSorting": []
            });
            $('.headinnertable').hide();
        });

    </script>
{% endblock datatable %}