{% extends 'base.html.twig' %}

{% block title %}To Do List{% endblock %}

{% block body %}
    <h1 style="color: red;">To Do List <a href="{{ path('to_do_list_new') }}">+</a></h1>


    <table class="table-main">
        <thead>
        <tr>
            <th>Priority</th>
            <th>Task</th>
            <th>Assigned To</th>
            <th>Completion Date</th>
            <th>File</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for to_do_list in to_do_lists %}
            <tr>
                <td>{{ to_do_list.priority }}</td>
                <td><a href="{{ path('to_do_list_edit', {'id': to_do_list.id}) }}">{{ to_do_list.task }}</a></td>
                <td>{{ to_do_list.assignedTo }}</td>
                <td data-sort="{{ to_do_list.completionDate ? to_do_list.completionDate|date('Y-m-d') : '' }}">{{ to_do_list.completionDate ? to_do_list.completionDate|date('d-M-Y') : '' }}</td>
                <td>
                    {% if to_do_list.file is empty %}
                        -
                    {% else %}
                        {% for file in to_do_list.file %}
                            <a title="{{ file }}" target="_blank"
                               href="{{ path('to_do_list_viewfile',{fileName:file}) }}"><i class="fa fa-paperclip"></i> </a>
                        {% endfor %}
                    {% endif %}

                </td>
                <td>{{ to_do_list.description|raw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a class="btn btn-outline-success btn-sm" href="{{ path('to_do_list_new') }}">New</a>
    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table-main').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc', 1, 'dsc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}

