{% if to_do_lists_item.status=="Pending" %}
    <a class="btn btn-outline-success btn-sm" title="Complete"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Complete'}) }}">
        <i style="color: green" class="fas fa-check"></i>
    </a>
    <a class="btn btn-outline-secondary btn-sm" title="Blocked"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Blocked'}) }}">
        <i style="color: red" class="fa fa-remove"></i>
    </a>
    <a class="btn btn-outline-secondary btn-sm" title="Copy"
       href="{{ path('to_do_list_items_copy', {'id':to_do_lists_item.id}) }}">
        <i style="color: grey" class="fa fa-copy"></i>
    </a>
{% endif %}


{% if to_do_lists_item.status=="Complete" %}
    <a class="btn btn-outline-primary btn-sm" title="Pending"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Pending'}) }}">
        <i style="color: grey" class="fas fa-question"></i>
    </a>
    <a class="btn btn-outline-secondary btn-sm" title="Blocked"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Blocked'}) }}">
        <i style="color: red" class="fa fa-remove"></i>
    </a>
{% endif %}


{% if to_do_lists_item.status=="Blocked" %}
    <a class="btn btn-outline-success btn-sm" title="Complete"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Complete'}) }}">
        <i style="color: green" class="fas fa-check"></i>
    </a>
    <a class="btn btn-outline-primary btn-sm" title="Pending"
       href="{{ path('to_do_list_items_change_status', {'id':to_do_lists_item.id, 'status':'Pending'}) }}">
        <i style="color: grey" class="fas fa-question"></i>
    </a>
{% endif %}

