{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        <h2 style="color: red">New Website Contacts Details</h2>
        {{ form_row(form.status) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.notes) }}
        {{ form_row(form.service) }}
        {{ form_row(form.dateTime) }}
    </div>
</div>
<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
