{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_row(form.status) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
    </div>
    <div class="col-2">
        {{ form_row(form.email) }}
        {{ form_row(form.mobile) }}
        {{ form_row(form.notes) }}
        {{ form_row(form.dateTime) }}
    </div>
    <div class="col-2">
        {{ form_row(form.product) }}
    </div>
</div>
<button class="btn btn-success btn-sm mb-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
