{% extends 'base.html.twig' %}

{% block title %}Website Contacts{% endblock %}

{% block body %}
    <h1 style="color: red">Website Contacts</h1>

    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>Status</th>
            <th>
                <i style="color: blue" title="Is already a User?" class="fa fa-info-circle"></i>
            </th>
            <th>Date</th>
            <th>Time</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Service</th>
            <th>Notes</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for website_contact in website_contacts %}
            <tr>
                <td>
                    {{ website_contact.status }}
                </td>
                <td>
                    {% if CheckIfUserService.checkIfUser(website_contact.email) == true %}
                        <i title="Already a User" style="color: green" class="fa fa-check"></i>
                    {% endif %}
                    {% if CheckIfUserService.checkIfUser(website_contact.email) == false %}
                        <i title="Not already a user" style="color: red" class="fa fa-remove"></i>
                    {% endif %}

                </td>
                <td data-sort="{{ website_contact.dateTime|date('Y-m-d H:i') }}">{{ website_contact.dateTime ? website_contact.dateTime|date('d-M-y') : '' }}</td>
                <td>{{ website_contact.dateTime ? website_contact.dateTime|date('H:i') : '' }}</td>
                <td>
                    {{ website_contact.firstName }}
                </td>
                <td>
                    {{ website_contact.lastName }}
                </td>
                <td>
                    {% if website_contact.email is not null %}
                        <a href="mailto:{{ website_contact.email }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% endif %}
                    {{ website_contact.email }}
                </td>
                <td>
                    {% if website_contact.mobile  is not empty %}
                        <a target="_blank" href="https://wa.me/{{ website_contact.mobile   | replace({' ': ''}) }}">
                            <i title="{{ website_contact.mobile }}" class="fab fa-whatsapp"
                               style="color:green; text-align: center"></i></a>
                    {% endif %}

                    {{ website_contact.mobile }}
                </td>
                <td style="text-align: left">
                    {% if website_contact.product is not null %}
                        {{ website_contact.product.product }}
                    {% endif %}
                </td>
                <td style="text-align: left">{{ website_contact.notes }}</td>

                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('website_contacts_edit', {'id': website_contact.id}) }}">
                        <i class="fa fa-pen"></i>
                    </a>
                </td>
                <td>
                    {% if website_contact.status == 'Pending' %}
                        {% if CheckIfUserService.checkIfUser(website_contact.email) == false %}
                            <a class="btn btn-outline-success btn-sm" title="Convert to User"
                               href="{{ path('website_contacts_update_status', {'id': website_contact.id, 'new_status':'New User'}) }}">
                                <i class="fa fa-arrow-right"></i><i class="fa fa-user"></i>
                            </a>
                        {% else %}
                            Already a user
                        {% endif %}
                        <a class="btn btn-outline-danger btn-sm" title="Spam"
                           href="{{ path('website_contacts_update_status', {'id': website_contact.id, 'new_status':'Junk'}) }}">
                            <i class="fas fa-ban"></i>
                        </a>
                    {% endif %}
                    {% if website_contact.status == 'Junk' %}
                        <a class="btn btn-outline-primary btn-sm" title="Revert to Pending"
                           href="{{ path('website_contacts_update_status', {'id': website_contact.id, 'new_status':'Pending'}) }}">
                            <i class="fas fa-recycle"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    <form method="post" action="{{ path('website_contacts_delete', {'id': website_contact.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ website_contact.id) }}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('website_contacts_new') }}">New</a>
{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [2, 'asc']],
                "paging": true,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}
