{% extends 'base.html.twig' %}

{% block title %}Prospective Employers{% endblock %}

{% block body %}
    <h1 style="color: red">Prospect Employers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Employer</th>
                <th>InterviewDate1</th>
                <th>InterviewDate2</th>
                <th>InterviewDate3</th>
        </thead>
        <tbody>
        {% for prospect_employer in prospect_employers %}
            <tr>
                <td>    <a href="{{ path('prospect_employer_edit', {'id': prospect_employer.id}) }}">{{ prospect_employer.employer }}</a></td>
                <td>{{ prospect_employer.interviewDate1 ? prospect_employer.interviewDate1|date('d-M-Y') : '' }}</td>
                <td>{{ prospect_employer.interviewDate2 ? prospect_employer.interviewDate2|date('d-M-Y') : '' }}</td>
                <td>{{ prospect_employer.interviewDate3 ? prospect_employer.interviewDate3|date('d-M-Y') : '' }}</td>
                <td>
                   </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('prospect_employer_new') }}">New</a>
{% endblock %}
