{% extends '../../base.html.twig' %}

{% block title %}AssetClasses{% endblock %}

{% block body %}
    <h1 style="color: red">Asset Classes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asset_class.id }}</td>
            </tr>
            <tr>
                <th>AssetClass</th>
                <td>{{ asset_class.assetClass }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('asset_classes_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('asset_classes_edit', {'id': asset_class.id}) }}">Edit</a>

    {{ include('asset_classes/_delete_form.html.twig') }}
{% endblock %}
