<style>
    .ck-editor__editable {
        min-height: 600px;
    }
</style>

{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        <h3 style="color: blue">Contact details</h3>
        {{ form_row(form.emailAddress) }}
        {{ form_row(form.mobileNumber) }}
        {{ form_row(form.skype) }}
        {{ form_row(form.address) }}
        {{ form_row(form.gpsCoordinates) }}
    </div>
    <div class="col-md-3">
        <h3 style="color: blue">Social Media</h3>
        {{ form_row(form.linkedIn) }}
        {{ form_row(form.companiesHouseLink) }}
        {{ form_row(form.github) }}
        {{ form_row(form.facebookLink) }}
        {{ form_row(form.twitter) }}

        <strong style="color: blue">
            {{ static_text.cv }}
        </strong> <br>
        {% if static_text.cv is not empty %}
            <a class="btn btn-sm btn-danger" href="{{ path('cv_delete_attachment',{id:static_text.id}) }}">Delete
                attachment</a>
        {% endif %}
        {{ form_row(form.cv) }}

    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <h3 style="color: blue">Investment Base Currency</h3>
        {{ form_row(form.baseCurrency) }}
    </div>
</div>
<hr>

<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}