<style>
    .ck-editor__editable {
        min-height: 600px;
    }
</style>

{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <h3 style="color: blue">Contact details</h3>
        {{ form_row(form.emailAddress) }}
        {{ form_row(form.mobileNumber) }}
        {{ form_row(form.skype) }}
        {{ form_row(form.address) }}
        {{ form_row(form.gpsCoordinates) }}
    </div>
    <div class="col-md-6">
        <h3 style="color: blue">Social Media</h2>
        {{ form_row(form.linkedIn) }}
        {{ form_row(form.companiesHouseLink) }}
        {{ form_row(form.github) }}
        {{ form_row(form.facebookLink) }}
        {{ form_row(form.twitter) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3 style="color: blue">Commercial details</h3>
        {{ form_row(form.baseCurrency) }}
    </div>
    <div class="col-md-6">

    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 style="color: blue">Homepage</h2>
        {{ form_row(form.homepage1) }}
        {{ form_row(form.homepage2) }}
    </div>
    <div class="col-md-6">
        <h3 style="color: blue">Sub Pages</h2>
        {{ form_row(form.webDesign) }}
        {{ form_row(form.aboutSN) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 style="color: blue">Introduction/Emails</h2>
        {{ form_row(form.emailContact) }}
        {{ form_row(form.emailGuest) }}
    </div>
    <div class="col-md-6">
        <h3 style="color: blue">Introduction/Emails</h2>
        {{ form_row(form.emailAccountant) }}
        {{ form_row(form.emailFamily) }}
    </div>
</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block additionaljs %}
    <script>
        ClassicEditor
            .create(document.querySelector('#static_text_homepage1'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#static_text_homepage2'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#static_text_webDesign'))
            .catch(error => {
                console.error(error);
            });


        ClassicEditor
            .create(document.querySelector('#static_text_aboutSN'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#static_text_emailAccountant'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#static_text_emailContact'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#static_text_emailFamily'))
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#static_text_emailGuest'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}
