{% extends 'base.html.twig' %}

{% block title %}StaticText index{% endblock %}

{% block body %}
    <h1 style="color: red">CMS Editor</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Base ccy</th>
            <th>Homepage1</th>
            <th>Homepage2</th>
            <th>Email Family</th>
            <th>Email Accountant</th>
            <th>Email Contact</th>
            <th>Email Guest</th>
        </tr>
        </thead>
        <tbody>
        {% for static_text in static_texts %}
            <tr>
                <td><a class="btn btn-outline-danger btn-sm" href="{{ path('static_text_edit', {'id': static_text.id}) }}">Edit</a></td>
                <td>{{ static_text.baseCurrency }}</td>
                <td>{{ static_text.homepage1 |raw }}</td>
                <td>{{ static_text.homepage2 |raw }}</td>
                <td>{{ static_text.emailFamily |raw }}</td>
                <td>{{ static_text.emailAccountant |raw }}</td>
                <td>{{ static_text.emailContact |raw }}</td>
                <td>{{ static_text.emailGuest |raw }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('static_text_new') }}">New</a>
{% endblock %}
