{% extends 'base.html.twig' %}

{% block title %}CMS: Static Text{% endblock %}

{% block body %}
    <h1 style="color: red">CMS: Static Text</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Skype</th>
            <th>LinkedIN</th>
            <th>Companies<br>House</th>
            <th>GitHub</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>CV</th>
            <th>Base ccy</th>
            <th>Last Outlook Download</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for static_text in static_texts %}
            <tr>
                <td>
                    {{ static_text.address }}
                </td>
                <td>{{ static_text.emailAddress }}</td>
                <td>{{ static_text.mobileNumber }}</td>
                <td style="text-align: center">
                    {% if static_text.skype is not null %}
                        <i style="color: blue" title="{{ static_text.skype }}" class="fab fa-skype"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if static_text.linkedIn is not null %}
                        <i style="color: blue" title="{{ static_text.linkedIn }}" class="fab fa-linkedin"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {{ static_text.companiesHouseLink }}
                </td>
                <td style="text-align: center">
                    {% if static_text.github is not null %}
                        <i style="color: black" title="{{ static_text.github }}" class="fab fa-github"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if static_text.facebookLink is not null %}
                        <i style="color: blue" title="{{ static_text.facebookLink }}" class="fab fa-facebook"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if static_text.twitter is not null %}
                        <i style="color: blue" title="{{ static_text.twitter }}" class="fab fa-twitter"></i>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if static_text.cv is not empty %}
                        <a title="{{ static_text.cv }}" target="_blank" href="{{ path('show_cv_attachment',{id : static_text.id}) }}">
                        <i style="color: red" class="fa fa-file-pdf"></i></a>
                    {% endif %}
                </td>
                <td>
                    {{ static_text.baseCurrency }}
                </td>
                <td>
                    {{ static_text.lastOutlookDownload|date('d-M-Y') }}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('static_text_edit',{id:static_text.id}) }}">Edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success btn-sm" href="{{ path('static_text_new') }}">New</a>
    {% endif %}
{% endblock %}
