{% extends 'base.html.twig' %}

{% block title %}CMS index{% endblock %}

{% block body %}
    <h1 style="color: red">CMS Editor</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Skype</th>
            <th>LinkedIN</th>
            <th>Companies House</th>
            <th>GitHub</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>CV</th>
            <th>Base ccy</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for static_text in static_texts %}
            <tr>
                <td>{{ static_text.id }}</td>
                <td>{{ static_text.address }}</td>
                <td>{{ static_text.emailAddress }}</td>
                <td>{{ static_text.mobileNumber }}</td>
                <td>{{ static_text.skype }}</td>
                <td>{{ static_text.linkedIn }}</td>
                <td>{{ static_text.companiesHouseLink }}</td>
                <td>{{ static_text.github }}</td>
                <td>{{ static_text.facebookLink }}</td>
                <td>{{ static_text.twitter }}</td>
                <td>
                    {% if static_text.cv is not empty %}
                        <a target="_blank" href="{{ path('show_cv_attachment',{id : static_text.id}) }}">{{ static_text.cv }}</a>
                    {% endif %}
                </td>
                <td>{{ static_text.baseCurrency }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('static_text_edit',{id:static_text.id}) }}">Edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success btn-sm" href="{{ path('static_text_new') }}">New</a>
    {% endif %}
{% endblock %}
