{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1 style="color: red">Settings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>FlightStatsDays</th>
                <td>{{ setting.flightStatsDays }}</td>
            </tr>
            <tr>
                <th>FlightStatsStartDate</th>
                <td>{{ setting.flightStatsStartDate ? setting.flightStatsStartDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FlightStatsDepartureAirport</th>
                <td>{{ setting.flightStatsDepartureAirport }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('settings_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('settings_edit', {'id': setting.id}) }}">Edit</a>

    {{ include('settings/_delete_form.html.twig') }}
{% endblock %}
