{% extends 'base.html.twig' %}

{% block title %}Chavey Down Bills{% endblock %}

{% block body %}
    <h1 style="color: red">Chavey Down Bills for HMRC</h1>
{% set total = 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th>Attachment</th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        {% for chavey_down in chavey_downs %}
            <tr>
                <td data-sort='{{chavey_down.date|date('Y-m-d')  }}'>{{ chavey_down.date ? chavey_down.date|date('d-M-Y') : '' }}</td>
                <td>{{ chavey_down.vendor }}</td>
                <td>{{ chavey_down.amount|number_format (2, '.') }}</td>
                <td>
                    {% if chavey_down.attachments is not empty %}
                       <a target="_blank" href="{{ path('show_attachment',{id : chavey_down.id}) }}" > {{ chavey_down.attachments }} </a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm mt-2"
                       href="{{ path('chavey_down_edit', {'id': chavey_down.id}) }}">Edit</a>
                </td>
            </tr>
            {% set total = total +  chavey_down.amount %}
        {% endfor %}
        </tbody>
    </table>
    <hr>
<p>Total: {{ total |number_format (2, '.') }}</p>
    <hr>
    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('chavey_down_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
