{% extends 'base.html.twig' %}

{% block title %}HMRC Audit - Chavey Down Receipts{% endblock %}

{% block body %}
    <h1 style="color: red">Chavey Down - HMRC Audit</h1>

{#    <a title="Investgation reference: CP- " target="_blank" href="{{ path('chaveyDownBackground') }}"><i#}
{#                style="font-size: large" class="fa fa-info-circle"></i></a>#}
{{ StaticText.content.mobileNumber }}
    {% set total = 0 %}
    <table class="table">
        <thead>
        <tr>
            <th width="100px">Date</th>
            <th width="100px">Vendor</th>
            <th width="250px">Description</th>
            <th>Amount</th>
            <th>Attachment</th>
            <th>Developer comments</th>
            <th>HMRC Comments</th>
            <th width="250px">#</th>
            <th width="100px">##</th>
        </tr>
        </thead>
        <tbody>
        {% for chavey_down in chavey_downs %}
            <tr>
                <td data-sort='{{ chavey_down.date|date('Y-m-d') }}'>{{ chavey_down.date ? chavey_down.date|date('d-M-Y') : '' }}</td>
                <td>{{ chavey_down.vendor }}  </td>
                <td>{{ chavey_down.description }} </td>
                <td style="text-align: right">{{ chavey_down.amount|number_format (2, '.') }}</td>
                <td style="text-align: center">
                    {% if chavey_down.attachments is not empty %}
                          {% for attachment in chavey_down.attachments %}
                        <a title= {{ attachment }} target="_blank"
                           href="{{ path('show_attachment',{id : chavey_down.id,'filename':attachment}) }}"><i class="fa fa-paperclip"></i>
                        </a>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>{{ chavey_down.serpentimeComments }}</td>
                <td>{{ chavey_down.hmrcComments }}</td>
                <td><a class="btn btn-outline-success btn-sm mt-2"
                       href="{{ path('chavey_down_edit_comment', {'id': chavey_down.id, 'comment': 'OK'}) }}">HMRC:OK</a>
                    <a class="btn btn-outline-danger btn-sm mt-2"
                       href="{{ path('chavey_down_edit_comment', {'id': chavey_down.id, 'comment' : 'Please review'}) }}">HMRC:Review</a></td>
                <td width="150px"><a class="btn btn-outline-primary btn-sm mt-2"
                       href="{{ path('chavey_down_edit', {'id': chavey_down.id}) }}">Edit</a>


                    {% if is_granted('ROLE_ADMIN') %}
                    <form class="d-inline" method="post" action="{{ path('chavey_down_delete', {'id': chavey_down.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chavey_down.id) }}">
                        <button class="btn btn-danger btn-sm mt-2"><i style="color: white;" class="fa fa-trash"></i></button>
                    {% endif %}
                </td>
            </tr>
            {% set total = total +  chavey_down.amount %}
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <p><b>Total:</b> {{ total |number_format (2, '.') }}</p>
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success mt-2" href="{{ path('chavey_down_new') }}">Add</a>
        <a class="btn btn-danger mt-2" href="{{ path('chaveydownimport') }}">Import xls</a>
    {% endif %}
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
