{{ form_start(form) }}
<h2>Attachment Upload</h2>
<div class="row">
    <div class="col-md-3">
        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
            {{ form_row(form.category) }}
            {{ form_row(form.description) }}
            {{ form_row(form.date) }}
{#            {% for attachment in file_attachments.attachments %}#}
{#               {{ attachment }} xx<br>#}
{#            {% endfor %}#}
        {% else %}
            {{ form_row(form.category,{'attr':{'readonly':'true'}}) }}
            {{ form_row(form.description,{'attr':{'readonly':'true'}}) }}
            {{ form_row(form.notes,{'attr':{'readonly':'true'}}) }}
            {{ form_row(form.date,{'attr':{'readonly':'true'}}) }}
            {{ form_row(form.attachments,{'attr':{'readonly':'true'}}) }}
        {% endif %}
    </div>
    <div class="col-md-9">
        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
            {{ form_row(form.notes) }}
        {% else %}
            {{ form_row(form.notes,{'attr':{'readonly':'true'}}) }}
        {% endif %}
    </div>


    <div class="col-md-3" style="padding-left: 0px">
        <strong style="color: blue">
            {% if file_attachments.attachments is not empty %}
                {% for attachment in file_attachments.attachments %}
                    <ul><a title="{{ attachment|raw }}" target="_blank"
                       href="{{ path('show_attachment_file_upload_directory',{id : file_attachments.id,'filename':attachment}) }}">
                        <b> {{ attachment }}</b> </a>
                    </ul>
                {% endfor %}
                <br>
                <br>
                {{ form_row(form.additional) }}
            {% endif %}
            <br>
            {% if file_attachments.attachments is not empty %}
                <a class="btn btn-sm btn-danger"
                   href="{{ path('file_attachments_delete_attachment', {'id': file_attachments.id }) }} ">Delete
                    attachment</a>
            {% endif %}
            {% if file_attachments.attachments is null %}
                {{ form_row(form.attachments) }}
            {% endif %}
        </strong>
    </div>
</div>


<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
