<td style="text-align: right; color: blue">{{ user.businessStreet }}</td>
<td style="text-align: right; color: blue">{{ user.businessCity }}</td>
<td style="text-align: right; color: blue">{{ user.businessPostalCode }}</td>
<td style="text-align: right; color: blue">{{ user.businessCountry }}</td>

<td style="text-align: right; color: green">{{ user.homeStreet }}</td>
<td style="text-align: right; color: green">{{ user.homeCity }}</td>
<td style="text-align: right; color: green">{{ user.homePostalCode }}</td>
<td style="text-align: right; color: green">{{ user.homeCountry }}</td>