<td style="text-align: right">
    {{ user.mobile|slice(0,3) }} -
    {{ user.mobile|length }}
</td>
<td style="text-align: right">
    {{ user.mobile }}
</td>
<td style="text-align: right">
    {{ user.mobile2|slice(0,3) }} -
    {{ user.mobile2|length }}
</td>
<td style="text-align: right">
    {{ user.mobile2 }}
</td>
<td style="text-align: right">
    {{ user.businessPhone|slice(0,3) }} -
    {{ user.businessPhone|length }}
</td>
<td style="text-align: right">
    {{ user.businessPhone }}
</td>
<td style="text-align: right">
    {{ user.homePhone|slice(0,3) }} -
    {{ user.homePhone|length }}
</td>
<td style="text-align: right">
    {{ user.homePhone }}
</td>