{% extends 'base.html.twig' %}

{% block title %}Product Index{% endblock %}

{% block body %}
    <h1 style="color: red">Product Index</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Product</th>
            <th>Main/<br>Sub</th>
            <th>Active</th>
            <th>Include<br>In Footer</th>
            <th>Comments</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.ranking }}</td>
                <td>
                {% if product.product is null %}
                    <i style="background-color: yellow; color: red" class="fa fa-warning"></i>
                    {% else %}
                    {{ product.product }}
                        {% endif %}
                </td>
                <td>{{ product.category }}</td>
                <td style="text-align: center">
                    {% if product.isActive =="Yes" %}
                        <i style="color: green" class="fa fa-dot-circle"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-dot-circle"></i>
                    {% endif %}
                    {#                    {{ product.isActive ? 'Yes' : 'No' }} #}
                </td>
                <td style="text-align: center">
                    {% if product.includeInFooter =="Yes" %}
                        <i style="color: green" class="fa fa-dot-circle"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-dot-circle"></i>
                    {% endif %}
{#                                        {{ product.includeInFooter ? 'Yes' : 'No' }} #}
                </td>
                <td>{{ product.comments }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-success btn-sm" href="{{ path('product_new') }}">New</a>
{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[2, 'asc'],[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
