{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1 style="color: red">Products</h1>
    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>Rank</th>
            <th style="width: 60px"></th>
            <th style="width: 240px">Product</th>
            <th>Main/<br>Sub</th>
            <th>Active</th>
            <th>Include<br>In Footer</th>
            <th style="width: 500px">Comments</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td style="text-align: center">{{ product.ranking *1 }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="{{ path('product_change_ranking', {'id':product.id, 'change':'Up'}) }}">
                        <i style="color: green" class="fas fa-arrow-up"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{{ path('product_change_ranking', {'id':product.id, 'change':'Down'}) }}">
                        <i style="color: red" class="fa fa-arrow-down"></i>
                    </a>
                </td>
                <td>
                    {% if product.product is null %}
                        <i style="background-color: yellow; color: red" class="fa fa-warning"></i>
                    {% else %}
                        {{ product.product }}
                    {% endif %}
                </td>
                <td>
                    {{ product.category }}
                    {% if product.category =='Main' %}
                    <a href="{{ path('product_change_status', {input: 'main_sub', status:'Sub', id:product.id}) }}">
                        <i class="fa fa-recycle"></i>
                    </a>
                    {% elseif product.category =='Sub'   %}
                        <a href="{{ path('product_change_status', {input: 'main_sub', status:'Main', id:product.id}) }}">
                            <i class="fa fa-recycle"></i>
                        </a>
                    {% elseif product.category is null %}
                        <a href="{{ path('product_change_status', {input: 'main_sub', status:'Main', id:product.id}) }}">
                            <i class="fa fa-recycle"></i>
                        </a>
                    {% endif %}

                </td>

                <td style="text-align: center">
                    {% if product.isActive =="Yes" %}
                        <a href="{{ path('product_change_status', {input: 'isActive', status:'No', id:product.id}) }}">
                            <i style="color: green" class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('product_change_status', {input: 'isActive', status:'Yes',id:product.id}) }}">
                            <i style="color: red" class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if product.includeInFooter =="Yes" %}
                        <a href="{{ path('product_change_status', {input: 'includeInFooter', status:'No', id:product.id}) }}">
                            <i style="color: green" class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('product_change_status', {input: 'includeInFooter', status:'Yes',id:product.id}) }}">
                            <i style="color: red" class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>

                <td class="mobile">
                    {{ product.comments|slice(0,20) }}
                </td>
                <td class="desktop">
                    {{ product.comments  }}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" target="_blank"
                       href="{{ path('product_edit', {'id': product.id}) }}">
                        <i class="fa fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-success btn-sm" href="{{ path('product_new') }}">New</a>
{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[3, 'desc'], [0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
