{% extends 'base.html.twig' %}

{% block title %}Tennis Player Availability{% endblock %}
{% block body %}

    <h1 style="color: red">Tennis Player Availability</h1>


    <div class="row">
        <div class="col-md-8">
            {% if minDate == today|date('Y-m-d') %}
                <a class="btn btn-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': today|date('Y-m-d'), 'maxDate': nextSunday|date('Y-m-d')}) }}">This
                    week </a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': today|date('Y-m-d'), 'maxDate': nextSunday|date('Y-m-d')}) }}">This
                    week</a>
            {% endif %}


            {% if minDate == monday2|date('Y-m-d') %}
                <a class="btn btn-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': monday2|date('Y-m-d'), 'maxDate': sunday2|date('Y-m-d')}) }}">Next
                    week</a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': monday2|date('Y-m-d'), 'maxDate': sunday2|date('Y-m-d')}) }}">Next
                    week</a>
            {% endif %}


            {% if minDate == monday3|date('Y-m-d') %}
                <a class="btn btn-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': monday3|date('Y-m-d'), 'maxDate': sunday3|date('Y-m-d')}) }}">Following
                    week</a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm mt-2"
                   href="{{ path('tennis_player_availability_index', {'minDate': monday3|date('Y-m-d'), 'maxDate': sunday3|date('Y-m-d')}) }}">Following
                    week</a>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if minDate is null %}
                <strong>Date range: </strong> {{ lastMonday |date('d-M-Y') }} - {{ nextSunday |date('d-M-Y') }}
            {% else %}
                <strong>Date range: </strong>  {{ minDate|date('d-M-Y') }} - {{ maxDate|date('d-M-Y') }}
            {% endif %}
        </div>
    </div>

    <hr>

    {% for date in dates %}
        <h3 style="color: blue;">{{ date.date |date('D d-M-Y') }}</h3>

        <table class="table">

            <thead>
            <tr>
                <th style="text-align: right">Hour</th>
                <th style="text-align: left">Court(s) Available</th>
                <th style="text-align: right">Court Available & Match criteria for 2+</th>
                {% for tennis_player in tennis_players %}

                    {% for matchrole in tennis_player.roles %}
                        {% if matchrole == 'ROLE_TENNIS_PLAYER' %}

                            <th title={{ tennis_player.email }};{{ tennis_player.mobile }}>
                                <a target="_blank"
                                   href= {{ path('user_edit', {'id': tennis_player.id}) }}> {{ tennis_player.fullName }}</a>
                                <br>
                                <a href="mailto:{{ tennis_player.email }}"><i class="fa fa-envelope"
                                                                              style="color:#d7cccc;font-size:16px ; text-align: center"></i></a>
                                <a href="https://wa.me/{{ tennis_player.mobile }}"> <i class="fa fa-whatsapp"
                                                                                       style="color:green; text-align: center"></i></a>
                            </th>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for hour in hours %}
                {% set i = hour.sort %}
                <tr>

                    <td style="text-align: right" data-sort="{{ hour.sort }}"><b>{{ hour.hour }}</b></td>

                    <td style="text-align:left">
                        {% set flag = 0 %}
                        {% for tennis_court_availability in tennis_court_availabilities %}
                            {% if  tennis_court_availability.hour == hour.sort and tennis_court_availability.date|date('Y-m-d') == date.date|date('Y-m-d') %}
                                {% if tennis_court_availability.available=='1' %}
                                    {{ tennis_court_availability.venue.venue }} <br>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>


                    <td style="text-align:left">
                        {% set flag = 0 %}


                        {% for tennis_court_availability in tennis_court_availabilities %}

                            {% if  tennis_court_availability.hour == hour.sort and tennis_court_availability.date|date('Y-m-d') == date.date|date('Y-m-d') %}
                                {% if tennis_court_availability.available=='1' %}




                                    {% for tennis_player_availability in tennis_player_availabilities %}

                                        {% for tennis_court_preference in tennis_court_preferences %}
                                            {% if tennis_player_availability.hour == hour.sort and
                                                tennis_player_availability.date|date('Y-m-d') == date.date|date('Y-m-d') and
                                                tennis_player_availability.available=='1' and
                                                tennis_court_preference.user.id == tennis_player_availability.user.id and
                                                tennis_court_preference.tennisVenue.id == tennis_court_availability.venue.id and
                                                tennis_court_preference.weekdayElection == 1 %}
                                                {{ tennis_player_availability.user.fullName }};
                                            {% endif %}

                                        {% endfor %}
                                    {% endfor %}
                                    <br>
                                {% endif %}

                            {% endif %}

                        {% endfor %}

                    </td>


                    {% for tennis_player in tennis_players %}
                        {% for matchrole in tennis_player.roles %}
                            {% if matchrole == 'ROLE_TENNIS_PLAYER' %}
                                {% set availability = '' %}
                                {% set id = 0 %}

                                <td style="text-align: center">
                                    {% for tennis_player_availability in tennis_player_availabilities %}
                                        {% if tennis_player_availability.date|date('Y-m-d') == date.date|date('Y-m-d') and
                                            tennis_player_availability.hour == i and
                                            tennis_player_availability.user.id == tennis_player.id %}
                                            {% set flag = 1 %}
                                            {% set availability = tennis_player_availability.available %}
                                            {% set id = tennis_player_availability.id %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if is_granted('ROLE_SUPER_ADMIN') or tennis_player.id ==app.user.id %}


                                        {% if availability == 1 or availability == 0 %}

                                            {% if availability == 1 %}
                                                <a href={{ path('tennis_player_availability_edit', {'id' : id, 'available':availability}) }}><i
                                                            class="fa fa-circle"
                                                            style="color: green; text-align: right"></i></a>
                                            {% else %}
                                                <a href={{ path('tennis_player_availability_edit', {'id' : id, 'available':availability} ) }}><i
                                                            class="fa fa-circle" style="color: red"></i> </a>
                                            {% endif %}
                                        {% else %}
                                            <a href={{ path('tennis_player_availability_add', {'hour': i, 'date': date.date |date('Y-m-d') , 'player' : tennis_player.id}) }}><i
                                                        class="fa fa-circle"
                                                        style="color: orange; text-align: right"></i></a>
                                        {% endif %}


                                    {% else %}
                                        {% if availability == 1 or availability == 0 %}

                                            {% if availability == 1 %}
                                                <i class="fa fa-circle" style="color: green; text-align: right"></i>
                                            {% else %}
                                                <i class="fa fa-circle" style="color: red"></i>
                                            {% endif %}
                                        {% else %}
                                            <i class="fa fa-circle" style="color: orange; text-align: right"></i>
                                        {% endif %}
                                    {% endif %}

                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}


                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <hr>
    {% endfor %}


    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_player_availability_new') }}">New tennis
            player availability</a> <br>
    {% endif %}
    <br>

{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
