{% extends 'base.html.twig' %}

{% block title %}Tennis Player Availability{% endblock %}

{% block body %}

    <h1 style="color: red">Tennis Player Availability</h1>

    {% for date in dates %}
        <h3 style="color: blue;">{{ date.date |date('d-M-Y') }}</h3>

        <table class="table">

            <thead>
            <tr>
                <th style="text-align: right">Hour</th>
                {% for tennis_player in tennis_players %}
                    <th>{{ tennis_player.name }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for hour in hours %}
                <tr>
                    <td>{{ hour.hour }}</td>
                    {% for tennis_player in tennis_players %}
                        {% set availability = "Not defined" %}
                        <td>
                            {% for tennis_player_availability in tennis_player_availabilities %}
                                {% if tennis_player_availability.date == date.date and tennis_player_availability.hour == hour.hour
                                and tennis_player_availability.tennisPlayer.id == tennis_player.id %}
                                    {% set flag=1 %}
                                    {% set availability= tennis_player_availability.available %}
                                {% endif %}
                            {% endfor %}
                            {{ availability }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}


    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_player_availability_new') }}">New</a>

{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
