{% extends 'base.html.twig' %}

{% block title %}Tennis Player Availability{% endblock %}

{% block body %}
    <h1 style="color: red">Tennis Player Availability</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ tennis_player_availability.date ? tennis_player_availability.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ tennis_player_availability.time }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_player_availability_index') }}">Retirn to list</a>

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('tennis_player_availability_edit', {'id': tennis_player_availability.id}) }}">edit</a>

    {{ include('tennis_player_availability/_delete_form.html.twig') }}
{% endblock %}
