{% extends 'base.html.twig' %}

{% block title %}Tennis Venues{% endblock %}

{% block body %}
    <h1 style="color: red">Tennis Venues</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Venue</th>
                <td>{{ tennis_venue.venue }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ tennis_venue.address }}</td>
            </tr>
            <tr>
                <th>MapLink</th>
                <td>{{ tennis_venue.mapLink }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ tennis_venue.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_venues_index') }}">Return to list</a>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_venues_edit', {'id': tennis_venue.id}) }}">Edit</a>

    {{ include('tennis_venues/_delete_form.html.twig') }}
{% endblock %}
