{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <h1>Payments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ payment.date ? payment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('payments_index') }}">Return to list</a>

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('payments_edit', {'id': payment.id}) }}">Edit</a>

    {{ include('payments/_delete_form.html.twig') }}
{% endblock %}
