{{ form_start(form) }}

<div class="row">
    <div class="col-md-4">
        {{ form_row(form.venue) }}
        {{ form_row(form.date) }}
        {{ form_row(form.cost) }}
    </div>

    <div class="col-md-4">
        {{ form_row(form.player1) }}
        {{ form_row(form.player2) }}
        {{ form_row(form.player3) }}
        {{ form_row(form.player4) }}
    </div>
</div>

<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
