{% extends 'base.html.twig' %}

{% block title %}Tennis Bookings{% endblock %}

{% block body %}
    <h1 style="color: red">Tennis Bookings</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Cost</th>
            <th># players</th>
            <th>Cost/player</th>
            <th> </th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
            <th>Player 4</th>
        </tr>
        </thead>
        <tbody>
        {% for tennis_booking in tennis_bookings %}
            <tr>
                <td data-sort="{{ tennis_booking.date|date('Y-m-d H:i' ) }}"><a target="_blank"
                            href="{{ path('tennis_bookings_edit', {'id': tennis_booking.id}) }}">{{ tennis_booking.date ? tennis_booking.date|date('Y-m-d H:i:s')|date('d-M-Y')  : '' }}</a>
                </td>
                <td>{{ tennis_booking.date ? tennis_booking.date|date('Y-m-d H:i')|date('H:i') : '' }}h</td>
                <td>{{ tennis_booking.venue.venue }}</td>
                <td style="text-align: right">{{ tennis_booking.cost|number_format(2, '.', ',') }}</td>
                <td style="text-align: right">{{ tennis_booking.numberOfPlayers|number_format(0, '.', ',') }}</td>
                <td style="text-align: right">{{ (tennis_booking.cost/max(1,tennis_booking.numberOfPlayers))|number_format(2, '.', ',') }}</td>
                <td> </td>
                <td>
                    {% if tennis_booking.player1 is not null %}
                        {{  tennis_booking.player1.fullName }}
                    {% else %} --
                    {% endif %}
                </td>
                <td>
                    {% if tennis_booking.player2 is not null %}
                        {{  tennis_booking.player2.fullName }}
                        {% else %} --
                    {% endif %}
                </td>
                <td>
                    {% if tennis_booking.player3 is not null %}
                    {{  tennis_booking.player3.fullName }}
                    {% else %} --
                    {% endif %}
                </td>
                <td>
                    {% if tennis_booking.player4 is not null %}
                        {{  tennis_booking.player4.fullName }}
                    {% else %} --
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-success btn-sm" href="{{ path('tennis_bookings_new') }}">New booking</a>
{% endblock %}



{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'desc'], [1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
