<style>
    .ck-content {
        height: 500px;
    }
</style>
{{ form_start(form) }}
<div class="row">
    <div class="col-3">
        {{ form_row(form.businessType) }}
        {{ form_row(form.businessCategory) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}




