{% extends 'base.html.twig' %}

{% block title %} Business Type: {{ business_type.businessType }}{% endblock %}

{% block body %}
    <h1 style="color: red">Business Type: {{ business_type.businessType }}</h1>

    {{ include('business_types/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('business_types_index') }}">Return to list</a>

    {{ include('business_types/_delete_form.html.twig') }}
{% endblock %}
