{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        <h2>Investment Details</h2>
        {{ form_row(form.investmentName) }}
        {{ form_row(form.investmentAmount) }}
        {{ form_row(form.investmentDate) }}
        {{ form_row(form.investmentEIS) }}
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-3">
        <h2>Documents</h2>
        {{ form_row(form.shareCert) }}
        {{ form_row(form.eisCert) }}
        {{ form_row(form.otherDocs) }}
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-2">
        <h2>EIS Purchase</h2>
        {{ form_row(form.EISPurchaseYear1) }}
        {{ form_row(form.EISPurchaseYear2) }}
    </div>
    <div class="col-md-1">
        <h2>%</h2>
        {{ form_row(form.eISPurchaseYear1Percentage) }}
        {{ form_row(form.eISPurchaseYear2Percentage) }}
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
        <h2>EIS Sale</h2>
        {{ form_row(form.eISSaleYear1) }}
        {{ form_row(form.eISSaleYear2) }}
        {{ form_row(form.investmentSaleDate) }}
        {{ form_row(form.investmentSoldPrice) }}
    </div>
    <div class="col-md-1">
        <h2>%</h2>
        {{ form_row(form.eISSaleYear1Percentage) }}
        {{ form_row(form.eISSaleYear2Percentage) }}
    </div>



</div>


<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
