{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        <h2>Investment Details</h2>
        {{ form_row(form.investmentCompany) }}
        {{ form_row(form.investmentDate) }}
        {{ form_row(form.currency) }}
        {{ form_row(form.investmentAmount) }}
        {{ form_row(form.purchaseSharePrice) }}
        {{ form_row(form.numberOfShares) }}
        {{ form_row(form.investmentEIS) }}
        <div class="initial-amount-GBP">
            {{ form_row(form.initialInvestmentAmountGBP) }}
        </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-3">
        <h2>Documents</h2>
        {% if investment.shareCert is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('investment_viewfile',{ id:investment.id, filetype:'shareCert' }) }}"> {{ investment.shareCert }}  </a>
            </strong><br>

            {% if investment.shareCert is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_attachment1',{id:investment.id}) }}">Delete
                    attachment</a>
            {% endif %}

        {% endif %}
        {{ form_row(form.shareCert) }}



        {% if investment.eisCert is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('investment_viewfile',{ id:investment.id, filetype:'eisCert' }) }}"> {{ investment.eisCert }}  </a>
            </strong><br>

            {% if investment.eisCert is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_attachment2',{id:investment.id}) }}">Delete
                    attachment</a>
            {% endif %}

        {% endif %}
        {{ form_row(form.eisCert) }}



        {% if investment.otherDocs is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('investment_viewfile',{ id:investment.id, filetype:'otherDocs' }) }}"> {{ investment.otherDocs }}  </a>
            </strong><br>

            {% if investment.otherDocs is not empty %}
                <a class="btn btn-sm btn-danger" href="{{ path('investments_delete_attachment3',{id:investment.id}) }}">Delete
                    attachment</a>
            {% endif %}

        {% endif %}
        {{ form_row(form.otherDocs) }}
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-2">
        <h2>EIS Purchase</h2>
        {{ form_row(form.EISPurchaseYear1) }}
        {{ form_row(form.EISPurchaseYear2) }}
    </div>
    <div class="col-md-1">
        <h2>%</h2>
        {{ form_row(form.eISPurchaseYear1Percentage) }}
        {{ form_row(form.eISPurchaseYear2Percentage) }}
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-2">
        <h2>EIS Sale</h2>
        {{ form_row(form.eISSaleYear1) }}
        {{ form_row(form.eISSaleYear2) }}
        {{ form_row(form.investmentSaleDate) }}
        {{ form_row(form.investmentSoldPrice) }}
    </div>
    <div class="col-md-1">
        <h2>%</h2>
        {{ form_row(form.eISSaleYear1Percentage) }}
        {{ form_row(form.eISSaleYear2Percentage) }}
    </div>
</div>


<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
