{% extends '../../base.html.twig' %}

{% block title %}Edit: {{ investment.investmentCompany.shareCompany }}{% endblock %}

{% block body %}
    <h1 style="color: red;">{{ investment.investmentCompany.shareCompany }}</h1>
    {{ include('investments/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn-info btn-sm mt-2" href="{{ path('investments_tax_view_index', {'grouping': 'All'}) }}">Return to list</a>
    {{ include('investments/_delete_form.html.twig') }}
    <br>

{% endblock %}

{% block additionaljs %}
    <script>
        $("input.datetime").flatpickr({
            altInput: true,
            altFormat: "d-m-Y",
            time_24hr: true,
            enableTime: false,
            noCalendar: false,
            dateFormat: "Y-m-d H:i:s",
            minuteIncrement: 15
        });
    </script>

    <script>
        var investmentAmount = $("#investments_investmentAmount").val();
        var numberOfShares = $("#investments_numberOfShares").val();
        var purchaseSharePrice = '';
        purchaseSharePrice = parseFloat(investmentAmount) / parseFloat(numberOfShares);
        $("#investments_purchaseSharePrice").val(purchaseSharePrice);
        $("#investments_investmentAmount").change(function () {
            var investmentAmount = $("#investments_investmentAmount").val();
            var numberOfShares = $("#investments_numberOfShares").val();
            var purchaseSharePrice = '';
            purchaseSharePrice = parseFloat(investmentAmount.replaceAll(',', '')) / parseFloat(numberOfShares.replaceAll(',', ''));
            $("#investments_purchaseSharePrice").val(purchaseSharePrice);
            investmentAmount = parseFloat(investmentAmount.replaceAll(',', '')).toLocaleString();
            $("#investments_investmentAmount").val(investmentAmount);
            var currency = $("#investments_currency option:selected").text();
            if (currency == 'GBP') {

                $('#investments_initialInvestmentAmountGBP').val(investmentAmount);
            }

        });

        $("#investments_numberOfShares").change(function () {
            var investmentAmount = $("#investments_investmentAmount").val();
            // investmentAmount = parseFloat(investmentAmount.replaceAll(',',''));
            var numberOfShares = $("#investments_numberOfShares").val();
            var purchaseSharePrice = '';
            purchaseSharePrice = parseFloat(investmentAmount.replaceAll(',', '')) / parseFloat(numberOfShares.replaceAll(',', ''));
            $("#investments_purchaseSharePrice").val(purchaseSharePrice);
            numberOfShares = parseFloat(numberOfShares.replaceAll(',', '')).toLocaleString();
            $("#investments_numberOfShares").val(numberOfShares);
        });

        var currency = $("#investments_currency option:selected").text();
        if (currency == 'GBP') {
            var investmentAmount = $("#investments_investmentAmount").val();
            $('#investments_initialInvestmentAmountGBP').val(investmentAmount);
        }

        $("#investments_currency").change(function () {
            var selectedCurrency = $("#investments_currency option:selected").text();
            if (selectedCurrency == 'GBP') {
                var investmentAmount = $("#investments_investmentAmount").val();
                $('#investments_initialInvestmentAmountGBP').val(investmentAmount);
            }
        });
    </script>

    <script>
        $("#investments_investmentDate").change(function () {
            var date = $("#investments_investmentDate").val();
            var date = date.split("-");
            var year = parseInt(date[0]);
            var month = parseInt(date[1]);
            var day = parseInt(date[2]);
            var yearRange = '';
            var lookBack = '';
            if (month < 4) {
                var previousYear = year - 1;
                var previousYearLookback = previousYear - 1;
                yearRange = previousYear + "-" + year;
                lookBack = previousYearLookback + "-" + previousYear;
                $("#investments_EISPurchaseYear1").val(yearRange).change();
                $("#investments_EISPurchaseYear2").val(lookBack).change();

            } else if (month == 4) {
                if (day < 5) {
                    var previousYear = year - 1;
                    var previousYearLookback = previousYear - 1;
                    yearRange = previousYear + "-" + year;
                    lookBack = previousYearLookback + "-" + previousYear;
                    $("#investments_EISPurchaseYear1").val(yearRange).change();
                    $("#investments_EISPurchaseYear2").val(lookBack).change();
                } else {
                    yearRange = "" + year + "-" + (year + 1);
                    var previousYear = year - 1;
                    lookBack = previousYear + "-" + year;
                    $("#investments_EISPurchaseYear1").val(yearRange).change();
                    $("#investments_EISPurchaseYear2").val(lookBack).change();
                }
            } else {
                yearRange = "" + year + "-" + (year + 1);
                var previousYear = year - 1;
                lookBack = previousYear + "-" + year;
                $("#investments_EISPurchaseYear1").val(yearRange).change();
                $("#investments_EISPurchaseYear2").val(lookBack).change();
            }
        })
    </script>

    <script>
        $("#investments_investmentSaleDate").change(function () {
            var date = $("#investments_investmentSaleDate").val();
            var date = date.split("-");
            var year = parseInt(date[0]);
            var month = parseInt(date[1]);
            var day = parseInt(date[2]);
            var yearRange = '';
            var lookBack = '';
            if (month < 4) {
                var previousYear = year - 1;
                var previousYearLookback = previousYear - 1;
                yearRange = previousYear + "-" + year;
                lookBack = previousYearLookback + "-" + previousYear;
                $("#investments_eISSaleYear1").val(yearRange).change();
                $("#investments_eISSaleYear2").val(lookBack).change();

            } else if (month == 4) {
                if (day < 5) {
                    var previousYear = year - 1;
                    var previousYearLookback = previousYear - 1;
                    yearRange = previousYear + "-" + year;
                    lookBack = previousYearLookback + "-" + previousYear;
                    $("#investments_eISSaleYear1").val(yearRange).change();
                    $("#investments_eISSaleYear2").val(lookBack).change();
                } else {
                    yearRange = "" + year + "-" + (year + 1);
                    var previousYear = year - 1;
                    lookBack = previousYear + "-" + year;
                    $("#investments_eISSaleYear1").val(yearRange).change();
                    $("#investments_eISSaleYear2").val(lookBack).change();
                }
            } else {
                yearRange = "" + year + "-" + (year + 1);
                var previousYear = year - 1;
                lookBack = previousYear + "-" + year;
                $("#investments_eISSaleYear1").val(yearRange).change();
                $("#investments_eISSaleYear2").val(lookBack).change();
            }
        })
    </script>

    <script>
        $("#investments_saleSharePrice").change(function () {
            var originalInvestmentGBP = $("#investments_initialInvestmentAmountGBP").val();
            originalInvestmentGBP = parseFloat(originalInvestmentGBP.replaceAll(',', ''))
            var purchasePrice = $("#investments_purchaseSharePrice").val();
            purchasePrice = parseFloat(purchasePrice.replaceAll(',', ''))
            var salePrice = $("#investments_saleSharePrice").val();
            crystallised_gain_or_loss_percent = (salePrice - purchasePrice) / purchasePrice;
            crystallised_gain_or_loss_amount = crystallised_gain_or_loss_percent * originalInvestmentGBP;
            crystallised_gain_or_loss_amount = crystallised_gain_or_loss_amount.toFixed(0).replaceAll(',', '');
            crystallised_gain_or_loss_amount = parseFloat(crystallised_gain_or_loss_amount).toLocaleString();
            $("#investments_crystallisedGainLossInGBP").val(crystallised_gain_or_loss_amount).change();
        })
    </script>

    <script>
        $("#investments_saleSharePrice").change(function () {
            var originalInvestmentGBP = $("#investments_initialInvestmentAmountGBP").val();
            var purchasePrice = $("#investments_purchaseSharePrice").val();
            var salePrice = $("#investments_saleSharePrice").val();
            var firstLoss = {{ investment.assetClass.taxScheme.purchaseTaxOffset }}
            var incomeLossRelief = {{ investment.assetClass.taxScheme.saleIncomeOffset }}
                originalInvestmentGBP = parseFloat(originalInvestmentGBP.replaceAll(',', ''))
            salePrice = parseFloat(salePrice.replaceAll(',', ''))
            crystallised_gain_or_loss_percent_after_initial_tax_relief = ((salePrice - purchasePrice) / purchasePrice) + firstLoss;
            crystallised_gain_or_loss_amount_after_initial_tax_relief = crystallised_gain_or_loss_percent_after_initial_tax_relief * originalInvestmentGBP * incomeLossRelief;
            crystallised_gain_or_loss_amount_after_initial_tax_relief = crystallised_gain_or_loss_amount_after_initial_tax_relief.toFixed(0);
            if (crystallised_gain_or_loss_amount_after_initial_tax_relief > 0) {
                crystallised_gain_or_loss_amount_after_initial_tax_relief = 0
            }
            crystallised_gain_or_loss_amount_after_initial_tax_relief = parseFloat(crystallised_gain_or_loss_amount_after_initial_tax_relief).toLocaleString();
            $("#investments_lossDeductibleAgainstIncome").val(crystallised_gain_or_loss_amount_after_initial_tax_relief).change();
        })
    </script>

    <script>
        {% if investment.eisSaleYear1 is not null and investment.eisSaleYear2 is not null %}
        var investment_eisSaleYear1 = "{{ investment.eISSaleYear1.taxYearRange }}";
        var investment_eisSaleYear2 = "{{ investment.eISSaleYear2.taxYearRange }}";
        $("#investments_eISSaleYear1").val(investment_eisSaleYear1).change();
        $("#investments_eISSaleYear2").val(investment_eisSaleYear2).change();
        {% endif %}
    </script>


    <script>
        var company = $("#investments_investmentCompany option:selected").val();
        var url = '/admin/investments/ajax/company/assetclass/' + company;
        $.get(url, function (data, status) {
            if (data.tax == 0) {
                $('.asset_class_dependent_tax').hide();
            } else {
                $('.asset_class_dependent_tax').show();
            }
            if (data.docs == 0) {
                $('.asset_class_dependent_docs').hide();
            } else {
                $('.asset_class_dependent_docs').show();
            }
        });
        $("#investments_investmentCompany").change(function () {
            var company = $("#investments_investmentCompany option:selected").val();
            var url = '/admin/investments/ajax/company/assetclass/' + company;
            $.get(url, function (data, status) {

                if (data.tax == 0) {
                    $('.asset_class_dependent_tax').hide();
                } else {
                    $('.asset_class_dependent_tax').show();
                }
                if (data.docs == 0) {
                    $('.asset_class_dependent_docs').hide();
                } else {
                    $('.asset_class_dependent_docs').show();
                }
            });
        });

        var investments_investmentAmount = $("#investments_investmentAmount").val();
        $("#investments_investmentAmount").val(parseFloat(investments_investmentAmount).toLocaleString());


        var investments_numberOfShares = $("#investments_numberOfShares").val();
        $("#investments_numberOfShares").val(parseFloat(investments_numberOfShares).toLocaleString());


        var investments_initialInvestmentAmountGBP = $("#investments_initialInvestmentAmountGBP").val();
        $("#investments_initialInvestmentAmountGBP").val(parseFloat(investments_initialInvestmentAmountGBP).toLocaleString());

        var crystallised_gain_or_loss_amount_in_GBP = $("#investments_crystallisedGainLossInGBP").val();
        $("#investments_crystallisedGainLossInGBP").val(parseFloat(crystallised_gain_or_loss_amount_in_GBP).toLocaleString());

        var crystallised_gain_or_loss_amount_after_initial_tax_relief = $("#investments_lossDeductibleAgainstIncome").val();
        $("#investments_lossDeductibleAgainstIncome").val(parseFloat(crystallised_gain_or_loss_amount_after_initial_tax_relief).toLocaleString());


    </script>
{% endblock additionaljs %}