{% extends 'base.html.twig' %}
{% block title %}Investments: {{ grouping }}{% endblock %}
{% block body %}
    <h1 style="color: red">Investments: {{ grouping }}</h1>
    {% include 'investments/parts/investments_buttons.html.twig' %}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('investments_economic_index', {'subset':'All'}) }}">All </a>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('investments_economic_index', {'subset':'Active'}) }}">Active </a>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('investments_economic_index', {'subset':'Sold'}) }}">Sold</a>

    <br><br><br>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Asset Class</th>
            <th style="width: 10px">Active/<br>Sold</th>
            <th style="width: 350px">Investment</th>
            <th style="text-align: left">Investment Date</th>
            <th style="width: 75px; text-align: right">
                Tax Schemes
                <a target="_blank" href="{{ path('tax_schemes_index') }}">
                    <i class="fa f a-link"></i>
                </a>
            </th>
            <th style="text-align: right">Ccy</th>
            <th style="text-align: right;border-right:1px solid black">£ invested</th>
            <th style="text-align: right; width: 80px">Share Price (Purchase)</th>
            <th style="text-align: right; width: 80px">Share Price (Current/Sale*) (£)</th>
            <th style="text-align: right">MTM or<br>Gain/Loss<br>Crystallised(£)</th>
            <th style="text-align: right">PV (Local)</th>
            <th style="text-align: right;border-right:1px solid black">PV (£)</th>
            <th style="text-align: right;border-right:1px solid black">xx</th>
            <th style="text-align: right;border-right:1px solid black">xx</th>
        </tr>
        </thead>
        <tbody>
        {% set TaxSubsidyPurchase_Total = 0 %}
        {% set MTM_Total = 0 %}
        {% set PV_Total = 0 %}
        {% set CGT_Total = 0 %}
        {% set totalLossDeductibleAgainstIncome = 0 %}
        {% for investment in investments %}
            {% set totalLossDeductibleAgainstIncome = totalLossDeductibleAgainstIncome +  investment.lossDeductibleAgainstIncome %}
            {% if 1 == 1 %}
                {% set FXEffect =1 %}
                {% set InitialFXRate =1 %}
                {% set CurrentFXRate =1 %}
                {% if investment.currency.fx != "GBP" %}
                    {% set InitialFXRate =  (investment.investmentAmount/(investment.initialInvestmentAmountGBP +0.00001)) %}
                    {% set CurrentFXRate =  USDGBPFXrate.currentFxRate /investment.currency.currentFxRate %}
                    {% set FXEffect = InitialFXRate/CurrentFXRate %}
                {% endif %}
                {% set investmentChildID = 'investment'~investment.id %}
                {% include 'investments/parts/economic/investments_economic_body.html.twig' %}
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        {#        {% include 'investments/parts/investments_incl_tax_footer.html.twig' %} #}
        </tfoot>
    </table>
    <br>
{% endblock %}


{% block additionaljs %}
    <script>
        $(".investmentsChildren").hide();
        $('.toggle-investment-child').click(function () {
            var investment_Child_ID = $(this).attr("data-investment-Child-Id");
            $("#" + investment_Child_ID).toggle();
        })
    </script>
{% endblock additionaljs %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[2, 'asc'], [3, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}