{% extends 'base.html.twig' %}

{% block title %}Investments{% endblock %}

{% block body %}
    <h1 style="color: red">Investments</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Investment</th>
            <th>Investment Date</th>
            <th>Amount</th>
            <th>EIS</th>
            <th>Sold Price</th>
            <th>Sale Date</th>
            <th>Share Cert</th>
            <th>EIS Cert</th>
            <th>Other Docs</th>
            <th>Hstory</th>
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td><a href="{{ path('investments_edit', {'id': investment.id}) }}">{{ investment.investmentName }}</a>
                </td>
                <td data-sort="{{ investment.investmentDate|date('Y-m-d') }}">{{ investment.investmentDate ? investment.investmentDate|date('d-M-Y') : '' }}</td>
                <td>{{ investment.investmentAmount| number_format (0, '.') }}</td>
                <td>{{ investment.investmentEIS ? 'Yes' : 'No' }}</td>
                <td>{{ investment.investmentSoldPrice| number_format (2, '.') }}</td>
                <td data-sort="{{ investment.investmentSaleDate|date('Y-m-d') }}">{{ investment.investmentSaleDate ? investment.investmentSaleDate|date('d-M-Y') : '' }}</td>
                <td>
                    {% if investment.shareCert is not empty %}
                        <a title= "{{ investment.shareCert }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'ShareCert'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if investment.eisCert is not empty %}
                        <a title= "{{ investment.eisCert }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'EISCert'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if investment.otherDocs is not empty %}
                        <a title= "{{ investment.otherDocs }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'OtherDocs'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td>
                xxx
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('investments_new') }}">New</a>
{% endblock %}
