{% extends 'base.html.twig' %}

{% block title %}Investments{% endblock %}

{% block body %}
    <h1 style="color: red">Investments</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Investment</th>
            <th>Investment Date</th>
            <th>Amount</th>
            <th>EIS</th>
            <th>Sold Price</th>
            <th>Sale Date</th>
            <th>Share Cert</th>
            <th>EIS Cert</th>
            <th>Other Docs</th>
            <th>EIS year</th>
            <th>Further comms</th>

        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            {% set investmentChildID = 'investment'~investment.id %}
            <tr>
                <td>
                    {% if investment.investmentCompany is not null %}
                        <a href="{{ path('investments_edit', {'id': investment.id}) }}">{{ investment.investmentCompany.shareCompany }}</a>
                    {% else %}
                        <a href="{{ path('investments_edit', {'id': investment.id}) }}">--</a>
                    {% endif %}
                    <button class="toggle-investment-child btn btn-outline-warning"
                            data-investment-child-Id="{{ investmentChildID }}"><i class="fas fa-caret-down"></i>
                    </button>
                </td>
                <td data-sort="{{ investment.investmentDate|date('Y-m-d') }}">{{ investment.investmentDate ? investment.investmentDate|date('d-M-Y') : '' }}</td>
                <td style="text-align: right">
                    {% if investment.currency == 'GBP' %}
                        {{ investment.investmentAmount| number_format (0, '.') }}
                    {% else %}
                        xxx
                    {% endif %}
                </td>
                <td>{{ investment.investmentEIS ? 'Yes' : 'No' }}</td>
                <td style="text-align: right">{{ investment.investmentSoldPrice| number_format (0, '.') }}</td>
                <td data-sort="{{ investment.investmentSaleDate|date('Y-m-d') }}">{{ investment.investmentSaleDate ? investment.investmentSaleDate|date('d-M-Y') : '' }}</td>
                <td style="text-align: center">
                    {% if investment.shareCert is not empty %}
                        <a title="{{ investment.shareCert }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'ShareCert'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if investment.eisCert is not empty %}
                        <a title="{{ investment.eisCert }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'EISCert'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if investment.otherDocs is not empty %}
                        <a title="{{ investment.otherDocs }}" target="_blank"
                           href="{{ path('investments_show',{id : investment.id, type: 'OtherDocs'}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                </td>

                <td>
                    {% if investment.eISPurchaseYear1 is not empty %}
                        {{ investment.eISPurchaseYear1.year }}
                    {% endif %}
                    {% if investment.eISPurchaseYear2 is not empty %}
                        {{ investment.eISPurchaseYear2.year }}
                    {% endif %}
                </td>
                <td>

                    <a class="btn btn-success btn-sm mt-2"
                       href="{{ path('investment_future_comms_new', {'id': investment.id}) }}">+</a>
                </td>
            </tr>

            <tr id="{{ investmentChildID }}" class="investmentsChildren">
                <td colspan="10">
                    <div>
                        {% for investmentFutureComms in investmentsFutureComms %}
                            {% if investmentFutureComms.investment.id == investment.id %}
                                <div>
                                    <div class="d-flex">
                                        <div><a target="_blank"
                                                href="{{ path('investment_future_comms_edit', {'id': investmentFutureComms.id}) }}"> {{ investmentFutureComms.date |date('d-M-Y') }}</a>
                                        </div>
                                        <div class="mx-2">
                                            {% if investmentFutureComms.attachment is not empty %}
                                                {% for attachment in investmentFutureComms.attachment %}
                                                    <a title="{{ attachment }}" target="_blank"
                                                       href="{{ path('investment_future_comms_edit',{id : investmentFutureComms.id}) }}"><i
                                                                class="fa fa-paperclip"></i></a>
                                                {% endfor %}
                                            {% endif %}

                                        </div>
                                        <div class="mx-2">{{ investmentFutureComms.comment }}</div>


                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('investments_new') }}">New Investment</a>
{% endblock %}
{% block additionaljs %}
    <script>
        $('.toggle-investment-child').click(function () {
            var investment_Child_ID = $(this).attr("data-investment-Child-Id");
            $("#" + investment_Child_ID).toggle();
        })
    </script>
{% endblock additionaljs %}