{% extends '../../base.html.twig' %}

{% block title %}Investments{% endblock %}

{% block body %}
    <h1>Investments</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>InvestmentName</th>
                <td>{{ investment.investmentName }}</td>
            </tr>
            <tr>
                <th>InvestmentDate</th>
                <td>{{ investment.investmentDate ? investment.investmentDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>InvestmentAmount</th>
                <td>{{ investment.investmentAmount }}</td>
            </tr>
            <tr>
                <th>InvestmentEIS</th>
                <td>{{ investment.investmentEIS ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>InvestmentSoldPrice</th>
                <td>{{ investment.investmentSoldPrice }}</td>
            </tr>
            <tr>
                <th>InvestmentSaleDate</th>
                <td>{{ investment.investmentSaleDate ? investment.investmentSaleDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ShareCert</th>
                <td>{{ investment.shareCert }}</td>
            </tr>
            <tr>
                <th>EisCert</th>
                <td>{{ investment.eisCert }}</td>
            </tr>
            <tr>
                <th>OtherDocs</th>
                <td>{{ investment.otherDocs }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('investments_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm mt-2" href="{{ path('investments_edit', {'id': investment.id}) }}">Edit</a>

    {{ include('investments/_delete_form.html.twig') }}
{% endblock %}
