{% extends 'base.html.twig' %}

{% block title %}Investments - Tax Effects{% endblock %}

{% block body %}

    <h1 style="color: red">Investments: Tax Effects Summary</h1>
    <a target="_blank" class="btn btn-outline-secondary btn-sm" href="{{ path('tax_inputs_overview_index') }}">Self-Assessment</a>
    <a target="_blank" class="btn btn-outline-secondary btn-sm"
       href="{{ path('investments_index', {'grouping':'All'}) }}">Investments</a>

    {% if show == "TaxEffect" %}
        <a target="_blank" class="btn btn-primary btn-sm"
           href="{{ path('investments_tax_consequences',{'show': 'Notional'}) }}">Show Notional</a>
    {% else %}
        <a target="_blank" class="btn btn-secondary btn-sm"
           href="{{ path('investments_tax_consequences',{'show': 'TaxEffect'}) }}">Show Tax Effect</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th style="width: 250px">Investment</th>
            <th style="width: 20px">EIS/SEIS/VCT..</th>
            <th style="text-align: right; border-right:1px solid black; width: 120px">£ Amount</th>
            <th style="text-align: right">Investment Date</th>
            <th style="text-align: right">Sale Date</th>
            <th style="text-align: right; border-right:1px solid black">Sale Proceeds</th>
            {% for taxYear in taxYears %}
                <th style="border-right:1px solid lightgray; text-align: right">
                    <b>{{ taxYear.taxYearRange }}</b>
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                <i style="color: red" class="fa fa-file-pdf"></i>
                            </a>
                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                            <i class="fa fa-question" style="color: gray"></i>
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-6">
                            Tax
                        </div>
                        <div class="col-6">
                            Income
                        </div>
                    </div>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for investment in investments %}
{#            {% set investment.investments_initialInvestmentAmountGBP = 0 %}#}
            {% set totalTaxOffset = 0 %}
            {% set totalIncomeOffset = 0 %}
            {% set totalLossDeductibleAgainstIncome = 0 %}
            {% set currentFXRate = 0 %}
            {% for fxRate in fxRates %}
                {% if investment.currency.fx == fxRate.fx %}
                    {% set currentFXRate = fxRate.currentFxRate %}
                {% endif %}
            {% endfor %}
            {% set investmentChildID = 'investment'~investment.id %}
            <tr>
                <td data-sort="{{ investment.investmentCompany.shareCompany }}}">
                    {% if investment.investmentCompany is not null %}
                        <a target="_blank"
                           href="{{ path('investments_edit', {'id': investment.id}) }}">{{ investment.investmentCompany.shareCompany }}</a>
                    {% else %}
                        <a target="_blank" href="{{ path('investments_edit', {'id': investment.id}) }}">--</a>
                    {% endif %}
                </td>
                <td style="text-align: center">{{ investment.taxScheme.name }}</td>

                <td style="text-align: right;border-right:1px solid black">
                    {% if investment.currency.fx == 'GBP' %}
                        {{ (investment.numberOfShares*investment.purchaseSharePrice)| number_format (0, '.') }}
                    {% else %}
                        <a title="{{ investment.currency.fx }} {{ (investment.numberOfShares*investment.purchaseSharePrice)| number_format (0, '.') }} ">
                            *{{ (investment.initialInvestmentAmountGBP)| number_format (0, '.') }}</a>
                    {% endif %}
                </td>

                <td style="text-align: right"
                    data-sort="{{ investment.investmentDate|date('Y-m-d') }}">{{ investment.investmentDate ? investment.investmentDate|date('d-M-Y') : '' }}</td>
                <td style="text-align: right"
                    data-sort="{{ investment.investmentSaleDate|date('Y-m-d') }}">{{ investment.investmentSaleDate ? investment.investmentSaleDate|date('d-M-Y') : '' }}</td>

                <td style="text-align: right; border-right:1px solid black">
                    {{ (investment.saleSharePrice * investment.numberOfShares)|number_format (0, '.') }}
                </td>


                {% for taxYear in taxYears %}
                    {% if investment.eISPurchaseYear1 is not null and taxYear.taxYearRange == investment.eISPurchaseYear1.taxYearRange %}
                        <td style="border-right:1px solid lightgray; text-align: right; background-color: lightgreen">
                    {% elseif investment.eISPurchaseYear2 is not null and taxYear.taxYearRange == investment.eISPurchaseYear2.taxYearRange %}
                        <td style="border-right:1px solid lightgray; text-align: right; background-color: lightgreen">
                    {% elseif investment.eISSaleYear1 is not null and taxYear.taxYearRange == investment.eISSaleYear1.taxYearRange %}
                        <td style="border-right:1px solid lightgray; text-align: right; background-color: palegoldenrod">
                    {% elseif investment.eISSaleYear2 is not null and taxYear.taxYearRange == investment.eISSaleYear2.taxYearRange %}
                        <td style="border-right:1px solid lightgray; text-align: right; background-color: palegoldenrod">
                    {% else %}
                        <td style="border-right:1px solid lightgray; text-align: right">
                    {% endif %}

                    <div class="row">
                        <div class="col-6">

                            {% set taxOffset = 0 %}
                            {% if investment.eisPurchaseYear1 == taxYear %}
                                {% if show == "TaxEffect" %}
                                    {% set taxOffset = ( investment.taxScheme.purchaseTaxOffset* investment.eISPurchaseYear1Percentage * investment.initialInvestmentAmountGBP/100) %}
                                {% else %}
                                    {% set taxOffset = ( investment.eISPurchaseYear1Percentage * investment.initialInvestmentAmountGBP) %}
                                {% endif %}


                            {% endif %}
                            {% if investment.eisPurchaseYear2 == taxYear %}
                                {% if show == "TaxEffect" %}
                                    {% set taxOffset = ( investment.taxScheme.purchaseTaxOffset* investment.eISPurchaseYear2Percentage * investment.initialInvestmentAmountGBP/100) %}
                                {% else %}
                                    {% set taxOffset = ( investment.eISPurchaseYear2Percentage * investment.initialInvestmentAmountGBP /100 ) %}
                                {% endif %}
                            {% endif %}

                            {{ taxOffset |number_format(0) }}
                            {% set totalTaxOffset = totalTaxOffset + taxOffset %}

                            {% if investment.eisPurchaseYear1 == taxYear and investment.eISPurchaseYear1Percentage > 0 and investment.taxScheme.purchaseTaxOffset>0 %}
                                {% if investment.eisPurchaseYear1SelfAssessmentCheck == "Yes" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-check" style="color: green"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-check" style="color: green"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisPurchaseYear1SelfAssessmentCheck == "No" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-remove" style="color: red"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-remove" style="color: red"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisPurchaseYear1SelfAssessmentCheck == "TBC" or investment.eisPurchaseYear1SelfAssessmentCheck is null %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-question" style="color: gray"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-question" style="color: gray"></i>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}

                            {% if investment.eisPurchaseYear2 == taxYear and investment.eISPurchaseYear2Percentage > 0 and investment.taxScheme.purchaseTaxOffset>0 %}
                                {% if investment.eisPurchaseYear2SelfAssessmentCheck == "Yes" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-check" style="color: green"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-check" style="color: green"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisPurchaseYear2SelfAssessmentCheck == "No" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-remove" style="color: red"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-remove" style="color: red"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisPurchaseYear2SelfAssessmentCheck == "TBC" or investment.eisPurchaseYear2SelfAssessmentCheck is null %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-question" style="color: gray"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-question" style="color: gray"></i>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="col-6">
                            {% set incomeOffset = 0 %}
                            {% if investment.eisPurchaseYear1 == taxYear %}
                                {% if show == "TaxEffect" %}
                                    {% set incomeOffset =  ( investment.taxScheme.purchaseIncomeOffset*  (investment.eISPurchaseYear1Percentage * investment.initialInvestmentAmountGBP)) %}
                                {% else %}
                                    {% set incomeOffset =  ( investment.eISPurchaseYear1Percentage * investment.initialInvestmentAmountGBP) %}
                                {% endif %}
                            {% endif %}
                            {% if investment.eisPurchaseYear2 == taxYear %}
                                {% if show == "TaxEffect" %}
                                    {% set incomeOffset =  ( investment.taxScheme.purchaseIncomeOffset*  (investment.eISPurchaseYear2Percentage * investment.initialInvestmentAmountGBP)) %}
                                {% else %}
                                    {% set incomeOffset =  ( investment.eISPurchaseYear2Percentage * investment.initialInvestmentAmountGBP) %}
                                {% endif %}
                            {% endif %}


                            {% if investment.investmentSaleDate is not null %}

                                {% if investment.eisSaleYear1 == taxYear %}
                                    {% set incomeOffset = incomeOffset +  (investment.eISSaleYear1Percentage * investment.lossDeductibleAgainstIncome/100) %}
                                    {% set totalLossDeductibleAgainstIncome = totalLossDeductibleAgainstIncome +  incomeOffset %}
                                {% endif %}

                                {% if investment.eisSaleYear2 == taxYear %}
                                    {% set incomeOffset = incomeOffset +  (investment.eISSaleYear2Percentage * investment.lossDeductibleAgainstIncome/100) %}
                                    {% set totalLossDeductibleAgainstIncome = totalLossDeductibleAgainstIncome +  incomeOffset %}
                                {% endif %}
                            {% endif %}

                            {{ incomeOffset |number_format(0) }}
                            {% set totalIncomeOffset = totalIncomeOffset + incomeOffset %}


                            {% if investment.eisPurchaseYear1 == taxYear and investment.eISPurchaseYear1Percentage > 0 and investment.taxScheme.purchaseIncomeOffset>0 %}
                                {% if investment.eisPurchaseYear1SelfAssessmentCheck == "Yes" %}
                                    <i class="fa fa-check" style="color: green"></i>
                                {% elseif investment.eisPurchaseYear1SelfAssessmentCheck == "No" %}
                                    <i class="fa fa-remove" style="color: red"></i>
                                {% elseif investment.eisPurchaseYear1SelfAssessmentCheck == "TBC" or investment.eisPurchaseYear1SelfAssessmentCheck is null %}
                                    <i class="fa fa-question" style="color: gray"></i>
                                {% endif %}
                            {% endif %}

                            {% if investment.eisPurchaseYear2 == taxYear and investment.eISPurchaseYear2Percentage > 0 and investment.taxScheme.purchaseIncomeOffset>0 %}
                                {% if investment.eisPurchaseYear2SelfAssessmentCheck == "Yes" %}
                                    <i class="fa fa-check" style="color: green"></i>
                                {% elseif investment.eisPurchaseYear2SelfAssessmentCheck == "No" %}
                                    <i class="fa fa-remove" style="color: red"></i>
                                {% elseif investment.eisPurchaseYear2SelfAssessmentCheck == "TBC" or investment.eisPurchaseYear2SelfAssessmentCheck is null %}
                                    <i class="fa fa-question" style="color: gray"></i>
                                {% endif %}
                            {% endif %}


                            {#                            <-------- New icons---- >#}


                            {% if investment.eisSaleYear1 == taxYear and investment.eISSaleYear1Percentage > 0 and investment.lossDeductibleAgainstIncome>0 %}
                                {% if investment.eisSaleYear1SelfAssessmentCheck == "Yes" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-check" style="color: green"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-check" style="color: green"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisSaleYear1SelfAssessmentCheck == "No" %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-remove" style="color: red"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-remove" style="color: red"></i>
                                        {% endif %}
                                    {% endfor %}

                                {% elseif investment.eisSaleYear1SelfAssessmentCheck == "TBC" or investment.eisSaleYear1SelfAssessmentCheck is null %}
                                    {% for taxinput in taxinputs %}
                                        {% if taxinput.year == taxYear and taxinput.selfAssessment is not empty %}
                                            <a title="{{ taxinput.selfAssessment }}" target="_blank"
                                               href="{{ path('attachments_viewfile',{id : taxinput.id, filetype: 'SelfAssessment'}) }}">
                                                <i class="fa fa-question" style="color: gray"></i>
                                            </a>
                                        {% elseif  taxinput.year == taxYear and taxinput.selfAssessment is empty %}
                                            <i class="fa fa-question" style="color: gray"></i>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}

















                        </div>
                    </div>
                    </td>

                {% endfor %}
            </tr>

        {% endfor %}
        <tfoot>
        <tr>
            <td style="text-align: left; background-color: whitesmoke;border-bottom:1px solid black"><b>Total</b></td>
            <td style="background-color: whitesmoke;border-bottom:1px solid black"></td>
            <td style="background-color: whitesmoke;border-bottom:1px solid black"></td>
            <td style="background-color: whitesmoke;border-bottom:1px solid black"></td>
            <td style="background-color: whitesmoke;border-bottom:1px solid black"></td>
            <td style="background-color: whitesmoke;border-bottom:1px solid black"></td>

            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right; background-color: whitesmoke;border-bottom:1px solid black">
                    <div class="row">
                        <div class="col-6">
                            {% set totalTaxOffset = 0 %}

                            {% for investment in investments %}
                                {% set taxOffset = 0 %}
                                {% if investment.eisPurchaseYear1 == taxYear %}
                                    {% if show == "TaxEffect" %}
                                        {% set taxOffset = taxOffset + ( investment.taxScheme.purchaseTaxOffset*  (investment.eISPurchaseYear1Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% else %}
                                        {% set taxOffset = taxOffset + ( 1 *  (investment.eISPurchaseYear1Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% endif %}
                                    {% set totalTaxOffset = totalTaxOffset + taxOffset %}
                                {% endif %}
                                {% if investment.eisPurchaseYear2 == taxYear %}
                                    {% if show == "TaxEffect" %}
                                        {% set taxOffset = taxOffset + ( investment.taxScheme.purchaseTaxOffset*  (investment.eISPurchaseYear2Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% else %}
                                        {% set taxOffset = taxOffset + ( 1   *  (investment.eISPurchaseYear2Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% endif %}
                                    {% set totalTaxOffset = totalTaxOffset + taxOffset %}
                                {% endif %}
                            {% endfor %}
                            <b>
                                {{ totalTaxOffset|number_format('0') }}
                            </b>
                        </div>

                        <div class="col-6">
                            {% set totalIncomeOffset = 0 %}

                            {% for investment in investments %}
                                {% set incomeOffset = 0 %}
                                {% if investment.eisPurchaseYear1 == taxYear %}
                                    {% if show == "TaxEffect" %}
                                        {% set incomeOffset = incomeOffset + ( investment.taxScheme.purchaseIncomeOffset*  (investment.eISPurchaseYear1Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% else %}
                                        {% set incomeOffset = incomeOffset + ( 1 *  (investment.eISPurchaseYear1Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% endif %}
                                    {% set totalIncomeOffset = totalIncomeOffset + incomeOffset %}
                                {% endif %}
                                {% if investment.eisPurchaseYear2 == taxYear %}
                                    {% if show == "TaxEffect" %}
                                        {% set incomeOffset = incomeOffset + ( investment.taxScheme.purchaseIncomeOffset*  (investment.eISPurchaseYear2Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% else %}
                                        {% set incomeOffset = incomeOffset + ( 1   *  (investment.eISPurchaseYear2Percentage * investment.numberOfShares*investment.purchaseSharePrice /100)) %}
                                    {% endif %}
                                    {% set totalIncomeOffset = totalIncomeOffset + incomeOffset %}
                                {% endif %}

                                {% if investment.eisSaleYear1 == taxYear %}
                                    {% set incomeOffset = incomeOffset +  (investment.eISSaleYear1Percentage * investment.lossDeductibleAgainstIncome/100) %}
                                    {% set totalIncomeOffset = totalIncomeOffset + incomeOffset %}
                                {% endif %}

                                {% if investment.eisSaleYear2 == taxYear %}
                                    {% set incomeOffset = incomeOffset +  (investment.eISSaleYear2Percentage * investment.lossDeductibleAgainstIncome/100) %}
                                    {% set totalIncomeOffset = totalIncomeOffset + incomeOffset %}
                                {% endif %}

                            {% endfor %}

                            <b>{{ totalIncomeOffset|number_format('0') }}</b>

                        </div>
                    </div>
                </td>
            {% endfor %}

        </tr>
        </tfoot>
    </table>

{% endblock %}




{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[3, 'asc'], [1, 'asc'], [2, 'asc'], [3, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
