<div class="row">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-1">
            <a class="btn btn-success btn-sm" href="{{ path('cms_copy_page_formats_new') }}">New</a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_page_formats_import') }}">Import</a>
            <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_page_formats_export') }}">Export</a>
            <a href="{{ asset('administration/Import/CmsCopyPageFormats/template/CmsCopyPageFormats_ImportTemplate.csv') }}">(Template)</a>
        </div>
    {% endif %}

    <div class="col-2">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-outline-danger btn-sm" href="{{ path('cms_copy_page_formats_delete_all') }}">Delete All</a>
        {% endif %}
    </div>
</div>
<br>
