{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        <h2>Tax Inputs & Documents</h2>
        {{ form_row(form.year) }}
        {{ form_row(form.employmentEarnings) }}
        {{ form_row(form.interestEarnings) }}
        {{ form_row(form.otherEarnings) }}
        {{ form_row(form.taxDeductedAtSource) }}
    </div>
    <div class="col-md-3">

        {{ form_row(form.p11D) }}
        {% if tax_input.p11D is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('attachments_viewfile',{ 'id': tax_input.id, 'filetype':'P11D' }) }}"> {{ tax_input.p11D }}  </a>
            </strong><br>

            {% if tax_input.p11D is not empty %}
                <a class="btn btn-sm btn-danger"
                   href="{{ path('tax_input_delete_attachment',{'id':tax_input.id, 'type':'P11D'}) }}">Delete P11D
                    attachment</a>
            {% endif %}
        {% endif %}

        <hr>

        {{ form_row(form.p60) }}
        {% if tax_input.p60 is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('attachments_viewfile',{ 'id': tax_input.id, 'filetype':'P11D' }) }}"> {{ tax_input.p60 }}  </a>
            </strong><br>

            {% if tax_input.p60 is not empty %}
                <a class="btn btn-sm btn-danger"
                   href="{{ path('tax_input_delete_attachment',{'id':tax_input.id, 'type':'P60'}) }}">Delete P60
                    attachment</a>
            {% endif %}
        {% endif %}

        <hr>

        {{ form_row(form.p45) }}
        {% if tax_input.p45 is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('attachments_viewfile',{ 'id': tax_input.id, 'filetype':'P11D' }) }}"> {{ tax_input.p45 }}  </a>
            </strong><br>

            {% if tax_input.p45 is not empty %}
                <a class="btn btn-sm btn-danger"
                   href="{{ path('tax_input_delete_attachment',{'id':tax_input.id, 'type':'P45'}) }}">Delete P45
                    attachment</a>
            {% endif %}
        {% endif %}

        <hr>

        {{ form_row(form.selfAssessment) }}
        {% if tax_input.selfAssessment is not empty %}
            <strong>
                <a target="_blank"
                   href="{{ path('attachments_viewfile',{ 'id': tax_input.id, 'filetype':'SelfAssessment' }) }}"> {{ tax_input.selfAssessment }}  </a>
            </strong><br>

            {% if tax_input.selfAssessment is not empty %}
                <a class="btn btn-sm btn-danger"
                   href="{{ path('tax_input_delete_attachment',{'id':tax_input.id, 'type':'SelfAssessment'}) }}">Delete
                    SA attachment</a>
            {% endif %}
        {% endif %}
    </div>

</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
