{% extends 'base.html.twig' %}

{% block title %}Tax: Employment and Other Income{% endblock %}

{% block body %}
    <h1 style="color: red">Tax: Employment and Other Income</h1>
    <a target="_blank" class="btn btn-outline-secondary btn-sm" href="{{ path('tax_inputs_overview_index') }}">Self-Assessment</a>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="width: 120px">Year</th>
            <th style="width: 150px; text-align: right">Employment Earnings</th>
            <th style="width: 150px; text-align: right">Interest Earnings</th>
            <th style="width: 150px; text-align: right">Other Earnings</th>
            <th style="width: 150px; text-align: right">Tax Deducted At Source</th>
        </tr>
        </thead>
        <tbody>
        {% for taxinput in taxinputs %}
            <tr>
                <td>
                    <a href="{{ path('tax_inputs_edit', {'id': taxinput.id}) }}"> {{ taxinput.year.taxYearRange }}</a>
                </td>
                <td style="text-align: right">{{ taxinput.employmentEarnings |number_format(0) }}</td>
                <td style="text-align: right">{{ taxinput.interestEarnings|number_format(0) }}</td>
                <td style="text-align: right">{{ taxinput.otherEarnings |number_format(0) }}</td>
                <td style="text-align: right">{{ taxinput.taxDeductedAtSource|number_format(0) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('tax_inputs_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
