{% extends 'base.html.twig' %}

{% block title %}Tax Self-Assessment Self-Assessment{% endblock %}

{% block body %}
    <h1 style="color: red">Tax Self-Assessment Overview</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="border-right:1px solid black; width: 300px"></th>
            {% for taxYear in taxYears %}
                <th style="border-right:1px solid lightgray; text-align: right; width: 100px">{{ taxYear.taxYearRange }}</th>
            {% endfor %}
        </tr>
        </thead>


        <tbody>
        <tr>
            <td data-sort="01" style="border-right:1px solid black; text-align: left">
                <a target="_blank"
                   href="{{ path('tax_inputs_index') }}"><b>Employment Earnings</b></a>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            <a target="_blank" href="{{ path('tax_inputs_edit',{id: taxinput.id}) }}">
                                {{ taxinput.employmentEarnings |number_format(0) }}</a>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="02" style="border-right:1px solid black; text-align: left"><b>Interest Income</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {{ taxinput.interestEarnings |number_format(0) }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="03" style="border-right:1px solid black; text-align: left"><b>Other Income</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {{ taxinput.otherEarnings |number_format(0) }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="04" style="border-right:1px solid black; text-align: left">
                <b>Income Offsets (EIS Losses, BRPA)</b></td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {% set IncomeOffset = 0 %}
                    {% for investment in investments %}

                        {% if investment.eisPurchaseYear1 is not null %}
                            {% if investment.eisPurchaseYear1.id ==taxYear.id %}
                                {% set IncomeOffset = IncomeOffset + (investment.investmentAmount * investment.eISPurchaseYear1Percentage * investment.taxScheme.purchaseIncomeOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisPurchaseYear2 is not null %}
                            {% if investment.eisPurchaseYear2.id ==taxYear.id %}
                                {% set IncomeOffset = IncomeOffset + (investment.investmentAmount * investment.eISPurchaseYear2Percentage * investment.taxScheme.purchaseIncomeOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisSaleYear1 is not null %}
                            {% if investment.eisSaleYear1.id ==taxYear.id %}
                                {% set IncomeOffset = IncomeOffset + (investment.investmentAmount * investment.eISSaleYear1Percentage * investment.taxScheme.saleIncomeOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisSaleYear2 is not null %}
                            {% if investment.eisSaleYear2.id ==taxYear.id %}
                                {% set IncomeOffset = IncomeOffset + (investment.investmentAmount * investment.eISSaleYear2Percentage * investment.taxScheme.saleIncomeOffset/100) %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                    {{ (IncomeOffset*-1)|number_format('0') }}
                </td>
             {% endfor %}
        </tr>





        <tr>
            <td data-sort="05" style="border-right:1px solid black;border-bottom: 1px solid black;border-top: 1px solid black; background-color: whitesmoke; text-align: left"><b>Total Taxable Income</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray;border-bottom: 1px solid black; border-top: 1px solid black; background-color: whitesmoke; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {{ (taxinput.employmentEarnings + taxinput.interestEarnings + taxinput.otherEarnings ) |number_format(0) }}

                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>


        <tr>
            <td data-sort="06" style="border-right:1px solid black;border-bottom:1px solid black; text-align: left">
                <b>Income tax on Employment Income</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; border-bottom:1px solid black; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {% set BasicRate = max(0,min(taxinput.employmentEarnings,taxYear.taxBand2BasicRate) ) %}
                            {% set HigherRate= max(0,(min(taxinput.employmentEarnings, taxYear.taxBand3HigherRate)-BasicRate)) %}
                            {% set AdditionalRate=  max(0, taxinput.employmentEarnings -taxYear.taxBand3HigherRate) %}
                            {{ ( (BasicRate * taxYear.taxBand2Rate) + (HigherRate* taxYear.taxBand3Rate) + (AdditionalRate* taxYear.taxBand4Rate))|number_format('0') }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="07" style="border-right:1px solid black;border-bottom:1px solid black; text-align: left; color: red">
                <b>Income tax on All Income (CORRECT - include Income Offsets )</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; border-bottom:1px solid black; text-align: right">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {% set TotalIncome = taxinput.employmentEarnings + taxinput.interestEarnings+ taxinput.otherEarnings %}
                            {% set BasicRate = max(0,min(TotalIncome,taxYear.taxBand2BasicRate) ) %}
                            {% set HigherRate= max(0,(min(TotalIncome, taxYear.taxBand3HigherRate)-BasicRate)) %}
                            {% set AdditionalRate=  max(0, TotalIncome -taxYear.taxBand3HigherRate) %}
                            {{ ( (BasicRate * taxYear.taxBand2Rate) + (HigherRate* taxYear.taxBand3Rate) + (AdditionalRate* taxYear.taxBand4Rate))|number_format('0') }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>


        <tr>
            <td data-sort="08" style="border-right:1px solid black; text-align: left">
                <b>Tax reliefs (SEIS, EIS)</b></td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {% set TaxReliefOffset = 0 %}
                    {% for investment in investments %}

                        {% if investment.eisPurchaseYear1 is not null %}
                            {% if investment.eisPurchaseYear1.id ==taxYear.id %}
                                {% set TaxReliefOffset = TaxReliefOffset + (investment.investmentAmount * investment.eISPurchaseYear1Percentage * investment.taxScheme.purchaseTaxOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisPurchaseYear2 is not null %}
                            {% if investment.eisPurchaseYear2.id ==taxYear.id %}
                                {% set TaxReliefOffset = TaxReliefOffset + (investment.investmentAmount * investment.eISPurchaseYear2Percentage * investment.taxScheme.purchaseTaxOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisSaleYear1 is not null %}
                            {% if investment.eisSaleYear1.id ==taxYear.id %}
                                {% set TaxReliefOffset = TaxReliefOffset + (investment.investmentAmount * investment.eISSaleYear1Percentage * investment.taxScheme.saleTaxOffset/100) %}
                            {% endif %}
                        {% endif %}

                        {% if investment.eisSaleYear2 is not null %}
                            {% if investment.eisSaleYear2.id ==taxYear.id %}
                                {% set TaxReliefOffset = TaxReliefOffset + (investment.investmentAmount * investment.eISSaleYear2Percentage * investment.taxScheme.saleTaxOffset/100) %}
                            {% endif %}
                        {% endif %}

                    {% endfor %}
                    {{ (TaxReliefOffset*-1)|number_format('0') }}
                </td>
            {% endfor %}
        </tr>


        <tr>
            <td data-sort="09" style="border-right:1px solid black; text-align: left">
                <b>Net tax Due</b></td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                   xxx
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="10" style="border-right:1px solid black; text-align: left">
                <b>Tax Paid</b></td>
            {% for taxinput in taxinputs %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    {{ taxinput.taxDeductedAtSource|number_format('0') }}
                </td>
            {% endfor %}
        </tr>


        <tr>
            <td data-sort="11" style="border-right:1px solid black; text-align: left">
                <b>Refund owed</b></td>
            {% for taxinput in taxinputs %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    xx
                </td>
            {% endfor %}
        </tr>





        </tbody>
    </table>

    <br><br>

    {#    <----------------------------- Second Table - Tax rates ------------------------> #}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="border-right:1px solid black; width: 300px"></th>
            {% for taxYear in taxYears %}
                <th style="border-right:1px solid lightgray; text-align: right">{{ taxYear.taxYearRange }}</th>
            {% endfor %}
        </tr>
        </thead>


        <tbody>
        <tr>
            <td data-sort="01" style="border-right:1px solid black; text-align: left; width: 390px">
                <a target="_blank" href="{{ path('tax_year_index') }}"><b>Personal Allowance</b></a></td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    <a target="_blank"
                       href="{{ path('tax_year_edit',{id: taxYear.id}) }}">{{ taxYear.taxBand1PersonalAllowance|number_format(0) }}
                        @ {{ (taxYear.taxBand1Rate*100)|number_format(0) }}%</a>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td data-sort="01" style="border-right:1px solid black; text-align: left; width: 390px">
                <a target="_blank" href="{{ path('tax_year_index') }}"><b>Basic Rate</b></a></td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    <a target="_blank"
                       href="{{ path('tax_year_edit',{id: taxYear.id}) }}"> Then
                        to {{ taxYear.taxBand2BasicRate|number_format(0) }}
                        @ {{ (taxYear.taxBand2Rate*100)|number_format(0) }}%</a>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td data-sort="01" style="border-right:1px solid black; text-align: left; width: 390px">
                <a target="_blank" href="{{ path('tax_year_index') }}"><b>Higher Rate</b></a></td>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    <a target="_blank"
                       href="{{ path('tax_year_edit',{id: taxYear.id}) }}"> Then
                        to {{ taxYear.taxBand3HigherRate|number_format(0) }}
                        @ {{ (taxYear.taxBand3Rate*100)|number_format(0) }}%</a>
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td data-sort="01" style="border-right:1px solid black; text-align: left; width: 390px">
                <a target="_blank" href="{{ path('tax_year_index') }}"><b>Additional Rate</b></a></td>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right">
                    <a target="_blank"
                       href="{{ path('tax_year_edit',{id: taxYear.id}) }}"> Then
                        @ {{ (taxYear.taxBand4Rate*100)|number_format(0) }}%</a>
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="06" style="border-right:1px solid black; text-align: left; background-color: whitesmoke"><b>Check:
                    Income tax on Employment Income (Calculated)</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right; background-color: whitesmoke">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {% set BasicRate = max(0,min(taxinput.employmentEarnings,taxYear.taxBand2BasicRate) ) %}
                            Basic Rate: {{ BasicRate|number_format('0') }} =>> {{ (BasicRate*taxYear.taxBand2Rate)|number_format('0') }}
                            <br><br><br>
                            {% set HigherRate= max(0,(min(taxinput.employmentEarnings, taxYear.taxBand3HigherRate)-BasicRate)) %}
                            Higher Rate: {{ HigherRate|number_format('0') }} =>> {{ (HigherRate*taxYear.taxBand3Rate)|number_format('0') }}
                            <br><br><br>
                            {% set AdditionalRate=  max(0, taxinput.employmentEarnings -taxYear.taxBand3HigherRate) %}
                            Additional Rate: {{ AdditionalRate|number_format('0') }} =>> {{ (AdditionalRate*taxYear.taxBand4Rate)|number_format('0') }}
                            <br><br><br>
                            Employment Earnings Income tax = {{ ( (BasicRate * taxYear.taxBand2Rate) + (HigherRate* taxYear.taxBand3Rate) + (AdditionalRate* taxYear.taxBand4Rate))|number_format('0') }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        <tr>
            <td data-sort="07" style="border-right:1px solid black; text-align: left; background-color: whitesmoke"><b>...
                    on P60</b>
            </td>
            {% for taxYear in taxYears %}
                <td style="border-right:1px solid lightgray; text-align: right; background-color: whitesmoke">
                    {% for taxinput in taxinputs %}
                        {% if taxinput.year.id == taxYear.id %}
                            {{ taxinput.taxDeductedAtSource |number_format(0) }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>










{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}