{% extends 'base.html.twig' %}

{% block title %}Tax Inputs{% endblock %}

{% block body %}
    <h1 style="color: red">Tax Inputs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tax_input.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ tax_input.year }}</td>
            </tr>
            <tr>
                <th>Employment Earnings</th>
                <td>{{ tax_input.employmentEarnings }}</td>
            </tr>
            <tr>
                <th>Interest Earnings</th>
                <td>{{ tax_input.interestEarnings }}</td>
            </tr>
            <tr>
                <th>Other Earnings</th>
                <td>{{ tax_input.otherEarnings }}</td>
            </tr>
            <tr>
                <th>Income Offset BPRAorEISLosses</th>
                <td>{{ tax_input.incomeOffsetBPRAorEISLosses }}</td>
            </tr>
            <tr>
                <th>Tax Deducted At Source</th>
                <td>{{ tax_input.taxDeductedAtSource }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('tax_inputs_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('tax_inputs_edit', {'id': tax_input.id}) }}">Edit</a>

    {{ include('tax_inputs/_delete_form.html.twig') }}
{% endblock %}
