{% extends '../../base.html.twig' %}

{% block title %}Flying{% endblock %}

{% block body %}
    <h1 style="color: red">Flying</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Date</th>
            <th>Instructor</th>
            <th>Aircraft</th>
            <th>Hots</th>
            <th>Price</th>
            <th>Payment<br>Made</th>
            <th>Description</th>
            <th>Lessons<br>Learnt</th>
        </tr>
        </thead>
        <tbody>
        {% for flying in flyings %}
            <tr>
                <td data-sort="{{ flying.date|date('Y-m-d') }}">
                    <a href="{{ path('flying_edit', {'id': flying.id}) }}">{{ flying.date ? flying.date|date('d-M-Y') : '' }}</a>
                </td>
                <td>
                    {{ flying.instructor }}
                </td>
                <td>
                    {{ flying.aircraft }}
                </td>
                <td>
                    {{ flying.hots }}
                </td>
                <td>
                    {{ flying.price }}
                </td>
                <td>
                    {{ flying.paymentMade ? 'Yes' : 'No' }}
                </td>
                <td>
                    {{ flying.description }}
                </td>
                <td>
                    {{ flying.lessonsLearnt }}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('flying_new') }}">New</a>
{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'desc'],  [2, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}