{% extends '../../base.html.twig' %}

{% block title %}Flying{% endblock %}

{% block body %}
    <h1 style="color: red">Flying</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flying.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ flying.date ? flying.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Instructor</th>
                <td>{{ flying.instructor }}</td>
            </tr>
            <tr>
                <th>Aircraft</th>
                <td>{{ flying.aircraft }}</td>
            </tr>
            <tr>
                <th>Hots</th>
                <td>{{ flying.hots }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ flying.price }}</td>
            </tr>
            <tr>
                <th>PaymentMade</th>
                <td>{{ flying.paymentMade ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ flying.description }}</td>
            </tr>
            <tr>
                <th>LessonsLearnt</th>
                <td>{{ flying.lessonsLearnt }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('flying_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('flying_edit', {'id': flying.id}) }}">Edit</a>

    {{ include('flying/_delete_form.html.twig') }}
{% endblock %}
