{% extends 'base.html.twig' %}

{% block title %}FX Rates{% endblock %}

{% block body %}
    <h1 style="color: red;">FX Rates</h1>
    <h3 style="color: red;">Base currency: <a target="_blank"
                                              href="{{ path('static_text_edit', {'id': '3'}) }}">{{ StaticText.content.baseCurrency }}</a>
    </h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th >FX</th>
            <th style="text-align: right">Quoted FX</th>
            <th style="text-align: right">FX Rate (1 = £x)</th>
            <th>Live FX Rate link</th>
            <th style=" text-align: right">#</th>
        </tr>
        </thead>

        <tbody>
        {% for fx_rate in fx_rates %}
            <tr>
                <td>{{ fx_rate.fx }}</td>
                <td style="text-align: right">
                    <a href="{{ path('fx_rates_edit', {'id': fx_rate.id}) }}">{{ fx_rate.currentFxRate |number_format(4) }}</a>
                </td>
                <td style="text-align: right">
                    {{ (fx_rate.currentFxRate / USDGBPFXrate.currentFxRate) |number_format(4) }}
                </td>


                <td style="text-align: center">
                    <a target="_blank" title="{{ fx_rate.liveRateLink }}" href="{{ fx_rate.liveRateLink }}"><i
                                class="fa fa-globe"></i></a>
                </td>
                <td style="text-align: right">
                    <button onclick="currencyConverter('USD','{{ fx_rate.fx }}','{{ fx_rate.id }}')">Update</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>



    <a target="_blank" class="btn btn-success btn-sm mt-2" href="{{ path('fx_rates_new') }}">New</a>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": true,
                "searching": true,
                "bInfo": false
            });
        });
    </script>


{% endblock datatable %}

{% block additionaljs %}
    <script>

        function currencyConverter(currencyA, currencyB, fxRate_id) {
            var myHeaders = new Headers();
            myHeaders.append("apikey", "m9sVlPq1KZbHw2vvsWMYSiM70usViZ5A");

            var requestOptions = {
                method: 'GET',
                redirect: 'follow',
                headers: myHeaders
            };
            var url = "https://api.apilayer.com/currency_data/convert?to=" + currencyA + "&from=" + currencyB + "&amount=1";
            fetch(url, requestOptions)
                .then(response => response.json())
                .then(result => test(result.result, fxRate_id))
                .catch(error => console.log('error', error));
        }

        function test(fxRate, fxRate_id) {
            $.post("/admin/fxrates/ajax/update/currency/rate",
                {
                    fx_rate: fxRate,
                    fxRate_id: fxRate_id
                },
                function (data, status) {
                    location.reload();
                });
        }
    </script>
{% endblock %}