{% extends 'base.html.twig' %}

{% block title %}FX Rates{% endblock %}

{% block body %}
    <h1 style="color: red;">FX Rates</h1>
    <h3 style="color: red;">Base currency: <a target="_blank" href="{{ path('static_text_edit', {'id': '3'}) }}">{{ StaticText.content.baseCurrency }}</h3></a>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 30px;">FX</th>
            <th style="width: 50px; text-align: right">Current Rate</th>
            <th style="width: 50px;">Live FX Rate link</th>
            <th style="width: 50px; text-align: right">#</th>
            <th style="width: 500px;"></th>
        </tr>
        </thead>
        <tbody>
        {% for fx_rate in fx_rates %}
        <tr>

            <td style="width: 30px;">{{ fx_rate.fx }}</td>
            <td style="text-align: right">
                <a href="{{ path('fx_rates_edit', {'id': fx_rate.id}) }}">{{ fx_rate.currentFxRate |number_format(4) }}</a>
            </td>
            <td style="text-align: center"><a
                        title="https://www.xe.com/currencyconverter/convert/?Amount=1&From={{ fx_rate.fx }}&To={{ StaticText.content.baseCurrency }}"><i
                            class="fas fa-link" style="color:blue; text-align: center"></i></a></td>
            <td style="text-align: right"><button onclick="currencyConverter('USD','{{ fx_rate.fx }}','{{ fx_rate.id }}')">Update</button>
            </td style="width: 50px;">
            <td></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('fx_rates_new') }}">New</a>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        function currencyConverter(currencyA,currencyB,fxRate_id) {
            var myHeaders = new Headers();
            myHeaders.append("apikey", "m9sVlPq1KZbHw2vvsWMYSiM70usViZ5A");

            var requestOptions = {
                method: 'GET',
                redirect: 'follow',
                headers: myHeaders
            };
            var url = "https://api.apilayer.com/currency_data/convert?to="+currencyA+"&from="+currencyB+"&amount=1";
            fetch(url, requestOptions)
                .then(response => response.json())
                .then(result => test(result.result,fxRate_id))
                .catch(error => console.log('error', error));
        }
        function test(fxRate,fxRate_id) {
            $.post("/admin/fxrates/ajax/update/currency/rate",
                {
                    fx_rate: fxRate,
                    fxRate_id: fxRate_id
                },
                function(data, status){
                    location.reload();
                });
        }
        </script>
{% endblock datatable %}
{% block additionaljs %}
{% endblock %}