{% extends 'base.html.twig' %}

{% block title %}FX Rates{% endblock %}

{% block body %}
    <h1 style="color: red;">FX Rates</h1>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-3">
            <button class="btn btn-outline-danger btn-sm updateFX">Update</button>
            <a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('fx_rates_history_index') }}">Historical
                Rates</a>
        </div>
    </div>
    <h3 style="color: red;">Base currency: <a target="_blank"
                                              href="{{ path('company_details_edit', {'id': '1'}) }}"> {{ CompanyDetails.getCompanyDetails.currency }}</a>
    </h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>FX</th>
            <th style="text-align: right">Quoted FX</th>
            <th>Live FX Rate link</th>
            <th>Reciprical</th>
            <th>$1 =</th>
            <th>£1 =</th>
            <th>Currency 1 = $ [x]</th>
            <th>Currency 1 = £ [x]</th>
            <th style=" text-align: right">#</th>
            <th style=" text-align: right">Updated</th>
        </tr>
        </thead>

        <tbody>
        {% for fx_rate in fx_rates %}
            <tr>
                <td>{{ fx_rate.fx }}</td>
                <td style="text-align: right">
                    <a href="{{ path('fx_rates_edit', {'id': fx_rate.id}) }}">{{ fx_rate.currentFxRate |number_format(4) }}</a>
                </td>
                <td style="text-align: center">
                    <a target="_blank" title="{{ fx_rate.liveRateLink }}" href="{{ fx_rate.liveRateLink }}"><i
                                class="fa fa-globe"></i></a>
                </td>

                <td style="text-align: center">
                    {% if fx_rate.reciprocal is not null %}
                        {% if fx_rate.reciprocal ==1 %}
                            <i style="color: green" class="fa fa-circle"></i>
                        {% else %}
                            <i style="color: red" class="fa fa-circle"></i>
                        {% endif %}
                    {% endif %}
                </td>

                <td style="text-align: right">
{#                    $1 =#}
                    {{ fx_rate.fx }}
                    {% if fx_rate.reciprocal ==0 %}
                        {{ (1/(fx_rate.currentFxRate)) |number_format(4) }}
                    {% else %}
                        {{ (fx_rate.currentFxRate) |number_format(4) }}
                    {% endif %}
                </td>

                <td style="text-align: right">
{#                    £1 =#}
                    {{ fx_rate.fx }}
                    {% if fx_rate.reciprocal ==1 %}
                        {{ (USDGBPFXrate.currentFxRate *(fx_rate.currentFxRate)) |number_format(4) }}
                    {% else %}
                        {{ (USDGBPFXrate.currentFxRate /fx_rate.currentFxRate) |number_format(4) }}
                    {% endif %}
                </td>


                <td style="text-align: right">
                    {{ fx_rate.fx }} 1 = ${{ (fx_rate.currentFxRate) |number_format(4) }}
                </td>

                <td style="text-align: right">
                    {{ fx_rate.fx }} 1 = £ {{ (fx_rate.currentFxRate / USDGBPFXrate.currentFxRate) |number_format(4) }}
                </td>

                <td style="text-align: right">
                    {#                    <button onclick="currencyConverter('USD','{{ fx_rate.fx }}','{{ fx_rate.id }}')">Update</button> #}
                </td>

                <td style="text-align: right">
                    {% if fx_rate.updatedDate is not null %}
                        {{ (fx_rate.updatedDate) | date('d-M-Y h:i') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a target="_blank" class="btn btn-success btn-sm mt-2" href="{{ path('fx_rates_new') }}">New</a>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}

{% block additionaljs %}
    <script>

        $(".updateFX").click(function () {

             var count = 0;
            {% for fxRate in fx_rates %}

            var currencyA = "USD";
            var currencyB = "{{ fxRate.fx }}";
            var fxRate_id = "{{ fxRate.id }}";
            var myHeaders = new Headers();
            myHeaders.append("apikey", "m9sVlPq1KZbHw2vvsWMYSiM70usViZ5A");

            var requestOptions = {
                method: 'GET',
                redirect: 'follow',
                headers: myHeaders
            };
            var url = "https://api.apilayer.com/currency_data/convert?to=" + currencyA + "&from=" + currencyB + "&amount=1";
             fetch(url, requestOptions)
                .then(response => response.json())
                 .then(result => test(result.result, "{{ fxRate.id }}"))
                 .catch(error => console.log('error', error));

            var index = "{{ loop.index }}";
            function test(fxRate, fxRate_id) {
                $.post("/admin/fxrates/ajax/update/currency/rate",
                    {
                        fx_rate: fxRate,
                        fxRate_id: fxRate_id
                    },
                    function (data, status) {
                       count = count + 1;

                        if(count === parseInt(index)){
                            location.reload();
                        }
                    });

            }

            {% endfor %}


        })



    </script>
{% endblock %}