<style>
    .ck-content {
        height: 500px;
    }
    #company_details_companyAddressInstructions {
        height: 500px;
    }
    #company_details_companyAddressMapLink {
        height: 300px;
    }
</style>

{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_row(form.companyName) }}
        {{ form_row(form.contactFirstName) }}
        {{ form_row(form.contactLastName) }}
        {{ form_row(form.companyWebsite) }}
        {{ form_row(form.companyTel) }}
        {{ form_row(form.companyMobile) }}
        {{ form_row(form.companySkype) }}


        {% if company_details.faviconLive is not null %}
            <b>Favicon (Live):</b><br>
            {{ company_details.faviconLive }}
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('company_details_delete_favicon', {'id': '1', 'live_or_dev':'live'}) }}"> <i
                        style="color: red" class="fa fa-trash"></i></a>
            <br>
            <img height="50" width="50"
                 src="{{ asset('administration/Attachments/Favicons/'~ company_details.faviconLive) }}"
                 class="rounded-circle test">
        {% endif %}
        <div class="favicon-upload-live-container">
            {{ form_row(form.faviconLive) }}
        </div>
        <hr>


        {% if company_details.faviconDev is not null %}
            <b>Favicon (Dev):</b><br>
            {{ company_details.faviconDev }}
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('company_details_delete_favicon', {'id': '1', 'live_or_dev':'dev'}) }}"> <i
                        style="color: red" class="fa fa-trash"></i></a>
            <br>
            <img height="50" width="50"
                 src="{{ asset('administration/Attachments/Favicons/' ~ company_details.faviconDev) }}"
                 class="rounded-circle test">
            <br>
        {% endif %}
        <div class="favicon-upload-dev-container">
            {{ form_row(form.faviconDev) }}
        </div>


    </div>

    <div class="col-2">
        {{ form_row(form.companyEmail) }}
        {{ form_row(form.companyEmailPassword) }}
        {{ form_row(form.companyEmailImportDirectory) }}
        {{ form_row(form.companyEmailImportProcessedDirectory) }}
        <hr>
        <h4>SQL Export</h4>
        {{ form_row(form.sqlDatabase) }}
        {{ form_row(form.databasePassword) }}
        <a class="btn btn-outline-danger" href="{{ path('export_database') }}">Export database</a>


    </div>

    <div class="col-2">
        {{ form_row(form.companyAddressStreet) }}
        {{ form_row(form.companyAddressTown) }}
        {{ form_row(form.companyAddressCity) }}
        {{ form_row(form.companyAddressPostalCode) }}
        {{ form_row(form.companyAddressCountry) }}

        <hr>
        <a target="_blank" href="{{ path('weather_index') }}">
            <i title="Please note, weather scrape is controlled by Company longitude & latitude"
               class="fa fa-info-circle"></i></a>
        {{ form_row(form.weatherLocation) }}
        {{ form_row(form.companyTimeZone) }}
        {{ form_row(form.currency) }}
    </div>
    <div class="col-2">
        <button id="getLocationButton" title="Button will add current GPS co-ordinates to the record"
                class="btn btn-primary btn-sm"
                onclick="getLocation('{{ company_details.id }}')">Get Longitude + Latitude
        </button>
        <hr>
        {{ form_row(form.companyAddressLatitude) }}
        {{ form_row(form.companyAddressLongitude) }}
        <a target="_blank" href="{{ path('office_address') }}">
            <i style="color: red" class="fa fa-map-marker mr-3"></i></a>
        <i style="color: blue" title="Start with 'https://https://www.google.com/maps/' and end with '2s'"
           class="fa fa-info-circle"></i>
        {{ form_row(form.companyAddressMapLink) }}
    </div>

    <div class="col-3">
        {{ form_row(form.companyAddressInstructions) }}
    </div>

</div>
<hr>
<div class="row">
    <div class="col-2">
        {{ form_row(form.linkedIn) }}
        {{ form_row(form.facebook) }}
        {{ form_row(form.instagram) }}
        {{ form_row(form.twitter) }}

        {% if company_details.companyQrCode is not null %}
            <b>QR Code:</b>
            <br>
            <a class="btn btn-warning btn-sm" title="QR Monkey" target="_blank" href="https://www.qrcode-monkey.com/">QR
                Monkey</a>
            <br>
            {{ company_details.companyQrCode }}
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('company_details_delete_qr_code', {'id': '1'}) }}"> <i
                        style="color: red" class="fa fa-trash"></i></a>
            <br>
            <img height="50" width="50"
                 src="{{ asset('administration/Attachments/Favicons/' ~ company_details.companyQrCode) }}"
                 class="rounded-circle test">
            <br>
        {% endif %}

        <div class="qr_code-upload-container">
            {{ form_row(form.companyQrCode) }}
        </div>
    </div>
    <div class="col-2">
        <h4>Header/Footer Titles</h4>
        {{ form_row(form.titleProducts) }}
        {{ form_row(form.titleSubProducts) }}
        {{ form_row(form.titleUsefulLinks) }}

        <h4>HomePage</h4>
        {{ form_row(form.includeContactFormHomePage) }}
        {{ form_row(form.includeQRCodeHomePage) }}
        {{ form_row(form.homePagePhotosOnly) }}
    </div>
    <div class="col-2">
        <h4>Header: Display...</h4>
        {{ form_row(form.headerDisplayLogin) }}
        {{ form_row(form.headerDisplayContactDetails) }}
        {{ form_row(form.headerDisplayProducts) }}
        {{ form_row(form.headerDisplaySubProducts) }}
        {{ form_row(form.headerDisplayPhotos) }}
        {{ form_row(form.headerDisplayTandCs) }}
        {{ form_row(form.headerDisplayPricing) }}
        <h4>Dashboard: Display...</h4>
        {{ form_row(form.headerDisplayFacebookPages) }}
        {{ form_row(form.facebookReviewsHistoryShowMonths) }}
        {{ form_row(form.headerDisplayCompetitors) }}
        {{ form_row(form.headerDisplayInstructions) }}
        {{ form_row(form.headerDisplayBusinessContacts) }}
        {{ form_row(form.headerDisplayWeather) }}
    </div>
    <div class="col-2">
        <h4>Footer: Display...</h4>
        {{ form_row(form.footerDisplayProducts) }}
        {{ form_row(form.footerDisplaySubProducts) }}
        {{ form_row(form.footerDisplaySocialMedia) }}
        {{ form_row(form.footerDisplayContactDetails) }}
        {{ form_row(form.footerDisplayAddress) }}
        {{ form_row(form.footerDisplayTelNumbers) }}
    </div>
    <div class="col-3">
        <h4>Registration:</h4>
        {{ form_row(form.multiLingual) }}
        {{ form_row(form.enableUserRegistration) }}
        {{ form_row(form.registrationEmail) }}
    </div>
</div>
<hr>
<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


<script>

    var companyDetailId = '';

    function getLocation(id) {
        companyDetailId = id;//alert(companyDetailId);
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showLocation);
        } else {
            $('#location').html('Geolocation is not supported by this browser.');
        }
    }

    function showLocation(position) {
        var company_details_companyAddressLatitude = position.coords.latitude;
        var company_details_companyAddressLongitude = position.coords.longitude;
        $('#company_details_companyAddressLatitude').val(company_details_companyAddressLatitude);
        $('#company_details_companyAddressLongitude').val(company_details_companyAddressLongitude);
        var pin = company_details_companyAddressLatitude + "," + company_details_companyAddressLongitude;
        $.ajax({
            type: 'POST',
            url: 'update/location',
            data: 'latitude=' + company_details_companyAddressLatitude + '&longitude=' + company_details_companyAddressLongitude + '&id=' + companyDetailId,
            success: function (msg) {
                //   location.reload();
            }
        });
    }
</script>