{% extends 'base.html.twig' %}
{% block body %}
    <!-- Start Css3 Preloader  -->
    <section class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </section>
    <!-- End Css3 Preloader  -->

    <!--Start Banner Section  -->
    <section id="header-banner1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="author-info-area">
                        <div class="author-title">
                            <span>Hello! I am</span>
                            <h1>Stephen Nurse</h1>
                            <p> -- </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 " id="author-photo-right">
                    {% if Photo1 is not empty %}
                        <div class="home1-author-photo"
                             style="background: url({{ asset('administration/attachments/websitephotos/') }}{{ Photo1.photo }} )"></div>
                    {% else %}
                        <div class="home1-author-photo"></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->
    </section>
    <!--     Marketplace accounts -->

    <!-- Specilizing section -->
    <section id="specilizing-section" class="default-bg-white">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="defult-title">
                        <h4>Specializing In</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="specilizing-item">
                        <figure>

                            {% if SpecialisingPhoto1 is not empty %}
                                <img src="{{ asset('administration/attachments/websitephotos/') }}{{ SpecialisingPhoto1.photo }}"
                                     alt="">
                            {% else %}
                                <img src="assets/images/special/01.jpg" alt="">
                            {% endif %}

                            <div class="caption">
                                <div class="blur"></div>
                                <div class="specilizing-captions">
                                    {% if SpecialisingPhoto1 is not empty %}
                                        <h4>{{ SpecialisingPhoto1.heading }}</h4>
                                        <p>{{ SpecialisingPhoto1.title }}</p>
                                        <a target="_blank" class="info btn btn-primary"
                                           href={{ SpecialisingPhoto1.link }}>Learn more</a>

                                    {% else %}
                                        <h4> Heading1 </h4>
                                        <p> Title1 </p>
                                    {% endif %}

                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="specilizing-item">
                        <figure>
                            {% if SpecialisingPhoto2 is not null %}
                                <img src="{{ asset('administration/attachments/websitephotos/') }}{{ SpecialisingPhoto2.photo }}"
                                     alt="">
                            {% else %}
                                <img src="assets/images/special/01.jpg" alt="">
                            {% endif %}
                            <div class="caption">
                                <div class="blur"></div>
                                <div class="specilizing-captions">
                                    {% if SpecialisingPhoto2 is not null %}
                                        <h4>{{ SpecialisingPhoto2.heading }}</h4>
                                        <p>{{ SpecialisingPhoto2.title }}</p>
                                        <a target="_blank" class="info btn btn-primary"
                                           href={{ SpecialisingPhoto2.link }}>Learn more</a>
                                    {% else %}
                                        <h4> Heading2 TBC </h4>
                                        <p> Title2 TBC </p>
                                    {% endif %}

                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="specilizing-item">
                        <figure>
                            {% if SpecialisingPhoto3 is not null %}
                                <img src="{{ asset('administration/attachments/websitephotos/') }}{{ SpecialisingPhoto3.photo }}"
                                     alt="">
                            {% else %}
                                <img src="assets/images/special/01.jpg" alt="">
                            {% endif %}
                            <div class="caption">
                                <div class="blur"></div>
                                <div class="specilizing-captions">
                                    {% if SpecialisingPhoto3 is not null %}
                                        <h4>{{ SpecialisingPhoto3.heading }}</h4>
                                        <p>{{ SpecialisingPhoto3.title }}</p>
                                        <a target="_blank" class="info btn btn-primary"
                                           href={{ SpecialisingPhoto3.link }}>Learn more</a>
                                    {% else %}
                                        <h4> Heading3 TBC </h4>
                                        <p> Title3 TBC </p>
                                    {% endif %}

                                </div>
                            </div>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
    </section>
    <!-- Specilizing section -->

    <!-- Why choose me section -->
    <section id="why-choose-me" class="default-bg-grey">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="defult-title">
                        <h4>Why Choose Me?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="why-choose-content">
                        {% if Text1 is not null %}
                            <h3>{{ Text1.contentTitle }}</h3>
                            <p> {{ Text1.contentText|raw }}</p>
                        {% else %}
                            <h3> Heading1 TBC </h3>
                            <p> Title1 TBC </p>
                        {% endif %}
                    </div>
                    <div class="why-choose-content">
                        {% if Text2 is not null %}
                            <h3>{{ Text2.contentTitle }}</h3>
                            <p> {{ Text2.contentText|raw }}</p>
                        {% else %}
                            <h3> Heading2 TBC </h3>
                            <p> Title2 TBC </p>
                        {% endif %}
                    </div>
                    <div class="why-choose-content">
                        {% if Text3 is not null %}
                            <h3>{{ Text3.contentTitle }}</h3>
                            <p> {{ Text3.contentText|raw }}</p>
                        {% else %}
                            <h3> Heading3 TBC </h3>
                            <p> Title3 TBC </p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12" id="video-right-static">
                    <div class="author-video-section"></div>
                    <div class="video_area">

                        <div class="video_button">
                            <a href="#" data-toggle="modal" data-target="#myModal">
                                <div class="profilepicture"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--Video  Modal -->


                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header raisa-video-btn">
                                <button type="button" class="btn  btn-default" data-dismiss="modal">Close</button>
                            </div>
                            <div class="modal-body">
                                <div class="video-container">
                                    <iframe width="640" height="360" src="https://www.youtube.com/watch?v=fzLOC-8Jaco"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Video  Modal -->


            </div>
        </div>
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
    </section>
    <!-- Why choose me section -->


    <!-- Latest Work section -->
    <section id="latest-work-section" class="default-bg-white">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container-fluid">
            <div class="row  offset-md-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 no-padding-left">
                    <div class="defult-title">
                        <h4>Latest Work</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div id="latest-work" class="owl-carousel owl-margin owl-theme">
                    <div class="item">
                        <div class="latest-work-item">
                            <figure>
                                {% if LatestWorkPhoto1 is not null %}
                                    <img src="{{ asset('administration/attachments/websitephotos/') }}{{ LatestWorkPhoto1.photo }}"
                                         alt="">
                                {% endif %}
                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="work-captions">
                                        {% if LatestWorkPhoto1 is not null %}
                                            <h4>{{ LatestWorkPhoto1.heading }}</h4>
                                            <p>{{ LatestWorkPhoto1.title }}</p>
                                            <a class="info btn btn-primary" href={{ LatestWorkPhoto1.link }}>Learn
                                                more</a>
                                        {% else %}
                                            <h4>Heading TBD</h4>
                                            <p>Title TBD</p>
                                            <a class="info btn btn-primary" href="#">Learn more</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-work-item">
                            <figure>
                                {% if LatestWorkPhoto2 is not null %}
                                    <img src="{{ asset('administration/attachments/websitephotos/') }}{{ LatestWorkPhoto2.photo }}"
                                         alt="">
                                {% endif %}

                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="work-captions">
                                        {% if LatestWorkPhoto2 is not null %}
                                            <h4>{{ LatestWorkPhoto2.heading }}</h4>
                                            <p>{{ LatestWorkPhoto2.title }}</p>
                                            <a class="info btn btn-primary" href={{ LatestWorkPhoto2.link }}>Learn
                                                more</a>
                                        {% else %}
                                            <h4>Heading TBD</h4>
                                            <p>Title TBD</p>
                                            <a class="info btn btn-primary" href="#">Learn more</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-work-item">
                            <figure>
                                {% if LatestWorkPhoto3 is not null %}
                                    <img src="{{ asset('administration/attachments/websitephotos/') }}{{ LatestWorkPhoto3.photo }}"
                                         alt="">
                                {% endif %}

                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="work-captions">
                                        {% if LatestWorkPhoto3 is not null %}
                                            <h4>{{ LatestWorkPhoto3.heading }}</h4>
                                            <p>{{ LatestWorkPhoto3.title }}</p>
                                            <a class="info btn btn-primary" href={{ LatestWorkPhoto3.link }}>Learn
                                                more</a>
                                        {% else %}
                                            <h4>Heading TBD</h4>
                                            <p>Title TBD</p>
                                            <a class="info btn btn-primary" href="#">Learn more</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-work-item">
                            <figure>
                                {% if LatestWorkPhoto4 is not null %}
                                    <img src="{{ asset('administration/attachments/websitephotos/') }}{{ LatestWorkPhoto4.photo }}"
                                         alt="">
                                {% endif %}

                                <div class="caption">
                                    <div class="blur"></div>
                                    <div class="work-captions">
                                        {% if LatestWorkPhoto4 is not null %}
                                            <h4>{{ LatestWorkPhoto4.heading }}</h4>
                                            <p>{{ LatestWorkPhoto4.title }}</p>
                                            <a class="info btn btn-primary" href={{ LatestWorkPhoto4.link }}>Learn
                                                more</a>
                                        {% else %}
                                            <h4>Heading TBD</h4>
                                            <p>Title TBD</p>
                                            <a class="info btn btn-primary" href="#">Learn more</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </figure>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
    </section>



    <!-- Client testimonial section -->
    <section id="testimonial-section" class="default-bg-grey">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="defult-title">
                        <h4>Carousel</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="testimonial-area" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ Photo1.photo }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Client 1</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p> {{ Text3.contentText|raw }}</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/02.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Client 2</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/02.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Client 3</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/03.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Client 4</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/01.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Client 5</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/02.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Raisa Moni</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/03.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Raisa Moni</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/01.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Raisa Moni</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/02.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Raisa Moni</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-info-area">
                            <div class="client-photo-area">
                                <div class="client-photo float-left">
                                    <img src="{{ asset('user-templates/assets/images/client/03.png') }}" alt="">
                                </div>
                                <div class="client-info float-left">
                                    <span>Raisa Moni</span>
                                    <p>Envato Customer</p>
                                </div>
                            </div>
                            <p>Monotonectally plagiarize client-centered relationships through superior relationships.
                                Progressively maximize optimal.</p>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
    </section>
    <!-- Client testimonial section -->

    {#    <!-- Pricing section --> #}
    {#    <section id="pricing-section" class="default-bg-white"> #}
    {#        <!--  Default space  --> #}
    {#        <div class="default-space"></div> #}
    {#        <!--  Default space  --> #}
    {#        <div class="container"> #}
    {#            <div class="row"> #}
    {#                <div class="col-lg-12 col-md-12 col-sm-12 col-12"> #}
    {#                    <div class="defult-title"> #}
    {#                        <h4>Pricing Plan</h4> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#            <div class="row"> #}
    {#                <div class="col-lg-4 col-md-12"> #}
    {#                    <div class="pricing-table text-center"> #}
    {#                        <ul> #}
    {#                            <li><span class="price-title">BASIC</span></li> #}
    {#                            <li class="pricing-details"><span class="pricing-price">$49</span></li> #}
    {#                            <li> Mobile App UI</li> #}
    {#                            <li> Web App UI</li> #}
    {#                            <li> Web Template</li> #}
    {#                            <li> One Page Web UI</li> #}
    {#                            <li> One Screen App UI</li> #}
    {#                            <li> Dashboard UI</li> #}
    {#                            <li><a class="btn raisa-btn btn-primary" href="#">Purchase</a></li> #}
    {#                        </ul> #}
    {#                    </div> #}
    {#                    <!--pricing-table--> #}
    {#                </div> #}
    {#                <div class="col-lg-4 col-md-12"> #}
    {#                    <div class="pricing-table text-center active"> #}
    {#                        <ul> #}
    {#                            <li><span class="price-title">Premium</span></li> #}
    {#                            <li class="pricing-details"><span class="pricing-price">$49</span></li> #}
    {#                            <li> Mobile App UI</li> #}
    {#                            <li> Web App UI</li> #}
    {#                            <li> Web Template</li> #}
    {#                            <li> One Page Web UI</li> #}
    {#                            <li> One Screen App UI</li> #}
    {#                            <li> Dashboard UI</li> #}
    {#                            <li><a class="btn raisa-btn btn-primary" href="#">Purchase</a></li> #}
    {#                        </ul> #}
    {#                    </div> #}
    {#                    <!--pricing-table--> #}
    {#                </div> #}
    {#                <div class="col-lg-4 col-md-12"> #}
    {#                    <div class="pricing-table text-center"> #}
    {#                        <ul> #}
    {#                            <li><span class="price-title">Standard</span></li> #}
    {#                            <li class="pricing-details"><span class="pricing-price">$49</span></li> #}
    {#                            <li> Mobile App UI</li> #}
    {#                            <li> Web App UI</li> #}
    {#                            <li> Web Template</li> #}
    {#                            <li> One Page Web UI</li> #}
    {#                            <li> One Screen App UI</li> #}
    {#                            <li> Dashboard UI</li> #}
    {#                            <li><a class="btn raisa-btn btn-primary" href="#">Purchase</a></li> #}
    {#                        </ul> #}
    {#                    </div> #}
    {#                    <!--pricing-table--> #}
    {#                </div> #}
    {#            </div> #}

    {#        </div> #}
    {#        <!--  Default space  --> #}
    {#        <div class="default-space"></div> #}
    {#        <!--  Default space  --> #}
    {#    </section> #}
    {#    <!-- Pricing section --> #}



    {#    <!-- Blog section --> #}
    {#    <section id="blog-section" class="default-bg-grey"> #}
    {#        <!--  Default space  --> #}
    {#        <div class="default-space"></div> #}
    {#        <!--  Default space  --> #}
    {#        <div class="container"> #}
    {#            <div class="row"> #}
    {#                <div class="col-lg-12 col-md-12 col-sm-12 col-12"> #}
    {#                    <div class="defult-title"> #}
    {#                        <h4>Blog Post</h4> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#            <div class="row"> #}
    {#                <div class="col-lg-4 col-md-12"> #}

    {#                    <div class="blog-item"> #}
    {#                        <figure> #}
    {#                            <img src="{{ asset('user-templates/assets/images/blogs/01.jpg') }}" alt=""> #}
    {#                            <div class="caption-static"> #}
    {#                                <div class="blur-blog"></div> #}
    {#                                <div class="blog-static"> #}
    {#                                    <div class="blog-date"> #}
    {#                                        <span>19</span><br/> #}
    {#                                        <p>Dec</p> #}
    {#                                    </div> #}
    {#                                    <div class="blog-title"> #}
    {#                                        <h4>UX means problem sloving, like....</h4> #}
    {#                                    </div> #}

    {#                                </div> #}
    {#                            </div> #}
    {#                            <div class="caption"> #}
    {#                                <div class="blur"></div> #}
    {#                                <div class="blog-captions"> #}
    {#                                    <h4>Graphics Design</h4> #}
    {#                                    <p>Monotonectally plagiarize client-centered relationships through superior #}
    {#                                        relationships. Progressively .</p> #}
    {#                                    <a class="info btn btn-primary" href="#">Learn more</a> #}
    {#                                </div> #}
    {#                            </div> #}
    {#                        </figure> #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="col-lg-4 col-md-12"> #}
    {#                    <div class="blog-item"> #}
    {#                        <figure> #}
    {#                            <img src="{{ asset('user-templates/assets/images/blogs/02.jpg') }}" alt=""> #}
    {#                            <div class="caption-static"> #}
    {#                                <div class="blur-blog"></div> #}
    {#                                <div class="blog-static"> #}
    {#                                    <div class="blog-date"> #}
    {#                                        <span>19</span><br/> #}
    {#                                        <p>Dec</p> #}
    {#                                    </div> #}
    {#                                    <div class="blog-title"> #}
    {#                                        <h4>UX means problem sloving, like....</h4> #}
    {#                                    </div> #}

    {#                                </div> #}
    {#                            </div> #}
    {#                            <div class="caption"> #}
    {#                                <div class="blur"></div> #}
    {#                                <div class="blog-captions"> #}
    {#                                    <h4>Graphics Design</h4> #}
    {#                                    <p>Monotonectally plagiarize client-centered relationships through superior #}
    {#                                        relationships. Progressively .</p> #}
    {#                                    <a class="info btn btn-primary" href="#">Learn more</a> #}
    {#                                </div> #}
    {#                            </div> #}
    {#                        </figure> #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="col-lg-4 col-md-12"> #}
    {#                    <div class="blog-item"> #}
    {#                        <figure> #}
    {#                            <img src="{{ asset('user-templates/assets/images/blogs/03.jpg') }}" alt=""> #}
    {#                            <div class="caption-static"> #}
    {#                                <div class="blur-blog"></div> #}
    {#                                <div class="blog-static"> #}
    {#                                    <div class="blog-date"> #}
    {#                                        <span>19</span><br/> #}
    {#                                        <p>Dec</p> #}
    {#                                    </div> #}
    {#                                    <div class="blog-title"> #}
    {#                                        <h4>UX means problem sloving, like....</h4> #}
    {#                                    </div> #}

    {#                                </div> #}
    {#                            </div> #}
    {#                            <div class="caption"> #}
    {#                                <div class="blur"></div> #}
    {#                                <div class="blog-captions"> #}
    {#                                    <h4>Graphics Design</h4> #}
    {#                                    <p>Monotonectally plagiarize client-centered relationships through superior #}
    {#                                        relationships. Progressively .</p> #}
    {#                                    <a class="info btn btn-primary" href="#">Learn more</a> #}
    {#                                </div> #}
    {#                            </div> #}
    {#                        </figure> #}
    {#                    </div> #}
    {#                </div> #}

    {#            </div> #}
    {#        </div> #}
    {#        <!--  Default space  --> #}
    {#        <div class="default-space"></div> #}
    {#        <!--  Default space  --> #}
    {#    </section> #}
    {#    <!-- Blog section --> #}

    <!-- Hire me section -->
    <section id="hire-me-section" class="default-bg-white">
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-5 custom-w">
                    <div class="have-any-project">
                        <h2>Contact Me</h2>
                        <p>E-mail: {{ StaticText.content.emailAddress }} <br>
                            WhatsApp: {{ StaticText.content.mobileNumber }}</p>
                    </div>
                </div>
                <div class="col-4 custom-w">
                    <div class="hire-me-button float-right">
                        <a class="btn btn-primary raisa-btn" href="contact.html">Hire me</a>
                    </div>
                </div>
            </div>


        </div>
        <!--  Default space  -->
        <div class="default-space"></div>
        <!--  Default space  -->
    </section>
    <!-- Hire me section -->

{#    <----------------------------------------------------------------------------Check Access--------------------------------->#}
    <br><br>

    INTERESTS (All users)
    <li><a target="_blank" href="{{ path('XVAConsulting') }}">Risk/Capital consulting</a> </li>
    <li> <a target="_blank" href="{{ path('private_equity') }}">Private Equity</a></li>
    <li><a target="_blank" href="{{ path('webdesign') }}">Web Design</a></li>
    <li><a target="_blank" href="{{ path('tennis') }}">Tennis</a></li>
    <li><a target="_blank" href="{{ path('flying') }}">Flying</a></li>

    <br>
    PHOTOS (All)
    <li><a target="_blank" href="{{ path('photos_index') }}">Photos</a></li>

    <br>
    CYPRUS (PARTIAL)
    <li><a target="_blank" href="{{ path('cyprus') }}">Cyprus</a></li>
    <li><a target="_blank" href="{{ path('house_guests_index') }}">House Guest</a></li>
    <li><a target="_blank" href="{{ path('whattobring') }}">What To Bring</a></li>
    <li><a target="_blank" href="{{ path('tourist_attraction_index') }}">Tourist attractions</a></li>
    <li><a target="_blank" href="{{ path('garmin_files_index') }}">Garmin Files</a></li>
    <li><a target="_blank" href="{{ path('wine_list_index') }}">Wine List</a></li>

    <br>
    CV (All users)
    <li><a target="_blank" href="{{ path('curriculum_vitae_individual',{'name': 'Stephen Nurse'}) }}">CV</a></li>
    <li><a target="_blank" href="{{ path('user_index_recruiters') }}">Recruiters</a></li>
    <li><a target="_blank" href="{{ path('introduction_index') }}">Email Templates</a></li>
    <li><a target="_blank" href="{{ path('introduction_segment_index') }}">Email Templates (Country Add-on)</a></li>
    <li><a target="_blank" href="{{ path('recruiter_emails_index') }}">Emails Sent</a></li>
    <li><a target="_blank" href="{{ path('prospect_employer_index') }}">Prospective Employers</a></li>

    <br>
    PERSONAL ADMIN (Restricted)
    <li><a target="_blank" href="{{ path('to_do_list_index') }}">To Do List</a></li>
    <li><a target="_blank" href="{{ path('uk_days_index') }}">UK Days</a></li>
    <li><a target="_blank" href="{{ path('/admin/fileattachments/index') }}">File Attachments</a></li>
    <li><a target="_blank" href="{{ path('health_index') }}">Health</a></li>
    <li><a target="_blank" href="{{ path('flying_index') }}">Flying</a></li>

    <br>
    INVESTMENTS (Restricted)
    <li><a target="_blank" href="{{ path('investments_index') }}">Investments</a></li>
    <li><a target="_blank" href="{{ path('tax_supporting_docs_index') }}">Supporting Tax Docs</a></li>
    <li><a target="_blank" href="{{ path('investment_future_comms_index') }}">Investment Docs</a></li>
    <li><a target="_blank" href="{{ path('jpm_ic_history_index') }}">IC Record</a></li>

    <br>
    TAX (Restricted)
    <li><a target="_blank" href="{{ path('investments_index_tax_consequences', {'show': 'TaxEffect'}) }}">Tax summary - Investments</a></li>
    <li><a target="_blank" href="{{ path('tax_inputs_overview_index') }}">Tax summary - Self-Assessment</a></li>
    <li><a target="_blank" href="{{ path('tax_inputs_index') }}">Employemnt Income</a></li>

    <br>
    USERS (Admin only)
    <li><a target="_blank" href="{{ path('user_index') }}">Users - All</a></li>
    <li><a target="_blank" href="{{ path('user_index_edited_since_download') }}">Users - Edited</a></li>
    <li><a target="_blank" href="{{ path('user_index_addresses') }}">Users - Addresses</a></li>
    <li><a target="_blank" href="{{ path('user_index_telnumbers') }}">Users - Tel numbers</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_ADMIN'}) }}">Admin</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_FAMILY'}) }}">Family</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_CONTACT'}) }}">Contact</a></li>
    <li><a target="_blank" href="{{ path('user_role_index',{'role':'ROLE_GUEST'}) }}">Guest</a></li>
    <li><a target="_blank" href="{{ path('user_personal') }}">Personal</a></li>
    <li><a target="_blank" href="{{ path('user_festiveMessage') }}">Festive</a></li>
    <li><a target="_blank" href="{{ path('user_ax') }}">AX</a></li>
    <li><a target="_blank" href="{{ path('user_birthdays') }}">Birthdays</a></li>
    <li><a target="_blank" href="{{ path('log_index') }}">User log</a></li>

    <br>
    SETTINGS (Admin only)
    <li><a target="_blank" href="{{ path('photo_locations_index') }}">Photo locations</a></li>
    <li><a target="_blank" href="{{ path('country_index') }}">Countries</a></li>
    <li><a target="_blank" href="{{ path('tax_year_index') }}">Tax Years & Bands</a></li>
    <li><a target="_blank" href="{{ path('tax_schemes_index') }}">Tax Schemes</a></li>
    <li><a target="_blank" href="{{ path('file_upload') }}">File upload</a></li>
    <li><a target="_blank" href="{{ path('static_text_index') }}">CMS Static Text</a></li>
    <li><a target="_blank" href="{{ path('cms_copy_index') }}">CMS Copy</a></li>
    <li><a target="_blank" href="{{ path('cms_photo_index') }}">CMS Photos</a></li>
    <li><a target="_blank" href="{{ path('curriculum_vitae_index') }}">CV - Segments</a></li>



{% endblock body %}