<div class="row">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-12 col-md-2">
            <a class="btn btn-success btn-sm"
               href="{{ path('house_guests_flight_price_scrape_all') }}">Scrape</a><br>
            Default date range:
            {{ settings.flightStatsStartDate|date('d-M-y') }} -
            {{ settings.flightStatsStartDate|date_modify('+'~ settings.flightStatsDays~'days' )|date('d-M-y') }}
            <a target="_blank" href="{{ path('settings_edit', {id: '1'}) }}"><i style="color:red"
                                                                                class="fa fa-pen"></i></a>
        </div>
        <div class="col-12 col-md-2">
            <a class="btn btn-outline-primary btn-sm" href="{{ path('house_guests_index', {subset:'Active'}) }}">Active</a>
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('house_guests_index', {subset:'All'}) }}">All</a>
        </div>
    {% endif %}

    <div class="col-12 col-md-2">
        <a target="_blank" class="btn btn-outline-primary btn-sm"
           href="https://www.hermesairports.com/flight-info/arrivals-and-departures-pfo">PFO Arrivals</a>
        <a target="_blank" class="btn btn-outline-primary btn-sm"
           href="https://www.hermesairports.com/flight-info/arrivals-and-departures-lca">LCA Arrivals</a>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-12 col-md-3">
            <a class="btn btn-danger btn-sm" href="{{ path('flight_stats_delete_all') }}">Delete</a>
            <a target="_blank"  class="btn btn-outline-secondary btn-sm" href="{{ path('flight_destinations_index') }}">Destinations</a>
        </div>
    {% endif %}
</div>
