{% extends 'base.html.twig' %}

{% block title %}CodingTimesheets index{% endblock %}

{% block body %}
    <h1 style="color: red">Coding Timesheets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time <br>(Proposed)</th>
                <th>End Time <br>(Proposed)</th>
                <th>Start Time<br>(Actual)</th>
                <th>End Time <br>(Actual)</th>
                <th>Notes (Admin)</th>
                <th>Notes (SN)</th>
            </tr>
        </thead>
        <tbody>
        {% for coding_timesheet in coding_timesheets %}
            <tr>
                <td>
                    <a href="{{ path('coding_timesheets_edit', {'id': coding_timesheet.id}) }}">{{ coding_timesheet.date ? coding_timesheet.date|date('D d-M-y') : '' }}</a>
                </td>
                <td>{{ coding_timesheet.startTimeProposed ? coding_timesheet.startTimeProposed|date('H:i') : '' }}</td>
                <td>{{ coding_timesheet.endTimeProposed ? coding_timesheet.endTimeProposed|date('H:i') : '' }}</td>
                <td>{{ coding_timesheet.startTimeActual ? coding_timesheet.startTimeActual|date('H:i') : '' }}</td>
                <td>{{ coding_timesheet.endTimeActual ? coding_timesheet.endTimeActual|date('H:i') : '' }}</td>
                <td>{{ coding_timesheet.NotesAdmin }}</td>
                <td>{{ coding_timesheet.notesSN }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('coding_timesheets_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'desc'] ],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}