{% extends '../../base.html.twig' %}

{% block title %}CodingTimesheets{% endblock %}

{% block body %}
    <h1>CodingTimesheets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coding_timesheet.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ coding_timesheet.date ? coding_timesheet.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>StartTimeProposed</th>
                <td>{{ coding_timesheet.startTimeProposed ? coding_timesheet.startTimeProposed|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTimeProposed</th>
                <td>{{ coding_timesheet.endTimeProposed ? coding_timesheet.endTimeProposed|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartTimeActual</th>
                <td>{{ coding_timesheet.startTimeActual ? coding_timesheet.startTimeActual|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndTimeActual</th>
                <td>{{ coding_timesheet.endTimeActual ? coding_timesheet.endTimeActual|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NotesAdmin</th>
                <td>{{ coding_timesheet.NotesAdmin }}</td>
            </tr>
            <tr>
                <th>NotesSN</th>
                <td>{{ coding_timesheet.notesSN }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coding_timesheets_index') }}">back to list</a>

    <a href="{{ path('app_coding_timesheets_edit', {'id': coding_timesheet.id}) }}">edit</a>

    {{ include('coding_timesheets/_delete_form.html.twig') }}
{% endblock %}
