<div class="row">
    <div class="col-6">
    </div>
    <div class="col-2">
        <a title="Asset Level Prices" target="_blank" href="{{ path('market_data_index') }}"><i
                    class="fas fa-chart-line"></i></a>
        <a title="FX Rates" target="_blank" href="{{ path('fx_rates_index') }}"><i class="fas fa-euro-sign"></i></a>
    </div>
    <div class="col-2">
        <a target="_blank" class="btn btn-outline-dark btn-sm" href="{{ path('asset_classes_index') }}">Asset
            Classes</a>
        <a target="_blank" class="btn btn-outline-info btn-sm" href="{{ path('tax_schemes_index') }}">Tax Schemes</a>
        <a class="btn btn-success btn-sm" href="{{ path('investments_new') }}">New</a>
    </div>
</div>

{% if grouping == "All" %}
    <a class="btn btn-secondary btn-sm" target="_blank"
       href="{{ path('investments_tax_view_index', {'grouping': 'AssetClass'}) }}">Tax view: By Asset Class</a>
{% else %}
    <a class="btn btn-secondary btn-sm" target="_blank"
       href="{{ path('investments_tax_view_index', {'grouping': 'All'}) }}">Tax view: Aggregated</a>
{% endif %}
<a class="btn btn-info btn-sm" target="_blank" href="{{ path('investments_economic_index' ) }}">Economic view</a>