<tr data-sort="99" style="background-color: whitesmoke; text-align: right; border-bottom: black 1px">
    {% if grouping!="AssetClass" %}
        <td style="border-bottom: black 1px"></td>
    {% endif %}
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-right:1px solid black"><b> xx</b></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-right:1px solid black">
        <b> {{ TaxSubsidyPurchase_Total | number_format ('0') }}</b>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td>
        <b> {{ MTM_Total | number_format ('0') }}</b>
    </td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-right:1px solid black">
        <b> {{ PV_Total | number_format ('0') }}</b>
    </td>

    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>

    <td style="border-bottom: black 1px">
        </b> {{ totalLossDeductibleAgainstIncome | number_format ('0') }}</b>
    </td>
    <td style="border-bottom: black 1px"></td>
    <td style="text-align: right; border-right:1px solid black">
        </b> {{ CGT_Total | number_format ('0') }}</b>
    </td>

    <td style="text-align: right; border-right:1px solid black">
        </b> {{ CGT_Total | number_format ('0') }}</b>
    </td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
    <td style="border-bottom: black 1px"></td>
</tr>