<div class="col-2">
    <a class="btn btn-success btn-sm" href="{{ path('investments_new') }}">New</a>
    <a target="_blank" class="btn btn-outline-dark btn-sm" href="{{ path('asset_classes_index') }}">Asset
        Classes</a>
    <a target="_blank" class="btn btn-outline-info btn-sm" href="{{ path('tax_schemes_index') }}">Tax Schemes</a>
</div>

<div class="col-1">
    <a title="Security Level Details" target="_blank" href="{{ path('market_data_index',{subset:'Active'}) }}">
        <i style="color: green" class="fas fa-chart-bar"></i></a>
    <a title="Historical Prices" target="_blank" href="{{ path('market_data_history_index',{subset:'Active'}) }}">
        <i style="color: red;" class="fas fa-chart-line"></i></a>
    <a title="FX Rates" target="_blank" href="{{ path('fx_rates_index') }}">
        <i style="color: blue" class="fas fa-euro-sign"></i></a>
</div>

<div class="col-2">
    {% include 'market_data/parts/investmentAsOfDate.html.twig' %}
</div>



<div class="col-3">
    {% if grouping == "Tax Details - Aggregated" %}
        <a class="btn btn-secondary btn-sm" target="_blank"
           href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - By Asset Class'}) }}">Tax Details: By
            Asset Class</a>

        <a class="btn btn-info btn-sm" target="_blank"
           href="{{ path('investments_economic_index',{'subset':'Active'} ) }}">Economics
            -
            Active</a>

    {% elseif grouping == "Tax Details - By Asset Class" %}
        <a class="btn btn-secondary btn-sm" target="_blank"
           href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - Aggregated'}) }}">Tax Details:
            Aggregated</a>

        <a class="btn btn-info btn-sm" target="_blank"
           href="{{ path('investments_economic_index',{'subset':'Active'} ) }}">Economic:
            Active</a>

    {% elseif grouping == "Economics - Active" %}
        <a class="btn btn-secondary btn-sm" target="_blank"
           href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - Aggregated'}) }}">Tax Details:
            Aggregated</a>

        <a class="btn btn-secondary btn-sm" target="_blank"
           href="{{ path('investments_tax_view_index', {'grouping': 'Tax Details - By Asset Class'}) }}">Tax Details: By
            Asset Class</a>
    {% endif %}
</div>