{% extends '../../base.html.twig' %}

{% block title %}Health{% endblock %}

{% block body %}
    <h1 style="color: red">Health</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="text-align: left">User</th>
            <th style="text-align: right">Date</th>
            <th style="text-align: right">Weight</th>
            <th style="text-align: right">Diastolic/<br>Systolic</th>
            <th style="text-align: right">Heart<br>Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for health in healths %}
            <tr>
                <td>
                    {% if health.user is not null %}
                        {{ health.user.fullName }}
                    {% endif %}
                </td>
                <td data-sort="{{ health.date ? health.date|date('Y-m-d') : '' }}">
                    <a href="{{ path('health_edit', {'id': health.id}) }}">{{ health.date ? health.date|date('d-M-Y') : '' }}</a>
                </td>
                <td style="text-align: right">
                    {{ health.weight }}
                </td>
                <td style="text-align: right">
                    {{ health.diastolic }}/{{ health.systolic }}
                </td>
                <td style="text-align: right">
                    {{ health.heartRate }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a class="btn btn-success btn-sm" href="{{ path('health_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'desc'], [2, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}