{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_row(form.name) }}
        {{ form_row(form.menu) }}
        {{ form_row(form.ranking) }}
        {{ form_row(form.isActive) }}
        {{ form_row(form.isPublic) }}
        {{ form_row(form.accessRoles) }}
    </div>
    <div class="col-2">
        {{ form_row(form.cmsText1) }}
        {{ form_row(form.cmsText2) }}
        {{ form_row(form.cmsText3) }}
    </div>
    <div class="col-2">
        {{ form_row(form.cmsPhoto1) }}
        {{ form_row(form.cmsPhoto2) }}
        {{ form_row(form.cmsPhoto3) }}
    </div>
</div>
    <button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
