<div>
    <h2> Welcome to Stephen Nurse's personal website</h2>

    {% if 'ROLE_CONTACT' in user.roles %}
        {{ cmsContact.contentText|raw }}
    {% endif %}

    {% if 'ROLE_FAMILY' in user.roles %}
        {{ cmsFamily.contentText|raw }}
    {% endif %}

    {% if 'ROLE_GUEST' in user.roles %}
        {{ cmsGuest.contentText|raw }}
    {% endif %}

    {% if 'ROLE_RECRUITER'in user.roles %}
        {{ cmsRecruiter.contentText|raw }}
    {% endif %}

    {% if 'JOB_APPLICANT'in user.roles %}
        {{ cmsJobApplicant.contentText|raw }}
    {% endif %}

    {{ include('emails/footerLoginAndEmail.html.twig') }}
</div>
