<div>

    <h2> Welcome to SN's personal website</h2>
    {{ include('template_parts/objectives.html.twig') }}

    {% if 'ROLE_FAMILY' in user.roles %}
        {{ include('template_parts/family.html.twig') }}
    {% endif %}

    {% if 'ROLE_GUEST' in user.roles %}
        {{ include('template_parts/guest.html.twig') }}
    {% endif %}

    {% if 'ROLE_ACCOUNTANT'in user.roles %}
        {{ include('template_parts/accountant.html.twig') }}
    {% endif %}

    {{ include('emails/footerLoginAndEmail.html.twig') }}


</div>
