{% extends 'base.html.twig' %}

{% block title %}Facebook Groups{% endblock %}

{% block body %}
    <style>
        .sub-table, .sub-table td {
            border: none
        }
    </style>

    <h1 style="color: red">Facebook Groups</h1>

    {% include 'facebook_groups/parts/import_and_export.html.twig' %}

    <table class="table main-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Link</th>
            <th>Comments</th>
            <th>Reviews</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for facebook_group in facebook_groups %}
            <tr>
                <td>
                    <a href="{{ path('facebook_groups_edit', {'id': facebook_group.id}) }}">{{ facebook_group.name }}</a>
                </td>
                <td style="text-align: center">
                    {% if facebook_group.link is not null %}
                        <a title="{{ facebook_group.link }}" target="_blank" href={{ facebook_group.link }}> <i
                                    class="fa fa-link"></i> </a>
                    {% endif %}
                </td>
                <td>{{ facebook_group.comments }}</td>
                <td>
                    <table class="sub-table">
                        <tbody>
                        {% for facebook_group_review in facebook_group_reviews %}
                            {% if facebook_group_review.facebookGroup == facebook_group and facebook_group_review.date > cut_off_date %}
                                <tr>
                                    <td data-sort="{{ facebook_group_review.date|date('y-m-d') }}">
                                        {{ facebook_group_review.date|date('d-M-Y') }}
                                        {% if facebook_group_review.reviewer is not null %}
                                            ({{ facebook_group_review.reviewer.firstName|slice(0,1) }}{{ facebook_group_review.reviewer.lastName|slice(0,1) }})
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a target="_blank"
                                           href="{{ path('facebook_groups_reviews_edit', {id:facebook_group_review.id }) }}">
                                            <i style="color: blue;" title="{{ facebook_group_review.comment }}"
                                               class="fa fa-pen"></i></a>
                                        {{ facebook_group_review.comment }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="{{ path('facebook_groups_reviews_new',{facebookGroupId: facebook_group.id}) }}">Review</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm"
                       href="{{ path('facebook_groups_reviews_new_nothing_of_note',{facebookGroupId: facebook_group.id}) }}">Checked
                        - Nothing of note</a>
                </td>
                <td>
                    <form method="post" action="{{ path('facebook_groups_delete', {'id': facebook_group.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facebook_group.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('facebook_groups_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.main-table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });


        });
    </script>
{% endblock datatable %}
