<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Stephen Nurse">
    <!-- Page Title -->
    <title>{% block title %}Stephen Nurse{% endblock %}</title>

    <!-- Google Fonts css-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!--Reset normalize css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/normalize.css') }}">
    <!--Reset main css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/main.css') }}">
    <!-- Bootstrap css -->
    <link href="{{ asset('user-templates/assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- Carousel css -->
    <link href="{{ asset('user-templates/assets/css/owl.carousel.min.css') }}" rel="stylesheet" media="screen">
    <!-- Carousel default css -->
    <link href="{{ asset('user-templates/assets/css/owl.theme.default.min.css') }}" rel="stylesheet" media="screen">
    <!-- Icofont css-->
    <link href="{{ asset('user-templates/assets/icofont/css/icofont.css') }}" rel="stylesheet" media="screen">
    <!-- Style css -->
    <link href="{{ asset('user-templates/assets/css/style.css') }}" rel="stylesheet" media="screen">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/responsive.css') }}">
    <!--Modernizr Js-->
    <script src="{{ asset('user-templates/assets/js/vendor/modernizr-3.6.0.min.js') }}"></script>

    {% if app.environment=='dev' %}
        <link rel="icon" href="{{ asset('administration/img/negative-dynamic.png') }}">
    {% else %}
        <link rel="icon" href="{{ asset('administration/img/positive-dynamic.png') }}">
    {% endif %}


    <!-- Custom fonts for this template-->
    <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('admin/css/font.css') }}">
    <link rel="stylesheet" href="{{ asset('css/small-device.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Custom styles for this template-->
    {#    <link href="{{ asset('/css/sb-admin-2.css') }}" rel="stylesheet"> #}

    <style>
        .hide-form-field {
            display: none;
        }

        .custom-file {
            overflow: hidden
        }

        #photos_person {
            height: 1000px;
        }

        /*#introduction_introductoryEmail {*/
        /*    height: 300px;*/
        /*}*/

        /*#introduction_introductoryEmail2 {*/
        /*    height: 300px;*/
        /*}*/

        #recruiter_emails_body {
            height: 800px;
        }

        /*.ck{*/
        /*    height: 400px;*/
        /*}*/
        .dropdown-menu {
            background: #fffefe;;
        }

        #photo_locations_enabledUsers {
            min-height: 1000px;
        }
    </style>
    <style>
        .rotate-90 {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #popup-form-mail {
            display: none;
        }
    </style>

</head>
<body>
{% include ('dashboard/template_parts/_header.html.twig') %}

<div class="container-fluid" style="margin-top:90px;margin-bottom: 320px;">
    <div class="row m-auto">
        <div class="col-12 mt-2">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</div>
<!-- Footer section -->

<!--  Default space  -->
{#    <div class="default-space"></div> #}
<!--  Default space  -->
{{ include('dashboard/template_parts/_footer.html.twig') }}

<!-- Footer section -->

<!-- Back to scroll  -->
<div class="top-arrow">
        <span class="scroll-top-top">
          <i class="icofont icofont-arrow-up" aria-hidden="true"></i>
        </span>
</div>
<!-- Back to scroll  -->

<!--All Jquery Library Files -->
<script src="{{ asset('user-templates/assets/js/vendor/jquery-3.3.1.min.js') }}"></script>
<!-- Bootstrap js  -->
<script src="{{ asset('user-templates/assets/js/bootstrap.min.js') }}"></script>
<!-- Google Map Active js  -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn-q0VMtMOum5A7HVG86duHeJApbVDv7o"></script>
<script src="{{ asset('user-templates/assets/js/map.js') }}"></script>
<!-- isotope js  -->
<script src="{{ asset('user-templates/assets/js/isotope.pkgd.min.js') }}"></script>
<!-- Carousel js  -->
<script src="{{ asset('user-templates/assets/js/owl.carousel.min.js') }}"></script>
<!-- Ajax Contact Form Js -->
<script src="{{ asset('user-templates/assets/js/contact-form.js') }}"></script>
<!-- scripts Js -->
<script src="{{ asset('user-templates/assets/js/scripts.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


{# <script> #}
{#    $('table').addClass('table-responsive'); #}
{# </script> #}


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>

    ClassicEditor
        .create(document.querySelector('#file_attachments_notes'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#recruiter_emails_body'))
        .catch(error => {
            console.error(error);
        });


    ClassicEditor
        .create(document.querySelector('#introduction_introductoryEmail'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#introduction_introductoryEmail2'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#curriculum_vitae_jobDescription'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#market_data_comment'))
        .catch(error => {
            console.error(error);
        });
    ClassicEditor
        .create(document.querySelector('#investments_comment'))
        .catch(error => {
            console.error(error);
        });


</script>
<script>
    $("input.datetime").flatpickr({
        altInput: true,
        altFormat: "D j F Y",
        time_24hr: true,
        enableTime: false,
        noCalendar: false,
        dateFormat: "Y-m-d H:i:s",
        minuteIncrement: 15
        //minDate: "today",
    });
</script>
{% block javascripts %}
{% endblock javascripts %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            function detectMob() {
                return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
            }

            var isMobile = detectMob();
            if (isMobile) {
                $('body').addClass('mobile');
            }
        });
        if (window.innerWidth < 800) {
            $('footer').removeClass('fixed-bottom');
        }

        function fixedImageOrientation() {
            //  var img = document.getElementsByClassName('image');
            $('.image').each(function () {

                EXIF.getData(this, function () {
                    console.log('Exif=', EXIF.getTag(this, "Width"));
                    switch (parseInt(EXIF.getTag(this, "Orientation"))) {
                        case 1:
                            $(this).addClass('rotate-90');
                            break;
                        case 2:
                            $(this).addClass('flip');
                            break;
                        case 3:
                            $(this).addClass('rotate-180');
                            break;
                        case 4:
                            $(this).addClass('flip-and-rotate-180');
                            break;
                        case 5:
                            $(this).addClass('flip-and-rotate-270');
                            break;
                        case 6:
                            $(this).addClass('flip-and-rotate-90');
                            break;
                        case 7:
                            $(this).addClass('rotate-270');
                            break;
                    }
                });
            })
        }
    </script>

{% endblock datatable %}
{% block additionaljs %}
{% endblock additionaljs %}


</body>

</html>