<!doctype html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Stephen Nurse">
    <!-- Page Title -->
    <title>{% block title %}Stephen Nurse{% endblock %}</title>

    <!-- Google Fonts css-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!--Reset normalize css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/normalize.css') }}">
    <!--Reset main css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/main.css') }}">
    <!-- Bootstrap css -->
    <link href="{{ asset('user-templates/assets/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- Carousel css -->
    <link href="{{ asset('user-templates/assets/css/owl.carousel.min.css') }}" rel="stylesheet" media="screen">
    <!-- Carousel default css -->
    <link href="{{ asset('user-templates/assets/css/owl.theme.default.min.css') }}" rel="stylesheet" media="screen">
    <!-- Icofont css-->
    <link href="{{ asset('user-templates/assets/icofont/css/icofont.css') }}" rel="stylesheet" media="screen">
    <!-- Style css -->
    <link href="{{ asset('user-templates/assets/css/style.css') }}" rel="stylesheet" media="screen">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{{ asset('user-templates/assets/css/responsive.css') }}">
    <!--Modernizr Js-->
    <script src="{{ asset('user-templates/assets/js/vendor/modernizr-3.6.0.min.js') }}"></script>

    {% if app.environment=='dev' %}
        <link rel="icon" href="{{ asset('administration/img/negative-dynamic.png') }}">
    {% else %}
        <link rel="icon" href="{{ asset('administration/img/positive-dynamic.png') }}">
    {% endif %}


    <!-- Custom fonts for this template-->
    <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    {#    <link rel="stylesheet" href="{{ asset('admin/css/font.css') }}"> #}
    {#    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> #}
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Custom styles for this template-->
    {#    <link href="{{ asset('/css/sb-admin-2.css') }}" rel="stylesheet"> #}

    <style>
        .hide-form-field {
            display: none;
        }

        .custom-file {
            overflow: hidden
        }

        #photos_person {
            height: 1000px;
        }

        #introduction_introductoryEmail {
            height: 300px;
        }

        #introduction_introductoryEmail2 {
            height: 300px;
        }

        #recruiter_emails_body {
            height: 800px;
        }

        /*.ck{*/
        /*    height: 400px;*/
        /*}*/
        .dropdown-menu {
            background: #fffefe;;
        }

        #photo_locations_enabledUsers {
            min-height: 1000px;
        }
    </style>
    <style>
        .rotate-90 {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        #popup-form-mail {
            display: none;
        }
    </style>

</head>
<body>

<!--Start Header Section -->
<header id="top-header" class="clearfix">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <div class="logo">
                <a class="navbar-brand" href="{{ path('app_home') }}">Stephen Nurse</a>
            </div>

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse  main-menu navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item #1 - Home -->
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <!-- Nav Item #2 - Interests -->
                    {% if is_granted('ROLE_GUEST') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Interests
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" target="_blank" href="{{ path('XVAConsulting') }}">Risk/Capital
                                    consulting</a>
                                <a class="dropdown-item" target="_blank" href="{{ path('private_equity') }}">Private
                                    Equity</a>
                                <a class="dropdown-item" target="_blank" href="{{ path('webdesign') }}">Web Design</a>
                                <a class="dropdown-item" target="_blank" href="{{ path('tennis') }}">Tennis</a>
                                <a class="dropdown-item" target="_blank" href="{{ path('flying') }}">Flying</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #3 - Photos -->
                    <li class="nav-item dropdown">
                        <a class="dropdown-item" href="{{ path('photos_index') }}">Photos</a>
                    </li>

                    <!-- Nav Item #4 - Come Visit -->
                    {% if is_granted('ROLE_GUEST') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Come Visit
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('cyprus') }}">Cyprus</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('house_guests_index') }}">House Guest</a>
                                <a class="dropdown-item" href="{{ path('whattobring') }}">What To Bring</a>

                                <hr>
                                <a class="dropdown-item" href="{{ path('tourist_attraction_index') }}">Tourist
                                    attractions</a>
                                <a class="dropdown-item" href="{{ path('garmin_files_index') }}">Garmin Files</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('wine_list_index') }}">Wine List</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #5 - CV -->
                    <li class="nav-item dropdown">
                        <a href="{{ path('curriculum_vitae_individual',{'name': 'Stephen Nurse'}) }}">CV</a>
                    </li>

                    <!-- Nav Item #6 - Contact -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a title={{ StaticText.content.emailAddress }} class="dropdown-item"
                               href="mailto:{{ StaticText.content.emailAddress }}">
                                @ {{ StaticText.content.emailAddress }}
                            </a>
                            <a class="dropdown-item" title="{{ StaticText.content.mobileNumber }}"
                               href="https://wa.me/{{ StaticText.content.mobileNumber | replace({' ': ''}) }}">
                                <i style="color: #0f6848"
                                   class="fa fa-whatsapp"></i> {{ StaticText.content.mobileNumber }}</a>
                            <a class="dropdown-item" title={{ StaticText.content.skype }}
                            href="skype:{{ StaticText.content.skype }}?call"><i style="color: royalblue"
                                                                                class="fa fa-skype"></i> {{ StaticText.content.skype }}
                            </a>
                            {% if is_granted('ROLE_USER') %}
                                <a target="_blank" title="{{ StaticText.content.address }} "
                                   href="{{ path('/homeaddress') }}"> <i style="color: royalblue"
                                                                         class="fa fa-car"></i> {{ StaticText.content.address }}
                                </a>
                            {% endif %}

                        </div>
                    </li>


                    {% if is_granted('ROLE_JOB_APPLICANT') %}
                        <!-- Nav Item #7 - Recruiters -->
                        <li class="nav-item dropdown">
                            <a style="color: green !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Recruiters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_index_recruiters') }}">Recruiters</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('introduction_index') }}">Email Templates</a>
                                <a class="dropdown-item" href="{{ path('introduction_segment_index') }}">Email Templates
                                    (Country Add-on)</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('recruiter_emails_index') }}">Emails Sent</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('prospect_employer_index') }}">Prospective
                                    Employers</a>
                            </div>
                        </li>
                    {% endif %}


                    <!-- Nav Item #8 - SN Admin -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('to_do_list_index') }}">To Do List</a>
                                <a class="dropdown-item" href="{{ path('uk_days_index') }}">UK Days</a>
                                <a class="dropdown-item" href="{{ path('/admin/fileattachments/index') }}">File
                                    Attachments</a>

                                <a class="dropdown-item" href="{{ path('health_index') }}">Health</a>
                                <a class="dropdown-item" href="{{ path('flying_index') }}">Flying</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #9 - Investments -->
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Investments</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('investments_index') }}">Investments</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('tax_supporting_docs_index') }}">Supporting Tax
                                    Docs</a>
                                <a class="dropdown-item" href="{{ path('investment_future_comms_index') }}">Investment
                                    Docs</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('jpm_ic_history_index') }}">IC Record</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #10 - Tax -->
                    {% if is_granted('ROLE_ACCOUNTANT') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tax</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item" target="_blank" href="{{ path('investments_index_tax_consequences',{'show': 'TaxEffect'}) }}">Tax summary - Investments</a>
                                <a class="dropdown-item" target="_blank" href="{{ path('tax_inputs_overview_index') }}">Tax summary - Self-Assessment</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('tax_inputs_index') }}">Employment Income</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #11 - Users -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Users
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_index') }}">Users - All</a>
                                <a class="dropdown-item" href="{{ path('user_index_edited_since_download') }}">Users -
                                    Edited</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('user_index_addresses') }}">Users - Addresses</a>
                                <a class="dropdown-item" href="{{ path('user_index_telnumbers') }}">Users - Tel
                                    numbers</a>
                                <hr>
                                <a class="dropdown-item"
                                   href="{{ path('user_role_index',{'role':'ROLE_ADMIN'}) }}">Admin</a>
                                <a class="dropdown-item"
                                   href="{{ path('user_role_index',{'role':'ROLE_FAMILY'}) }}">Family</a>
                                <a class="dropdown-item" href="{{ path('user_role_index',{'role':'ROLE_CONTACT'}) }}">Contact</a>
                                <a class="dropdown-item"
                                   href="{{ path('user_role_index',{'role':'ROLE_GUEST'}) }}">Guest</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('user_personal') }}">Personal</a>
                                <a class="dropdown-item" href="{{ path('user_festiveMessage') }}">Festive</a>
                                <a class="dropdown-item" href="{{ path('user_ax') }}">AX</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('user_birthdays') }}">Birthdays</a>
                                <hr>
                                <a class="dropdown-item" href="{{ path('log_index') }}">User log</a>
                            </div>
                        </li>
                    {% endif %}

                    <!-- Nav Item #11 - Settings -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a style="color: red !important" class="nav-link dropdown-toggle" href="#"
                               id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a target="_blank" class="dropdown-item" href="{{ path('photo_locations_index') }}">Photo
                                    locations</a>
                                <a target="_blank" class="dropdown-item"
                                   href="{{ path('country_index') }}">Countries</a>
                                <hr>
                                <a target="_blank" class="dropdown-item" href="{{ path('tax_year_index') }}">Tax Years & Bands</a>
                                <a target="_blank" class="dropdown-item" href="{{ path('tax_schemes_index') }}">Tax Schemes</a>
                                <hr>
                                <a target="_blank" class="dropdown-item" href="{{ path('file_upload') }}">File
                                    upload</a>
                                <hr>
                                <a target="_blank" class="dropdown-item" href="{{ path('static_text_index') }}">CMS
                                    Static Text</a>
                                <a target="_blank" class="dropdown-item" href="{{ path('cms_copy_index') }}">CMS
                                    Copy</a>
                                <a target="_blank" class="dropdown-item" href="{{ path('cms_photo_index') }}">CMS
                                    Photos</a>
                                <hr>
                                <a target="_blank" class="dropdown-item" href="{{ path('curriculum_vitae_index') }}">CV
                                    - Segments</a>
                            </div>
                        </li>
                    {% endif %}



                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user text-dark"></i><span
                                        class="ml-1 text-primary"> {{ app.user.fullName }}

                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('user_edit',{'id':app.user.id}) }}">Profile</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <a class=" btn btn-sm btn-outline-dark" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->
</header>
<!--End Header Section -->
<div class="container-fluid" style="margin-top:90px;margin-bottom: 320px;">
    <div class="row m-auto">
        <div class="col-12 mt-2">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</div>
<!-- Footer section -->

<!--  Default space  -->
{#    <div class="default-space"></div> #}
<!--  Default space  -->
{{ include('dashboard/template_parts/_footer.html.twig') }}

<!-- Footer section -->

<!-- Back to scroll  -->
<div class="top-arrow">
        <span class="scroll-top-top">
          <i class="icofont icofont-arrow-up" aria-hidden="true"></i>
        </span>
</div>
<!-- Back to scroll  -->

<!--All Jquery Library Files -->
<script src="{{ asset('user-templates/assets/js/vendor/jquery-3.3.1.min.js') }}"></script>
<!-- Bootstrap js  -->
<script src="{{ asset('user-templates/assets/js/bootstrap.min.js') }}"></script>
<!-- Google Map Active js  -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn-q0VMtMOum5A7HVG86duHeJApbVDv7o"></script>
<script src="{{ asset('user-templates/assets/js/map.js') }}"></script>
<!-- isotope js  -->
<script src="{{ asset('user-templates/assets/js/isotope.pkgd.min.js') }}"></script>
<!-- Carousel js  -->
<script src="{{ asset('user-templates/assets/js/owl.carousel.min.js') }}"></script>
<!-- Ajax Contact Form Js -->
<script src="{{ asset('user-templates/assets/js/contact-form.js') }}"></script>
<!-- scripts Js -->
<script src="{{ asset('user-templates/assets/js/scripts.js') }}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


{# <script> #}
{#    $('table').addClass('table-responsive'); #}
{# </script> #}


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#recruiter_emails_body'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#introduction_introductoryEmail'))
        .catch(error => {
            console.error(error);
        });

    ClassicEditor
        .create(document.querySelector('#curriculum_vitae_jobDescription'))
        .catch(error => {
            console.error(error);
        });

</script>
<script>
    $("input.datetime").flatpickr({
        altInput: true,
        altFormat: "D j F Y",
        time_24hr: true,
        enableTime: false,
        noCalendar: false,
        dateFormat: "Y-m-d H:i:s",
        minuteIncrement: 15
        //minDate: "today",
    });
</script>
{% block javascripts %}
{% endblock javascripts %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            function detectMob() {
                return ((window.innerWidth <= 800) && (window.innerHeight <= 600));
            }

            var isMobile = detectMob();
            if (isMobile) {
                $('body').addClass('mobile');


            }
        });
        if (window.innerWidth < 800) {
            $('footer').removeClass('fixed-bottom');

        }

        function fixedImageOrientation() {
            //  var img = document.getElementsByClassName('image');
            $('.image').each(function () {

                EXIF.getData(this, function () {
                    console.log('Exif=', EXIF.getTag(this, "Width"));
                    switch (parseInt(EXIF.getTag(this, "Orientation"))) {
                        case 1:
                            $(this).addClass('rotate-90');
                            break;
                        case 2:
                            $(this).addClass('flip');
                            break;
                        case 3:
                            $(this).addClass('rotate-180');
                            break;
                        case 4:
                            $(this).addClass('flip-and-rotate-180');
                            break;
                        case 5:
                            $(this).addClass('flip-and-rotate-270');
                            break;
                        case 6:
                            $(this).addClass('flip-and-rotate-90');
                            break;
                        case 7:
                            $(this).addClass('rotate-270');
                            break;
                    }
                });
            })
        }
    </script>

{% endblock datatable %}
{% block additionaljs %}
{% endblock additionaljs %}


</body>

</html>