<tbody>
{% set TaxSubsidyPurchase_Total = 0 %}
{% set MTM_Total = 0 %}

{% set Shares_Total_GBP = 0 %}
{% set Shares_Total_USD = 0 %}
{% set Shares_Total_EUR = 0 %}
{% set Shares_Total_CHF = 0 %}

{% set PV_Total = 0 %}
{% set CGT_Total = 0 %}
{% set totalLossDeductibleAgainstIncome = 0 %}
{% for investment in investments %}
    {% set totalLossDeductibleAgainstIncome = totalLossDeductibleAgainstIncome +  investment.lossDeductibleAgainstIncome %}
    {% if 1 == 1 %}
        {% set FXEffect =1 %}
        {% set InitialFXRate =1 %}
        {% set CurrentFXRate =1 %}
        {% if investment.currency.fx != "GBP" %}
            {% set InitialFXRate =  (investment.investmentAmount/(investment.initialInvestmentAmountGBP +0.00001)) %}
            {% set CurrentFXRate =  USDGBPFXrate.currentFxRate /investment.currency.currentFxRate %}
            {% set FXEffect = InitialFXRate/CurrentFXRate %}
        {% endif %}
        {% set investmentChildID = 'investment'~investment.id %}
        <tr>
            {% set SharePrice = MarketDataPrice.findMarketPrice(settings.investmentDate, investment.investmentCompany) %}

            <td style="border-left: 1px solid">
                {{ investment.assetClass.assetClass }}
            </td>
            <td data-sort="{{ investment.investmentSaleDate|date('Y-m-d') }}" style="text-align: center; width: 10px">
                {% if investment.investmentSaleDate is null or investment.saleSharePrice is null %}
                    <i style="color: green" class="fa fa-check"></i>
                {% else %}
                    <i style="color: red" class="fa fa fa-remove"></i>
                {% endif %}
            </td>
            <td data-sort="{{ investment.assetClass.taxScheme.includeTaxSummary }}"
                style="text-align: center; width: 10px">
                {% if investment.assetClass.taxScheme.includeTaxSummary==1 %}
                    <i style="color: green" class="fa fa fa-check"></i>
                {% else %}
                    <i style="color: red" class="fa fa fa-remove"></i>
                {% endif %}
            </td>
            <td data-sort="{{ investment.investmentCompany.shareCompany }}">
                {% if Investment.findFutureComms(investment.id) == 1 %}
                    <button class="toggle-investment-child btn btn-outline-warning btn-sm"
                            data-investment-child-Id="{{ investmentChildID }}"><i class="fas fa-caret-down"></i>
                    </button>
                {% endif %}

                {% if investment.investmentCompany is not null %}
                    <a target="_blank"
                       href="{{ path('investments_edit', {'id': investment.id}) }}">{{ investment.investmentCompany.shareCompany }}</a>
                {% else %}
                    <a target="_blank" href="{{ path('investments_edit', {'id': investment.id}) }}">--</a>
                {% endif %}
            </td>

            <td data-sort="{{ investment.investmentDate|date('Y-m-d') }}">{{ investment.investmentDate ? investment.investmentDate|date('d-M-Y') : '' }}</td>

            <!-- Tax Scheme -->
            <td style="text-align: center">
                {% if investment.assetClass.taxScheme is not null %}
                    <a target="_blank"
                       href="{{ path('tax_schemes_edit', {'id':investment.assetClass.taxScheme.id}) }}">{{ investment.assetClass.taxScheme.name }}</a>
                {% endif %}
            </td>

            <!-- Currency -->
            <td>{{ investment.currency.fx }}</td>

            <td style="text-align: right;border-right:1px solid black">
                {% if investment.currency.fx == 'GBP' %}
                    {{ (investment.initialInvestmentAmountGBP)| number_format (0, '.') }}
                {% else %}
                    <a title="{{ investment.currency.fx }} {{ (investment.investmentAmount)| number_format (0, '.') }} ">
                        *{{ (investment.initialInvestmentAmountGBP)| number_format (0, '.') }}</a>
                {% endif %}
            </td>


            <!-- Share price invested -->
            <td style="text-align: right">
                {% if investment.assetClass.taxScheme is not null %}
                    {% if investment.assetClass.updatedPriceAvailable == 1 %}
                        {{ (investment.purchaseSharePrice) | number_format (2, '.') }}
                    {% endif %}
                {% endif %}
            </td>

            <!-- Share price now or sold -->
            <td style="text-align: right">
                <a target="_blank"
                   href="{{ path('market_data_history_index_table',{subset:'All', security: investment.investmentCompany.id}) }}">
                <i class="fa fa-chart-line"></i>
                </a>
                    {% if investment.assetClass.taxScheme is not null %}
                        {% if investment.assetClass.updatedPriceAvailable == 1 %}
                            {% if investment.investmentSaleDate is null %}
                                {% if investment.numberOfShares >0 %}
                                    {{ SharePrice | number_format (2, '.') }}
                                {% else %}
                                    -
                                {% endif %}
                            {% else %}
                                {% if investment.saleSharePrice<5 and investment.saleSharePrice>-5 %}
                                    {{ (investment.saleSharePrice) | number_format (2, '.') }}*
                                {% else %}
                                    {{ (investment.saleSharePrice) | number_format (0, '.') }}*
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

            </td>

            <!-- MTM gain or Crystallized Gain -->
            <td style="text-align: right">
                {% if investment.assetClass.taxScheme is not null %}
                    {% set MTM = 0 %}
                    {% if investment.assetClass.updatedPriceAvailable ==0 %}
                        {% set MTM = 0 %}
                    {% else %}
                        {% if investment.currency.fx == "GBP" %}
                            {% if investment.investmentSaleDate is empty %}
                                {% set MTM = (( SharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice )  * investment.investmentAmount %}
                            {% else %}
                                {% set MTM = ((investment.saleSharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice )  * investment.investmentAmount %}
                            {% endif %}
                        {% else %}
                            {% if investment.investmentSaleDate is empty %}
                                {% set MTM = (((SharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice )+(FXEffect-1))  * investment.initialInvestmentAmountGBP %}
                            {% else %}
                                {% set MTM = 0 %}
                                {% set MTM = (((investment.saleSharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice )+(FXEffect-1))  * investment.initialInvestmentAmountGBP %}
                            {% endif %}
                        {% endif %}
                        {{ MTM  |number_format ('0') }}
                    {% endif %}
                    {% set MTM_Total = MTM_Total + MTM %}
                {% endif %}
            </td>

            <!-- PV (Local) -->
            <td style="text-align: right; border-right: 1px solid">
                {% set PV =0 %}
                {% if investment.investmentSaleDate is not null %}
                    {% set PV = 0 %}
                {% else %}
                    {% set PV = 100 %}
{#                    {% set PV = investment.investmentAmount * SharePrice/investment.purchaseSharePrice %}#}
                {% endif %}
                {{ PV |number_format ('0') }}
            </td>

            <!-- PV (£) -->
            <td style="text-align: right">
                {% if investment.currency.fx == 'GBP' %}
                    {{ PV |number_format ('0') }}
                    {% set Shares_Total_GBP = Shares_Total_GBP + PV %}
                {% endif %}
            </td>

            <!-- PV ($) -->
            <td style="text-align: right">
                {% if investment.currency.fx == 'USD' %}
                    {{ PV |number_format ('0') }}
                    {% set Shares_Total_USD = Shares_Total_USD + PV %}
                {% endif %}
            </td>

            <!-- PV (€) -->
            <td style="text-align: right">
                {% if investment.currency.fx == 'EUR' %}
                    {{ PV |number_format ('0') }}
                    {% set Shares_Total_EUR = Shares_Total_EUR + PV %}
                {% endif %}
            </td>

            <!-- PV (CHF) -->
            <td style="text-align: right; border-right: 1px solid">
                {% if investment.currency.fx == 'CHF' %}
                    {{ PV |number_format ('0') }}
                    {% set Shares_Total_CHF = Shares_Total_CHF + PV %}
                {% endif %}
            </td>

            <!-- Sale Date -->
            <td style="text-align: right"
                data-sort="{{ investment.investmentSaleDate|date('Y-m-d') }}">
                {{ investment.investmentSaleDate ? investment.investmentSaleDate|date('d-M-Y') : '' }}
            </td>

            <!-- CGT (£) -->
            <td style="text-align: right;border-right:1px solid black">
                {% if investment.assetClass.taxScheme is not null %}
                    {% set CGT= 0 %}
                    {% if investment.assetClass.updatedPriceAvailable ==0 %}
                        {% set CGT = 0 %}
                    {% else %}
                        {% if investment.investmentSaleDate is empty %}
                            {% set CGTAdd = (((SharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice )+(FXEffect-1))  * investment.initialInvestmentAmountGBP*investment.assetClass.taxScheme.cgtRate %}
                        {% else %}
                            {% set CGTAdd =  (((investment.saleSharePrice-investment.purchaseSharePrice)/investment.purchaseSharePrice) +(FXEffect-1))  * investment.investmentAmount *investment.assetClass.taxScheme.cgtRate %}
                        {% endif %}
                        {{ CGT |number_format ('0') }}
                    {% endif %}
                    {% set CGT_Total = CGT_Total + CGT %}
                {% endif %}
            </td>

        </tr>
    {% endif %}
{% endfor %}

<tr style="background-color: whitesmoke">
    <th style="border-left: 1px solid; color: whitesmoke">z</th>
    <th style="width: 10px"></th>
    <th style="width: 10px"></th>
    <th style="width: 350px"></th>
    <th style="text-align: left"></th>
    <th style="width: 75px; text-align: right"></th>
    <th style="text-align: right"></th>
    <th style="text-align: right;border-right:1px solid black"></th>
    <th style="text-align: right; width: 80px"></th>
    <th style="text-align: right; width: 80px"></th>
    <th style="text-align: right"></th>
    <th style="text-align: right; border-right: 1px solid"></th>
    <th style="text-align: right" class="totalSharesGBP">{{ Shares_Total_GBP|number_format ('0') }}</th>
    <th style="text-align: right" class="totalSharesUSD">{{ Shares_Total_USD|number_format ('0') }}</th>
    <th style="text-align: right" class="totalSharesEUR">{{ Shares_Total_EUR|number_format ('0') }}</th>
    <th style="text-align: right" class="totalSharesCHF">{{ Shares_Total_CHF|number_format ('0') }}</th>
    <th style="border-left: 1px solid"></th>
    <th style="border-right: 1px solid"></th>
</tr>
