{% extends 'base.html.twig' %}

{% block title %}Default Tennis Player Availability Hours index{% endblock %}

{% block body %}
    <h1 style="color: red;">Default Tennis Player Availability Hours</h1>

    <h3 style="color: blue;">Weekday</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Hour</th>
            {% for user in users %}
                <th title={{ user.email }};{{ user.mobile }}>
                    <a target="_blank" href= {{ path('user_edit', {'id': user.id}) }}> {{ user.fullName }}</a>
                    <br>
                    <a href="mailto:{{ user.email }}"><i class="fa fa-envelope"
                                                         style="color:#d7cccc;font-size:16px ; text-align: center"></i></a>
                    <a href="https://wa.me/{{ user.mobile }}"> <i class="fa fa-whatsapp"
                                                                  style="color:green; text-align: center"></i></a>
                </th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            {% set i = hour.sort %}
            <tr>

                <td style="text-align: right" data-sort="{{ hour.sort }}"><b>{{ hour.hour }}</b></td>

                {% for user in users %}
                    {% set availability = '' %}
                    {% set id = 0 %}

                    <td style="text-align: center">
                        {% for default_tennis_player_availability_hour in default_tennis_player_availability_hours %}
                            {% if
                                default_tennis_player_availability_hour.hour == i and
                                default_tennis_player_availability_hour.weekdayOrWeekend == 'Weekday' and
                                default_tennis_player_availability_hour.user.id == user.id %}
                                {% set flag = 1 %}
                                {% set availability = default_tennis_player_availability_hour.defaultAvailable %}
                                {% set id = default_tennis_player_availability_hour.id %}
                            {% endif %}
                        {% endfor %}

                        {% if is_granted('ROLE_SUPER_ADMIN') or user.id ==app.user.id %}


                            {% if availability == 1 or availability == 0 %}

                                {% if availability == 1 %}
                                    <a href={{ path('default_tennis_player_availability_hours_edit', {'id' : id, 'available':availability}) }}><i
                                                class="fa fa-circle" style="color: green; text-align: right"></i></a>
                                {% else %}
                                    <a href={{ path('default_tennis_player_availability_hours_edit', {'id' : id, 'available':availability} ) }}><i
                                                class="fa fa-circle" style="color: red"></i> </a>
                                {% endif %}
                            {% else %}
                                <a href={{ path('default_tennis_player_availability_hours_add', {'hour': i, 'player' : user.id, 'day' : 'Weekday'}) }}><i
                                            class="fa fa-circle" style="color: orange; text-align: right"></i></a>
                            {% endif %}


                        {% else %}
                            {% if availability == 1 or availability == 0 %}

                                {% if availability == 1 %}
                                    <i class="fa fa-circle" style="color: green; text-align: right"></i>
                                {% else %}
                                    <i class="fa fa-circle" style="color: red"></i>
                                {% endif %}
                            {% else %}
                                <i class="fa fa-circle" style="color: orange; text-align: right"></i>
                            {% endif %}
                        {% endif %}
                    </td>



                {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>

{#    -----------------------------------------------------------------------------------------#}

    <h3 style="color: blue;">Weekend</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Hour</th>
            {% for user in users %}
                <th title={{ user.email }};{{ user.mobile }}>
                    <a target="_blank" href= {{ path('user_edit', {'id': user.id}) }}> {{ user.fullName }}</a>
                    <br>
                    <a href="mailto:{{ user.email }}"><i class="fa fa-envelope"
                                                         style="color:#d7cccc;font-size:16px ; text-align: center"></i></a>
                    <a href="https://wa.me/{{ user.mobile }}"> <i class="fa fa-whatsapp"
                                                                  style="color:green; text-align: center"></i></a>
                </th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for hour in hours %}
            {% set i = hour.sort %}
            <tr>

                <td style="text-align: right" data-sort="{{ hour.sort }}"><b>{{ hour.hour }}</b></td>

                {% for user in users %}
                    {% set availability = '' %}
                    {% set id = 0 %}

                    <td style="text-align: center">
                        {% for default_tennis_player_availability_hour in default_tennis_player_availability_hours %}
                            {% if
                                default_tennis_player_availability_hour.hour == i and
                                default_tennis_player_availability_hour.weekdayOrWeekend == 'Weekend' and
                                default_tennis_player_availability_hour.user.id == user.id %}
                                {% set flag = 1 %}
                                {% set availability = default_tennis_player_availability_hour.defaultAvailable %}
                                {% set id = default_tennis_player_availability_hour.id %}
                            {% endif %}
                        {% endfor %}

                        {% if is_granted('ROLE_SUPER_ADMIN') or user.id ==app.user.id %}


                            {% if availability == 1 or availability == 0 %}

                                {% if availability == 1 %}
                                    <a href={{ path('default_tennis_player_availability_hours_edit', {'id' : id, 'available':availability}) }}><i
                                                class="fa fa-circle" style="color: green; text-align: right"></i></a>
                                {% else %}
                                    <a href={{ path('default_tennis_player_availability_hours_edit', {'id' : id, 'available':availability} ) }}><i
                                                class="fa fa-circle" style="color: red"></i> </a>
                                {% endif %}
                            {% else %}
                                <a href={{ path('default_tennis_player_availability_hours_add', {'hour': i, 'player' : user.id, 'day' : 'Weekend'}) }}><i
                                            class="fa fa-circle" style="color: orange; text-align: right"></i></a>
                            {% endif %}


                        {% else %}
                            {% if availability == 1 or availability == 0 %}

                                {% if availability == 1 %}
                                    <i class="fa fa-circle" style="color: green; text-align: right"></i>
                                {% else %}
                                    <i class="fa fa-circle" style="color: red"></i>
                                {% endif %}
                            {% else %}
                                <i class="fa fa-circle" style="color: orange; text-align: right"></i>
                            {% endif %}
                        {% endif %}
                    </td>



                {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>


{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}