<style>
    .ck-content {
        height: 500px;
    }
</style>
{{ form_start(form) }}
<div class="row">
    <div class="col-2">
        {{ form_row(form.topic) }}
    </div>
    <div class="col-2">
        {{ form_row(form.photoOrVideo) }}
    </div>
    <div class="col-2">
        {{ form_row(form.media) }}
    </div>
</div>

<div class="row">
    <div class="col-9">
        {{ form_row(form.summary) }}
    </div>
</div>





<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
