{% extends 'base.html.twig' %}

{% block title %}
    {{ instruction.topic }}
{% endblock %}


{% block body %}
    <section id="my-service-section" class="default-bg-white">
        <div class="default-space"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="default-title">
                        <h1 style="color: red">{{ instruction.topic }}</h1>
                        <br>
                    </div>
                </div>
            </div>
            {% if instruction.media is null %}
                <div class="row">
                    <div class="col-12">
                        {{ instruction.summary|raw }}
                    </div>
                </div>
            {% else %}
                {% set image = asset('administration/Attachments/Instructions/')~instruction.media %}
                {% set fileType =  instruction.media|split('.')|last %}
                <div class="row">
                    <div class="col-6">
                        {{ instruction.summary|raw }}
                    </div>
                    <div class="col-6">
                        <div class="single-page-media-container">
                            {% if instruction.media is not null %}
                                {% if fileType == 'mp4' or fileType == 'mov' %}
                                    <video class="videoByLocationFull" controls="controls">
                                        <source src="{{ image }}" type="video/mp4"/>
                                    </video>
                                {% else %}
                                    {% if instruction.media is not null %}
                                        <img class="homepage-image" src="{{ image }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>

    </section>


{% endblock %}


