{% extends 'base.html.twig' %}

{% block title %}Map Icons{% endblock %}

{% block body %}
    <h1 style="color: red">Map Icons</h1>

    {% include 'map_icons/parts/import_and_export.html.twig' %}

    <hr>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>FileName</th>
            <th>Icon</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for map_icon in map_icons %}
            <tr>
                <td>{{ map_icon.name }}</td>
                <td>{{ map_icon.iconFile }}</td>
                <td style="text-align: center">
                    {% if map_icon.iconFile is not empty %}
                        {% set file = asset('administration/ATSSharedFiles/BusinessContactsMapIcons/')~map_icon.iconFile %}
                        {#                        {% set file = asset(business_contacts_map_icon_directory ~ map_icon.iconFile) %} #}
                        <img title="{{ map_icon.iconFile }}" height="20" width="20" src="{{ file }}"
                             class="rounded-circle">
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('map_icons_edit', {'id': map_icon.id}) }}">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ path('map_icons_delete', {'id': map_icon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ map_icon.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
