<style>
    .ck-editor__editable {
        min-height: 1100px;
    }
</style>

{{ form_start(form) }}

<div class="row">
    <div class="col-md-3">
        <h2></h2>
        {{ form_row(form.flightDate) }}
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Departure</h2>
        {{ form_row(form.departCountry) }}
        {{ form_row(form.departureAirport) }}
        {{ form_row(form.airline) }}

    </div>
    <div class="col-md-3">
        <h2>Arrival</h2>
        {{ form_row(form.arrivalCountry) }}
        {{ form_row(form.arrivalAirport) }}
        {{ form_row(form.travelDocs) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.comment) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {% for travelDocs in uk_day.travelDocs %}
            <strong>
                <a target="_blank"
                   href="{{ path('to_do_list_viewfile',{fileName:travelDocs}) }}"> {{ travelDocs }}  </a>
            </strong><br>
        {% endfor %}

        {% if uk_day.travelDocs is not empty %}
            <a class="btn btn-sm btn-danger" href="{{ path('ukdays_delete_attachment1',{id:uk_day.id}) }}">Delete
                attachment</a>
        {% endif %}
    </div>
</div>


<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
<br>
{{ form_end(form) }}

