{% extends 'base.html.twig' %}

{% block title %}UK Days{% endblock %}

{% block body %}
    <h1 style="color: red">Days in UK <a target="_blank" href="{{ path('uk_days_new') }}">+</a></h1>
    <br>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="width: 50px">Tax year <a target="_blank" class="btn-outline-secondary btn-sm"
                                                href="{{ path('tax_year_new') }}">+</a>
            <th>From</th>
            <th>To</th>
            {% for country in countries %}
                <th style="width: 50px; text-align: right">{{ country.country }}</th>
            {% endfor %}
            <th><a target="_blank" href="{{ path('country_new') }}">+</a></th>
        </tr>
        </thead>
        <tbody>
        {% for taxyear in taxyears %}
            {% if taxyear.endDate|date('Y-m-d') > '2022-04-01' %}
                <tr>
                    <td>
                        <b>{{ taxyear.taxYearRange }}</b>
                    </td>
                    <td>
                        {{ taxyear.startDate|date('d-M-y') }}
                    </td>
                    <td>
                        {{ taxyear.endDate|date('d-M-y') }}
                    </td>
                    {% for country in countries %}
                        <td style="text-align: right">
                            xx
                            {#                            {{ TaxYear.daysInTaxYear(taxyear.taxYearRange, country.country )|number_format() }} #}
                        </td>
                    {% endfor %}
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}


        </tbody>
    </table>
    <hr>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="width: 100px;border-right: dotted">Flight Date</th>
            <th style="width: 50px; color: green">Departs</th>
            <th style="width: 50px; border-right: dotted"><span style="color: green">Airport</span>
                <i class="fa fa-plane-departure"></i>
            </th>
            <th style="width: 50px; color: blue">Arrives</th>
            <th style="width: 50px; border-right: dotted"><span style="color: blue">Airport</span>
                <i class="fa fa-plane-arrival"></i>
            </th>
            <th style="width: 50px">Airline</th>
            <th>Docs</th>
            <th style="width: 350px">Comments</th>
            <th style="width: 50px"></th>
            <th style="width: 50px"></th>
        </tr>
        </thead>
        <tbody>
        {% for uk_day in uk_days %}
            <tr>
                <td style="border-right: dotted"
                    data-sort="{{ uk_day.flightDate ? uk_day.flightDate|date('Y-m-d') : '' }}">
                    <a href="{{ path('uk_days_edit', {'id': uk_day.id}) }}">{{ uk_day.flightDate ? uk_day.flightDate|date('d-M-Y') : '' }}  </a>
                </td>

                <td style="text-align: right">
                    {% if uk_day.departCountry is not null %}
                        {{ uk_day.departCountry.country }}
                    {% endif %}
                </td>
                <td style="text-align: right; border-right: dotted">
                    {% if uk_day.departureAirport is not null %}
                        {{ uk_day.departureAirport.city }}
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {% if uk_day.arrivalCountry is not null %}
                        {{ uk_day.arrivalCountry.country }}
                    {% endif %}
                </td>
                <td style="text-align: right; border-right: dotted">
                    {% if uk_day.arrivalAirport is not null %}
                        {{ uk_day.arrivalAirport.city }}
                    {% endif %}
                </td>
                <td>{{ uk_day.airline }}</td>
                <td style="text-align: center">
                    {% if uk_day.travelDocs is not null %}
                        <a title="{{ uk_day.travelDocs }}" target="_blank"
                           href="{{ path('travel_docs_view_file',{ fileName:  uk_day.travelDocs}) }}">
                            <i class="fas fa-paperclip"></i>
                        </a>
{#                        {{ uk_day.travelDocs }}#}
                    {% endif %}
                </td>

                <td style="text-align: left">{{ uk_day.comment }}</td>
                <td style="text-align: center">
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('uk_days_edit', {id:uk_day.id}) }}">Edit</a>
                </td>
                <td style="text-align: center">
                    <form method="post" action="{{ path('uk_days_delete', {'id': uk_day.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ uk_day.id) }}">
                        <button>
                            <i style="color: red" class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'desc', 1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}