{% extends 'base.html.twig' %}

{% block title %}Photos index{% endblock %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
        <h1 style="color: red">Photos index <a href="{{ path('photos_new') }}">+</a></h1>
        <a class="btn btn-outline-danger btn-sm" href="{{ path('photos_delete_all') }}">Delete All</a>
    {% else %}
        <h1 style="color: red">Photos index</h1>
    {% endif %}
    <div class="mt-1 mb-1">
        {% for location in locations %}
            <a class="btn btn-outline-info ml-2"
               href="{{ path('show_photos_by_location', { 'locationName':location.location}) }}">{{ location.location }}</a>
        {% endfor %}
        {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('photo_locations_new') }}">+</a>
        {% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Location</th>
            <th>Date</th>
            <th>Rotate</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>People</th>
                <th>Public</th>
                <th style="text-align: center" width="100px">#</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                {% set loc = asset('photos')~"/"~photo.photoFile %}
                <td>
                    {% if photo.rotate==1 %}
                        <img height="50" width="50" src="{{ loc }}" class="rounded-circle rotate-90">
                    {% else %}
                        <img height="50" width="50" src="{{ loc }}" class="rounded-circle">
                    {% endif %}
                </td>
                <td>{{ photo.location.location }}</td>
                <td data-sort="{{ photo.date|date('Y-m-d') }}">{{ photo.date? photo.date|date('M-Y') }}</a></td>
                <td style="text-align: center">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}">
                        {% endif %}
                        {% if photo.rotate==1 %}
                            <i class="fas fa-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-circle text-danger"></i>
                        {% endif %}
                    </a>
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% for person in photo.person %}
                            {{ person.fullName }}<br>
                        {% endfor %}
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if photo.public %}
                            <a href="{{ path('photos_public_private', {'id':photo.id, 'action': 1} ) }}"><i
                                        class="fas fa-circle text-success"></i> </a>
                        {% else %}
                            <a href="{{ path('photos_public_private', {'id':photo.id, 'action': 0} ) }}"><i
                                        class="fas fa-circle text-danger"></i> </a>
                        {% endif %}
                    {% endif %}
                </td>
                <td width="100px">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('photos_edit', {'id': photo.id}) }}">Edit</a>
                    <form class="d-inline" method="post" action="{{ path('photos_delete', {'id': photo.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                        {% endif %}
                </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a class="btn btn-success btn-sm mt-2" href="{{ path('photos_new') }}">New</a>
    <br>
    <br>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[1, 'asc', 2, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
