{% extends 'base.html.twig' %}
{% block title %}{{ location.location }}{% endblock %}
{% block body %}
    <style>
        .image-container {
            display: flex;
            max-height: 500px;
            max-width: 500px;
            height: 500px;
            align-items: center;
        }

        img {
            max-width: 100%;
            object-fit: contain;
            max-height: 100%;
        }
    </style>
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') or app.user.id in location.enabledUsers %}
            <a class="btn btn-success btn-sm mt-2" href="{{ path('photos_new', {location:location.location }) }}">Add
                photos</a>
        {% endif %}
    {% endif %}

    <a class="btn btn-primary btn-sm mt-2" href="{{ path('photos_index') }}">Back to List</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-danger btn-sm mt-2"
           href="{{ path('photos_delete_all_by_location', {location:location.location }) }}">Delete All</a>
    {% endif %}

    <div>
        <h1 style="color: red">{{ location.location }} - ({{ photo_date|date('M-Y') }}) </h1> <br><br>
    </div>

    {% if photos is empty %}
        <div>
            <h4>No photos</h4>
        </div>
    {% else %}

        <div class="row my-2 border p-2 bg-white">
            {% for photo in photos %}
                {% set loc = asset('photos')~"/"~photo.photoFile %}
                <div class=" p-1 mb-1 ">
                    {% if photo.rotate==1 %}
                        <div class="image-container">
                            <img src="{{ loc }}" class=" rotate-90">
                        </div>
                        <div class="text-center py-2">
                            {% if is_granted ('ROLE_ADMIN') %}
                                <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"> <i
                                            class="fa fa-shield"></i></a>
                                <form class="d-inline" method="post"
                                      action="{{ path('photos_delete', {'id': photo.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="image-container">
                            <img src="{{ loc }}">
                        </div>
                        <div class="text-center py-1">

                            {% if is_granted ('ROLE_ADMIN') %}
                                <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"> <i
                                            class="fa fa-shield"></i></a>
                                <form class="d-inline" method="post"
                                      action="{{ path('photos_delete', {'id': photo.id}) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </form>
                            {% endif %}

                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
