{% extends 'base.html.twig' %}
{% block title %}{{ location.location }}{% endblock %}
{% block body %}

    {% include 'photos/parts/buttons.html.twig' %}


    <div>
        <h1 style="color: red">{{ location.location }}</h1>
        <h3> ({{ photo_date|date('M-Y') }}) </h3> <br><br>
    </div>

    {% if photos is empty %}
    <div>
        <h4>No photos</h4>
    </div>
    {% else %}

    {% if format == "Thumbnail" %}
        <div class="row my-2  p-2 bg-white">
            {% for photo in photos %}
                {% set image = asset('administration/attachments/photos/')~photo.photoFile %}
                <div class=" p-1 mb-1 ">
                    {% if photo.rotate==1 %}
                        <div class="image-containerThumbnail">
                            <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}">
                                <img src="{{ image }}" class="photosByLocationThumbnail rotate-90">
                            </a>
                        </div>
                        <div class="text-center py-2">
                            {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                            class="fa fa-rotate-left"></i></a>
                            {% endif %}
{#                            {% include 'photos/parts/rotate_and_like_buttons.html.twig' %}#}
                        </div>
                    {% else %}

                        <div class="image-containerThumbnail">
                            <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}"> <img
                                        class="photosByLocationThumbnail" src="{{ image }}">
                            </a>
                        </div>
                        <div class="text-center py-1">
                            {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                            class="fa fa-rotate-right"></i></a>
                            {% endif %}
{#                            {% include 'photos/parts/rotate_and_like_buttons.html.twig' %}#}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        {% else %}



            <div class="row my-2  p-2 bg-white">
                {% for photo in photos %}
                    {% set image = asset('administration/attachments/photos/')~photo.photoFile %}
                    <div class="p-1 mb-1">
                        {% if photo.rotate==1 %}
                            <div class="image-containerFull">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}">
                                    <img src="{{ image }}" class="photosByLocationFull rotate-90">
                                </a>
                            </div>
                            <div class="text-center py-2">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-left"></i></a>
                                {% endif %}
                                {% include 'photos/parts/rotate_and_like_buttons.html.twig' %}
                            </div>
                        {% else %}

                            <div class="image-containerFull">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}"> <img
                                            class="photosByLocationFull" src="{{ image }}">
                                </a>
                            </div>
                            <div class="text-center py-1">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-right"></i></a>
                                {% endif %}
                                {% include 'photos/parts/rotate_and_like_buttons.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>


    {% endif %}


    {% endif %}

{% endblock %}
