{% extends '../../base.html.twig' %}
{% block title %}{{ location.location }}{% endblock %}
{% block body %}
    {% include 'parts/buttons.html.twig' %}


    {% if format == "Thumbnail" %}
        <div class="row my-2  p-2 bg-white">
            {% for photo in photos %}
                {% set image = asset('administration/attachments/Photos/')~photo.photoFile %}
                {% set fileType =  photo.photoFile|split('.')|last %}

                {% if fileType == 'mp4' or fileType == 'mov' %}
                    <video class="videoByLocationThumbnail" controls="controls">
                        <source src="{{ image }}" type="video/mp4"/>
                    </video>
                {% else %}
                    <div class="p-1 mb-1">
                        {% if photo.rotate==1 %}
                            <div class="image-containerThumbnail">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}">
                                    <img src="{{ image }}" class="photosByLocationThumbnail rotate-90">
                                </a>
                            </div>
                            <div class="text-center py-2">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-left"></i></a>
                                {% endif %}
                                {#                            {% include 'Photos/parts/rotate_and_like_buttons.html.twig' %} #}
                            </div>
                        {% else %}

                            <div class="image-containerThumbnail">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}"> <img
                                            class="photosByLocationThumbnail" src="{{ image }}">
                                </a>
                            </div>
                            <div class="text-center py-1">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-right"></i></a>
                                {% endif %}
                                {#                            {% include 'Photos/parts/rotate_and_like_buttons.html.twig' %} #}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    {% else %}


        <div class="row my-2 p-2 bg-white">
            {% for photo in photos %}
                {% set image = asset('administration/attachments/Photos/')~photo.photoFile %}
                {% set fileType =  photo.photoFile|split('.')|last %}

                {% if fileType == 'mp4' or fileType == 'mov' %}
                    <video class="videoByLocationFull" controls="controls">
                        <source src="{{ image }}" type="video/mp4"/>
                    </video>
                {% elseif fileType == "jpg" %}

                    <div class="p-1 mb-1">
                        {% if photo.rotate==1 %}
                            <div class="image-containerFull">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}">
                                    <img src="{{ image }}" class="photosByLocationFull rotate-90">
                                </a>
                            </div>
                            <div class="text-center py-2">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-left"></i></a>
                                {% endif %}
                                {% include 'parts/rotate_and_like_buttons.html.twig' %}
                            </div>
                        {% else %}

                            <div class="image-containerFull">
                                <a target="_blank" href="{{ path('view_photo', {photoId: photo.id}) }}"> <img
                                            class="photosByLocationFull" src="{{ image }}">
                                </a>
                            </div>
                            <div class="text-center py-1">
                                {% if is_granted ('ROLE_ADMIN') or app.user == photo.uploadedBy %}
                                    <a href="{{ path('rotate_photo',{photoID:photo.id}) }}"><i
                                                class="fa fa-rotate-right"></i></a>
                                {% endif %}
                                {% include 'parts/rotate_and_like_buttons.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    {% endif %}


{% endblock %}
