{% extends 'base.html.twig' %}

{% block title %}Tax Supporting Docs index{% endblock %}

{% block body %}
    <h1 style="color: red">Tax Supporting Docs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Comments</th>
                <th>Attachment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tax_supporting_doc in tax_supporting_docs %}
            <tr>
                <td>{{ tax_supporting_doc.date ? tax_supporting_doc.date|date('d-M-Y') : '' }}</td>
                <td>{{ tax_supporting_doc.comments }}</td>
                <td>{{ tax_supporting_doc.attachment }}</td>
                <td>
                    <a href="{{ path('tax_supporting_docs_show', {'id': tax_supporting_doc.id}) }}">show</a>
                    <a href="{{ path('tax_supporting_docs_edit', {'id': tax_supporting_doc.id}) }}">edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('tax_supporting_docs_new', {id: '1'})}}">New</a>
{% endblock %}
