{{ form_start(form) }}
<a target="_blank" class="btn btn-outline-success btn-sm" href="{{ path('country_new') }}">Add Country</a>
<div class="row">
    <div class="col-3">
        {{ form_widget(form) }}

    </div>
</div>
    <button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
