{% extends 'base.html.twig' %}

{% block title %}Edit: {{ airport.city }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: {{ airport.city }} | {{ airport.airportCode }}</h1>

    {{ include('airports/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('airports_index') }}">Return to list</a>

    {{ include('airports/_delete_form.html.twig') }}
{% endblock %}
