{% extends '../../base.html.twig' %}

{% block title %}Airports{% endblock %}

{% block body %}
    <h1 style="color: red;">Airports</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Airport Code</th>
            <th>Include in<br>Flight Prices</th>
        </tr>
        </thead>
        <tbody>
        {% for airport in airports %}
            <tr>
                <td>
                    {% if airport.country is not null %}
                        {{ airport.country.country }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('airports_edit', {'id': airport.id}) }}">{{ airport.city }}</a>
                </td>
                <td>{{ airport.airportCode }}</td>
                <td data-sort="{{ airport.includeInFlightPrices }}" style="text-align: center">
                    {% if airport.includeInFlightPrices ==1 %}
                        <i style="color: green" class="fa fa-dot-circle"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-dot-circle"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('airports_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[3, 'desc'],[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
