{% extends '../../base.html.twig' %}

{% block title %}Airports{% endblock %}

{% block body %}
    <h1 style="color: red">Airports</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ airport.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ airport.city }}</td>
            </tr>
            <tr>
                <th>AirportCode</th>
                <td>{{ airport.airportCode }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('airports_index') }}">Return to list</a>


    <a href="{{ path('airports_edit', {'id': airport.id}) }}">edit</a>

    {{ include('airports/_delete_form.html.twig') }}
{% endblock %}
