{% extends '../../base.html.twig' %}

{% block title %}Edit: {{ garmin_file.startingPoint }} - {{ garmin_file.endPoint}}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: Garmin File: {{ garmin_file.startingPoint }} - {{ garmin_file.endPoint}} </h1>

    {{ include('garmin_files/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('garmin_files_index') }}">Return to list</a>

    {{ include('garmin_files/_delete_form.html.twig') }}
{% endblock %}
