{% extends '../../base.html.twig' %}

{% block title %}Garmin Files{% endblock %}

{% block body %}
    <h1 style="color: red">Garmin Files</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="text-align: left; width: 150px">Country</th>
            <th style="text-align: left; width: 50px">Starting Point</th>
            <th style="text-align: left; width: 50px">End Point</th>
            <th style="text-align: right; width: 50px">Km</th>
            <th style="text-align: right; width: 50px">Climb</th>
            <th style="text-align: right; width: 120px">Uploaded by</th>
            <th style="text-align: left">Description</th>
            <th style="text-align: center; width: 50px">GPX File</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for garmin_file in garmin_files %}
            <tr>
                <td style="text-align: left">{{ garmin_file.country.country }}</td>
                <td style="text-align: left">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('garmin_files_edit', {'id': garmin_file.id}) }}">{{ garmin_file.startingPoint }}</a>
                    {% else %}
                        {{ garmin_file.startingPoint }}
                    {% endif %}
                </td>
                <td style="text-align: left">
                    {{ garmin_file.endPoint }}
                    </td>
                <td style="text-align: right">
                    {{ garmin_file.kilometres| number_format (0, ',') }}
                </td>
                <td style="text-align: right">
                    {{ garmin_file.climb| number_format (0, ',') }}
                </td>
                <td style="text-align: right">
                    {% if garmin_file.author is not empty %}
                        {{ garmin_file.author.fullName }}
                    {% endif %}
                </td>
                <td style="text-align: left">
                    {% if garmin_file.description is not null %}
                        <i style="color: blue" title="{{ garmin_file.description }}" class="fa fa-info-circle"></i>
                        {{ garmin_file.description|slice(0,15) }}...
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if garmin_file.gpxFile is not empty %}
                        <a title="{{ garmin_file.gpxFile }}" target="_blank"
                           href="{{ path('show_attachment',{id : garmin_file.id,'filename':garmin_file.gpxFile}) }}"><i
                                    class="fa fa-paperclip"></i></a>
                    {% endif %}
                <td>
                    <a class="btn btn-danger btn-sm"
                       href="{{ path('garmin_file_email', {'garminid': garmin_file.id, 'recipientid': app.user.id}) }}">Email
                        File</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <a class="btn btn-success btn-sm" href="{{ path('garmin_files_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
