{% extends 'base.html.twig' %}

{% block title %}Garmin Files{% endblock %}

{% block body %}
    <h1 style="color: red">Garmin Files</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garmin_file.id }}</td>
            </tr>
            <tr>
                <th>GpxFile</th>
                <td>{{ garmin_file.gpxFile }}</td>
            </tr>
            <tr>
                <th>Kilometres</th>
                <td>{{ garmin_file.kilometres }}</td>
            </tr>
            <tr>
                <th>Climb</th>
                <td>{{ garmin_file.climb }}</td>
            </tr>
            <tr>
                <th>StartingPoint</th>
                <td>{{ garmin_file.startingPoint }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ garmin_file.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-sm" href="{{ path('garmin_files_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('garmin_files_edit', {'id': garmin_file.id}) }}">Edit</a>

    {{ include('garmin_files/_delete_form.html.twig') }}
{% endblock %}
