{% set Loans_Bonds_Total_GBP=0 %}
{% set Loans_Bonds_Total_USD=0 %}
{% set Loans_Bonds_Total_EUR=0 %}
{% set Loans_Bonds_Total_CHF=0 %}

{% set Loans_Bonds_DailyAccrual_Total_GBP=0 %}
{% set Loans_Bonds_DailyAccrual_Total_USD=0 %}
{% set Loans_Bonds_DailyAccrual_Total_EUR=0 %}
{% set Loans_Bonds_DailyAccrual_Total_CHF=0 %}
{% set AsOfDate = settings.investmentDate|date('Y-m-d') %}

<tbody>


{% for loans_bond in loans_bonds %}
     {% include 'loans_bonds/parts/body_calcs.html.twig' %}
{% endfor %}

<tr style="background-color: whitesmoke; font-weight: bold; text-align: right; border-top: 1px solid;; border-bottom: 1px solid">
    <td style="width: 190px; font-weight: lighter; border-left: 1px solid; color: lightgrey">z</td>
    <td style="width: 60px; color: lightgrey">z</td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px; border-right: 1px dotted"></td>
    <td style="width: 50px" class="totalLoansBondsGBP">{{ Loans_Bonds_Total_GBP|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px" class="totalLoansBondsUSD">{{ Loans_Bonds_Total_USD|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px" class="totalLoansBondsEUR">{{ Loans_Bonds_Total_EUR|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px; border-right: 1px solid" class="totalLoansBondsCHF">{{ Loans_Bonds_Total_CHF|number_format(0, '.', ',') }}
    </td>
</tr>

<tr style="background-color: whitesmoke; text-align: right; border-top: 1px solid; border-bottom: 1px solid">
    <td style="width: 190px; font-weight: lighter; border-left: 1px solid; color: lightgrey">z</td>
    <td style="width: 60px; color:lightgrey">z</td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px"></td>
    <td style="width: 50px; border-right: 1px dotted"></td>
    <td style="width: 50px">
     {{ Loans_Bonds_DailyAccrual_Total_GBP|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px">
     {{ Loans_Bonds_DailyAccrual_Total_USD|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px">
     {{ Loans_Bonds_DailyAccrual_Total_EUR|number_format(0, '.', ',') }}
    </td>
    <td style="width: 50px; border-right: 1px solid">
     {{ Loans_Bonds_DailyAccrual_Total_CHF|number_format(0, '.', ',') }}
    </td>
</tr>

</tbody>
</table>

<br>
<hr><br>