<tbody>
{% for loans_bond in loans_bonds %}
    <tr>
        <td>{{ loans_bond.name }}</td>
        <td style="text-align: right">{{ loans_bond.currency }}</td>
        <td style="text-align: right">{{ loans_bond.notional|number_format(0, '.', ',') }}</td>
        <td style="text-align: right">{{ (loans_bond.interestRate*100)|number_format(2, '.', ',') }} %</td>
        <td style="text-align: right"
            data-sort="{{ loans_bond.drawdownDate|date('Y-m-d') }}">{{ loans_bond.drawdownDate|date('d-M-y') }}</td>
        <td style="text-align: right" data-sort="{{ loans_bond.repaymentDate|date('Y-m-d') }}">
            {% if loans_bond.repaymentDate is not null %}
                {{ loans_bond.repaymentDate|date('d-M-y') }}
            {% else %}
                'N/A'
            {% endif %}
        </td>
        {% if AsOfDate > loans_bond.repaymentDate %}
            {% set dayCount = date(loans_bond.repaymentDate).diff(date(loans_bond.drawdownDate)) %}
        {% else %}
            {% set dayCount = date(AsOfDate).diff(date(loans_bond.drawdownDate)) %}

        {% endif %}
        {% set accruedDays = dayCount.days %}

        <td style="text-align: right">
            {{ accruedDays }}
        </td>
        <td style="text-align: right">
            {{ (accruedDays/365)|number_format(2, '.', ',') }}
        </td>
        <td style="text-align: right">
            {{ (loans_bond.notional *loans_bond.interestRate * accruedDays/365)|number_format(0, '.', ',') }}
        </td>
        <td style="text-align: right">
            {{ (loans_bond.notional *(1+ loans_bond.interestRate * accruedDays/365))|number_format(0, '.', ',') }}
        </td>
        <td>
            <a class="btn btn-outline-danger btn-sm"
               href="{{ path('loans_bonds_edit', {'id': loans_bond.id}) }}">Edit</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

<br><hr><br>