{% extends 'base.html.twig' %}

{% block title %}Wine List{% endblock %}

{% block body %}
    <h1 style="color: red">Wine List</h1>
    <a target="_blank" class="btn btn-success btn-sm" href="{{ path('wine_list_new') }}">New wine</a>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Label</th>
            <th>Name</th>
            <th>Year</th>
            <th>Colour</th>
            <th>Grape</th>
            <th>Description</th>
            <th>Price €</th>
            <th>Marks</th>
            <th>Supermarket</th>
        </tr>
        </thead>
        <tbody>
        {% for wine_list in wine_lists %}
            <tr>
                {% set loc = asset('/administration/img/winelist')~"/"~wine_list.labelPicture %}
                <td title="{{ wine_list.name }}  ({{ wine_list.year }})">
                    <a target="_blank" href="{{ path('winelist_viewlabel', {id: wine_list.id}) }}">
                        <img height="50" width="50" src="{{ loc }}" class="rounded-circle"></a>
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('wine_list_edit', {'id': wine_list.id}) }}">{{ wine_list.name }}</a>
                    {% else %}
                        {{ wine_list.name }}
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {{ wine_list.year }}
                </td>
                <td>
                    {{ wine_list.colour }}
                </td>
                <td>
                    {{ wine_list.grape }}
                </td>
                <td>
                    {% if wine_list.description is not null %}
                        <i style="color: blue" title="{{ wine_list.description }}" class="fa fa-info-circle"></i>
                        {{ wine_list.description|slice(0,15) }}...
                    {% endif %}
                </td>
                <td style="text-align: right">
                    {{ wine_list.price |number_format(2, '.', ',') }}
                </td>
                <td style="text-align: center">
                    {{ wine_list.marks }}
                </td>
                <td>{{ wine_list.supermarket }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'desc'], [2, 'desc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
