{% extends 'base.html.twig' %}

{% block title %}WineList{% endblock %}

{% block body %}
    <h1>WineList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wine_list.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wine_list.name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ wine_list.year }}</td>
            </tr>
            <tr>
                <th>Colour</th>
                <td>{{ wine_list.colour }}</td>
            </tr>
            <tr>
                <th>Grape</th>
                <td>{{ wine_list.grape }}</td>
            </tr>
            <tr>
                <th>LabelPicture</th>
                <td>{{ wine_list.labelPicture }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ wine_list.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ wine_list.price }}</td>
            </tr>
            <tr>
                <th>Marks</th>
                <td>{{ wine_list.marks }}</td>
            </tr>
            <tr>
                <th>Supermarket</th>
                <td>{{ wine_list.supermarket }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wine_list_index') }}">back to list</a>

    <a href="{{ path('wine_list_edit', {'id': wine_list.id}) }}">edit</a>

    {{ include('wine_list/_delete_form.html.twig') }}
{% endblock %}
