{% extends 'base.html.twig' %}

{% block title %}Tennis Court:{{ tennis_court_preference.user.fullName }} @ {{ tennis_court_preference.tennisvenue.venue }}{% endblock %}

{% block body %}
    <h1 style="color: red">{{ tennis_court_preference.user.fullName }} @ {{ tennis_court_preference.tennisvenue.venue }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tennis_court_preference.id }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_court_preferences_index') }}">Return to list</a>

    <a class="btn btn-outline-danger-primary btn-sm mt-2" href="{{ path('tennis_court_preferences_edit', {'id': tennis_court_preference.id}) }}">Edit</a>

    {{ include('tennis_court_preferences/_delete_form.html.twig') }}
{% endblock %}
