{% extends 'base.html.twig' %}

{% block title %}Market Data History: {{ subset }}{% endblock %}

{% block body %}

    <h1 style="color: red">Market Data History: {{ subset }} </h1>
    <div class="row">
        <div class="col-3">
            <a class="btn btn-success btn-sm" href="{{ path('market_data_history_new') }}">New</a>
            <a class="btn btn-outline-info btn-sm"
               href="{{ path('market_data_history_index',{subset:'All', security: 'All'}) }}">Calendar view</a>
            <a class="btn btn-danger btn-sm" href="{{ path('historic_market_data_delete_all') }}">Delete All</a><br>
        </div>
        <div class="col-3">
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index_table', {subset: 'All', security: 'All'}) }}">All</a></ul>
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index_table', {subset: 'Active', security: 'All'}) }}">Active</a></ul>
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index_table', {subset: 'Sold', security: 'All'}) }}">Sold</a></ul>
        </div>
    </div>


    <table class="table table-responsive">
        <thead>
        <tr style="background-color: white; border-bottom: 1px solid">
            <th style="width: 90px; border-right: 1px dotted">Date</th>
            <th>Security</th>
            <th>ID</th>
            <th>Share Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for market_data_history in market_data_histories %}
            <tr>
                <td style="border-right: 1px solid" data-sort="{{ market_data_history.date|date('Y-m-d') }}">
                    {{ market_data_history.date|date('d-M-y') }}
                </td>
                <td>
                    {{ market_data_history.security.shareCompany }}
                </td>
                <td>
                    {{ market_data_history.security.id }}
                </td>
                <td style="border-right: 1px dotted; text-align: center">
                    {{ market_data_history.marketPrice }}
                </td>
                <td>
                    <form method="post" action="{{ path('market_data_history_delete', {'id': market_data_history.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ market_data_history.id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'desc'], [1, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}