{% extends 'base.html.twig' %}

{% block title %}Market Data History: {{ subset }}{% endblock %}

{% block body %}

    <h1 style="color: red">Market Data History: {{ subset }} </h1>
    <div class="row">
        <div class="col-3">
            <a target="_blank" class="btn btn-success btn-sm" href="{{ path('market_data_history_new') }}">New</a>
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index_table', {subset:'Active', security: 'All'}) }}">Table View</a>
            <a class="btn btn-danger btn-sm" href="{{ path('historic_market_data_delete_all') }}">Delete All</a><br>
        </div>
        <div class="col-3">
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index', {subset: 'All'}) }}">All</a></ul>
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index', {subset: 'Active'}) }}">Active</a></ul>
            <a target="_blank" class="btn btn-outline-primary btn-sm"
               href="{{ path('market_data_history_index', {subset: 'Sold'}) }}">Sold</a></ul>
        </div>
    </div>


    <table class="table table-responsive">
        <thead>
        <tr>
            <th style="width: 90px; background-color: whitesmoke; border-bottom: 1px; border-right: 1px solid">Date</th>
            {% for security in securities|sort((a,b)=>a.assetClass.assetclass<=>b.assetClass.assetclass) %}
                <th title="{{ security.assetClass.assetClass }}"
                    style="width: 50px; background-color: whitesmoke; border-bottom: 1px; border-right: 1px dotted">
                    <a target="_blank"
                       href="{{ path('market_data_edit', {id:security.id}) }}">{{ security.shareCompany }}</a>
                    <br>[{{ security.assetClass.assetclass }}]<br>
                    <a target="_blank" class="btn btn-danger btn-sm"
                       href="{{ path('market_data_history_index_table',{subset:'All', security: security.id}) }}">Table</a>
                    <a class="btn btn-outline-primary btn-sm" target="_blank"
                       href="{{ path('security_prices_import', {security: security.id}) }}">Import</a>

                </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for date in dates %}
            <tr>
                <td style="border-right: 1px solid; width: 50px"
                    data-sort="{{ date|date('Y-m-d') }}"> {{ date|date('d-M-y') }}</td>
                {% for security in securities|sort((a,b)=>a.assetClass.assetclass<=>b.assetClass.assetclass) %}
                    {% if MarketDataPrice.findReal(date,security) %}
                        <td style="border-right: 1px dotted; text-align: center; background-color: lightyellow">
                        <a target="_blank"
                           href="{{ path('market_data_history_edit', {id:MarketDataPrice.findMarketPrice(date, security).id }) }}">  {{ MarketDataPrice.findMarketPrice(date, security).marketPrice|number_format(2, '.', ',') }}</a>
                    {% else %}
                        <td style="border-right: 1px dotted; text-align: center">
                        {{ MarketDataPrice.findMarketPrice(date, security)|number_format(2, '.', ',') }}
                        <a target="_blank"
                           href="{{ path('market_data_history_new',{'securitiesID':security.id, 'date':date|date('Y-m-d')}) }}">+</a>
                    {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}