<style>
    .ck-editor__editable {min-height: 500px;}
</style>

{{ form_start(form) }}


<div class="row">
    <div class="col-md-3">
        <h2 style="color: blue">Dates</h2>
        {{ form_row(form.guestName) }}
        {{ form_row(form.dateArrival) }}
        {{ form_row(form.dateDeparture) }}
        {{ form_row(form.flightFromLondon) }}
        {{ form_row(form.flightToLondon) }}
    </div>
    <div class="col-md-9">

        <h2 style="color: blue">Notes</h2>
        Please include:
        <li>
            Flight/travel details
        </li>
        <li>
            Check I have your correct contact details in your <a target="_blank" href="{{ path('user_edit',{'id':app.user.id}) }}">profile.</a>
        </li>
        <br>
            {{ form_row(form.arrivalNotes) }}
            {{ form_row(form.departureNotes) }}
            {{ form_row(form.notes) }}
    </div>
</div>


{{ form_widget(form) }}
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



