{% extends 'base.html.twig' %}

{% block title %}House Guests Calendar{% endblock %}

{% block body %}
    <h1 style="color: red">House Guests Calendar</h1>
    <a target="_blank" class="btn btn-success btn-sm" href="{{ path('house_guests_new') }}">New</a>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Date</th>
            <th>Book</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        {% for date in dates %}
            {% if date|date('D') == "Sat" or date|date('D') == "Sun" %}
                <tr style="background-color: #bac8f3">
            {% else %}
                <tr>
            {% endif %}


            <td data-sort={{ date| date('Y-m-d') }}>{{ date | date('D d-M-Y') }}</td>

                <td>
                {% set flag = 0 %}
        {% for house_guest in house_guests %}
                {% if house_guest['date'] == date|date('d-m-y') %}
                    {{ house_guest['guest'].fullName }}
                    {% set flag = 1 %}
                {% endif %}
        {% endfor %}
                {% if flag==0 %}
                    N/A
                {% endif %}

                </td>

            <td>

                {% for house_guest in house_guests %}
                {% if house_guest['date'] == date|date('d-m-y') %}
                    {{ house_guest['notes'] }}
                {% endif %}
                {% endfor %}

            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
