{% extends 'base.html.twig' %}

{% block title %}House Guests Calendar{% endblock %}

{% block body %}
    <style>
        tbody {
            display: block;
            max-height: 800px;
            overflow-y: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        thead {
            width: calc(100%)
        }
    </style>
    <h1 style="color: red">House Guests Calendar</h1>

    {% include 'house_guests/parts/house_guest_buttons.html.twig' %}
    <div class="table-container">

        <table class="table">
            <thead>
            <tr>
                <th style="border-right: 1px dotted grey">Date</th>
                <th style="border-right: 1px dotted grey; text-align: left">Book</th>
                {% if is_granted('ROLE_GUEST') %}
                    <th style="border-right: 1px dotted grey; text-align: left">Travel Notes</th>
                    <th style="border-right: 1px dotted grey; border-right: 1px solid grey; text-align: left">
                        Notes
                    </th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th style="border-right: 1px solid grey; text-align: left"></th>
                {% endif %}
                {% include 'house_guests/parts/house_guest_flight_prices_headers.html.twig' %}
            </tr>

            <tr>
                <th style="border-right: 1px dotted grey" class="desktop"></th>
                <th style="border-right: 1px dotted grey" class="desktop">Book</th>
                {% if is_granted('ROLE_GUEST') %}
                    <th style="border-right: 1px dotted grey" class="desktop"></th>
                    <th class="desktop" style="width: 200px;border-right: 1px solid grey"></th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <th style="border-right: 1px solid grey"></th>
                {% endif %}
                {% include 'house_guests/parts/house_guest_flight_prices_headers2.html.twig' %}
            </tr>

            </thead>

            <tbody>
            {% for date in dates %}
                {% set id = '' %}
                <tr>
                    {% if date|date('D') == "Sat" or date|date('D') == "Sun" %}
                        <td style="border-right: 1px dotted grey; background-color: lightblue; text-align: right"
                            data-sort="{{ date| date('Y-m-d') }}">
                            {{ date | date('D d-M-y') }}
                        </td>
                    {% else %}
                        <td style="border-right: 1px dotted grey;text-align: right"
                            data-sort="{{ date| date('Y-m-d') }}">
                            {{ date | date('D d-M-y') }}
                        </td>
                    {% endif %}


                    <td style="border-right: 1px dotted grey; background-color: white">


                        {% set flag = 0 %}
                        {% for house_guest in house_guests %}
                            {% if house_guest['date'] == date|date('d-m-y') %}
                                {% if house_guest['referenceInformation'] == "Internal Note" %}
                                    {% set flag = 1 %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a target="_blank"
                                           href="{{ path('house_guests_edit', {'id':house_guest['id'] }) }}">Internal
                                            Note</a>
                                    {% endif %}
                                {% elseif house_guest['referenceInformation'] == "Block-Out" %}
                                    {% set flag = 1 %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a target="_blank"
                                           href="{{ path('house_guests_edit', {'id':house_guest['id'] }) }}">Block-Out</a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                {% else %}
                                    {% if is_granted('ROLE_GUEST') %}
                                        {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                                            {% if house_guest['guest'] is not null %}
                                                <a target="_blank"
                                                   href="{{ path('house_guests_edit', {'id':house_guest['id'] }) }}">{{ house_guest['guest'].fullName }}</a>
                                            {% else %}
                                                <a target="_blank"
                                                   href="{{ path('house_guests_edit', {'id':house_guest['id'] }) }}">TBC</a>
                                            {% endif %}
                                        {% else %}
                                            Booked
                                        {% endif %}
                                    {% endif %}
                                    {% set flag = 1 %}
                                    {% set id = house_guest['id'] %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if flag==0 %}
                            {% if is_granted('ROLE_GUEST') %}
                                <a target="_blank" class="btn btn-success btn-sm"
                                   href="{{ path('house_guests_new', {'startdate': date|date('d-m-Y')}) }}">Book</a>
                            {% else %}
                                Available

                            {% endif %}
                        {% endif %}


                    </td>

                    {% if is_granted('ROLE_GUEST') %}
                        <td style="border-right: 1px dotted grey; background-color: white">

                            {% for house_guest in house_guests %}
                                {% if house_guest['referenceInformation'] == "Guest Booking" %}
                                    {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                                        {% if house_guest['arrivalDate'] == date|date('d-m-y') %}
                                            {% if house_guest['arrivalNotes']|length >15 %}
                                                <i style="color: blue" title="{{ house_guest['arrivalNotes'] |raw }}"
                                                   class="fa fa-info-circle"></i>
                                            {% endif %}
                                            {{ house_guest['arrivalNotes'] |slice(0,15) }}
                                        {% endif %}

                                        {% if house_guest['departureDate'] == date|date('d-m-y') %}
                                            {% if house_guest['departureDate']|length >15 %}
                                                <i style="color: blue" title="{{ house_guest['departureDate'] |raw }}"
                                                   class="fa fa-info-circle"></i>
                                            {% endif %}
                                            {{ house_guest['departureNotes'] |slice(0,15) }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td style="border-right: 1px solid grey; background-color: white">
                            {% for house_guest in house_guests %}
                                {% if house_guest['referenceInformation'] == "Guest Booking" %}
                                    {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                                        {% if house_guest['arrivalDate'] == date|date('d-m-y') %}

                                            {% if house_guest['notes']|length >15 %}
                                                <i style="color: green" title="{{ house_guest['arrivalDate'] |raw }}"
                                                   class="fa fa-info-circle"></i>
                                                {{ house_guest['notes']|slice(0,15) }}...
                                            {% else %}
                                                {{ house_guest['notes']|raw }}
                                            {% endif %}


                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <td style="border-right: 1px solid grey; background-color: white">
                            {% if id != '' %}
                                <form method="post" action="{{ path('house_guests_delete', {'id':id }) }}"
                                      onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% include 'house_guests/parts/house_guest_flight_prices.html.twig' %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <br>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                // "ordering": [[0, 'asc']],
                'ordering': false,
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
