{% extends 'base.html.twig' %}

{% block title %}House Guests Calendar{% endblock %}

{% block body %}
<h1 style="color: red">House Guests Calendar</h1>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Book</th>
        <th>Travel Notes</th>
        <th>Notes</th>
        {% if is_granted('ROLE_ADMIN') %}
            <th>Delete</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for date in dates %}
    {% set id = '' %}
    {% if date|date('D') == "Sat" or date|date('D') == "Sun" %}
    <tr style="background-color: #bac8f3">
    {% else %}
    <tr>
        {% endif %}

        <td data-sort={{ date| date('Y-m-d') }}>{{ date | date('D d-M-Y') }}</td>

        <td>
            {% set flag = 0 %}
            {% for house_guest in house_guests %}
                {% if house_guest['date'] == date|date('d-m-y') %}
                    {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                        <a target="_blank"
                           href="{{ path('house_guests_edit', {'id':house_guest['id'] }) }}">{{ house_guest['guest'].fullName }}</a>
                    {% else %}
                        Booked
                    {% endif %}
                    {% set flag = 1 %}
                    {% set id = house_guest['id'] %}
                {% endif %}
            {% endfor %}
            {% if flag==0 %}
                <a target="_blank" class="btn btn-success btn-sm"
                   href="{{ path('house_guests_new', {'startdate': date|date('d-m-Y')}) }}">Book</a>
            {% endif %}
        </td>

        <td>
            {% for house_guest in house_guests %}
                {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                {% if house_guest['arrivalDate'] == date|date('d-m-y') %}
                    {{ house_guest['arrivalNotes'] |raw }}
                {% endif %}
                {% if house_guest['departureDate'] == date|date('d-m-y') %}
                    {{ house_guest['departureNotes'] |raw }}
                {% endif %}
                {% endif %}
            {% endfor %}
        </td>

        <td>
            {% for house_guest in house_guests %}
                {% if is_granted('ROLE_ADMIN') or app.user.id ==house_guest['guest'].id %}
                    {% if house_guest['arrivalDate'] == date|date('d-m-y') %}
                        {{ house_guest['notes'] |raw }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>

        {% if is_granted('ROLE_ADMIN') %}
            <td>
                {% if id != '' %}
                    <form method="post" action="{{ path('house_guests_delete', {'id':id }) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                {% endif %}
            </td>
        {% endif %}

    </tr>
    {% endfor %}
    </tbody>
</table>
<br>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
