{% extends 'base.html.twig' %}

{% block title %}House Guests Calendar{% endblock %}

{% block body %}
    <h1 style="color: red">House Guests Calendar</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Arrival</th>
                <th>Departure</th>
                <th>Guest</th>
                <th>Rooms</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for house_guest in house_guests %}
            <tr>
                <td>{{ house_guest.dateArrival ? house_guest.dateArrival|date('d-M-Y') : '' }}</td>
                <td>{{ house_guest.dateDeparture ? house_guest.dateDeparture|date('d-M-Y') : '' }}</td>
                <td><a href="{{ path('house_guests_edit', {'id': house_guest.id}) }}">{{ house_guest.guestName.fullName }}</a></td>
                <td>{{ house_guest.roomCount }}</td>
                <td>{{ house_guest.notes }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('house_guests_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
