{% extends 'base.html.twig' %}

{% block title %}House Guests{% endblock %}

{% block body %}
    <h1 style="color: red">House Guests</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ house_guest.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ house_guest.date ? house_guest.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>RoomCount</th>
                <td>{{ house_guest.roomCount }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ house_guest.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('house_guests_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm mt-2" href="{{ path('house_guests_edit', {'id': house_guest.id}) }}">Edit</a>

    {{ include('house_guests/_delete_form.html.twig') }}
{% endblock %}
