{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        <h2>Share Price Details</h2>
        {{ form_row(form.assetClass) }}
        {{ form_row(form.cashInstrument) }}
        {{ form_row(form.shareCompany) }}
        {{ form_row(form.sharePrice) }}
        {{ form_row(form.companiesHouse) }}
        {{ form_row(form.weblink) }}
        {{ form_row(form.assetSold) }}
    </div>
    <div class="col-md-3">
        <h2>Investor login</h2>
        {{ form_row(form.investorSite) }}
        {{ form_row(form.login) }}
        {{ form_row(form.password) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        {{ form_row(form.comment) }}
    </div>

</div>
<button class="btn btn-success btn-sm mt-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
