{% extends 'base.html.twig' %}

{% block title %}Market Data index{% endblock %}

{% block body %}

    <h1 style="color: red;">Assets - Details</h1>

    <div class="row">
        <div class="col-3">
            <a class="btn btn-outline-success btn-sm" target="_blank" href="{{ path('market_data_history_index',{subset:'All'}) }}">Market
                Data
                History</a>
            <a target="_blank" class="btn btn-success btn-sm" href="{{ path('market_data_new') }}">New</a>
        </div>
        <div class="col-3">
            {% include 'market_data/parts/investmentAsOfDate.html.twig' %}
        </div>
        <div>
            <a target="_blank" class="btn btn-outline-info btn-sm" href="{{ path('loans_bonds_index') }}">Loan/Bond
                Prices</a>
            <a target="_blank" class="btn btn-outline-info btn-sm" href="{{ path('bank_balances_index') }}">Bank
                Accounts</a>
        </div>
    </div>

    {#    {% for assetClass in assetClasses  %} #}
    {% for assetClass in assetClasses |sort((a,b)=>a.assetClass<=>b.assetClass) %}

        <h2>{{ assetClass.assetClass }}
            <a target="_blank" href="{{ path('asset_classes_index') }}">+</a>
        </h2>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th style="width: 250px;">Company</th>
                <th>Active</th>
                <th style="text-align: right">Share Price <br> ("As of" Date)</th>
                <th style="width: 50px;">Corporate website</th>
                <th style="width: 50px;">Companies House</th>
                <th>Investor site</th>
                <th>Login</th>
                <th>Password</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            {% for marketData in marketDatas %}
                {% if marketData.assetClass.assetClass == assetClass.assetClass %}
                    {% set weblink = 'https://find-and-update.company-information.service.gov.uk/company/'~marketData.companiesHouse %}
                    <tr>
                        <td>
                            <a target="_blank"
                               href="{{ path('market_data_edit', {'id': marketData.id}) }}">{{ marketData.shareCompany }}</a>
                        </td>
                        <td style="text-align: center">
                            {% if marketData.isActive ==1 %}
                                <i style="color: green" class="fa fa-check"></i>
                            {% else %}
                                <i style="color: red" class="fa fa-remove"></i>
                            {% endif %}
                        </td>
                        <td style="text-align: right">
                            {{ MarketDataPrice.findMarketPrice(settings.investmentDate, marketData)|number_format(2, '.', ',')  }}
                        </td>
                        <td style="text-align: center">
                            {% if marketData.weblink is not empty %}
                                <a title="{{ marketData.weblink }}" target="_blank"
                                   href="{{ marketData.weblink }}"><i class="fas fa-globe"
                                                                      style="color:blue; text-align: center"></i></a>
                            {% endif %}
                        </td>

                        <td style="text-align: center">
                            {% if marketData.companiesHouse != "NA" %}
                                <a title={{ weblink }} target="_blank" href={{ weblink }}>
                                    <i class="fas fa-link" style="color:blue; text-align: center"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if  marketData.investorSite is not empty %}
                                {% if  marketData.investorSite starts with 'http' %}
                                    {% set web =  marketData.investorSite %}
                                {% else %}
                                    {% set web = 'https://'~ marketData.investorSite %}
                                {% endif %}
                                <a target="_blank" title="{{ marketData.investorSite }}" href="{{ web }}">
                                    <i class="fas fa-globe"
                                       style="color:blue; text-align: center"></i></a>
                            {% endif %}
                        </td>
                        <td>{{ marketData.login }}</td>
                        <td>{{ marketData.password }}</td>
                        <td>
                            {% if marketData.login is not null %}
                                <a class="btn btn-success btn-sm" target="_blank"
                                   href="{{ marketData.investorSite }}">Login</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>
    {% endfor %}


    <a target="_blank" class="btn btn-success btn-sm mt-2" href="{{ path('market_data_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
