{% extends 'base.html.twig' %}

{% block title %}Market Data index{% endblock %}

{% block body %}
    <h1 style="color: red;">Share prices</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Grouping</th>
            <th>Company</th>
            <th>Share Price</th>
            <th>Link</th>
            <th>Companies House</th>
        </tr>
        </thead>
        <tbody>
        {% for market_data in market_datas %}
            {% set weblink = 'https://find-and-update.company-information.service.gov.uk/company/'~market_data.companiesHouse %}
            <tr>
                <td>{{ market_data.assetClass }}</td>
                <td>
                    <a href="{{ path('market_data_edit', {'id': market_data.id}) }}">{{ market_data.shareCompany }}</a>
                </td>
                <td style="text-align: right">{{ market_data.sharePrice|number_format(2) }}</td>
                <td style="text-align: center">
                    {% if market_data.weblink is not empty%}
                        <a title="{{ market_data.weblink }}" target="_blank"
                           href="{{ market_data.weblink }}"><i class="fas fa-globe"
                                                             style="color:blue; text-align: center"></i></a>
                    {% endif %}
                </td>

                <td style="text-align: center">
                    {% if market_data.companiesHouse != "NA" %}
                        <a title={{ weblink }} target="_blank" href={{ weblink }}><i class="fas fa-link"
                                                                                     style="color:blue; text-align: center"></i></a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('market_data_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
