<tbody>
{% for bank_balance in bank_balances %}
    {% if bank_balance.bank.bank == bank_account.bank %}
        <tr>
            <td style="text-align: right; border-left: 1px solid" data-sort="{{ bank_balance.date|date('Y-m-d') }}">
                <a href="{{ path('bank_balances_edit', {'id': bank_balance.id}) }}">
                    {{ bank_balance.date|date('d-M-y') }}
                </a>
            </td>
{#            <td>#}
{#                {{ bank_balance.bank.bank }}#}
{#            </td>#}
            <td style="text-align: right">
                {{ bank_balance.BalanceGbp|number_format(0, '.', ',') }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceUsd|number_format(0, '.', ',') }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceEur|number_format(0, '.', ',') }}
            </td>
            <td style="text-align: right; border-right: 1px solid">
                {{ bank_balance.BalanceChf|number_format(0, '.', ',') }}
            </td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
<br>
