<tbody>
{% for bank_balance in bank_balances %}
    {% if bank_balance.bank.bank == bank_account.bank %}
        <tr>
            <td data-sort="{{ bank_balance.date|date('Y-m-d') }}">
                {{ bank_balance.date|date('d-M-y') }}
            </td>
            <td>
                {{ bank_balance.bank.bank }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceGbp|number_format(2, '.', ',') }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceUsd|number_format(2, '.', ',') }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceEur|number_format(2, '.', ',') }}
            </td>
            <td style="text-align: right">
                {{ bank_balance.BalanceChf|number_format(2, '.', ',') }}
            </td>
            <td>
                <a class="btn btn-outline-danger btn-sm"
                   href="{{ path('bank_balances_edit', {'id': bank_balance.id}) }}">Edit</a>
            </td>
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>
<br>
<hr><br>
