<style>
    .ck-content {
        min-height: 700px;
    }
</style>
{{ form_start(form) }}
<input type="hidden" name="referer" value="{{ app.request.headers.get('referer') }}">
<div class="row">
    <div class="col-12 col-lg-2">
        <h2 style="color: red">Personal Details</h2>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
    </div>

    <div class="col-12 col-lg-2">
        <div class="password">
            <h2 style="color: red">Password</h2>
            {{ form_row(form.password) }}
        </div>
        {% if form.roles is defined %}
            <h2 style="color: red">Roles</h2>
            {{ form_row(form.roles) }}
        {% endif %}
    </div>


</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

