{{ form_start(form) }}
<div class="row">
    <div class="col-md-2">
        <h4 style="color: blue">Name</h4>
        {{ form_row(form.salutation) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.jobTitle) }}
        {{ form_row(form.company) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.linkedIn) }}
    </div>

    <div class="col-md-2">
        <h4 style="color: blue">Address</h4>
        {{ form_row(form.businessStreet) }}
        {{ form_row(form.businessCity) }}
        {{ form_row(form.businessPostalCode) }}
        {{ form_row(form.businessCountry) }}
        <br>
        <hr>
        <br>
        {% if form.homeStreet is defined and form.homeCity is defined and form.homePostalCode is defined and form.homeCountry is defined %}
            {{ form_row(form.homeStreet) }}
            {{ form_row(form.homeCity) }}
            {{ form_row(form.homePostalCode) }}
            {{ form_row(form.homeCountry) }}
        {% endif %}
    </div>

    <div class="col-md-2">
        <h4 style="color: blue">Phone</h4>
        {{ form_row(form.mobile) }}
        {{ form_row(form.mobile2) }}
        {{ form_row(form.businessPhone) }}
        {{ form_row(form.homePhone) }}
        {{ form_row(form.homePhone2) }}
    </div>

    <div class="col-md-2">
        <h4 style="color: blue">Contact Details</h4>
        {{ form_row(form.email) }}
        {{ form_row(form.email2) }}
        {{ form_row(form.email3) }}
        {{ form_row(form.webPage) }}
        {{ form_row(form.notes) }}
    </div>

    <div class="col-md-2">
        <h4 style="color: blue">Access rights</h4>
        {{ form_row(form.password) }}
        {% if form.role is defined and form.inviteDate is defined %}
            User ID: {{ user.id }}
            {{ form_row(form.role) }}
            {{ form_row(form.inviteDate) }}
        {% endif %}

        {{ form_row(form.festiveMessage) }}
        {{ form_row(form.festiveMessageDate) }}
        {{ form_row(form.lastEdited) }}

    </div>

    <div class="col-md-2">
        <h4 style="color: blue">Recruiters</h4>
        {% if form.recruitingArea is defined  and form.recruitingAreaList is defined and form.recruiterHighPriority is defined %}
            {{ form_row(form.recruitingArea) }}
            {{ form_row(form.recruitingAreaList ) }}
            {{ form_row(form.recruiterHighPriority ) }}
            {{ form_row(form.recruiterResponse ) }}
        {% endif %}
    </div>
</div>
<hr>


<button id="save" class="btn btn-primary btn-sm">{{ button_label|default('Save (no welcome email)') }}</button>
<button id="sendEmail" class="btn-success btn-sm">Save & send welcome e-mail</button>
{{ form_end(form) }}


