{% extends 'base.html.twig' %}

{% block title %}Edit: {{ user.fullName }}{% endblock %}

{% block body %}

    <div id="loader">
        <img src="loader.gif" alt="Loading..." width="80">
    </div>

    <h1 style="color: red">{{ user.fullName }}</h1>
    <div class="row">
        <div class="col-7">
            <button class="btn btn-outline-danger btn-sm password-reset float-right">Reset Password</button>
        </div>
    </div>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('user_index', {status: 'All'}) }}">Return to list</a>

    {{ include('user/_delete_form.html.twig') }}


{% endblock %}
{% block additionaljs %}

    <script>

        $(document).ready(function() {

            $('#user_password').hide();

            $("input[name='user[password]']").removeAttr("required");

            $(".password-reset").click(function () {
                $('#user_password').toggle();
                $("input[name='user[password]']").attr("required", "required");
            });

            // If the user removes focus without entering a password, remove required again
            $("input[name='user[password]']").blur(function () {
                if ($(this).val() === "") {
                    $(this).removeAttr("required");
                }
            });

            if ("{{ CompanyDetailsService.getCompanyDetails.userIncludeJobDetails }}" === "") {
                // alert("in job details")
                $("input[name='user[company]']").closest(".form-group").remove();
                $("input[name='user[jobTitle]']").closest(".form-group").remove();
                $("input[name='user[linkedIn]']").closest(".form-group").remove();
            }

            if ("{{ CompanyDetailsService.getCompanyDetails.userIncludePersonalDetails }}" === "") {
                $("input[name='user[email2]']").closest(".form-group").remove();
                $("input[name='user[email3]']").closest(".form-group").remove();
                $("input[name='user[mobile2]']").closest(".form-group").remove();
                $("input[name='user[birthday]']").closest(".form-group").remove();
                $("input[name='user[webPage]']").closest(".form-group").remove();
                $("input[name='user[notes]']").closest(".form-group").remove();
            }

            if ("{{ CompanyDetailsService.getCompanyDetails.userIncludeBusinessAddress }}" === "") {
                $("input[name='user[businessStreet]']").closest(".form-group").remove();
                $("input[name='user[businessCity]']").closest(".form-group").remove();
                $("input[name='user[businessCountry]']").closest(".form-group").remove();
                $("input[name='user[businessPostalCode]']").closest(".form-group").remove();
                $("input[name='user[businessPhone]']").closest(".form-group").remove();
            }

            if ("{{ CompanyDetailsService.getCompanyDetails.userIncludeHomeAddress }}" === "") {
                $("input[name='user[homeStreet]']").closest(".form-group").remove();
                $("input[name='user[homeCity]']").closest(".form-group").remove();
                $("input[name='user[homeCountry]']").closest(".form-group").remove();
                $("input[name='user[homePostalCode]']").closest(".form-group").remove();
                $("input[name='user[homePhone]']").closest(".form-group").remove();
                $("input[name='user[homePhone2]']").closest(".form-group").remove();
            }
        });


        let roles = [];

        {% for role in user.roles %}
        roles.push("{{ role }}");
        {% endfor %}
        $("#user_roles").val(roles);
    </script>
    <script>
        $(window).on("load", function () {
            $("#loader").fadeOut("fast"); // Hide loader when page is fully loaded
        });
    </script>

{% endblock %}