{% extends 'base.html.twig' %}

{% block title %}Edit: {{ user.fullName }}{% endblock %}

{% block body %}
    <h1 style="color: red">{{ user.fullName }}</h1>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-outline-danger btn-sm password-reset float-right">Reset Password</button>
        </div>
    </div>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('user_index', {status: 'All'}) }}">Return to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}

{% block additionaljs %}
<script>
    $('.password').hide();
    $('.password-reset').click(function () {
        $('.password').toggle();
        $('#user_password').val('');
    });
    let roles = [];

    {% for role in user.roles %}
    roles.push("{{ role }}");
    {% endfor %}
    $("#user_roles").val(roles);
</script>

{% endblock %}