{% extends 'base.html.twig' %}
{% block title %}Users: {{ role }} {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: {{ role }}</span></h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="desktop">
            <div class="row">

                <div class="col-4">
                    <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_non_admin') }}">Delete All Users
                        (excl Admin)</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_AX') }}">Delete AX Users (excl
                        Admin)</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_Personal') }}">Delete Personal Users
                        (excl Admin) </a>
                </div>

                <div class="col-2">
                    <a class="btn btn-success btn-sm" href="{{ path('user_export', {Subset: 'All'}) }}">Export</a>
                    <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">New user</a>
                </div>

                <div class="col-2">
                    {% if FindUser.checkConflict %}
                        <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Import:
                            Outlook</a>
                    {% else %}
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('userImport',{ source: 'Outlook'}) }}">Import:
                            Outlook</a>
                    {% endif %}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Notice</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mt-1">
                                <h5> Please resolve all conflict before import.</h5>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-primary"
                                   href="{{ path('userImport',{ source: 'Outlook'}) }}">Import</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <a class="btn btn-outline-secondary btn-sm" href="{{ path('userImport',{ source: 'Grapevine'}) }}">Import:Grapevine</a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="https://www.datagrapevine.com/recruitment/welcome">Grapevine</a>
                </div>

                <div class="col-2">
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('user_londoner_email') }}">Coming to London</a>
                </div>
            </div>


        </div>
    {% endif %}
    <br>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th class="desktop">Company</th>
            <th class="desktop" title="Home/Business">Address</th>
            <th><i class="fa fa-mobile"></i></th>
            <th><i class="fa fa-phone"></th>
            <th><i class="fa fa-envelope"></th>
            <th class="desktop">LinkedIN</th>
            <th>www</th>
            <th class="desktop">Birthday</th>
            <th class="desktop">Notes</th>
            <th class="desktop">!</th>
            {% if is_granted('ROLE_ADMIN') %}
                {% include 'user/parts/roles_headers.html.twig' %}
                <th class="desktop" style="color: red">#</th>
                <th class="desktop" style="color: red">#</th>
                <th class="desktop" style="color: red">#</th>
                <th class="desktop" style="color: red">Londoner</th>
                <th class="desktop" style="color: red">Message</th>
                <th class="desktop" style="color: red;">Last edited</th>
                <th class="desktop" style="color: red;">Imported</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            {% if user.entryConflict is empty %}
                <tr>
            {% else %}
                <tr style="background-color: antiquewhite">
            {% endif %}
            <td>
                {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                    <b><a target="_blank"
                          href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                {% else %}
                    <b><a target="_blank"
                          href="{{ path('user_show', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                {% endif %}
            </td>

            <td class="desktop">{{ user.company }}</td>
            <td class="desktop" style="text-align: center">
                {% if user.homeStreet is not empty %}
                    <i class="fa fa-home"
                       title="{{ user.homeStreet }} {{ user.homeCity }} {{ user.homePostalCode }}"></i>
                {% endif %}

                {% if user.homeStreet is not empty and user.businessStreet is not empty %} / {% endif %}

                {% if user.businessStreet is not empty %}
                    <i class="fa fa-industry"
                       title="{{ user.businessStreet }} {{ user.businessCity }} {{ user.businessPostalCode }}"></i>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.mobile is not empty %}
                    <a target="_blank" href="https://wa.me/{{ user.mobile  | replace({' ': ''}) }}">
                        <i title="{{ user.mobile }}" class="fab fa-whatsapp"
                           style="color:green; text-align: center"></i></a>
                {% endif %}

                {% if user.mobile is not empty and user.mobile2 is not empty %} /
                {% endif %}
                {% if user.mobile2 is not empty %}
                    <a target="_blank" href="https://wa.me/{{ user.mobile2  | replace({' ': ''}) }}">
                        <i title="{{ user.mobile2 }}" class="fab fa-whatsapp"
                           style="color:green; text-align: center"></i></a>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.businessPhone is not empty %}
                    <i class="fa fa-phone" title="{{ user.businessPhone }}"></i>
                {% endif %}

                {% if user.homePhone is not empty and user.businessPhone is not empty %} /
                {% endif %}
                {% if user.homePhone is not empty %}
                    <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                {% endif %}
            </td>

            <td data-sort="{{ user.email }}" style="text-align: center">
                {% set instring = '@no_email.com' in user.email %}
                {% if user.email is not empty and instring != 1 %}
{#                    {{ user.email }}#}
                    <a title="{{ user.email }}" href="mailto:{{ user.email }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% else %}
                    <a title="{{ user.email }}" href="">N/A</a>
                {% endif %}
                {% if user.email2 is not empty %} /
                    <a title="{{ user.email2 }}" href="mailto:{{ user.email2 }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% endif %}

                {% if user.email3 is not empty %} /
                    <a title="{{ user.email3 }}" href="mailto:{{ user.email3 }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% endif %}
            </td>

            <td class="desktop" style="text-align: center">
                {% if user.linkedIn is not empty %}
                    <a target="_blank" title="{{ user.linkedIn }}" href="{{ user.linkedIn }}">
                        <i class="fab fa-linkedin"></i>
                    </a>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.webPage is not empty %}
                    {% if user.webPage starts with 'http' %}
                        {% set web = user.webPage %}
                    {% else %}
                        {% set web = 'https://'~user.webPage %}
                    {% endif %}
                    <a target="_blank" title="{{ user.webPage }}" href="{{ web }}">
                        <i class="fa fa-globe"></i>
                    </a>
                {% endif %}
            </td>


            <td class="desktop" style="text-align: center" ; data-sort="{{ user.birthday|date('Y-m-d') }}">
                {% if user.birthday is not empty %}
                    {{ user.birthday |date('d-M-Y') }}
                {% endif %}
            </td>


            <td class="desktop" style="text-align: left">
                {% if user.notes is not empty %}
                    <i title="{{ user.notes|raw }}" class="fa fa-info-circle" title="{{ user.notes }}"></i>
                    {{ user.notes|slice(0,10) }}...
                {% endif %}
            </td>
            <td class="desktop">
                {% if user.entryConflict is not empty %}
                    !
                {% endif %}
            </td>


            {% include 'user/parts/roles_body.html.twig' %}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {#                <td>{{ user.plainPassword }}</td> #}

                <td class="desktop">
                    {% if UserIsHouseGuest.userExist(user) == false %}
                        <form class="d-inline" method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </form>
                    {% endif %}
                </td>

                <td class="desktop">
                    <a class="btn btn-success btn-sm" href="{{ path('user_invite', {'userid':user.id}) }}">Invite
                        email</a>
                </td>
                <td class="desktop">
                    {% if user.inviteDate is not empty %}
                        {{ user.inviteDate|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td data-sort="{{ user.londoner }}" style="text-align: center">
                    {% if user.londoner== 1 %}
                        <a href="{{ path('londoner_status', {londoner_or_message:'London', id:user.id}) }}">
                            <i style="color: green" class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('londoner_status', {londoner_or_message:'London', id:user.id}) }}">
                            <i style="color: red" class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>
                <td data-sort="{{ user.londonerMessage }}" style="text-align: center">
                    {% if user.londonerMessage== 1 %}
                        <a href="{{ path('londoner_status', {londoner_or_message:'Message', id:user.id}) }}">
                            <i style="color: green" class="fa fa-check"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('londoner_status', {londoner_or_message:'Message', id:user.id}) }}">
                            <i style="color: red" class="fa fa-remove"></i>
                        </a>
                    {% endif %}
                </td>

                <td class="desktop" data-sort="{{ user.lastEdited|date('Y-m-d') }}">
                    {% if user.lastEdited is not empty %}
                        {{ user.lastEdited|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td class="desktop" data-sort="{{ user.importTime|date('Y-m-d H:i') }}">
                    {% if user.importTime is not empty %}
                        {{ user.importTime|date('d-M-Y H:i') }}
                    {% endif %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[10, 'desc'], [0, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}