{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body %}

        <h1 style="color: red">Users</h1>
        <div class="row">
            <div class="col-2">
                <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">New</a>
            </div>
        </div>
        <br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td style="text-align: right">
                    <a target="_blank" href="{{ path('user_edit', {'fullName': user.fullName}) }}">{{ user.id }}</a>
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
