{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1><span class="text-danger">Users</span></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_edit', {'id': user.id}) }}">{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        {% else %}

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success mt-3" href="{{ path('user_new') }}">New user</a>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}