{% extends 'base.html.twig' %}
{% block title %}Users: Telephone check {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: {{ role }}</span></h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-danger btn-sm" href="{{ path('/user/delete_all_non_admin') }}">Delete All Users (excl
            Admin)</a>
        <a class="btn btn-danger btn-sm" href="{{ path('/user/delete_all_AX') }}">Delete AX Users (excl Admin)</a>
        <a class="btn btn-danger btn-sm" href="{{ path('/user/delete_all_Personal') }}">Delete Personal Users (excl
            Admin)</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right" width="170px">Mobile1</th>
            <th style="text-align: right" width="170px">Mobile1 (Reformatted)</th>
            <th style="text-align: right" width="170px">Mobile2</th>
            <th style="text-align: right" width="170px">Mobile2 (Reformatted)</th>
            <th style="text-align: right" width="170px">Business Phone</th>
            <th style="text-align: right" width="170px">Business Phone (Reformatted)</th>
            <th style="text-align: right" width="170px">Home Phone</th>
            <th style="text-align: right" width="170px">Home Phone (Reformatted)</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank" href="{{ path('user_edit', {'id': user.id}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b><a target="_blank" href="{{ path('user_show', {'id': user.id}) }}">  {{ user.fullName }}</a></b>
                    {% endif %}
                </td>

                <td style="text-align: right">
                    {% if user.mobile is not empty %}
                       {{ user.mobile }}
                    {% endif %}
                </td>

                <td style="text-align: right">
                    {% if user.mobile is not empty %}
                        {{ user.mobile }}
                    {% endif %}
                </td>

                <!-- Next -->

                <td style="text-align: right">
                    {% if user.mobile2 is not empty %} /
                        {{ user.mobile2 }}
                    {% endif %}
                </td>

                <td style="text-align: right">
                    {% if user.mobile2 is not empty %} /
                        {{ user.mobile2 }}
                    {% endif %}
                </td>

                <!-- Next -->

                <td style="text-align: right">
                    {% if user.businessPhone is not empty %}
                        {{ user.businessPhone }}
                    {% endif %}
                </td>

                <td style="text-align: right">
                    {% if user.businessPhone is not empty %}
                            {{ user.businessPhone }}
                    {% endif %}
                </td>

                <!-- Next -->

                <td style="text-align: right">
                    {% if user.homePhone is not empty %}
                    {{ user.homePhone }}
                    {% endif %}
                </td>

                <td style="text-align: right">
                    {% if user.homePhone is not empty %}
                    {{ user.homePhone }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [1, 'desc'],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}