{% extends 'base.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block body %}

    <h1 style="color: red">Users</h1>
    {% include 'user/parts/import_and_export_buttons.html.twig' %}


    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Roles</th>
            <th>Email<br>Verified</th>
            <th>Default<br>Language</th>
            <th>Log</th>
            <th>#</th>
            <th>#</th>
            <th>VCF</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {{ user.mobile }}
                </td>
                <td>
                    {% for role in user.roles %}
                        {{ role }};
                    {% endfor %}
                </td>
                <td style="text-align: center">
                    {% if user.emailVerified ==1 %}
                        <i style="color: green" class="fa fa-check"></i>
                    {% else %}
                        <i style="color: red" class="fa fa-remove"></i>
                    {% endif %}
                </td>

                {% if user.defaultLanguage is null %}
                    {% set language="English" %}
                {% else %}
                    {% set language= user.defaultLanguage.language %}
                {% endif %}

                <td style="text-align: center" data-sort="{{ language }}">
                    {% if user.defaultLanguage is not null %}
                        {% set image = asset('administration/ATSSharedFiles/LanguageIcons/'~ user.defaultLanguage.icon) %}
                        <img title="{{ user.defaultLanguage.language }}" height="30" width="30" src="{{ image }}">

                    {% endif %}
                </td>
                <td>
                    {{ CountUserLogsService.count(user.id) }}
                </td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" target="_blank"
                       href="{{ path('user_edit', {'id': user.id}) }}">
                        <i class="fa fa-pen"></i>
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
                <td>
                    {#                    <a href="{{ path('create_user_vcard', {id: user.id} ) }}" class="action" #}
                    {#                       data-id="{{ user.id }}" #}
                    {#                       data-action="VCF"> <i style="color: blue" class="fas fa-address-card mr-0"></i></a> #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
