{% extends 'base.html.twig' %}
{% block title %}Users: Telephone Check {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: Telephone Check</span></h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-5">
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_non_admin') }}">Delete All Users (excl
                Admin)</a>
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_AX') }}">Delete AX Users (excl
                Admin)</a>
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_Personal') }}">Delete Personal Users
                (excl Admin) </a>
        </div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right">Mobile 1</th>
            <th style="text-align: right">Mobile 2</th>
            <th style="text-align: right">Business Phone</th>
            <th style="text-align: right">Home Phone</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank"
                              href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b>{{ user.fullName }}</b>
                    {% endif %}
                </td>
                <td align="right">{{ user.mobile }}</td>
                <td align="right">{{ user.mobile2 }}</td>

                <td align="right">{{ user.businessPhone }}</td>
                <td align="right">{{ user.homePhone }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}