{% extends 'base.html.twig' %}
{% block title %}Users: {{ role }} {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: {{ role }}</span></h1>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="row">
            <div class="col-5">
                <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_non_admin') }}">Delete All Users (excl
                    Admin)</a>
                <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_AX') }}">Delete AX Users (excl
                    Admin)</a>
                <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_Personal') }}">Delete Personal Users
                    (excl Admin) </a>
            </div>
            <div class="col-3">
                <a class="btn btn-success btn-sm" href="{{ path('user_export', {Subset: 'All'}) }}">Export users to
                    CSV</a>
                <a class="btn btn-success btn-sm" href="{{ path('user_new') }}">New user</a>
            </div>
            <div class="col-4">
                {% if FindUser.checkConflict %}
                    <a class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Import
                        from
                        Outlook</a>
                {% else %}
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('userImport',{ source: 'Outlook'}) }}">Import
                        from
                        Outlook</a>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Notice</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body mt-1">
                                <h5> Please resolve all conflict before import.</h5>
                            </div>
                            <div class="modal-footer text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a type="button" class="btn btn-primary"
                                   href="{{ path('userImport',{ source: 'Outlook'}) }}">Import</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-outline-secondary btn-sm" href="{{ path('userImport',{ source: 'Grapevine'}) }}">Import
                    from
                    Grapevine
                    (Recruiters)</a>
                <a class="btn btn-outline-secondary btn-sm" href="https://www.datagrapevine.com/recruitment/welcome">Grapevine</a>
            </div>
        </div>
        <br>
    {% endif %}

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th title="Home/Business">Address</th>
            <th>Mobile(s)</th>
            <th>Landlines</th>
            <th>Email(s)</th>
            <th>LinkedIN</th>
            <th>www</th>
            <th>Birthday</th>
            <th>Notes</th>
            <th>!</th>
            <th>Admin</th>
            <th>Family</th>
            <th>Contact</th>
            <th>Guest</th>
            <th>Job Applicant</th>
            <th>Recruiter</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th style="color: red;">Plain Password</th>
                <th style="color: red;">#</th>
                <th style="color: red;">#</th>
                <th style="color: red;">#</th>
                <th style="color: red;">Last edited</th>
                <th style="color: red;">Imported</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            {% if user.entryConflict is empty %}
                <tr>
            {% else %}
                <tr style="background-color: antiquewhite">
            {% endif %}
            <td>
                {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                    <b><a target="_blank"
                          href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                {% else %}
                    <b><a target="_blank"
                          href="{{ path('user_show', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                {% endif %}
            </td>

            <td>{{ user.company }}</td>
            <td style="text-align: center">
                {% if user.homeStreet is not empty %}
                    <i class="fa fa-home"
                       title="{{ user.homeStreet }} {{ user.homeCity }} {{ user.homePostalCode }}"></i>
                {% endif %}

                {% if user.homeStreet is not empty and user.businessStreet is not empty %} / {% endif %}

                {% if user.businessStreet is not empty %}
                    <i class="fa fa-industry"
                       title="{{ user.businessStreet }} {{ user.businessCity }} {{ user.businessPostalCode }}"></i>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.mobile is not empty %}
                    <i class="fa fa-phone" title="{{ user.mobile }}"></i>
                {% endif %}

                {% if user.mobile is not empty and user.mobile2 is not empty %} /
                {% endif %}
                {% if user.mobile2 is not empty %}
                    <i class="fa fa-phone" title="{{ user.mobile2 }}"></i>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.businessPhone is not empty %}
                    <i class="fa fa-phone" title="{{ user.businessPhone }}"></i>
                {% endif %}

                {% if user.homePhone is not empty and user.businessPhone is not empty %} /
                {% endif %}
                {% if user.homePhone is not empty %}
                    <i class="fa fa-phone" title="{{ user.homePhone }}"></i>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% set instring = '@no_email.com' in user.email %}

                {% if user.email is not empty and instring != 1 %}
                    <a title="{{ user.email }}" href="mailto:{{ user.email }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% endif %}

                {% if user.email2 is not empty %} /
                    <a title="{{ user.email2 }}" href="mailto:{{ user.email2 }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% endif %}

                {% if user.email3 is not empty %} /
                    <a title="{{ user.email3 }}" href="mailto:{{ user.email3 }}">
                        <i class="fa fa-envelope"></i>
                    </a>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.linkedIn is not empty %}
                    <a target="_blank" title="{{ user.linkedIn }}" href="{{ user.linkedIn }}">
                        <i class="fa fa-linkedin"></i>
                    </a>
                {% endif %}
            </td>

            <td style="text-align: center">
                {% if user.webPage is not empty %}
                    {% if user.webPage starts with 'http' %}
                        {% set web = user.webPage %}
                    {% else %}
                        {% set web = 'https://'~user.webPage %}
                    {% endif %}
                    <a target="_blank" title="{{ user.webPage }}" href="{{ web }}">
                        <i class="fa fa-globe"></i>
                    </a>
                {% endif %}
            </td>


        <td style="text-align: center" ; data-sort="{{ user.birthday|date('Y-m-d') }}">
                {% if user.birthday is not empty %}
                {{ user.birthday |date('d-M-Y') }}
            </td>
            {% endif %}

            <td>
                {% if user.notes is not empty %}
                    <i class="fa fa-info-circle" title="{{ user.notes }}"></i>
                {% endif %}
            </td>
            <td>
                {% if user.entryConflict is not empty %}
                    !
                {% endif %}
            </td>

            {#- ----- Radio buttons for roles --------------- -#}
            {% if role != 'ROLE_RECRUITER' %}

                {% set role_flag1 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN2' or role == 'ROLE_ADMIN2' %}
                        {% set role_flag1 = 1 %}
                    {% endif %}
                {% endfor %}

                <td style="text-align: center" ; data-sort="{{ role_flag1 }}">
                    {% set role_flag1 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_FAMILY' %}
                            {% set role_flag1 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag1 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_ADMIN", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_ADMIN", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ Next radio button --------------- -#}
                {% set role_flag2 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                        {% set role_flag2 = 1 %}
                    {% endif %}
                {% endfor %}

                <td style="text-align: center" ; data-sort="{{ role_flag2 }}">
                    {% set role_flag2 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_FAMILY' %}
                            {% set role_flag2 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag2 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_FAMILY", 'active': '0'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_FAMILY", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ Next radio button --------------- -#}
                {% set role_flag3 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                        {% set role_flag3 = 1 %}
                    {% endif %}
                {% endfor %}
                <td style="text-align: center" ; data-sort="{{ role_flag3 }}">
                    {% set role_flag3 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_CONTACT' %}
                            {% set role_flag3 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag3 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_CONTACT", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}

                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_CONTACT", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ Next radio button --------------- -#}
                {% set role_flag4 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                        {% set role_flag4 = 1 %}
                    {% endif %}
                {% endfor %}

                <td style="text-align: center" ; data-sort="{{ role_flag4 }}">
                    {% set role_flag4 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_GUEST' %}
                            {% set role_flag4 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag4 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_GUEST", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}

                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_GUEST", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ Next radio button --------------- -#}

                {% set role_flag5 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                        {% set role_flag5 = 1 %}
                    {% endif %}
                {% endfor %}

                <td style="text-align: center" data-sort="{{ role_flag5 }}">
                    {% set role_flag5 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_JOB_APPLICANT' %}
                            {% set role_flag5 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag5 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_JOB_APPLICANT", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_JOB_APPLICANT", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ Next radio button --------------- -#}

                {% set role_flag6 = 0 %}
                {% for role in user.roles %}
                    {% if role == 'ROLE_SUPER_ADMIN' or role == 'ROLE_ADMIN' %}
                        {% set role_flag6 = 1 %}
                    {% endif %}
                {% endfor %}

                <td style="text-align: center" data-sort="{{ role_flag6 }}">
                    {% set role_flag6 = 0 %}
                    {% for role in user.roles %}
                        {% if role == 'ROLE_RECRUITER' %}
                            {% set role_flag6 = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if role_flag6 == 1 %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: green; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_RECRUITER", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: green; text-align: right"></i></a>
                        {% endif %}
                    {% else %}
                        {% if app.user.id == user.id %}
                            <i class="fa fa-circle" style="color: red; text-align: right"></i>
                        {% else %}
                            <a href="{{ path('user_edit_button', {'id':user.id, 'role': "ROLE_RECRUITER", 'active': '1'}) }}"><i
                                        class="fa fa-circle" style="color: red; text-align: right"></i></a>
                        {% endif %}
                    {% endif %}
                </td>

                {# ------ No more radio buttons --------------- -#}

            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}

                <td>{{ user.plainPassword }}</td>

                <td>
                    {% if UserIsHouseGuest.userExist(user) == false %}
                        <form class="d-inline" method="post" action="{{ path('user_delete', {'id': user.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </form>
                    {% endif %}
                </td>

                <td>
                    <a class="btn btn-success btn-sm" href="{{ path('user_invite', {'userid':user.id}) }}">Invite
                        email</a>
                </td>
                <td>
                    {% if user.inviteDate is not empty %}
                        {{ user.inviteDate|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td data-sort="{{ user.lastEdited|date('Y-m-d') }}">
                    {% if user.lastEdited is not empty %}
                        {{ user.lastEdited|date('d-M-Y') }}
                    {% endif %}
                </td>
                <td data-sort="{{ user.importTime|date('Y-m-d H:i') }}">
                    {% if user.importTime is not empty %}
                        {{ user.importTime|date('d-M-Y H:i') }}
                    {% endif %}
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[10, 'desc'], [0, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}