{% extends 'base.html.twig' %}
{% block title %}Users: Address check {% endblock %}
{% block body %}
    <h1><span class="text-danger">Users: Address check</span></h1>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_non_admin') }}">Delete All Users (excl
                Admin)</a>
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_AX') }}">Delete AX Users (excl
                Admin)</a>
            <a class="btn btn-danger btn-sm" href="{{ path('user_delete_all_Personal') }}">Delete Personal Users
                (excl Admin) </a>

        <a class="btn btn-success btn-sm" href="{{ path('user_export', {Subset: 'All'}) }}">Export users to CSV</a>

    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th style="text-align: right"; style="color: blue">Business Street</th>
            <th style="text-align: right"; style="color: blue">Business City</th>
            <th style="text-align: right"; style="color: blue">Business Postal Code</th>
            <th style="text-align: right"; style="color: blue">Business Country</th>
            <th style="text-align: right"; style="color: green">Home Street</th>
            <th style="text-align: right"; style="color: green">Home City</th>
            <th style="text-align: right"; style="color: green">Home Postal Code</th>
            <th style="text-align: right"; style="color: green">Home Country</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_SUPER_ADMIN') or app.user.id==user.id %}
                        <b><a target="_blank" href="{{ path('user_edit', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% else %}
                        <b><a target="_blank" href="{{ path('user_show', {'fullName': user.fullName}) }}">  {{ user.fullName }}</a></b>
                    {% endif %}
                </td>
                <td align="right"; style="color: blue">{{ user.businessStreet }}</td>
                <td align="right"; style="color: blue">{{ user.businessCity }}</td>
                <td align="right"; style="color: blue">{{ user.businessPostalCode }}</td>
                <td align="right"; style="color: blue">{{ user.businessCountry }}</td>

                <td align="right"; style="color: green">{{ user.homeStreet }}</td>
                <td align="right"; style="color: green">{{ user.homeCity }}</td>
                <td align="right"; style="color: green">{{ user.homePostalCode }}</td>
                <td align="right"; style="color: green">{{ user.homeCountry }}</td>
             </tr>
        {% endfor %}

        </tbody>
    </table>


    <br>
    <br>
{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": true,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}