{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <h1 style="color: red">Password reset for: {{ user.fullName }}</h1>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form_row(form.password) }}
            {{ form_row(form.confirmPassword) }}
            <button class="btn btn-success btn-sm submit">{{ button_label|default('Save') }}</button>

            <div class="alert alert-danger d-none mt-2">

            </div>
            {{ form_end(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block additionaljs %}
    <script>

        $('.submit').click(function (e) {
            e.preventDefault();
            let password = $('#password_reset_password').val();
            let confirmPassword = $('#password_reset_confirmPassword').val();
            if (password != confirmPassword) {
                $('.alert-danger').removeClass('d-none');
                $('.alert-danger').html("Pasword does not match.");
            } else {
                $('form').submit();
            }
        })

    </script>
{% endblock %}