{% extends 'base.html.twig' %}

{% block title %}Show: {{ user.fullname }}{% endblock %}

{% block body %}
    <h1 style="color: red"><span class="text-danger">{{ user.fullName }}</span></h1>

    {{ include('user/_form.html.twig', {'button_label': 'Save (no welcome email)'}) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('user_index') }}">Return to list</a>

    <a class="btn btn-outline-danger" href="{{ path('user_edit', {'fullName': user.fullName}) }}">Edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
