{% set loc = asset('administration/Attachments/CMSPhotos/')~cms_photo.photo %}
    {% if cms_photo.photoOrVideo == "Video" %}
        <video class="other-page-image" controls>
            <source src="{{ loc }}" type="video/mp4">
        </video>
    {% else %}
        {% if cms_photo.link is not null %}

            {% if cms_photo.link starts with 'http' %}
                {% set web =  cms_photo.link %}
            {% else %}
                {% set web = 'https://'~ cms_photo.link %}
            {% endif %}

            <a target="_blank" href="{{ web }}">
                <img title="{{ cms_photo.title }}" class="productpage-image rotate-{{ cms_photo.rotate }}"
                     src="{{ loc }}">
            </a>
        {% else %}
            <img title="{{ cms_photo.title }}" class="productpage-image rotate-{{ cms_photo.rotate }}"
                 src="{{ loc }}">
        {% endif %}
    {% endif %}


