{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
    <h1 style="color: red">Weather</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ weather.date ? weather.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ weather.time }}</td>
            </tr>
            <tr>
                <th>Weather</th>
                <td>{{ weather.weather }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ weather.location }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('weather_index') }}">Return to list</a>

    <a class="btn btn-outline-danger" href="{{ path('weather_edit', {'id': weather.id}) }}">Edit</a>

    {{ include('weather/_delete_form.html.twig') }}
{% endblock %}
